Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

fix: обновлён последний файл миграции search_behavior_metrics
  backend/migrations/000088_create_search_behavior_metrics.up.sql
Due: none

fix: финальное обновление миграции search_behavior_metrics
  backend/migrations/000088_create_search_behavior_metrics.up.sql
Due: none

fix: окончательная синхронизация всех миграций после merge
  backend/migrations/000001_create_tables.up.sql
  backend/migrations/000007_create_materialized_view.up.sql
  backend/migrations/000008_extend_reviews_system.up.sql
  backend/migrations/000013_price_history.up.sql
  backend/migrations/000017_attribute_translations_trigger.up.sql
  backend/migrations/000031_update_category_attribute_mapping.up.sql
  backend/migrations/000033_create_custom_ui_components.up.sql
  backend/migrations/000034_update_custom_ui_components.up.sql
  backend/migrations/000036_create_attribute_groups.up.sql
  backend/migrations/000037_update_custom_ui_components.up.sql
  backend/migrations/000039_create_user_contacts.up.sql
  backend/migrations/000040_create_user_privacy_settings.up.sql
  backend/migrations/000047_add_rating_aggregation_views.up.sql
  backend/migrations/000049_add_rating_distribution_views.up.sql
  backend/migrations/000051_add_photo_reviews_to_materialized_views.up.sql
  backend/migrations/000060_create_all_storefront_tables.up.sql
  backend/migrations/000063_create_storefront_orders.up.sql
  backend/migrations/000065_create_shopping_carts.up.sql
  backend/migrations/000066_create_storefront_orders_only.up.sql
  backend/migrations/000081_add_delayed_capture_fields.up.sql
  backend/migrations/000082_create_marketplace_orders.up.sql
  backend/migrations/000083_add_search_queries_table.up.sql
  backend/migrations/000084_add_text_search_extensions.up.sql
  backend/migrations/000085_create_search_synonyms.up.sql
  backend/migrations/000088_create_search_behavior_metrics.up.sql
  backend/migrations/000089_create_item_performance_metrics.up.sql
  backend/migrations/000090_create_search_weights.up.sql
  backend/migrations/000091_create_search_optimization_sessions.up.sql
  backend/migrations/000092_create_transliteration_rules.up.sql
  backend/migrations/000094_create_search_logs_tables.up.sql
Due: none

fix: последняя миграция 000089
  backend/migrations/000089_create_item_performance_metrics.up.sql
Due: none

fix: исправлены ошибки компиляции после слияния с main
  backend/internal/proj/global/handler/handler.go
  backend/internal/proj/global/service/interface.go
  backend/internal/proj/global/service/service.go
  backend/internal/server/server.go
  backend/migrations/000001_create_tables.up.sql
  backend/migrations/000007_create_materialized_view.up.sql
  backend/migrations/000008_extend_reviews_system.up.sql
  backend/migrations/000013_price_history.up.sql
  backend/migrations/000017_attribute_translations_trigger.up.sql
  backend/migrations/000031_update_category_attribute_mapping.up.sql
  backend/migrations/000033_create_custom_ui_components.up.sql
  backend/migrations/000034_update_custom_ui_components.up.sql
  backend/migrations/000036_create_attribute_groups.up.sql
  backend/migrations/000037_update_custom_ui_components.up.sql
  backend/migrations/000039_create_user_contacts.up.sql
  backend/migrations/000040_create_user_privacy_settings.up.sql
  backend/migrations/000047_add_rating_aggregation_views.up.sql
  backend/migrations/000049_add_rating_distribution_views.up.sql
  backend/migrations/000051_add_photo_reviews_to_materialized_views.up.sql
  backend/migrations/000060_create_all_storefront_tables.up.sql
  backend/migrations/000063_create_storefront_orders.up.sql
  backend/migrations/000065_create_shopping_carts.up.sql
  backend/migrations/000066_create_storefront_orders_only.up.sql
  backend/migrations/000081_add_delayed_capture_fields.up.sql
  backend/migrations/000082_create_marketplace_orders.up.sql
  backend/migrations/000083_add_search_queries_table.up.sql
  backend/migrations/000084_add_text_search_extensions.up.sql
  backend/migrations/000085_create_search_synonyms.up.sql
  backend/migrations/000088_create_search_behavior_metrics.up.sql
  backend/migrations/000090_create_search_weights.up.sql
  backend/migrations/000091_create_search_optimization_sessions.up.sql
  backend/migrations/000092_create_transliteration_rules.up.sql
  backend/migrations/000094_create_search_logs_tables.up.sql
  memory-bank/session-20250709-audit-verification-completed.md
Due: go-format, go-format-check, go-lint, frontend-format

fix: исправлена система трекинга поиска
  backend/cmd/cli/test_behavior_events.go
  backend/internal/proj/behavior_tracking/service/service.go
  backend/internal/proj/behavior_tracking/storage/postgres/repository.go
  backend/internal/server/server.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/search_analytics_repository.go
  business-correspondence/PROTOCOL-PAYMENT-INTEGRATION.md
  business-correspondence/README.md
  business-correspondence/STATUS-2025-07-09.md
  business-correspondence/allsecure/01-initial-contact-2025-07-02.md
  business-correspondence/allsecure/02-our-response-2025-07-02.md
  business-correspondence/allsecure/03-payspot-requirement-2025-07-02.md
  business-correspondence/allsecure/04-commercial-offer-2025-07-03.md
  business-correspondence/allsecure/05-escrow-split-questions-2025-07-03.md
  business-correspondence/allsecure/06-payspot-confirmation-2025-07-03.md
  business-correspondence/allsecure/07-one-window-proposal-2025-07-08.md
  business-correspondence/allsecure/08-two-contracts-explanation-2025-07-09.md
  business-correspondence/allsecure/09-next-steps-confirmation-2025-07-09.md
  business-correspondence/allsecure/10-contract-preparation-2025-07-09.md
  business-correspondence/allsecure/11-partner-dpo-response-2025-07-09.md
  business-correspondence/dpo-requests/README.md
  business-correspondence/dpo-requests/request-coming-computer.md
  business-correspondence/dpo-requests/request-milic-law.md
  business-correspondence/dpo-requests/sent-requests-log.md
  business-correspondence/payspot/01-initial-contact-2025-07-03.md
  business-correspondence/payspot/02-physical-persons-issue-2025-07-04.md
  business-correspondence/payspot/03-b2c-clarification-2025-07-07.md
  business-correspondence/payspot/04-commercial-offer-2025-07-07.md
  business-correspondence/payspot/05-signed-proposal-2025-07-09.md
  frontend/svetu/src/hooks/useBehaviorTracking.ts
  memory-bank/final_audit_report.md
  memory-bank/final_comprehensive_audit_report.md
  memory-bank/session-20250709-audit-verification-completed.md
  memory-bank/session-20250709-merge-completion.md
  test-tracking.html
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: переход метрик поиска с search_logs на user_behavior_events
  backend/internal/proj/behavior_tracking/storage/postgres/repository.go
  business-correspondence/.claude.md
  business-correspondence/DExpress/03-partnership-followup-call-2025-07-09.md
  business-correspondence/DExpress/CALL-BRIEF-RUSSIAN.md
  business-correspondence/LOGISTICS-ANALYSIS.md
  business-correspondence/LOGISTICS-PARTNERS-ANALYSIS.md
  business-correspondence/MARKETING-PLAN-2025.md
  business-correspondence/PROJECT-DESCRIPTION.md
  business-correspondence/PROTOCOL-PAYMENT-INTEGRATION.md
  business-correspondence/allsecure/11-partner-dpo-response-2025-07-09.md
  memory-bank/session-20250109-search-tracking-fix.md
Due: go-format, go-format-check, go-lint, frontend-format

feat: полная миграция с search_logs на user_behavior_events
  backend/cmd/utils/aggregate_search_metrics/main.go
  backend/cmd/utils/check_search_logs/main.go
  backend/internal/proj/search_admin/service/service.go
  backend/internal/proj/search_logs/repository.go
  backend/internal/proj/search_logs/service.go
  backend/internal/proj/search_logs/worker.go
  backend/internal/proj/searchlogs/service/interface.go
  backend/internal/proj/searchlogs/service/service.go
  backend/internal/proj/searchlogs/storage/interface.go
  backend/internal/proj/searchlogs/storage/postgres.go
  backend/internal/proj/searchlogs/types/types.go
  backend/internal/storage/postgres/search_analytics_repository.go
  backend/migrations/000097_drop_search_logs_tables.down.sql
  backend/migrations/000097_drop_search_logs_tables.up.sql
  business-correspondence/LOGISTICS-ANALYSIS.md
  business-correspondence/PostaExpress/01-initial-partnership-inquiry-2025-07-09.md
  business-correspondence/posta-srbije-analysis-2025.md
  memory-bank/session-20250109-search-tracking-fix.md
Due: go-format, go-format-check, go-lint, frontend-format

docs: обновлена документация сессии и план следующих действий
  memory-bank/HANDOVER-TO-NEXT-SESSION.md
  memory-bank/current-task.md
  memory-bank/session-20250109-search-tracking-fix.md
Due: frontend-format

fix: исправлены ошибки компиляции в search_admin и generate_admin_jwt
  backend/cmd/utils/generate_admin_jwt/main.go
  backend/internal/proj/search_admin/handler/handler.go
  backend/internal/proj/search_admin/service/service.go
  backend/internal/proj/searchlogs/types/types.go
  memory-bank/current-task.md
Due: go-format, go-format-check, go-lint, frontend-format

fix: исправлено заполнение item_type в событиях трекинга
  CRITICAL_SEARCH_ERROR.md
  admin-panel.png
  backend/check_item_metrics.sql
  backend/internal/proj/global/handler/unified_search.go
  business-correspondence/DExpress/01-partnership-request-actual-2025-07-03.md
  business-correspondence/allsecure/13-dpo-appointment-response-2025-07-09.md
  business-correspondence/allsecure/14-commercial-offer-email-2025-07-03.md
  business-correspondence/dpo-appointment-decision.md
  business-correspondence/payspot/08-business-cooperation-request-2025-07-09.md
  business-correspondence/payspot/attach/Izjava za identifikovanje funkcionera (1).pdf
  business-correspondence/payspot/attach/P053 V05 Zahtev za uspostavljanje poslovne saradnje 20.02.2024. (1).xlsx
  business-correspondence/payspot/attach/Zahtev za Podtrgovce_v4 (1).xlsx
  business-correspondence/payspot/attach/zahtev_podtrgovce_EXPORT_ZAHTEVA.csv
  business-correspondence/payspot/attach/zahtev_podtrgovce_ODLUKA.csv
  business-correspondence/payspot/attach/zahtev_podtrgovce_ZAHTEV.csv
  business-correspondence/payspot/attach/zahtev_saradnje_Dodatak_za_E-commerce.csv
  business-correspondence/payspot/attach/zahtev_saradnje_Ostali_zastupnici.csv
  business-correspondence/payspot/attach/zahtev_saradnje_Pojmovi_i_informacije.csv
  business-correspondence/payspot/attach/zahtev_saradnje_Radno.csv
  business-correspondence/payspot/attach/zahtev_saradnje_Zahtev.csv
  frontend/svetu/admin-panel-test-report.md
  frontend/svetu/src/app/[locale]/search/SearchPage.tsx
  frontend/svetu/src/components/SearchBar/SearchBar.tsx
  frontend/svetu/src/components/search/SearchResultCard.tsx
  frontend/svetu/src/hooks/__tests__/useBehaviorTracking.example.tsx
  frontend/svetu/src/types/behavior.ts
  memory-bank/current-task.md
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправлены ошибки линтинга в frontend
  frontend/svetu/src/app/[locale]/admin-test/page.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/TransliterationConfig.tsx
  frontend/svetu/src/app/[locale]/test-auth/page.tsx
  frontend/svetu/src/hooks/useBehaviorTracking.ts
Due: frontend-format, frontend-lint

fix: устранены критические ошибки в поиске и трекинге
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/handler/listings.go
  frontend/svetu/src/app/[locale]/search/SearchPage.tsx
  memory-bank/007-fix-panic-and-search-display.md
  memory-bank/current-task.md
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: интеграция GIS модуля в основное приложение
  backend/internal/proj/gis/INTEGRATION.md
  backend/internal/proj/gis/README.md
  backend/internal/proj/gis/handler/handler.go
  backend/internal/proj/gis/handler/routes.go
  backend/internal/proj/gis/handler/spatial_search.go
  backend/internal/proj/gis/repository/postgis_repo.go
  backend/internal/proj/gis/service/spatial_service.go
  backend/internal/proj/gis/types/errors.go
  backend/internal/proj/gis/types/geo_types.go
  backend/internal/server/server.go
  backend/migrations/098_enable_postgis.down.sql
  backend/migrations/098_enable_postgis.up.sql
  backend/migrations/099_create_listings_geo.down.sql
  backend/migrations/099_create_listings_geo.up.sql
  backend/migrations/100_migrate_existing_coordinates.down.sql
  backend/migrations/100_migrate_existing_coordinates.up.sql
  docker-compose.yml
  docs/gis/GIS_ADVANCED_SPECIFICATION.md
  docs/gis/GIS_ARCHITECTURE_ANALYSIS.md
  docs/gis/GIS_DELIVERY_INTEGRATION.md
  docs/gis/GIS_FINAL_SPECIFICATION.md
  docs/gis/GIS_IMPLEMENTATION_PLAN.md
  docs/gis/GIS_IMPLEMENTATION_PLAN_PHASE1.md
  docs/gis/GIS_IMPLEMENTATION_PLAN_V2.md
  docs/gis/GIS_IMPLEMENTATION_ROADMAP.md
  docs/gis/GIS_PERFECT_ARCHITECTURE.md
  docs/gis/GIS_PERFECT_SPECIFICATION.md
  docs/gis/GIS_PHASE1_DETAILED_PLAN.md
  docs/gis/GIS_PHASED_IMPLEMENTATION.md
  docs/gis/GIS_TECHNICAL_SPECIFICATION.md
  docs/gis/GIS_TECHNICAL_SPECIFICATION_V2.md
Due: go-format, go-format-check, go-lint, frontend-format

feat: создание frontend компонентов GIS карты
  frontend/svetu/.env.example
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Map/MapControls.tsx
  frontend/svetu/src/components/GIS/Map/MapMarker.tsx
  frontend/svetu/src/components/GIS/Map/MapPopup.tsx
  frontend/svetu/src/components/GIS/README.md
  frontend/svetu/src/components/GIS/demo/MapDemo.tsx
  frontend/svetu/src/components/GIS/hooks/useGeoSearch.ts
  frontend/svetu/src/components/GIS/hooks/useGeolocation.ts
  frontend/svetu/src/components/GIS/index.ts
  frontend/svetu/src/components/GIS/types/gis.ts
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
Due: frontend-format, frontend-lint

fix: исправлена страница карты
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/messages/sr.json
Due: frontend-format, frontend-lint

feat: реализован GIS модуль с интерактивной картой
  backend/.golangci.yml
  backend/cmd/cli/test_behavior_events.go
  backend/cmd/utils/generate_admin_jwt/main.go
  backend/cmd/utils/test_admin_jwt/main.go
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/middleware/auth_jwt.go
  backend/internal/proj/behavior_tracking/storage/postgres/repository.go
  backend/internal/proj/gis/handler/spatial_search.go
  backend/internal/proj/gis/repository/postgis_repo.go
  backend/internal/proj/gis/service/spatial_service.go
  backend/internal/proj/gis/types/geo_types.go
  backend/internal/proj/global/service/interface.go
  backend/internal/proj/marketplace/handler/categories.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/handler/responses.go
  backend/internal/proj/payments/handler/order_payment_handler.go
  backend/internal/proj/payments/handler/payment_handler.go
  backend/internal/proj/search_admin/handler/handler.go
  backend/internal/proj/search_optimization/handler/handler.go
  backend/internal/proj/searchlogs/types/types.go
  backend/internal/proj/users/handler/admin_balance.go
  backend/internal/storage/postgres/db.go
  backend/pkg/utils/slug.go
Due: go-format, go-format-check, go-lint, frontend-format

feat: добавлена мобильная адаптация для GIS карты
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Mobile/MobileFiltersDrawer.tsx
Due: frontend-format, frontend-lint

fix: исправлена обработка ответа GIS API для отображения маркеров на карте
  frontend/svetu/src/app/[locale]/map/page.tsx
  memory-bank/current-task.md
Due: frontend-format, frontend-lint

feat: добавлен маркер покупателя с радиусом поиска на карте
  CLAUDE.md
  backend/admin-main.png
  backend/analytics-tab.png
  backend/internal/proj/gis/handler/spatial_search.go
  backend/internal/proj/gis/repository/postgis_repo.go
  backend/internal/proj/gis/types/geo_types.go
  backend/internal/proj/marketplace/handler/categories.go
  backend/internal/proj/payments/handler/order_payment_handler.go
  backend/internal/proj/payments/handler/payment_handler.go
  backend/internal/proj/users/handler/admin_balance.go
  frontend/svetu/1.png
  frontend/svetu/admin-search-overview.png
  frontend/svetu/map_screenshot.png
  frontend/svetu/next.config.ts
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/app/[locale]/search/SearchPage.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Map/MapCluster.tsx
  frontend/svetu/src/components/GIS/Map/MapControls.tsx
  frontend/svetu/src/components/GIS/Map/index.ts
  frontend/svetu/src/components/GIS/Mobile/MobileFiltersDrawer.tsx
  frontend/svetu/src/components/GIS/hooks/useGeoSearch.ts
  frontend/svetu/src/components/GIS/types/gis.ts
  frontend/svetu/src/components/SearchBar/SearchBar.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/services/unifiedSearch.ts
  frontend/svetu/test-admin-guard.js
  frontend/svetu/yarn.lock
  memory-bank/current-task.md
  memory-bank/tasks/001-gis-implementation.md
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

style: применено форматирование к GIS модулю backend
  backend/internal/proj/gis/handler/spatial_search.go
  backend/internal/proj/gis/repository/postgis_repo.go
  backend/internal/proj/gis/types/geo_types.go
Due: go-format, go-format-check, go-lint

fix: исправлена кластеризация и отображение маркеров на карте
  backend/internal/proj/gis/handler/spatial_search.go
  backend/internal/proj/gis/repository/postgis_repo.go
  backend/internal/proj/gis/service/spatial_service.go
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: добавлена поддержка фильтрации по радиусу в кластеризации карты
  backend/internal/proj/gis/handler/spatial_search.go
  backend/internal/proj/gis/repository/postgis_repo.go
  backend/internal/proj/gis/types/geo_types.go
Due: go-format, go-format-check, go-lint

fix: исправлена фильтрация по радиусу для кластеризации карты
  backend/internal/proj/gis/service/spatial_service.go
Due: go-format, go-format-check, go-lint

refactor: удалена кластеризация из backend GIS модуля
  backend/internal/proj/gis/handler/handler.go
  backend/internal/proj/gis/handler/routes.go
  backend/internal/proj/gis/handler/spatial_search.go
  backend/internal/proj/gis/repository/postgis_repo.go
  backend/internal/proj/gis/service/spatial_service.go
  backend/internal/proj/gis/types/errors.go
  backend/internal/proj/gis/types/geo_types.go
Due: go-format, go-format-check, go-lint

feat: реализована нативная кластеризация MapBox
  1.png
  2.png
  3.png
  CLAUDE.md
  docs/gis/GIS_PHASE1_DETAILED_PLAN.md
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Map/MapboxClusterLayer.tsx
  frontend/svetu/src/components/GIS/Map/index.ts
  frontend/svetu/src/components/GIS/README.md
  frontend/svetu/src/components/GIS/demo/MapboxClusterDemo.tsx
  frontend/svetu/src/components/GIS/demo/index.ts
  frontend/svetu/src/components/GIS/docs/MapboxClusterLayer.md
  frontend/svetu/src/components/GIS/examples/InteractiveMapWithClustering.tsx
  frontend/svetu/src/components/GIS/examples/index.ts
  frontend/svetu/src/components/GIS/index.ts
  frontend/svetu/src/components/GIS/utils/geoJsonHelpers.ts
  frontend/svetu/src/components/GIS/utils/index.ts
  frontend/svetu/src/messages/sr.json
  memory-bank/current-task.md
  memory-bank/gis-backend-implementation-report.md
  memory-bank/gis-clustering-fixed-report.md
  memory-bank/gis-clustering-implementation-status.md
  memory-bank/mapbox-cluster-component-report.md
  memory-bank/radius-filtering-fix-report.md
  memory-bank/session-context-gis-map-implementation.md
Due: frontend-format, frontend-lint

style: применено форматирование к GIS модулю и обновлена документация
  backend/internal/proj/gis/handler/spatial_search.go
  backend/internal/proj/gis/repository/postgis_repo.go
  backend/internal/proj/gis/service/spatial_service.go
  backend/internal/proj/gis/types/errors.go
  backend/internal/proj/gis/types/geo_types.go
  docs/gis/GIS_FINAL_SPECIFICATION.md
  docs/gis/GIS_PHASE1_DETAILED_PLAN.md
  memory-bank/current-task.md
  memory-bank/phase1-1-completion-report.md
Due: go-format, go-format-check, go-lint, frontend-format

feat: реализованы Phase 1.2, 1.3 и 1.4 GIS модуля
  docs/gis/GIS_PHASE1_DETAILED_PLAN.md
  frontend/svetu/package.json
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Map/MapTooltip.tsx
  frontend/svetu/src/components/GIS/Map/MapboxClusterLayer.tsx
  frontend/svetu/src/components/GIS/Map/WalkingAccessibilityControl.tsx
  frontend/svetu/src/components/GIS/demo/MapDemo.tsx
  frontend/svetu/src/components/GIS/demo/MapboxClusterDemo.tsx
  frontend/svetu/src/components/GIS/hooks/useDistanceCalculation.ts
  frontend/svetu/src/components/GIS/types/gis.ts
  frontend/svetu/src/components/GIS/utils/geoJsonHelpers.ts
  frontend/svetu/src/components/GIS/utils/isochrone.ts
  frontend/svetu/src/messages/ru.json
  frontend/svetu/yarn.lock
  memory-bank/current-task.md
  memory-bank/phase1-2-3-4-completion-report.md
Due: frontend-format, frontend-lint

feat: интегрирован компонент WalkingAccessibilityControl в карту
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/Mobile/MobileFiltersDrawer.tsx
  frontend/svetu/src/components/GIS/index.ts
  frontend/svetu/src/messages/en.json
Due: frontend-format, frontend-lint

fix: исправлен переключатель пешеходного режима с изохронами
  backend/internal/config/config.go
  backend/internal/proj/users/handler/auth.go
  backend/internal/proj/users/service/auth.go
  backend/internal/proj/users/service/interface.go
  docs/gis/GIS_PHASE1_DETAILED_PLAN.md
  docs/tailscale-auth-fix.md
  frontend/svetu/.env.example
  frontend/svetu/next.config.ts
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/utils/geoJsonHelpers.ts
  frontend/svetu/src/config/index.ts
  memory-bank/current-task.md
  memory-bank/gis-phase1-4-continuation-context.md
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: реализована Phase 1.3 - MapBox Geocoding API
  docs/gis/GIS_PHASE1_DETAILED_PLAN.md
  frontend/svetu/.env.example
  frontend/svetu/package.json
  frontend/svetu/src/app/[locale]/test-geocoding/page.tsx
  frontend/svetu/src/app/[locale]/test-map-simple/page.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/hooks/useGeoSearchProvider.ts
  frontend/svetu/src/components/GIS/hooks/useMapboxGeoSearch.ts
  frontend/svetu/src/components/GIS/utils/mapboxGeocoding.ts
  frontend/svetu/yarn.lock
  map-page.png
Due: frontend-format, frontend-lint

docs: актуализированы планы GIS модуля после завершения основных фаз
  docs/gis/GIS_FINAL_SPECIFICATION.md
  docs/gis/GIS_PHASE1_DETAILED_PLAN.md
  memory-bank/current-task.md
Due: frontend-format

feat: завершена Phase 1.4 GIS модуля - реальные изохроны с Mapbox API
  docs/gis/GIS_FINAL_SPECIFICATION.md
  docs/gis/GIS_PHASE1_DETAILED_PLAN.md
  frontend/svetu/package.json
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/app/[locale]/test-map-simple/page.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/utils/isochrone.ts
  frontend/svetu/src/components/GIS/utils/mapboxGeocoding.ts
  frontend/svetu/src/components/GIS/utils/mapboxIsochrone.ts
  frontend/svetu/yarn.lock
  memory-bank/current-task.md
  memory-bank/tasks/024-isochrone-integration.md
  test-results/.last-run.json
Due: frontend-format, frontend-lint

fix: исправлено позиционирование слайдера радиуса/времени ходьбы на карте
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Map/NativeSliderControl.tsx
Due: frontend-format, frontend-lint

feat: перемещен CompactSliderControl в правую часть под кнопку fullscreen
  desktop.png
  frontend/svetu/package-lock.json
  frontend/svetu/package.json
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/Map/CompactSliderControl.tsx
  frontend/svetu/src/components/GIS/Map/FloatingSliderControl.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Map/MapControls.tsx
  frontend/svetu/src/components/GIS/Map/WalkingAccessibilityControl.tsx
  frontend/svetu/test-results/.last-run.json
  frontend/svetu/yarn.lock
  fullscreen.png
  memory-bank/current-task.md
  memory-bank/tasks/025-native-mapbox-slider-control.md
  memory-bank/tasks/026-fix-slider-positioning-issues.md
  mobile.png
Due: frontend-format, frontend-lint

fix: исправлены стили CompactSliderControl - убран лишний фон, добавлено закрытие по клику вне
  frontend/svetu/src/components/GIS/Map/CompactSliderControl.tsx
Due: frontend-format, frontend-lint

fix: улучшены стили и поведение CompactSliderControl
  frontend/svetu/src/components/GIS/Map/CompactSliderControl.tsx
Due: frontend-format, frontend-lint

feat: добавлена поддержка интернационализации для контролов карты
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/Map/CompactSliderControl.tsx
  frontend/svetu/src/components/GIS/Map/FloatingSliderControl.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
Due: frontend-format, frontend-lint

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
