Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go formatting and linting
  - repo: local
    hooks:
      - id: go-format
        name: Go Format (gofumpt + goimports)
        entry: bash -c 'cd backend && make format'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-format-check
        name: Go Format Check
        entry: bash -c 'cd backend && make format-check'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-lint
        name: Go Lint
        entry: bash -c 'cd backend && make lint'
        language: system
        files: \.go$
        pass_filenames: false

  # Frontend formatting
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend/svetu && yarn format'
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false
        
      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend/svetu && yarn lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Trailing whitespace and line endings
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

fix: add cleanup step to remove old docker containers before tests
  .github/workflows/ci.yml
Due: none

fix: switch from services to manual docker containers with cleanup
  .github/workflows/ci.yml
Due: none

fix: add nolint to unused functions and improve docker cleanup
  .github/workflows/ci.yml
  internal/opensearch/search_analytics.go
  internal/service/category_detection_service.go
Due: go-format, go-format-check, go-lint

fix: kill containers using ports 5432/6379 in cleanup step
  .github/workflows/ci.yml
Due: none

fix: use high ports (55432/56379) to avoid system postgres conflict
  .github/workflows/ci.yml
Due: none

chore: sync database state and update migrations - 2025-12-25
  go.work.sum
  internal/config/config.go.backup
Due: none

feat(category-detection): add dynamic category cache for Claude AI prompt
  internal/repository/category_repository.go
  internal/repository/postgres/category_repository_v2.go
  internal/service/category_detection_service.go
Due: go-format, go-format-check, go-lint

fix(category-detection): prioritize productType hint over AI mapping
  internal/service/category_detection_service.go
Due: go-format, go-format-check, go-lint

feat(category-detection): add productType mappings for office supplies
  internal/service/category_detection_service.go
Due: go-format, go-format-check, go-lint

feat(category-detection): add Home & Garden productType mappings
  internal/service/category_detection_service.go
Due: go-format, go-format-check, go-lint

feat(detection): prioritize keywords over Claude AI, add pet product mappings
  internal/service/category_detection_service.go
Due: go-format, go-format-check, go-lint

backup: pre-audit snapshot 20251228_195535
  migrations/000010_enrich_category_keywords.up.sql
  migrations/000011_fix_special_slug_keywords.up.sql
Due: none

fix: исправлена обработка ошибок удаления из корзины + скрипты очистки
  internal/service/errors.go
  scripts/cleanup_anonymous_carts.sh
  scripts/cleanup_anonymous_carts.sql
Due: go-format, go-format-check, go-lint

docs: добавлен CHANGELOG.md с историей изменений
  CHANGELOG.md
Due: frontend-format

fix: удалена unused функция enrichCategoryFromDB (CI lint fix)
  internal/service/category_detection_service.go
Due: go-format, go-format-check, go-lint

docs: обновлён CHANGELOG с коммитом c3ade748a (CI fix)
  CHANGELOG.md
Due: frontend-format

feat(security): add Dependabot and security scanning
  .github/dependabot.yml
  .github/workflows/security-scan.yml
Due: none

fix: use filesystem scan instead of Docker build
  .github/workflows/security-scan.yml
Due: none

fix: add GOTMPDIR to CI workflows for temp file permissions
  .github/workflows/ci.yml
  .github/workflows/orders-service-ci.yml
Due: none

fix: resolve unit and integration test failures
  internal/service/category_service_impl.go
  internal/service/category_service_test.go
  internal/service/listings/service_test.go
  internal/service/listings/validator_test.go
  internal/service/search/service_test.go
  internal/service/sku_generator.go
  internal/service/sku_generator_test.go
  internal/testing/environment.go
  internal/testing/environment_test.go
  internal/transport/grpc/handlers_search_test.go
  internal/transport/grpc/handlers_test.go
  migrations/000008_comment_table_category_detections_comment_table_category_variant_attributes_comment_table_chat_attachments_and_97_more.up.sql
  migrations/000012_add_listing_count_to_categories.down.sql
  migrations/000012_add_listing_count_to_categories.up.sql
  test/integration/attribute_test.go
  test/integration/category_test.go
  test/integration/example_usage_test.go
  test/integration/favorite_test.go
  test/integration/getlisting_images_test.go
  test/integration/image_test.go
  test/integration/listing_crud_test.go
Due: go-format, go-format-check, go-lint

fix: update integration tests to use UUID for category IDs
  test/integration/attribute_test.go
  test/integration/category_test.go
  test/integration/example_usage_test.go
  test/integration/favorite_test.go
  test/integration/getlisting_images_test.go
  test/integration/image_test.go
  test/integration/listing_crud_test.go
Due: go-format, go-format-check, go-lint

fix: use UUID for category IDs in TestSearchListings
  test/integration/listing_crud_test.go
Due: go-format, go-format-check, go-lint

fix(tests): use UUID for category IDs instead of integer strings
  internal/repository/postgres/attribute_repository_test.go
  internal/repository/postgres/products_test.go
  internal/repository/postgres/repository_test.go
Due: go-format, go-format-check, go-lint

fix(search): allow empty query for filter-only searches in SearchListings
  internal/domain/listing.go
  internal/service/listings/service.go
Due: go-format, go-format-check, go-lint

fix(tests): add mock expectations for background reindexing goroutines
  internal/service/listings/service_test.go
Due: go-format, go-format-check, go-lint

fix(tests): fix UUID mismatches and SQL syntax in category integration tests
  test/integration/category_test.go
Due: go-format, go-format-check, go-lint

fix(tests): skip integration tests when DATABASE_URL not set
  internal/indexer/attribute_indexer_bench_test.go
  internal/indexer/attribute_indexer_integration_test.go
Due: go-format, go-format-check, go-lint

ci: use self-hosted runner on svetu.rs
  .github/workflows/ci.yml
  go.work.sum
Due: none

ci: use self-hosted runner on svetu.rs
  .github/workflows/ci.yml
Due: none

fix: update Dockerfile to use vendor + add production autodeploy
  .github/workflows/deploy-production.yml
  Dockerfile
Due: none

fix(ci): use kubectl directly on self-hosted runner
  .github/workflows/deploy-production.yml
Due: none

fix(ci): use ubuntu-latest runner with SSH to vondi.rs
  .github/workflows/deploy-production.yml
Due: none

feat: add automated production deployment pipeline
  DEPLOY.md
Due: frontend-format

fix: автоматическая индексация listings в OpenSearch
  CHANGELOG.md
  internal/domain/attribute.go
  internal/domain/brand_mapping.go
  internal/domain/category_detection.go
  internal/domain/listing.go
  internal/domain/order.go
  internal/domain/product.go
  internal/domain/product_variant_v2.go
  internal/domain/search_analytics.go
  internal/domain/stock_reservation.go
  internal/domain/storefront_event.go
  internal/domain/storefront_invitation.go
  internal/domain/storefront_invitation_test.go
  internal/opensearch/facets.go
  internal/opensearch/facets_test.go
  internal/opensearch/query_builder.go
  internal/opensearch/query_builder_test.go
  internal/opensearch/search_analytics.go
  internal/repository/opensearch/advanced_search.go
  internal/repository/opensearch/client.go
  internal/repository/postgres/category_detection_repo.go
  internal/repository/postgres/repository.go
  internal/repository/postgres/variant_repository.go
  internal/service/category_detection_service.go
  internal/service/search/types.go
  internal/service/variant_service_test.go
  internal/testing/environment.go
  internal/testing/fixtures.go
  internal/transport/grpc/converters.go
  internal/transport/grpc/handlers_invitations.go
  internal/transport/grpc/handlers_variants.go
  test/integration/example_usage_test.go
  test/integration/setup_test.go
Due: go-format, go-format-check, go-lint, frontend-format

fix: исправлен автоматический deployment в production
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  CHANGELOG.md
  DEPLOYMENT_ISSUES_2026-01-09.md
  Dockerfile
Due: frontend-format

fix: use go mod download instead of vendor in Docker build
  Dockerfile
Due: none
