Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

fix: correct order of Git config in GitHub Actions workflows
  .github/workflows/go-format.yml
  .github/workflows/integration-tests.yml
  .github/workflows/unified-attributes-test.yml
  docs/GITHUB_ACTIONS_PRIVATE_REPOS.md
Due: frontend-format

fix: add permissions for private Go modules in GitHub Actions
  .github/workflows/go-format.yml
  .github/workflows/integration-tests.yml
  .github/workflows/unified-attributes-test.yml
  docs/GITHUB_ACTIONS_PRIVATE_REPOS.md
Due: frontend-format

fix: use PRIVATE_MODULES_TOKEN for private Go modules
  .github/workflows/go-format.yml
  .github/workflows/integration-tests.yml
  .github/workflows/unified-attributes-test.yml
  docs/GITHUB_ACTIONS_PRIVATE_REPOS.md
Due: frontend-format

fix: correct migrator path from main.go to migrator.go
  .github/workflows/unified-attributes-test.yml
Due: none

fix: change migrator command from 'migrate' to 'up'
  .github/workflows/unified-attributes-test.yml
Due: none

feat: add functional API testing system with admin dashboard
  .gitignore
  backend/cmd/test_runner/main.go
  backend/internal/proj/admin/testing/domain/models.go
  backend/internal/proj/admin/testing/handler/handler.go
  backend/internal/proj/admin/testing/service/auth_manager.go
  backend/internal/proj/admin/testing/service/functional_tests.go
  backend/internal/proj/admin/testing/service/test_runner.go
  backend/internal/proj/admin/testing/storage/postgres/postgres.go
  backend/internal/proj/admin/testing/storage/storage.go
  backend/internal/server/server.go
  backend/migrations/000192_create_testing_tables.down.sql
  backend/migrations/000192_create_testing_tables.up.sql
  backend/run_tests_manually.go
  docs/FUNCTIONAL_TESTS_IMPLEMENTATION_PLAN.md
  frontend/svetu/src/app/[locale]/admin/quality-tests/QualityTestsClient.tsx
  frontend/svetu/src/app/api/admin/tests/route.ts
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/sr/admin.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

docs: update functional tests implementation plan with completion status
  docs/FUNCTIONAL_TESTS_IMPLEMENTATION_PLAN.md
Due: frontend-format

feat: add review creation functional test
  backend/internal/proj/admin/testing/service/functional_tests.go
  frontend/svetu/src/app/[locale]/admin/quality-tests/QualityTestsClient.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: handle null data in review existence check
  backend/internal/proj/admin/testing/service/functional_tests.go
Due: go-format, go-format-check, go-lint

docs: add comprehensive functional tests coverage plan
  docs/FUNCTIONAL_TESTS_COVERAGE_PLAN.md
Due: frontend-format

docs: add comprehensive guide on writing functional tests
  docs/FUNCTIONAL_TESTS_COVERAGE_PLAN.md
Due: frontend-format

feat: улучшить отображение ошибок в admin quality tests
  backend/internal/proj/admin/testing/domain/models.go
  frontend/svetu/src/app/[locale]/admin/quality-tests/QualityTestsClient.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

docs: актуализировать план функциональных тестов (v1.5)
  docs/FUNCTIONAL_TESTS_IMPLEMENTATION_PLAN.md
Due: frontend-format

docs: verify standalone test runner functionality (v1.6)
  docs/FUNCTIONAL_TESTS_IMPLEMENTATION_PLAN.md
Due: frontend-format

feat: expand functional tests with 7 negative & edge cases + mock auth
  backend/cmd/test_runner/main.go
  backend/internal/proj/admin/testing/service/functional_tests.go
  backend/internal/proj/admin/testing/service/mock_auth_manager.go
  backend/internal/proj/admin/testing/service/test_runner.go
  docs/FUNCTIONAL_TESTS_IMPLEMENTATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

feat: add integration tests & fix api-review-creation idempotency
  backend/cmd/test_runner/main.go
  backend/internal/proj/admin/testing/domain/models.go
  backend/internal/proj/admin/testing/service/functional_tests.go
  backend/internal/proj/admin/testing/service/integration_tests.go
  backend/internal/proj/admin/testing/service/test_runner.go
  docs/FUNCTIONAL_TESTS_IMPLEMENTATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

feat: add 10 new tests to admin quality-tests page
  frontend/svetu/src/app/[locale]/admin/quality-tests/QualityTestsClient.tsx
Due: frontend-format, frontend-lint

fix: add complete i18n translations for all 34 quality tests
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/sr/admin.json
Due: frontend-format

fix: add test_name support to run individual functional tests
  backend/cmd/test_runner/main.go
  backend/internal/proj/admin/testing/domain/models.go
  backend/internal/proj/admin/testing/handler/handler.go
  backend/internal/proj/admin/testing/service/test_runner.go
  frontend/svetu/src/app/[locale]/admin/quality-tests/QualityTestsClient.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

docs: add expansion plan for quality tests (v1.9)
  docs/FUNCTIONAL_TESTS_IMPLEMENTATION_PLAN.md
Due: frontend-format

feat: add E2E testing infrastructure with Playwright (PRIORITY 4)
  backend/internal/proj/admin/testing/domain/models.go
  backend/internal/proj/admin/testing/service/data_integrity_tests.go
  backend/internal/proj/admin/testing/service/e2e_tests.go
  backend/internal/proj/admin/testing/service/performance_tests.go
  backend/internal/proj/admin/testing/service/security_tests.go
  backend/internal/proj/admin/testing/service/test_runner.go
  docs/FUNCTIONAL_TESTS_IMPLEMENTATION_PLAN.md
  frontend/svetu/e2e/admin-moderation-flow.spec.ts
  frontend/svetu/e2e/user-journey-create-listing.spec.ts
  frontend/svetu/e2e/user-journey-search-contact.spec.ts
  frontend/svetu/playwright.config.ts
  frontend/svetu/src/app/[locale]/admin/quality-tests/QualityTestsClient.tsx
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/sr/admin.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: add Monitoring & Observability tests (PRIORITY 5)
  backend/internal/proj/admin/testing/service/monitoring_tests.go
  backend/internal/proj/admin/testing/service/test_runner.go
  docs/FUNCTIONAL_TESTS_IMPLEMENTATION_PLAN.md
  frontend/svetu/src/app/[locale]/admin/quality-tests/QualityTestsClient.tsx
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/sr/admin.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: add Accessibility tests (PRIORITY 6) - WCAG 2.1 AA compliance and keyboard navigation
  backend/internal/proj/admin/testing/service/accessibility_tests.go
  backend/internal/proj/admin/testing/service/data_integrity_tests.go
  backend/internal/proj/admin/testing/service/functional_tests.go
  backend/internal/proj/admin/testing/service/test_runner.go
  backend/internal/proj/admin/testing/storage/postgres/postgres.go
  docs/FUNCTIONAL_TESTS_IMPLEMENTATION_PLAN.md
  frontend/svetu/e2e/admin-moderation-flow.spec.ts
  frontend/svetu/e2e/axe/a11y-keyboard-navigation.spec.ts
  frontend/svetu/e2e/axe/a11y-wcag-compliance.spec.ts
  frontend/svetu/e2e/user-journey-create-listing.spec.ts
  frontend/svetu/e2e/user-journey-search-contact.spec.ts
  frontend/svetu/package.json
  frontend/svetu/playwright.config.ts
  frontend/svetu/src/app/[locale]/admin/quality-tests/QualityTestsClient.tsx
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/sr/admin.json
  frontend/svetu/yarn.lock
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: add missing translations for Security, Performance, Data Integrity, E2E and Accessibility tests
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/sr/admin.json
Due: frontend-format

feat: add /available endpoint and fix E2E/Accessibility test paths
  backend/internal/proj/admin/testing/domain/models.go
  backend/internal/proj/admin/testing/handler/handler.go
  backend/internal/proj/admin/testing/service/accessibility_tests.go
  backend/internal/proj/admin/testing/service/e2e_tests.go
  backend/internal/proj/admin/testing/service/test_runner.go
  docs/FUNCTIONAL_TESTS_IMPLEMENTATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

fix: remove unnecessary fmt.Sprintf wrapper in e2e_tests.go (S1039)
  backend/internal/proj/admin/testing/service/e2e_tests.go
  frontend/svetu/test-results/user-journey-create-listin-ce1a4--full-listing-creation-flow-chromium-retry1/error-context.md
  frontend/svetu/test-results/user-journey-create-listin-ce1a4--full-listing-creation-flow-chromium-retry1/test-failed-1.png
  frontend/svetu/test-results/user-journey-create-listin-ce1a4--full-listing-creation-flow-chromium-retry1/trace.zip
  frontend/svetu/test-results/user-journey-create-listin-ce1a4--full-listing-creation-flow-chromium-retry1/video.webm
  frontend/svetu/test-results/user-journey-create-listin-ce1a4--full-listing-creation-flow-chromium-retry2/error-context.md
  frontend/svetu/test-results/user-journey-create-listin-ce1a4--full-listing-creation-flow-chromium-retry2/test-failed-1.png
  frontend/svetu/test-results/user-journey-create-listin-ce1a4--full-listing-creation-flow-chromium-retry2/video.webm
  frontend/svetu/test-results/user-journey-create-listin-ce1a4--full-listing-creation-flow-chromium/error-context.md
  frontend/svetu/test-results/user-journey-create-listin-ce1a4--full-listing-creation-flow-chromium/test-failed-1.png
  frontend/svetu/test-results/user-journey-create-listin-ce1a4--full-listing-creation-flow-chromium/video.webm
  frontend/svetu/test-results/user-journey-create-listin-f3da4--errors-for-incomplete-form-chromium-retry1/error-context.md
  frontend/svetu/test-results/user-journey-create-listin-f3da4--errors-for-incomplete-form-chromium-retry1/test-failed-1.png
  frontend/svetu/test-results/user-journey-create-listin-f3da4--errors-for-incomplete-form-chromium-retry1/trace.zip
  frontend/svetu/test-results/user-journey-create-listin-f3da4--errors-for-incomplete-form-chromium-retry1/video.webm
  frontend/svetu/test-results/user-journey-create-listin-f3da4--errors-for-incomplete-form-chromium-retry2/error-context.md
  frontend/svetu/test-results/user-journey-create-listin-f3da4--errors-for-incomplete-form-chromium-retry2/test-failed-1.png
  frontend/svetu/test-results/user-journey-create-listin-f3da4--errors-for-incomplete-form-chromium-retry2/video.webm
  frontend/svetu/test-results/user-journey-create-listin-f3da4--errors-for-incomplete-form-chromium/error-context.md
  frontend/svetu/test-results/user-journey-create-listin-f3da4--errors-for-incomplete-form-chromium/test-failed-1.png
  frontend/svetu/test-results/user-journey-create-listin-f3da4--errors-for-incomplete-form-chromium/video.webm
Due: go-format, go-format-check, go-lint, frontend-format

fix: resolve linter issues - misspell (cancelled→canceled), nilnil (sentinel errors), unused (min func), staticcheck (embedded fields)
  backend/cmd/test_runner/main.go
  backend/internal/proj/admin/testing/domain/models.go
  backend/internal/proj/admin/testing/handler/handler.go
  backend/internal/proj/admin/testing/service/data_integrity_tests.go
  backend/internal/proj/admin/testing/service/test_runner.go
  backend/internal/proj/admin/testing/storage/postgres/postgres.go
Due: go-format, go-format-check, go-lint

fix: resolve ALL remaining linter issues (43→0)
  backend/cmd/test_runner/main.go
  backend/internal/proj/admin/testing/service/accessibility_tests.go
  backend/internal/proj/admin/testing/service/auth_manager.go
  backend/internal/proj/admin/testing/service/data_integrity_tests.go
  backend/internal/proj/admin/testing/service/e2e_tests.go
  backend/internal/proj/admin/testing/service/functional_tests.go
  backend/internal/proj/admin/testing/service/integration_tests.go
  backend/internal/proj/admin/testing/service/monitoring_tests.go
  backend/internal/proj/admin/testing/service/performance_tests.go
  backend/internal/proj/admin/testing/service/security_tests.go
  backend/internal/proj/admin/testing/service/test_runner.go
  backend/internal/proj/admin/testing/storage/postgres/postgres.go
Due: go-format, go-format-check, go-lint

fix: resolve E2E and accessibility test networkidle timeouts
  frontend/svetu/e2e/admin-moderation-flow.spec.ts
  frontend/svetu/e2e/axe/a11y-keyboard-navigation.spec.ts
  frontend/svetu/e2e/axe/a11y-wcag-compliance.spec.ts
  frontend/svetu/e2e/user-journey-search-contact.spec.ts
  frontend/svetu/src/app/api/admin/tests/route.ts
Due: frontend-format, frontend-lint

fix: increase accessibility test timeouts to prevent execution timeout
  frontend/svetu/e2e/axe/a11y-wcag-compliance.spec.ts
Due: frontend-format, frontend-lint

fix: increase Playwright global timeout to match test requirements
  frontend/svetu/playwright.config.ts
Due: frontend-format, frontend-lint

fix: WCAG 2.1 AA compliance and Playwright JSON parser
  backend/internal/proj/admin/testing/service/accessibility_tests.go
  frontend/svetu/e2e/axe/a11y-wcag-compliance.spec.ts
  frontend/svetu/src/app/globals.css
  frontend/svetu/src/components/AdminGuard.tsx
  frontend/svetu/src/components/SearchBar/SearchBar.tsx
  frontend/svetu/src/messages/en/search.json
  frontend/svetu/src/messages/ru/search.json
  frontend/svetu/src/messages/sr/search.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
