Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go formatting and linting
  - repo: local
    hooks:
      - id: go-format
        name: Go Format (gofumpt + goimports)
        entry: bash -c 'cd backend && make format'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-format-check
        name: Go Format Check
        entry: bash -c 'cd backend && make format-check'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-lint
        name: Go Lint
        entry: bash -c 'cd backend && make lint'
        language: system
        files: \.go$
        pass_filenames: false

  # Frontend formatting
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend/svetu && yarn format'
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false
        
      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend/svetu && yarn lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Trailing whitespace and line endings
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

dev.svetu.rs Makefile
  .gitignore
  Makefile
  backend/Dockerfile
  docker-compose.yml
Due: none

fix: исправлена сборка админ страниц
  frontend/svetu/src/app/[locale]/admin/listings/page.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/shipments/page.tsx
  frontend/svetu/src/app/[locale]/admin/storefront-products/page.tsx
  frontend/svetu/src/app/[locale]/admin/storefronts/page.tsx
Due: frontend-format, frontend-lint

backup: резервный коммит перед финальной проверкой качества кода
  frontend/svetu/eslint.config.mjs
  frontend/svetu/src/app/[locale]/admin/logistics/analytics/analytics-client.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/components/DeliveryMap.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/components/ProblemCommentsModal.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/problems/problems-client.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/shipments/[provider]/[id]/shipment-details-client.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/shipments/page.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/SearchIndexManager.tsx
  frontend/svetu/src/app/[locale]/chat/layout.tsx
  frontend/svetu/src/app/[locale]/debug-marketplace/page.tsx
  frontend/svetu/src/app/[locale]/debug-search/page.tsx
  frontend/svetu/src/app/[locale]/orders/[id]/page.tsx
  frontend/svetu/src/app/[locale]/orders/tracking/page.tsx
  frontend/svetu/src/app/[locale]/profile/contacts/page.tsx
  frontend/svetu/src/app/[locale]/profile/settings/page.tsx
  frontend/svetu/src/app/[locale]/test-safe-image/page.tsx
  frontend/svetu/src/components/Chat/ChatWindow.tsx
  frontend/svetu/src/components/Chat/MessageInput.tsx
  frontend/svetu/src/components/Chat/StorefrontProductQuickView.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXTracker.tsx
  frontend/svetu/src/components/search/CategoryFilter.tsx
  frontend/svetu/src/components/search/SearchAutocomplete.tsx
  frontend/svetu/src/components/search/__tests__/SearchAutocomplete.test.tsx
  frontend/svetu/src/hooks/useSubscription.ts
  frontend/svetu/src/i18n/request.ts
  frontend/svetu/src/messages/en/chat.json
  frontend/svetu/src/messages/ru/chat.json
  frontend/svetu/src/messages/sr/chat.json
Due: frontend-format, frontend-lint

fix: исправление ошибок сборки frontend
  frontend/svetu/src/app/[locale]/admin/logistics/LogisticsPageClient.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/components/DeliveryMap.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/components/ProblemCommentsModal.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/problems/problems-client.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/shipments/[provider]/[id]/shipment-details-client.tsx
  frontend/svetu/src/app/[locale]/chat/layout.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXAddressForm.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXTracker.tsx
Due: frontend-format, frontend-lint

fix: добавлены недостающие переводы для времени последнего посещения в чате
  frontend/svetu/src/messages/en/chat.json
  frontend/svetu/src/messages/ru/chat.json
  frontend/svetu/src/messages/sr/chat.json
Due: frontend-format

fix: исправление порядка объявления функций для production сборки
  frontend/svetu/src/app/[locale]/profile/contacts/page.tsx
  frontend/svetu/src/app/[locale]/profile/settings/page.tsx
  frontend/svetu/src/components/Chat/StorefrontProductQuickView.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXTracker.tsx
  frontend/svetu/src/components/search/CategoryFilter.tsx
Due: frontend-format, frontend-lint

backup: резервный коммит перед полной проверкой качества кода
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/marketplace/storage/opensearch/search_improvements.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  frontend/svetu/src/app/[locale]/actions.ts
  frontend/svetu/src/app/[locale]/search/SearchPage.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

backup: резервный коммит перед полной проверкой качества кода
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  frontend/svetu/src/app/[locale]/actions.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправление ошибок сборки и качества кода
  frontend/svetu/src/app/[locale]/admin/layout.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/components/ProblemCommentsModal.tsx
  frontend/svetu/src/app/[locale]/chat/layout.tsx
  frontend/svetu/src/app/[locale]/layout.tsx
  frontend/svetu/src/app/[locale]/marketplace/layout.tsx
  frontend/svetu/src/app/[locale]/orders/[id]/layout.tsx
  frontend/svetu/src/app/[locale]/profile/layout.tsx
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/sr/admin.json
Due: frontend-format, frontend-lint

fix: исправление отображения товаров витрин в унифицированном поиске
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/storefronts/storage/opensearch/product_interface.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: улучшение обработки URL изображений для товаров
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
Due: frontend-format, frontend-lint

backup: резервный коммит перед полной проверкой качества кода
  MINIO_ADMIN_GUIDE.md
  SVETU_S3_DEVELOPER_GUIDE.md
  backend/cmd/reindex-products/main.go
  backend/internal/domain/models/models.go
  backend/internal/domain/search/types.go
  backend/internal/middleware/sensitive_logger.go
  backend/internal/middleware/sensitive_logger_test.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  backend/migrations/000031_fix_pet_listings_categories.down.sql
  backend/migrations/000031_fix_pet_listings_categories.up.sql
  backend/migrations/000032_add_location_to_storefront_products.down.sql
  backend/migrations/000032_add_location_to_storefront_products.up.sql
  backend/migrations/000033_add_real_estate_storefront.down.sql
  backend/migrations/000033_add_real_estate_storefront.up.sql
  contabo-storage-config.md
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/search/SearchPage.tsx
  frontend/svetu/src/app/globals.css
  frontend/svetu/src/components/GIS/Map/MarkerHoverPopup.tsx
  frontend/svetu/src/components/SearchBar/SearchAutocomplete.tsx
  frontend/svetu/src/components/cart/ShoppingCartModal.tsx
  frontend/svetu/src/components/common/UnifiedProductCard.tsx
  frontend/svetu/src/components/marketplace/PriceHistoryModal.tsx
  frontend/svetu/src/components/search/SearchAutocomplete.tsx
  frontend/svetu/src/config/index.ts
  frontend/svetu/src/services/unifiedSearch.ts
  frontend/svetu/src/types/marketplace.ts
  frontend/svetu/src/types/unified-product.ts
  frontend/svetu/src/utils/discount-utils.ts
  frontend/svetu/src/utils/imageUtils.ts
  frontend/svetu/src/utils/product-adapters.ts
  frontend/svetu/src/utils/product-utils.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: полная проверка качества кода - форматирование, линтинг, сборка
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/domain/models/models.go
  backend/internal/middleware/sensitive_logger_test.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  frontend/svetu/src/messages/en/marketplace.json
  frontend/svetu/src/messages/ru/marketplace.json
  frontend/svetu/src/messages/sr/marketplace.json
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

backup: резервный коммит перед полной проверкой качества кода
  MINIO_ADMIN_GUIDE.md
  SVETU_S3_DEVELOPER_GUIDE.md
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/domain/models/unified_suggestion.go
  backend/internal/middleware/auth_jwt.go
  backend/internal/proj/behavior_tracking/handler/handler.go
  backend/internal/proj/behavior_tracking/module.go
  backend/internal/proj/global/handler/handler.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/handler/map.go
  backend/internal/proj/marketplace/handler/marketplace.go
  backend/internal/proj/marketplace/handler/responses.go
  backend/internal/proj/marketplace/handler/search.go
  backend/internal/proj/marketplace/service/integration_test.go
  backend/internal/proj/marketplace/service/interface.go
  backend/internal/proj/marketplace/service/map.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/service/search_suggestions.go
  backend/internal/proj/marketplace/service/types.go
  backend/internal/proj/search_admin/handler/handler.go
  backend/internal/proj/search_admin/handler/routes.go
  backend/scripts/create_admin_jwt.go
  contabo-storage-config.md
  frontend/svetu/src/types/generated/api.ts
  s3_security_pentest_report.md
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: полная проверка качества кода - форматирование, линтинг, сборка
  backend/internal/domain/models/unified_suggestion.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/scripts/create_admin_jwt.go
Due: go-format, go-format-check, go-lint

fix: добавлены недостающие переводы и исправлены проблемы с интернационализацией
  frontend/svetu/src/app/[locale]/page.tsx
  frontend/svetu/src/components/navigation/MobileBottomNav.tsx
  frontend/svetu/src/messages/en/marketplace.json
  frontend/svetu/src/messages/ru/marketplace.json
  frontend/svetu/src/messages/sr/marketplace.json
Due: frontend-format, frontend-lint

fix: исправление ошибок линтинга и форматирование кода
  backend/internal/config/feature_flags.go
  frontend/svetu/src/components/shared/ARProductViewer.tsx
  frontend/svetu/src/components/shared/SmartAttributeFilters.tsx
  frontend/svetu/src/hooks/useNativeShare.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: устранение бесконечного цикла в DynamicFilters компоненте
  .playwright-mcp/search-page-with-categories.png
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/storefronts/storage/opensearch/product_interface.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  backend/migrations/000051_add_icon_column_to_attributes.down.sql
  backend/migrations/000051_add_icon_column_to_attributes.up.sql
  docs/SEARCH_UX_IMPLEMENTATION_COMPLETE.md
  docs/SEARCH_UX_IMPROVEMENT_PLAN.md
  frontend/svetu/src/app/[locale]/search/SearchPage.tsx
  frontend/svetu/src/components/search/ActiveFiltersChips.tsx
  frontend/svetu/src/components/search/BaseFilters.tsx
  frontend/svetu/src/components/search/CategorySelector.tsx
  frontend/svetu/src/components/search/DynamicFilters.tsx
  frontend/svetu/src/components/search/ElectronicsFilters.tsx
  frontend/svetu/src/components/search/GenericCategoryFilters.tsx
  frontend/svetu/src/components/search/MobileFilterDrawer.tsx
  frontend/svetu/src/components/search/QuickFilterPresets.tsx
  frontend/svetu/src/components/search/RealEstateFilters.tsx
  frontend/svetu/src/hooks/useFilterPersistence.ts
  frontend/svetu/src/messages/en/electronics.json
  frontend/svetu/src/messages/en/realEstate.json
  frontend/svetu/src/messages/en/search.json
  frontend/svetu/src/messages/ru/electronics.json
  frontend/svetu/src/messages/ru/realEstate.json
  frontend/svetu/src/messages/ru/search.json
  frontend/svetu/src/messages/sr/electronics.json
  frontend/svetu/src/messages/sr/realEstate.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправление ошибок типов в MapBox кластерах
  frontend/svetu/src/components/GIS/Map/MapboxClusterLayer.tsx
Due: frontend-format, frontend-lint

fix: устранение бесконечного цикла в DynamicFilters и Header компонентах
  frontend/svetu/src/components/Header.tsx
  frontend/svetu/src/components/search/DynamicFilters.tsx
Due: frontend-format, frontend-lint

fix: финальное решение бесконечного цикла в DynamicFilters
  frontend/svetu/src/components/search/DynamicFilters.tsx
Due: frontend-format, frontend-lint

REINDEX_ON_API
  backend/internal/config/config.go
  backend/internal/server/server.go
Due: go-format, go-format-check, go-lint

fix: исправление всех ошибок линтера backend
  backend/.golangci.yml
  backend/cmd/import-carapi-data/main.go
  backend/internal/alerting/alerts.go
  backend/internal/proj/admin/logistics/repository/shipments.go
  backend/internal/proj/bexexpress/service/client.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/handler/chat.go
  backend/internal/proj/marketplace/handler/unified_attributes_test.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/proj/postexpress/service/client.go
  backend/internal/proj/postexpress/storage/postgres/repository.go
  backend/internal/proj/storefront/handler/variant_handler.go
  backend/internal/proj/translation_admin/service.go
  backend/internal/services/attributes/cached_service.go
  backend/internal/services/attributes/search_cache.go
  backend/internal/services/attributes/unified_service.go
  backend/internal/services/suggestions/ml_scorer.go
  backend/internal/storage/opensearch/client.go
  backend/internal/storage/opensearch/search_with_attributes.go
  backend/internal/storage/postgres/category_detection_stats.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/unified_attributes.go
  backend/scripts/bex-import/import_bex_data.go
  backend/scripts/create_test_jwt.go
  backend/scripts/postexpress/test_postexpress.go
  backend/scripts/postexpress/test_wsp_api.go
  backend/scripts/postexpress/test_wsp_direct.go
  backend/scripts/postexpress/test_wsp_real.go
Due: go-format, go-format-check, go-lint

backup: состояние кода перед полной проверкой качества и исправлениями
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/services/attributes/unified_service.go
  backend/internal/storage/postgres/category_detection_stats.go
  backend/internal/storage/postgres/unified_attributes.go
  frontend/svetu/src/messages/en/index.ts
  frontend/svetu/src/messages/en/marketplace.home.json
  frontend/svetu/src/messages/ru/index.ts
  frontend/svetu/src/messages/ru/marketplace.home.json
  frontend/svetu/src/messages/sr/index.ts
  frontend/svetu/src/messages/sr/marketplace.home.json
  frontend/svetu/src/messages/sr/marketplace.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: комплексное исправление качества кода и линтера
  backend/cmd/import-carapi-data/main.go
  backend/internal/proj/admin/logistics/repository/shipments.go
  backend/internal/proj/admin/logistics/service/analytics.go
  backend/internal/proj/admin/logistics/service/monitoring.go
  backend/internal/proj/admin/logistics/service/problems.go
  backend/internal/proj/bexexpress/service/service.go
  backend/internal/proj/marketplace/handler/admin_categories.go
  backend/internal/proj/marketplace/handler/admin_variant_attributes.go
  backend/internal/proj/marketplace/handler/unified_attributes_test.go
  backend/internal/proj/marketplace/service/claude_translation.go
  backend/internal/proj/marketplace/service/deepl_translation.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/service/variant_attributes.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/payments/repository/webhook_repository.go
  backend/internal/proj/postexpress/storage/postgres/repository.go
  backend/internal/proj/search_admin/service/index_service.go
  backend/internal/proj/storefront/repository/variant_repository.go
  backend/internal/proj/translation_admin/repository.go
  backend/internal/proj/translation_admin/service.go
  backend/internal/proj/translation_admin/service/ai_providers.go
  backend/internal/proj/translation_admin/service/deepl_provider.go
  backend/internal/storage/postgres/unified_attributes.go
  backend/pkg/utils/geo_privacy.go
  backend/scripts/bex-import/import_bex_data.go
  frontend/svetu/src/messages/ru/marketplace.home.json
  frontend/svetu/src/messages/sr/marketplace.home.json
Due: go-format, go-format-check, go-lint, frontend-format

dev change minio bucket path
  Makefile
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/storage/filestorage/factory.go
  backend/internal/storage/minio/client.go
  backend/migrations/000101_remove_bucket_from_urls.down.sql
  backend/migrations/000101_remove_bucket_from_urls.up.sql
  frontend/svetu/next.config.ts
  frontend/svetu/src/components/MarketplaceCard.tsx
  frontend/svetu/src/config/index.ts
  frontend/svetu/src/config/types.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

dev.svetu.rs Makefile
  docker-compose.dev.yml
Due: none

docs: добавление полной спецификации Auth Service микросервиса
  docs/AUTH_SERVICE_COMPLETE_SPECIFICATION.md
  docs/AUTH_SERVICE_INFRASTRUCTURE.md
  docs/AUTH_SERVICE_MIGRATION_PLAN.md
  docs/AUTH_SYSTEM_PASSPORT_2025.md
Due: frontend-format

bucket names to config
  backend/.env.example
  backend/internal/config/config.go
  backend/internal/middleware/auth_jwt.go
  backend/internal/proj/config/handler.go
  backend/internal/proj/config/module.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/server/minio_proxy.go
  backend/internal/server/server.go
  backend/internal/storage/filestorage/factory.go
  backend/internal/storage/minio/client.go
  docker-compose.dev.yml
Due: go-format, go-format-check, go-lint
