Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

fix(search): включить очистку индексов при reindex
  backend/internal/proj/search_admin/service/index_service.go
Due: go-format, go-format-check, go-lint

docs: актуализировать план импорта - Фаза 4.7 ПОЛНОСТЬЮ ЗАВЕРШЕНА (v3.7)
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: frontend-format

fix(i18n): добавить отсутствующий ключ title в переводы storefronts
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
Due: frontend-format

fix(i18n): добавить недостающие переводы для компонентов импорта
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
Due: frontend-format

fix(i18n): добавить переводы для ImportAnalysisWizard
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
Due: frontend-format

fix(i18n,redux): добавить перевод remove и игнорировать File в Redux
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
  frontend/svetu/src/store/index.ts
Due: frontend-format, frontend-lint

fix(i18n): добавить переводы для analyzing stage (progress и stages)
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
Due: frontend-format

fix(backend): изменить analyze endpoints для приема multipart/form-data
  backend/internal/proj/storefronts/handler/import_analysis_handler.go
Due: go-format, go-format-check, go-lint

fix(frontend): убрать ручной Content-Type из multipart запросов - браузер добавит boundary автоматически
  frontend/svetu/src/services/importApi.ts
Due: frontend-format, frontend-lint

fix(i18n): добавить переводы для URL импорта (url.label и url.help)
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
Due: frontend-format

fix(i18n): добавить переводы для actions.removeFile, fileType и options (updateMode, categoryMapping)
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
Due: frontend-format

fix(i18n,import): добавить переводы wizard.categories и исправить mapping_quality вместо quality_summary
  frontend/svetu/src/components/import/ImportAnalysisWizard.tsx
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
Due: frontend-format, frontend-lint

fix(i18n): добавить переводы progress.uploading и actions.importing
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
Due: frontend-format

fix(i18n,import): добавить переводы actions.back и buttons.back, исправить mapping_suggestions -> mappings array
  frontend/svetu/src/components/import/ImportAnalysisWizard.tsx
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
Due: frontend-format, frontend-lint

fix(import): исправить detected_attributes и variant_groups для AttributeMappingStep и VariantDetectionStep
  frontend/svetu/src/components/import/ImportAnalysisWizard.tsx
Due: frontend-format, frontend-lint

fix(import): исправить поля AttributeMappingStep - examples вместо sample_values, suggested_map вместо suggested_mapping
  frontend/svetu/src/components/import/AttributeMappingStep.tsx
Due: frontend-format, frontend-lint

docs: актуализировать план - Фаза 4.8 ЗАВЕРШЕНА (Import Analysis Wizard исправлен, 11 коммитов)
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: frontend-format

fix(import): извлечение категорий из Digital Vision формата (kategorija1/2/3)
  backend/internal/proj/storefronts/handler/import_analysis_handler.go
Due: go-format, go-format-check, go-lint

fix(import): фильтровать kategorija* из атрибутов + добавить переводы для variants stats
  backend/internal/proj/storefronts/handler/import_analysis_handler.go
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
Due: go-format, go-format-check, go-lint, frontend-format

fix(import): добавить storefrontId в URL эндпоинтов import jobs + перевод notSet
  frontend/svetu/src/components/import/ImportJobDetails.tsx
  frontend/svetu/src/components/import/ImportJobsList.tsx
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
  frontend/svetu/src/services/importApi.ts
  frontend/svetu/src/store/slices/importSlice.ts
Due: frontend-format, frontend-lint

docs: обновить план - Фаза 4.9 ЗАВЕРШЕНА (категории + 404 + переводы)
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: frontend-format

fix(i18n): добавить переводы wizard.summary для Summary шага Import Wizard
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
Due: frontend-format

fix: исправить JSONB scanning и array parsing для Category Proposals API + Frontend API Layer
  backend/internal/domain/models/category_proposal.go
  backend/internal/proj/storefronts/handler/category_proposal_handler.go
  backend/internal/proj/storefronts/service/category_proposal_service.go
  backend/internal/storage/postgres/category_proposals.go
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/services/categoryProposalsApi.ts
  frontend/svetu/src/types/categoryProposals.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat(frontend): добавить Category Proposals UI в админ-панель
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/storefronts/handler/import_handler.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/storefronts/service/import_service.go
  frontend/svetu/src/app/[locale]/admin/category-proposals/page.tsx
  frontend/svetu/src/app/[locale]/admin/layout-client.tsx
  frontend/svetu/src/components/admin/CategoryProposalCard.tsx
  frontend/svetu/src/components/admin/CategoryProposalsList.tsx
  frontend/svetu/src/components/import/AttributeMappingStep.tsx
  frontend/svetu/src/components/import/ImportAnalysisWizard.tsx
  frontend/svetu/src/components/import/ImportJobDetails.tsx
  frontend/svetu/src/components/import/ImportJobsList.tsx
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/admin.json
  frontend/svetu/src/messages/sr/storefronts.json
  frontend/svetu/src/store/index.ts
  frontend/svetu/src/store/slices/categoryProposalsSlice.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

docs: обновить план - Фаза 1.3 ПОЛНОСТЬЮ ЗАВЕРШЕНА (Category Proposals UI)
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: frontend-format

fix(category-proposals): исправить approve request payload
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md.backup-20251007-211031
  frontend/svetu/src/components/admin/CategoryProposalsList.tsx
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/sr/admin.json
  frontend/svetu/src/services/categoryProposalsApi.ts
Due: frontend-format, frontend-lint

docs: актуализировать план - Фаза 1.3 полностью завершена с live testing
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: frontend-format

wip: backup before full code check and fixes
  backend/digital_vision_realistic.xml
  backend/internal/proj/storefronts/handler/import_analysis_handler.go
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
  frontend/svetu/src/components/import/CategoryMappingStep.tsx
  frontend/svetu/src/components/import/ImportAnalysisWizard.tsx
  frontend/svetu/src/components/import/ImportErrorsModal.tsx
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
  frontend/svetu/src/store/slices/categoryProposalsSlice.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix(chat): исправить SQL ошибку и позиционирование поля ввода на мобильных
  backend/internal/proj/marketplace/storage/postgres/chat.go
  frontend/svetu/src/components/Chat/ChatWindow.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

Deploy to dev server
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/storage.go
  backend/migrations/000169_fix_storefront_sync_trigger.down.sql
  backend/migrations/000169_fix_storefront_sync_trigger.up.sql
  backend/migrations/000170_add_storefront_images_reindex_trigger.down.sql
  backend/migrations/000170_add_storefront_images_reindex_trigger.up.sql
  backend/migrations/000171_fix_storefront_id_architecture.down.sql
  backend/migrations/000171_fix_storefront_id_architecture.up.sql
  docs/C2C_B2C_MIGRATION_ANALYSIS.md
  frontend/svetu/src/app/[locale]/admin/listings/AdminListingsTable.tsx
  frontend/svetu/src/app/[locale]/admin/storefront-products/AdminStorefrontProductsTable.tsx
  frontend/svetu/src/app/[locale]/chat/ChatClient.tsx
  frontend/svetu/src/components/Chat/ChatLayout.tsx
  frontend/svetu/src/components/Chat/MessageInput.tsx
  frontend/svetu/src/components/import/ImportWizard.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix(chat): исправить имя пропса initialStorefrontProductId в ChatWindow
  frontend/svetu/src/components/Chat/ChatWindow.tsx
Due: frontend-format, frontend-lint

backup: pre-quality-check snapshot
  frontend/svetu/package.json
  frontend/svetu/src/app/[locale]/marketplace/[id]/page.tsx
  frontend/svetu/src/app/[locale]/storefronts/[slug]/page.tsx
  frontend/svetu/src/components/SafeHTML.tsx
  frontend/svetu/src/components/storefronts/public/ProductCard.tsx
  frontend/svetu/yarn.lock
Due: frontend-format, frontend-lint

fix: добавить недостающий метод GetStorefrontProductImages в MockStorage
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/service/integration_test.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  frontend/svetu/src/components/Chat/ChatWindow.tsx
  frontend/svetu/src/components/SafeHTML.tsx
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
