Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

fix: стабилизация WebSocket соединения и устранение бесконечного цикла
  frontend/svetu/src/hooks/useWebSocket.ts
Due: frontend-format, frontend-lint

fix: подключение WebSocket к tracking hub
  backend/internal/server/server.go
  frontend/svetu/src/app/[locale]/track/[token]/TrackingClient.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: удалены захардкоженные API ключи из кода
  backend/internal/proj/viber/config/config.go
  backend/internal/proj/viber/service/bot_service.go
  backend/internal/proj/viber/service/infobip_bot_service.go
  docs/VIBER_BOT_TRACKING_AUDIT_REPORT.md
Due: go-format, go-format-check, go-lint, frontend-format

fix: рефакторинг страницы трекинга для корректной загрузки переводов
  frontend/svetu/src/app/[locale]/track/[token]/TrackingClient.tsx
  frontend/svetu/src/app/[locale]/track/[token]/page.tsx
Due: frontend-format, frontend-lint

fix: использование безопасного перезапуска по портам вместо pkill
  deploy-to-dev.sh
Due: none

Deploy to dev server
  deploy-to-dev.sh
Due: none

Deploy to dev server
  CLAUDE.md
  backend/.env.example
  backend/internal/proj/viber/config/config.go
  backend/internal/proj/viber/handler.go
  backend/internal/proj/viber/handler/message_handler.go
  backend/internal/proj/viber/handler/webhook_handler.go
  backend/internal/proj/viber/service/bot_service.go
  deploy-to-dev.sh
  docs/VIBER_URL_CONFIGURATION.md
Due: go-format, go-format-check, go-lint, frontend-format

chore: backup before comprehensive code quality check and fixes
  backend/internal/middleware/auth_proxy.go
  backend/internal/middleware/middleware.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/storefronts/service/product_service.go
  backend/internal/proj/tracking/delivery_service.go
  backend/internal/proj/viber/handler/message_handler.go
  backend/internal/proj/viber/handler/webhook_handler.go
  backend/internal/server/server.go
  backend/internal/storage/postgres/storefront_product.go
  backend/migrations/000017_assign_admin_role_to_voroshilov.down.sql
  backend/migrations/000017_assign_admin_role_to_voroshilov.up.sql
  backend/scripts/test_viber_interactive.go
  docs/LOGISTICS_INTEGRATION_IMPLEMENTATION_PLAN.md
  docs/post-express/.~lock.POST_EXPRESS_TECHNICAL_REPORT.docx#
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/admin/listings/page.tsx
  frontend/svetu/src/app/[locale]/admin/variant-attributes/VariantAttributesClient.tsx
  frontend/svetu/src/app/[locale]/admin/variant-attributes/components/VariantAttributeForm.tsx
  frontend/svetu/src/app/[locale]/track/[token]/TrackingClient.tsx
  frontend/svetu/src/app/[locale]/track/[token]/page.tsx
  frontend/svetu/src/app/api/auth/session/route.ts
  frontend/svetu/src/components/tracking/TrackingMap.tsx
  frontend/svetu/src/hooks/useWebSocket.ts
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: комплексная интеграция Viber бота с системой отслеживания и улучшения API
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/middleware/auth_proxy.go
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/storefronts/service/product_service.go
  backend/internal/server/server.go
  backend/scripts/bex-import/import_bex_data.go
  backend/scripts/create_test_jwt.go
  backend/scripts/test_viber_interactive.go
  docs/DELIVERY_ATTRIBUTES_AND_COST_CALCULATION_PLAN.md
  docs/LOGISTICS_INTEGRATION_IMPLEMENTATION_PLAN.md
  frontend/svetu/src/app/[locale]/admin/listings/page.tsx
  frontend/svetu/src/components/tracking/TrackingMap.tsx
  frontend/svetu/src/hooks/useWebSocket.ts
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

Deploy to dev server
  backend/internal/proj/users/handler/auth.go
Due: go-format, go-format-check, go-lint

Deploy to dev server
  backend/internal/proj/users/handler/auth.go
  frontend/svetu/src/services/auth.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: добавление X-Frontend-URL заголовка для правильного OAuth редиректа через Auth Service
  backend/internal/middleware/auth_proxy.go
Due: go-format, go-format-check, go-lint

fix: исправление API URL для админ панели доставки на dev сервере
  frontend/svetu/src/app/[locale]/admin/delivery/components/DeliveryDashboard.tsx
  frontend/svetu/src/app/[locale]/admin/delivery/components/DeliveryProviders.tsx
Due: frontend-format, frontend-lint

fix: добавлен /api/v1 к URL в компонентах доставки
  frontend/svetu/src/app/[locale]/admin/delivery/components/DeliveryDashboard.tsx
  frontend/svetu/src/app/[locale]/admin/delivery/components/DeliveryProviders.tsx
Due: frontend-format, frontend-lint

fix: исправление авторизации в админ панели объявлений - добавлен токен авторизации
  docs/MVP_REALISTIC_LAUNCH_PLAN.md
  docs/ROADMAP_REALISTIC_ANALYSIS.md
  docs/SVETU_FINAL_ROADMAP_2025-2026.md
  frontend/svetu/src/app/[locale]/admin/listings/AdminListingsTable.tsx
Due: frontend-format, frontend-lint

backup: состояние перед полной проверкой качества кода
  CODE_QUALITY_CHECK_REPORT.md
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/ai/handler/handler.go
  backend/internal/proj/delivery/attributes/service.go
  backend/internal/proj/delivery/factory/mock_provider.go
  backend/internal/proj/delivery/handler/admin_handler.go
  backend/internal/proj/delivery/interfaces/provider.go
  backend/internal/proj/delivery/models/models.go
  backend/internal/proj/delivery/module.go
  backend/internal/proj/delivery/notifications/integration.go
  backend/internal/proj/delivery/notifications/service.go
  backend/internal/proj/delivery/service/service.go
  backend/internal/proj/delivery/storage/admin_storage.go
  backend/internal/proj/marketplace/handler/ai_category.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/repository/keyword_repository.go
  backend/internal/proj/marketplace/services/ai_category_detector.go
  backend/internal/proj/marketplace/services/ai_category_detector_test.go
  backend/internal/proj/marketplace/services/ai_category_validator.go
  backend/internal/proj/marketplace/services/ai_keyword_generator.go
  backend/internal/proj/marketplace/services/ai_learning_system.go
  backend/internal/proj/marketplace/services/http_client.go
  backend/internal/proj/marketplace/services/redis_cache.go
  backend/internal/server/server.go
  backend/pkg/utils/utils.go
  frontend/svetu/src/app/[locale]/admin/delivery/components/DeliveryDashboard.tsx
  frontend/svetu/src/app/[locale]/admin/delivery/components/DeliveryProviders.tsx
  frontend/svetu/src/app/[locale]/checkout/page.tsx
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/app/api/ai/analyze/route.ts
  frontend/svetu/src/services/ai/claude.service.ts
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

Deploy to dev server
  CODE_QUALITY_CHECK_REPORT.md
Due: frontend-format

Deploy to dev server
  backend/internal/proj/analytics/handler/analytics_handler.go
  docs/FIX_ADMIN_403_ERRORS.md
  frontend/svetu/src/app/[locale]/admin/search/components/SearchAnalytics.tsx
  frontend/svetu/src/messages/en/create_listing.json
  frontend/svetu/src/messages/ru/create_listing.json
  frontend/svetu/src/messages/sr/create_listing.json
  frontend/svetu/src/services/searchAnalytics.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

Deploy to dev server
  backend/internal/proj/ai/handler/handler.go
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/services/categoryDetector.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

Deploy to dev server
  backend/internal/proj/ai/handler/handler.go
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/messages/en/misc.json
  frontend/svetu/src/messages/ru/misc.json
  frontend/svetu/src/services/ai/claude.service.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

Deploy to dev server
  backend/migrations/000034_fix_serbian_address_translations.down.sql
  backend/migrations/000034_fix_serbian_address_translations.up.sql
  backend/migrations/000036_fix_listing_322_multilingual_addresses.down.sql
  backend/migrations/000036_fix_listing_322_multilingual_addresses.up.sql
  backend/migrations/000037_add_printer_category.down.sql
  backend/migrations/000037_add_printer_category.up.sql
  backend/migrations/000038_fix_listing_323_translations.down.sql
  backend/migrations/000038_fix_listing_323_translations.up.sql
  backend/migrations/000039_fix_listing_324_translations.down.sql
  backend/migrations/000039_fix_listing_324_translations.up.sql
  docs/ADDRESS_HANDLING_IN_NEW_LISTINGS.md
  docs/ADDRESS_LOCALIZATION_SERBIAN_ONLY.md
  docs/MULTILINGUAL_ADDRESSES_IMPLEMENTATION.md
  docs/presentation_multilang_backup.html
  docs/presentation_multilang_vertical.html
  docs/ru/examples/presentation_multilang_vertical.html
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/services/listings.ts
  frontend/svetu/src/utils/addressUtils.ts
  scripts/check-dev-users.sh
Due: frontend-format, frontend-lint

Deploy to dev server
  README.md
  docs/ru/examples/README.md
  docs/ru/examples/index.html
  frontend/svetu/src/app/layout.tsx
Due: frontend-format, frontend-lint

Deploy to dev server
  docs/ru/examples/presentation_multilang_vertical.html
Due: none

Deploy to dev server
  docs/infobip-viber-response-EN.md
  docs/infobip-viber-response-RU.md
  docs/ru/examples/presentation_multilang_vertical.html
Due: frontend-format

Резервный коммит перед полной проверкой и исправлением кода
  backend/internal/domain/models/models.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/migrations/000040_add_multilingual_addresses.down.sql
  backend/migrations/000040_add_multilingual_addresses.up.sql
  frontend/svetu/src/app/[locale]/admin/search/components/SearchAnalytics.tsx
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/app/[locale]/marketplace/[id]/page.tsx
  frontend/svetu/src/components/products/steps/CategoryStep.tsx
  frontend/svetu/src/components/products/steps/EditCategoryStep.tsx
  frontend/svetu/src/hooks/useAddressGeocoding.ts
  frontend/svetu/src/services/categoryDetector.ts
  frontend/svetu/src/services/listings.ts
  frontend/svetu/src/utils/addressUtils.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: AI-powered category detection and logistics improvements
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/domain/models/models.go
  backend/internal/proj/ai/handler/handler.go
  backend/internal/proj/marketplace/handler/ai_category.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/services/ai_category_detector.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/app/[locale]/marketplace/[id]/page.tsx
  frontend/svetu/src/components/products/steps/CategoryStep.tsx
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: реализация автомобильного раздела
  backend/migrations/000041_populate_car_generations.down.sql
  backend/migrations/000041_populate_car_generations.up.sql
  docs/AUTOMOTIVE_AUDIT_2025.md
  frontend/svetu/src/app/[locale]/cars/CarsPageClient.tsx
  frontend/svetu/src/app/[locale]/cars/page.tsx
  frontend/svetu/src/components/marketplace/CarListingCard.tsx
  frontend/svetu/src/components/search/DynamicFilters.tsx
  frontend/svetu/src/messages/en/cars.json
  frontend/svetu/src/messages/ru/cars.json
  frontend/svetu/src/messages/sr/cars.json
Due: frontend-format, frontend-lint

docs: добавлено подробное задание на продолжение работ по автомобильному разделу
  docs/AUTOMOTIVE_NEXT_TASKS.md
Due: frontend-format

Deploy to dev server
  .playwright-mcp/map-car-filters-visible.png
  backend/internal/proj/marketplace/handler/cars_test.go
  backend/migrations/000042_add_more_car_generations.up.sql
  backend/migrations/000043_add_actual_car_generations.up.sql
  docs/AUTOMOTIVE_IMPLEMENTATION_FINAL_2025_09_23.md
  docs/AUTOMOTIVE_REAL_STATUS_REPORT_2025_09_23.md
  docs/AUTOMOTIVE_VERIFICATION_REPORT_2025_09_23.md
  docs/DESIGN_BRIEF_HOMEPAGE_COMPLETE.md
  e2e/cars-section.spec.ts
  frontend/svetu/src/app/[locale]/map/MapClient.tsx
  frontend/svetu/src/components/marketplace/CarFilters.tsx
  frontend/svetu/src/components/marketplace/SmartFilters.tsx
  frontend/svetu/src/components/marketplace/__tests__/CarFilters.test.tsx
  frontend/svetu/src/components/marketplace/__tests__/CarListingCard.test.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправление навигации автомобильного раздела
  .playwright-mcp/car-brands-icons.png
  frontend/svetu/src/app/[locale]/cars/CarsPageClient.tsx
  frontend/svetu/src/app/[locale]/layout.tsx
  frontend/svetu/src/app/[locale]/search/SearchPage.tsx
  frontend/svetu/src/app/[locale]/test-auth-config/page.tsx
  frontend/svetu/src/app/layout.tsx
  frontend/svetu/src/components/EnvScriptWrapper.tsx
  frontend/svetu/src/components/marketplace/CarBrandIcon.tsx
  frontend/svetu/src/components/marketplace/CarFilters.tsx
  frontend/svetu/src/components/marketplace/__tests__/CarFilters.test.tsx
  frontend/svetu/src/components/marketplace/__tests__/CarListingCard.test.tsx
  frontend/svetu/src/services/unifiedSearch.ts
Due: frontend-format, frontend-lint

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
