Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

feat: add store status management (vacation mode, accepting orders)
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings.proto
  api/proto/listings/v1/listings_grpc.pb.go
  internal/domain/storefront.go
  internal/repository/postgres/storefronts_repository.go
  internal/service/listings/storefront_service.go
  internal/transport/grpc/handlers_storefronts.go
  internal/transport/grpc/mappers_storefronts.go
  migrations/000016_add_storefront_status_fields.down.sql
  migrations/000016_add_storefront_status_fields.up.sql
Due: go-format, go-format-check, go-lint

fix: storefront data integrity - parse settings and create related records
  CHANGELOG.md
  internal/service/listings/storefront_service.go
Due: go-format, go-format-check, go-lint, frontend-format

feat: add storefront business fields and channel adapters migrations
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings.proto
  internal/domain/storefront.go
  internal/repository/postgres/storefronts_repository.go
  internal/service/listings/storefront_service.go
  internal/transport/grpc/handlers_storefronts.go
  internal/transport/grpc/mappers_storefronts.go
  migrations/000017_add_storefront_social_links.down.sql
  migrations/000017_add_storefront_social_links.up.sql
  migrations/000018_add_storefront_business_structure.down.sql
  migrations/000018_add_storefront_business_structure.up.sql
  migrations/000019_remove_individual_legal_entity_type.down.sql
  migrations/000019_remove_individual_legal_entity_type.up.sql
  migrations/000020_add_storefront_tax_vat_numbers.down.sql
  migrations/000020_add_storefront_tax_vat_numbers.up.sql
  migrations/000021_add_channel_adapters_tables.down.sql
  migrations/000021_add_channel_adapters_tables.up.sql
Due: go-format, go-format-check, go-lint

ci: migrate Harbor image from library/ to services/ namespace
  .github/workflows/deploy-production.yml
Due: none

fix: add database migrations step to deployment workflows
  .github/workflows/deploy-production-gitops.yml
  .github/workflows/deploy-production.yml
Due: none

fix: add database migrations step to deployment workflows
  .github/workflows/deploy-production-gitops.yml
  .github/workflows/deploy-production.yml
  CHANGELOG.md
Due: frontend-format

fix: add concurrency group to CI workflow to prevent race condition
  .github/workflows/ci.yml
Due: none

ci: update Go version to 1.25 in all workflows
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
Due: none

ci: migrate deploy-production to GitOps (ArgoCD)
  .github/workflows/deploy-production.yml
Due: none

fix: delete stale documents from OpenSearch before reindexing
  go.work.sum
  internal/repository/opensearch/client.go
  internal/repository/opensearch/indexing_adapter.go
  internal/service/chat_service.go
  internal/service/listings/mocks/indexer_mock.go
  internal/service/listings/service.go
Due: go-format, go-format-check, go-lint

fix: delete stale documents from OpenSearch before reindexing
  go.work.sum
  internal/repository/opensearch/client.go
  internal/repository/opensearch/indexing_adapter.go
  internal/service/listings/mocks/indexer_mock.go
  internal/service/listings/service.go
Due: go-format, go-format-check, go-lint

feat: add unified migrator with lib/migrator v1.4.0
  .gitignore
  Makefile
  cmd/migrator/main.go
  go.mod
  go.sum
  internal/app/migrator/migrator.go
  internal/config/config.go
Due: go-format, go-format-check, go-lint

fix: update auth service API usage and add translation support
  internal/service/chat_service_test.go
  internal/transport/grpc/handlers_chat_test.go
  test/integration/image_test.go
  test/integration/setup_test.go
Due: go-format, go-format-check, go-lint

fix: remove duplicate GetLatestMessage method in chat_service_test
  go.work.sum
  internal/service/chat_service_test.go
Due: go-format, go-format-check, go-lint

fix: upgrade miniredis to v2.36.0 to fix missing test dependency
  go.mod
  go.sum
Due: none

fix(ci): disable Go module cache in Test/Build jobs to prevent noexec conflicts
  .github/workflows/ci.yml
  CHANGELOG.md
  go.work.sum
Due: frontend-format

fix(ci): use local GOMODCACHE to avoid permission issues
  .github/workflows/ci.yml
  CHANGELOG.md
Due: frontend-format

fix(ci): add cleanup step for old caches in Build job
  .github/workflows/ci.yml
  CHANGELOG.md
Due: frontend-format

fix(ci): extend cleanup step to all jobs to prevent checkout permission errors
  .github/workflows/ci.yml
  CHANGELOG.md
Due: frontend-format

fix(ci): add cleanup step to security scan workflow
  .github/workflows/security-scan.yml
  CHANGELOG.md
Due: frontend-format

fix(deploy): add cleanup step to prevent permission denied on .gomodcache
  .github/workflows/deploy-production-gitops.yml
  .github/workflows/deploy-production.yml
  CHANGELOG.md
Due: frontend-format

fix(migrator): require -version flag for force command
  Makefile
  cmd/migrator/main.go
Due: go-format, go-format-check, go-lint

fix(ci): ensure correct git SHA for all microservices deployments
  .github/workflows/ci.yml
  internal/service/category_detection_service.go
Due: go-format, go-format-check, go-lint

fix(ci): use Go 1.25 instead of 1.23/1.24 in workflows
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
Due: none

feat(ci): switch Listings deployment to ArgoCD GitOps
  .github/workflows/deploy-production-gitops.yml
  .github/workflows/deploy-production-legacy.yml.disabled
Due: none

fix(ci): fix GitOps migrations step - add cd and use 127.0.0.1
  .github/workflows/deploy-production.yml
Due: none

perf(ci): remove slow Setup Go step, use pre-installed Go
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
Due: none

fix(ci): use kubectl exec for migrations instead of SSH port-forward
  .github/workflows/deploy-production.yml
Due: none

refactor: optimize CategoryTreeNode to use pointers instead of value copies
  go.work.sum
  internal/domain/listing.go
  internal/repository/postgres/categories_repository.go
  internal/transport/grpc/converters.go
  internal/transport/grpc/handlers_categories.go
  test/integration/category_test.go
Due: go-format, go-format-check, go-lint

test: fix CategoryTreeNode type in service_test.go
  internal/service/listings/service_test.go
Due: go-format, go-format-check, go-lint

fix(ci): use tar stdin pipe instead of temp file for migrations
  .github/workflows/deploy-production.yml
Due: none

fix(ci): install GitHub CLI on self-hosted runner
  .github/workflows/deploy-production.yml
Due: none

fix(ci): use GITHUB_TOKEN instead of missing K8S_CONFIGS_TOKEN
  .github/workflows/deploy-production.yml
Due: none

fix: use K8S_CONFIGS_TOKEN for cross-repo workflow trigger
  .github/workflows/deploy-production.yml
Due: none

feat: add make commands for service management and quick start docs
  CLAUDE.md
  Makefile
  scripts/status.sh
Due: frontend-format

fixtures & reindex
  Makefile
  fixtures/000001_disable_triggers.down.sql
  fixtures/000002_categories.down.sql
  fixtures/000002_categories.up.sql
  fixtures/000003_storefronts.down.sql
  fixtures/000003_storefronts.up.sql
  fixtures/000004_listings.down.sql
  fixtures/000004_listings.up.sql
  fixtures/000005_listing_images.down.sql
  fixtures/000005_listing_images.up.sql
  fixtures/000006_enable_triggers.down.sql
  fixtures/000006_enable_triggers.up.sql
Due: none

fix: use VONDILISTINGS_OPENSEARCH_ADDRESSES from .env for reindex
  Makefile
Due: none

feat: реализованы 6 недостающих gRPC CRUD handlers для Product Variants
  CHANGELOG.md
  internal/service/variant_service.go
  internal/transport/grpc/handlers_variants.go
Due: go-format, go-format-check, go-lint, frontend-format

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
