Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

docs: добавить отчёт о проверке миграции C2C/B2C
  docs/MIGRATION_VERIFICATION_REPORT.md
Due: frontend-format

chore: backup before full code quality check
  backend/internal/middleware/feature_flags.go
  backend/internal/middleware/rate_limiter.go
  backend/internal/proj/b2c/module.go
  backend/internal/proj/c2c/handler/handler.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/orders/handler/routes.go
  backend/internal/proj/search_admin/module.go
  backend/internal/proj/search_admin/service/index_service.go
  backend/internal/proj/search_admin/service/service.go
  backend/internal/server/server.go
  backend/internal/storage/postgres/db.go
  backend/reindex_b2c_with_images.py
  frontend/svetu/src/app/[locale]/admin/b2c-products/AdminB2CProductsTable.tsx
  frontend/svetu/src/app/[locale]/admin/b2c-products/page.tsx
  frontend/svetu/src/app/[locale]/admin/b2c-stores/AdminB2CStoresTable.tsx
  frontend/svetu/src/app/[locale]/admin/b2c-stores/page.tsx
  frontend/svetu/src/app/[locale]/admin/layout-client.tsx
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/sr/admin.json
  frontend/svetu/src/middleware.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

chore: remove deprecated /me endpoints from user routes
  backend/internal/proj/users/handler/routes.go
  docs/MARKETPLACE_LISTING.md
  docs/MARKETPLACE_LISTING_VS_STOREFRONT_PRODUCT_ANALYSIS.md
Due: go-format, go-format-check, go-lint, frontend-format

chore: remove deprecated admin methods from storage layer
  backend/internal/storage/postgres/admin_methods.go
  backend/internal/storage/storage.go
Due: go-format, go-format-check, go-lint

chore: remove duplicate public logout endpoint
  backend/internal/proj/users/handler/routes.go
Due: go-format, go-format-check, go-lint

chore: remove deprecated token utilities from frontend
  frontend/svetu/src/app/[locale]/layout.tsx
  frontend/svetu/src/utils/clearLargeHeaders.ts
  frontend/svetu/src/utils/forceTokenCleanup.ts
  frontend/svetu/src/utils/jwtDecode.ts
  frontend/svetu/src/utils/tokenMigration.ts
Due: frontend-format, frontend-lint

chore: cleanup b2cStoreApi - remove auth rudiments and API prefix
  frontend/svetu/src/services/b2cStoreApi.ts
Due: frontend-format, frontend-lint

chore: remove DEBUG logs from production code
  backend/internal/proj/b2c/handler/import_analysis_handler.go
  backend/internal/proj/b2c/service/product_service.go
  backend/internal/proj/b2c/storage/opensearch/product_repository.go
  backend/internal/proj/c2c/storage/opensearch/repository.go
  backend/internal/proj/c2c/storage/postgres/marketplace.go
  backend/internal/proj/gis/handler/district_handler.go
  backend/internal/proj/postexpress/handler/test_handler.go
  backend/internal/proj/viber/handler.go
Due: go-format, go-format-check, go-lint

chore: improve skip messages in AI Category Detector tests
  backend/internal/proj/c2c/services/ai_category_detector_test.go
Due: go-format, go-format-check, go-lint

docs: update audit document with Phase 1 completion status
  docs/CODE_RUDIMENTS_AUDIT_2025-10-09.md
Due: frontend-format

chore: remove deprecated CreateOrder method
  .claude/agents/code-simplifier.md
  .claude/agents/database-reviewer.md
  .claude/agents/frontend-reviewer.md
  .claude/agents/go-backend-reviewer.md
  .claude/agents/i18n-reviewer.md
  .claude/agents/security-reviewer.md
  .claude/agents/tech-lead.md
  .claude/agents/ux-reviewer.md
  backend/.env.dev
  backend/.env.example
  backend/internal/proj/b2c/handler/import_analysis_handler.go
  backend/internal/proj/b2c/service/product_service.go
  backend/internal/proj/c2c/storage/postgres/marketplace.go
  backend/internal/proj/orders/service/order_service.go
  backend/internal/proj/postexpress/handler/test_handler.go
  backend/internal/proj/viber/handler.go
  backend/scripts/send_viber_test.go
  backend/scripts/test_infobip_api.go
  docs/C2C_B2C_UNIFICATION_ANALYSIS.md
  docs/HOW_TO_SEND_INFOBIP_APPEAL.md
  docs/Infobip_Appeal_Letter.md
  docs/POSTA_SRBIJE_COMPREHENSIVE_TESTING_REPORT.md
  docs/POSTEXPRESS_TESTING_REPORT_2025-10-10.md
  docs/POST_EXPRESS_INTEGRATION_COMPLETE.md
  docs/VIBER_BOT_INTEGRATION.md
  docs/VIBER_BOT_TESTING_GUIDE.md
  frontend/svetu/src/app/[locale]/b2c/[slug]/products/[id]/page.tsx
  frontend/svetu/src/app/[locale]/examples/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-test/page.tsx
  frontend/svetu/src/components/B2C/ProductVariants/VariantSelector.tsx
  frontend/svetu/src/components/cart/AddToCartButton.tsx
  frontend/svetu/src/types/unified-product.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

chore: remove deprecated scripts from scripts/.tmp/
  backend/scripts/.tmp/create_admin_jwt.go
  backend/scripts/.tmp/create_test_jwt.go
  backend/scripts/.tmp/day20-cache-strategy.go
  backend/scripts/.tmp/load_test_unified_attributes.go
  backend/scripts/.tmp/performance_baseline_collector.go
  backend/scripts/.tmp/test_dual_write.go
Due: go-format, go-format-check, go-lint

chore: remove duplicate JWT utilities
  backend/cmd/utils/generate_correct_admin_jwt/main.go
  backend/cmd/utils/generate_dmitry_session/main.go
Due: go-format, go-format-check, go-lint

chore: remove deprecated LoginResponse struct
  backend/internal/proj/users/handler/responses.go
Due: go-format, go-format-check, go-lint

chore: remove deprecated config.MarketplaceIndex
  backend/cmd/reindex-products/main.go
  backend/cmd/utils/create_cat_yaml/create_cat_yaml.go
  backend/internal/config/config.go
Due: go-format, go-format-check, go-lint

chore: remove deprecated frontend pages
  frontend/svetu/src/app/[locale]/auth/oauth-old/callback/page.tsx
  frontend/svetu/src/app/[locale]/b2c/[slug]/products/page-old.tsx
  frontend/svetu/src/app/[locale]/map/page-original-v2.tsx
  frontend/svetu/src/app/[locale]/map/page-original.tsx
Due: frontend-format, frontend-lint

chore: move debug scripts to scripts/debug directory
  frontend/svetu/scripts/debug/debug-tokens.js
  frontend/svetu/scripts/debug/force-relogin.js
  frontend/svetu/scripts/debug/test-token-storage.js
Due: frontend-format, frontend-lint

refactor(frontend): replace direct fetch with apiClient in AutocompleteSearch
  frontend/svetu/src/components/cars/AutocompleteSearch.tsx
Due: frontend-format, frontend-lint

docs: update audit document with Phase 2 completion status
  docs/CODE_RUDIMENTS_AUDIT_2025-10-09.md
Due: frontend-format

refactor: standardize JWT middleware pattern (Phase 3 - partial)
  backend/cmd/reindex-products/main.go
  backend/cmd/reindex/main.go
  backend/internal/proj/balance/handler/handler.go
  backend/internal/proj/balance/handler/routes.go
  backend/internal/proj/contacts/handler/handler.go
  backend/internal/proj/contacts/handler/routes.go
  backend/internal/proj/notifications/handler/handler.go
  backend/internal/proj/notifications/handler/routes.go
  backend/internal/proj/orders/service/order_service.go
  backend/internal/proj/subscriptions/handler/routes.go
  backend/internal/proj/subscriptions/handler/subscription_handler.go
  backend/internal/proj/subscriptions/module.go
  backend/internal/server/server.go
  docs/CODE_RUDIMENTS_AUDIT_2025-10-09.md
Due: go-format, go-format-check, go-lint, frontend-format

chore: remove commented code and unused utilities
  backend/internal/middleware/middleware.go
  backend/internal/proj/c2c/services/ai_category_detector_test.go
  frontend/svetu/src/utils/mobileDynamicImports.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

docs: update rudiments audit progress
  docs/CODE_RUDIMENTS_AUDIT_2025-10-09.md
Due: frontend-format

refactor: migrate AdminRequired to RequireAuthString("admin") in search_admin and delivery modules
  backend/internal/proj/delivery/module.go
  backend/internal/proj/search_admin/handler/routes.go
Due: go-format, go-format-check, go-lint

chore: cleanup duplicate test scripts in backend/scripts/
  backend/scripts/.archive/jwt/create_admin_jwt_fixed.go
  backend/scripts/.archive/jwt/create_test_jwt.go
  backend/scripts/.archive/postexpress/test_post_express_fixed.go
  backend/scripts/.archive/postexpress/test_post_express_integration_fixed.go
  backend/scripts/.archive/wsp/test_wsp_direct.go
  backend/scripts/.archive/wsp/test_wsp_minimal.go
  backend/scripts/postexpress/test_wsp_api.go
  backend/scripts/postexpress/test_wsp_direct.go
  backend/scripts/test_post_express.go
  backend/scripts/test_post_express_capital.go
  backend/scripts/test_post_express_case_sensitive.go
  backend/scripts/test_post_express_integration.go
  backend/scripts/test_post_express_raw.go
  backend/scripts/test_postexpress.go
  backend/scripts/test_postexpress_cod.go
  backend/scripts/test_postexpress_insured.go
  backend/scripts/test_postexpress_pickup.go
Due: go-format, go-format-check, go-lint

docs: update code rudiments audit with Phase 3 progress
  docs/CODE_RUDIMENTS_AUDIT_2025-10-09.md
Due: frontend-format

chore: complete Phase 3 of code rudiments audit
  backend/internal/proj/reviews/handler/handler.go
  docs/CODE_RUDIMENTS_AUDIT_2025-10-09.md
Due: go-format, go-format-check, go-lint, frontend-format

chore: complete Phase 3 of code rudiments audit
  backend/internal/proj/analytics/handler/analytics_handler.go
  backend/internal/proj/analytics/module.go
  backend/internal/proj/analytics/routes/routes.go
  backend/internal/proj/docserver/handler/handler.go
  backend/internal/proj/docserver/handler/routes.go
  backend/internal/server/server.go
  docs/CODE_RUDIMENTS_AUDIT_2025-10-09.md
Due: go-format, go-format-check, go-lint, frontend-format

docs: update CODE_RUDIMENTS_AUDIT with 100% functional testing results
  docs/CODE_RUDIMENTS_AUDIT_2025-10-09.md
Due: frontend-format

chore: checkpoint before full quality check and fixes
  .claude/agents/professional-app-tester.md
  .claude/agents/professional-programmer-assistant.md
  backend/.env.backup-before-testing
  backend/.env.backup-testing
  backend/internal/proj/c2c/handler/handler.go
  backend/internal/proj/users/service/user.go
  docs/CODE_RUDIMENTS_AUDIT_2025-10-09.md
  frontend/svetu/src/lib/i18n/loadMessages.ts
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/sr/admin.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

chore: complete code quality checks and production build validation
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/sr/admin.json
Due: frontend-format

fix: resolve infinite loop in CarFiltersDrawer useEffect
  frontend/svetu/src/components/c2c/CarFilters.tsx
  frontend/svetu/src/components/cars/CarFiltersDrawer.tsx
Due: frontend-format, frontend-lint

fix: prevent invalid options.values errors in GenericCategoryFilters
  frontend/svetu/src/components/search/GenericCategoryFilters.tsx
Due: frontend-format, frontend-lint

refactor: remove deprecated auth functions and fix BFF proxy violations
  backend/internal/alerting/alerts.go
  backend/internal/proj/c2c/storage/opensearch/repository.go.backup
  backend/internal/proj/search_optimization/storage/postgres.go.bak
  backend/internal/proj/subscriptions/handler/subscription_handler.go.bak
  backend/internal/proj/users/handler/users.go.backup
  docs/CODE_AUDIT_REPORT_2025.md
  frontend/svetu/src/app/[locale]/admin/logistics/analytics/analytics-client.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/problems/problems-client.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/shipments/[provider]/[id]/shipment-details-client.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/shipments/shipments-client.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/SynonymManager.tsx
  frontend/svetu/src/app/[locale]/docs/page.tsx
  frontend/svetu/src/components/B2C/ProductVariants/AttributeSetup.tsx
  frontend/svetu/src/components/B2C/ProductVariants/VariantGenerator.tsx
  frontend/svetu/src/components/B2C/ProductVariants/VariantManager.tsx
  frontend/svetu/src/components/B2C/ProductVariants/VariantStockTable.tsx
  frontend/svetu/src/components/cars/CarFiltersDrawer.tsx
  frontend/svetu/src/components/search/GenericCategoryFilters.tsx
  frontend/svetu/src/lib/api-client-auth.ts
  frontend/svetu/src/lib/api-client.ts
  frontend/svetu/src/lib/api.ts
  frontend/svetu/src/services/api-client.ts
  frontend/svetu/src/services/auth.ts
  frontend/svetu/src/store/slices/favoritesSlice.ts
  frontend/svetu/src/store/slices/savedSearchesSlice.ts
  frontend/svetu/src/utils/csrf.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

test: complete functional testing with production admin token
  docs/CODE_AUDIT_REPORT_2025.md
Due: frontend-format

fix: implement code audit fixes - refresh rate limit and cleanup
  backend/internal/proj/c2c/handler/chat.go
  backend/internal/proj/users/handler/routes.go
  docs/CODE_AUDIT_REPORT_2025.md
  frontend/svetu/i18n.ts.backup
  frontend/svetu/package.json
  frontend/svetu/src/components/Chat/MessageItem.tsx
  frontend/svetu/src/components/SafeHTML.tsx
  frontend/svetu/src/messages/en.json.backup
  frontend/svetu/src/messages/en.json.bak
  frontend/svetu/src/messages/en/orders.json.backup
  frontend/svetu/src/messages/en/reviews.json.backup
  frontend/svetu/src/messages/ru.json.backup
  frontend/svetu/src/messages/ru.json.bak
  frontend/svetu/src/messages/ru/orders.json.backup
  frontend/svetu/src/messages/ru/reviews.json.backup
  frontend/svetu/src/messages/sr.json.bak
  frontend/svetu/src/messages/sr/orders.json.backup
  frontend/svetu/src/messages/sr/reviews.json.backup
  frontend/svetu/src/utils/sanitize.ts
  frontend/svetu/yarn.lock
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

docs: update swagger documentation for admin analytics and Post Express
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

refactor: complete database unification - migrate all SQL queries from marketplace_*/storefront_* to c2c_*/b2c_* tables
  backend/internal/proj/admin/logistics/service/monitoring.go
  backend/internal/proj/b2c/jobs/analytics_aggregator.go
  backend/internal/proj/bexexpress/service/service.go
  backend/internal/proj/c2c/handler/admin_variant_attributes.go
  backend/internal/proj/c2c/service/marketplace.go
  backend/internal/proj/c2c/storage/postgres/chat.go
  backend/internal/proj/c2c/storage/postgres/marketplace.go
  backend/internal/proj/delivery/attributes/service.go
  backend/internal/proj/delivery/calculator/service.go
  backend/internal/proj/delivery/storage/storage.go
  backend/internal/proj/gis/repository/district_repository.go
  backend/internal/proj/gis/repository/postgis_repo.go
  backend/internal/proj/gis/repository/unified_geo_repo.go
  backend/internal/proj/orders/repository/inventory_repository.go
  backend/internal/proj/orders/repository/order_repository.go
  backend/internal/proj/orders/service/create_order_with_tx.go
  backend/internal/proj/orders/service/order_service_tx.go
  backend/internal/proj/reviews/service/review.go
  backend/internal/proj/search_admin/service/index_service.go
  backend/internal/proj/storefront/repository/variant_repository.go
  backend/migrations/000175_drop_old_c2c_b2c_tables.down.sql
  backend/migrations/000175_drop_old_c2c_b2c_tables.up.sql
Due: go-format, go-format-check, go-lint

feat: finalize database unification - drop old marketplace_* and storefront_* tables
  backend/migrations/000175_drop_old_c2c_b2c_tables.up.sql
  docs/DATABASE_UNIFICATION_PLAN.md
Due: frontend-format

docs: update DATABASE_UNIFICATION_PLAN.md - mark migration 000175 as applied
  docs/DATABASE_UNIFICATION_PLAN.md
Due: frontend-format

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
