Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

feat: добавлено детальное логирование ранжирования в поиске OpenSearch
  backend/internal/proj/marketplace/storage/opensearch/repository.go
Due: go-format, go-format-check, go-lint

fix: исправлена поддержка переводов в поисковых запросах OpenSearch
  backend/internal/proj/marketplace/storage/opensearch/repository.go
Due: go-format, go-format-check, go-lint

fix: добавлены eslint-disable комментарии для игнорирования react-hooks/exhaustive-deps в admin/translations
  frontend/svetu/src/components/admin/translations/AICostsMonitor.tsx
  frontend/svetu/src/components/admin/translations/BulkTranslationManager.tsx
  frontend/svetu/src/components/admin/translations/TranslationEditor.tsx
  frontend/svetu/src/components/admin/translations/TranslationsDashboard.tsx
  frontend/svetu/src/components/admin/translations/VersionHistoryViewer.tsx
Due: frontend-format, frontend-lint

feat: добавлена статистика района и улучшены компоненты доставки
  backend/internal/proj/global/handler/handler.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/handler/neighborhood_stats.go
  backend/internal/proj/marketplace/service/search_suggestions.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/storage/postgres/storage.go
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/components/EnhancedMapSection.tsx
  frontend/svetu/src/app/[locale]/examples/page.tsx
  frontend/svetu/src/app/[locale]/examples/view-demo/page.tsx
  frontend/svetu/src/app/[locale]/orders/[id]/layout.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressDeliverySelector.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressOfficeSelector.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressPickupCode.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressRateCalculator.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressTracker.tsx
  frontend/svetu/src/components/home/NearbyStats.tsx
  frontend/svetu/src/messages/en/common.json
  frontend/svetu/src/messages/en/map.json
  frontend/svetu/src/messages/en/marketplace.json
  frontend/svetu/src/messages/en/misc.json
  frontend/svetu/src/messages/ru/common.json
  frontend/svetu/src/messages/ru/map.json
  frontend/svetu/src/messages/ru/marketplace.json
  frontend/svetu/src/messages/ru/misc.json
  frontend/svetu/src/messages/sr/map.json
  frontend/svetu/src/messages/sr/marketplace.json
  frontend/svetu/src/messages/sr/misc.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: добавлен docker-compose.preprod.yml с поддержкой переменных окружения
  .github/workflows/backend-build.yml
  .github/workflows/postgres-push.yml
  docker-compose.preprod.yml
Due: none

feat: полная интеграция BEX Express для доставки по Сербии
  backend/.env.example
  backend/go.mod
  backend/go.sum
  backend/internal/config/config.go
  backend/internal/proj/bexexpress/handler/handler.go
  backend/internal/proj/bexexpress/models/models.go
  backend/internal/proj/bexexpress/module.go
  backend/internal/proj/bexexpress/service/client.go
  backend/internal/proj/bexexpress/service/service.go
  backend/internal/server/server.go
  backend/scripts/import_bex_data.go
  data/bex-reference/Municipalities.xlsx
  data/bex-reference/Places.xlsx
  data/bex-reference/Streets.xlsx
  docs/BEX_EXPRESS_INTEGRATION.md
Due: go-format, go-format-check, go-lint, frontend-format

feat: интерактивная карта районов Нови-Сада с реальными полигонами из OSM
  .playwright-mcp/corrected-districts-map-final.png
  .playwright-mcp/novi-sad-districts-expanded-final.png
  .playwright-mcp/novi-sad-districts-final.png
  .playwright-mcp/novi-sad-districts-interactive-map.png
  .playwright-mcp/novi-sad-districts-with-developer-info.png
  .playwright-mcp/real-map-with-leaflet-districts.png
  .playwright-mcp/veternik-fixed-polygon.png
  .playwright-mcp/veternik-full-polygon-640-points.png
  .playwright-mcp/veternik-high-precision-polygon.png
  backend/internal/domain/models/models.go
  backend/internal/proj/bexexpress/service/service.go
  backend/internal/proj/notifications/service/notification.go
  docs/DETAILED_POLYGON_EXTRACTION_GUIDE.md
  frontend/svetu/src/app/[locale]/checkout/page.tsx
  frontend/svetu/src/app/[locale]/examples/novi-sad-districts/MapWithRealBase.tsx
  frontend/svetu/src/app/[locale]/examples/novi-sad-districts/page.tsx
  frontend/svetu/src/app/[locale]/examples/page.tsx
  frontend/svetu/src/app/[locale]/orders/tracking/page.tsx
  frontend/svetu/src/components/Header.tsx
  frontend/svetu/src/components/ThemeToggle.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXAddressForm.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXDeliverySelector.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXDeliveryStep.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXMap.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXParcelShopSelector.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXTracker.tsx
  frontend/svetu/src/components/delivery/bexexpress/index.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправление конфликта main функций для PR #138
  backend/scripts/bex-import/import_bex_data.go
Due: go-format, go-format-check, go-lint

one pager
  one_pager.md
  one_pager_v2.html
  one_pager_v2.md
Due: frontend-format

docker-compose.dev.yml
  .env.dev.example
  docker-compose.dev.yml
Due: none

fix: исправление Docker сборки фронтенда
  frontend/svetu/.dockerignore
  frontend/svetu/Dockerfile
  frontend/svetu/src/app/[locale]/test-geocoding/page.tsx
Due: frontend-format, frontend-lint

fix: добавление переводов для страницы успешной активации подписки
  frontend/svetu/src/app/[locale]/pricing/layout.tsx
  frontend/svetu/src/app/[locale]/subscription/layout.tsx
  frontend/svetu/src/app/[locale]/subscription/success/page.tsx
  frontend/svetu/src/lib/i18n/loadMessages.ts
  frontend/svetu/src/messages/en/subscription.json
  frontend/svetu/src/messages/ru/subscription.json
  frontend/svetu/src/messages/sr/admin.json
  frontend/svetu/src/messages/sr/subscription.json
Due: frontend-format, frontend-lint

fix: исправление сербских переводов на латиницу
  frontend/svetu/src/messages/sr/admin.json
  frontend/svetu/src/messages/sr/subscription.json
Due: frontend-format

fix: полная конвертация сербских переводов subscription на латиницу
  frontend/svetu/src/messages/sr/subscription.json
Due: frontend-format

feat: добавление недостающих элементов в верхнюю полосу главной страницы
  .playwright-mcp/homepage-header-with-new-buttons.png
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
Due: frontend-format, frontend-lint

refactor: перенос селектора категорий в полосу с популярными категориями
  .playwright-mcp/homepage-with-category-selector.png
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
Due: frontend-format, frontend-lint

fix: исправление ошибок линтинга и форматирования кода
  .playwright-mcp/all-categories-button-design.png
  .playwright-mcp/categories-dropdown-open.png
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/domain/models/subscription.go
  backend/internal/proj/subscriptions/handler/subscription_handler.go
  backend/internal/proj/subscriptions/service/subscription_service.go
  backend/internal/storage/postgres/subscription.go
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/pricing/layout.tsx
  frontend/svetu/src/app/[locale]/pricing/page.tsx
  frontend/svetu/src/app/[locale]/subscription/layout.tsx
  frontend/svetu/src/app/[locale]/subscription/payment-mock/page.tsx
  frontend/svetu/src/app/[locale]/subscription/success/page.tsx
  frontend/svetu/src/app/api/admin/logistics/dashboard/route.ts
  frontend/svetu/src/components/ChatIcon.tsx
  frontend/svetu/src/components/Header.old.tsx
  frontend/svetu/src/components/Header.tsx
  frontend/svetu/src/components/search/NestedCategorySelector.tsx
  frontend/svetu/src/messages/sr/subscription.json
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: добавление селектора категорий на главную страницу и миграция для недостающих переводов
  backend/migrations/000264_add_missing_translations.down.sql
  backend/migrations/000264_add_missing_translations.up.sql
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/components/Header.tsx
Due: frontend-format, frontend-lint

fix: удаление дублирующейся мобильной навигации
  aa.png
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/components/Header.tsx
Due: frontend-format, frontend-lint

wip for dev
  .env.dev.example
  .gitignore
  ENV_VARIABLES.md
  backend/internal/middleware/cors.go
  docker-compose.dev.yml
Due: go-format, go-format-check, go-lint, frontend-format

fix mapbox and api path
  docker-compose.dev.yml
  frontend/svetu/Dockerfile
  frontend/svetu/src/app/[locale]/page.tsx
  frontend/svetu/src/components/GIS/LocationPicker.tsx
  frontend/svetu/src/components/ui/BentoGridMap.tsx
  frontend/svetu/src/services/api.ts
Due: frontend-format, frontend-lint

fix on dev.svetu.rs
  docs/FIX_IMAGES_DISPLAY_DEV_SERVER.md
  frontend/svetu/src/app/[locale]/profile/listings/[id]/edit/components/ImagesSection.tsx
  frontend/svetu/src/config/index.ts
  frontend/svetu/src/messages/en/profile.json
  frontend/svetu/src/messages/ru/profile.json
  frontend/svetu/src/messages/sr/profile.json
  frontend/svetu/src/services/listings.ts
  reset-dev.sh
  scripts/fix-image-paths.sh
  scripts/generate-test-images.sh
  scripts/populate-minio-images.sh
Due: frontend-format, frontend-lint

chore: форматирование кода после ребейса с main
  docs/STRIPE_INTEGRATION_PLAN.md
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/profile/listings/[id]/edit/components/ImagesSection.tsx
  frontend/svetu/src/components/Header.tsx
  frontend/svetu/src/config/index.ts
  frontend/svetu/src/services/listings.ts
Due: frontend-format, frontend-lint

backup: сохранение текущего состояния перед полной проверкой кода
  .playwright-mcp/admin-logistics-english.png
  .playwright-mcp/admin-logistics-fixed.png
  backend/internal/proj/search_admin/module.go
  backend/internal/proj/search_admin/service/index_service.go
  backend/internal/proj/search_admin/service/service.go
  backend/internal/server/server.go
  frontend/svetu/src/app/[locale]/admin/categories/components/CategoryKeywordsModal.tsx
  frontend/svetu/src/app/[locale]/admin/layout.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/TransliterationConfig.tsx
  frontend/svetu/src/app/[locale]/admin/storefront-products/AdminStorefrontProductsTable.tsx
  frontend/svetu/src/app/[locale]/marketplace/layout.tsx
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/en/profile.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/ru/profile.json
  frontend/svetu/src/messages/sr/admin.json
  frontend/svetu/src/messages/sr/profile.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

chore: полная проверка и исправление качества кода
  backend/internal/proj/search_admin/service/index_service.go
  frontend/svetu/src/app/[locale]/admin/categories/components/CategoryKeywordsModal.tsx
  frontend/svetu/src/app/[locale]/auth/callback/page.tsx
  frontend/svetu/src/app/[locale]/balance/deposit/success/page.tsx
  frontend/svetu/src/app/api/ai/ab-test/route.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

backup: резервный коммит перед полной проверкой качества кода
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/migrations/000001_initial_schema.down.sql
  backend/migrations/000002_placeholder.down.sql
  backend/migrations/000003_placeholder.down.sql
  backend/migrations/000004_placeholder.down.sql
  backend/migrations/000005_placeholder.down.sql
  backend/migrations/000006_placeholder.down.sql
  backend/migrations/000007_placeholder.down.sql
  backend/migrations/000008_placeholder.down.sql
  backend/migrations/000009_placeholder.down.sql
  backend/migrations/000010_placeholder.down.sql
  backend/migrations/000011_placeholder.down.sql
  backend/migrations/000012_placeholder.down.sql
  backend/migrations/000013_placeholder.down.sql
  backend/migrations/000014_placeholder.down.sql
  backend/migrations/000030_fix_marketplace_category_ids.down.sql
  backend/migrations/000030_fix_marketplace_category_ids.up.sql
  backend/reindex-products.sh
  docs/SEARCH_FIXES_FINAL_REPORT.md
  docs/SEARCH_SYSTEM_AUDIT_REPORT.md
  docs/SEARCH_UI_FUNCTIONALITY_TEST_REPORT.md
  frontend/svetu/src/app/[locale]/search/SearchPage.tsx
  frontend/svetu/src/components/search/SearchFilters.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

chore: полная проверка качества кода и исправление ошибок
  frontend/svetu/src/app/[locale]/search/SearchPage.tsx
  frontend/svetu/src/messages/en/search.json
  frontend/svetu/src/messages/ru/search.json
  frontend/svetu/src/messages/sr/search.json
Due: frontend-format, frontend-lint

fix: интеграция чата с пользовательским интерфейсом
  docs/CHAT_SYSTEM_ANALYSIS.md
  frontend/svetu/src/app/[locale]/listings/[slug]/page.tsx
  frontend/svetu/src/app/[locale]/storefronts/[slug]/products/[id]/page.tsx
  frontend/svetu/src/components/ContactSellerButton.tsx
Due: frontend-format, frontend-lint

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
