Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go formatting and linting
  - repo: local
    hooks:
      - id: go-format
        name: Go Format (gofumpt + goimports)
        entry: bash -c 'cd backend && make format'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-format-check
        name: Go Format Check
        entry: bash -c 'cd backend && make format-check'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-lint
        name: Go Lint
        entry: bash -c 'cd backend && make lint'
        language: system
        files: \.go$
        pass_filenames: false

  # Frontend formatting
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend/svetu && yarn format'
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false
        
      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend/svetu && yarn lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Trailing whitespace and line endings
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

feat(frontend): create delivery service API wrapper (task 1.2.1)
  frontend/svetu/src/components/delivery/CartDeliveryCalculator.tsx
  frontend/svetu/src/components/delivery/TrackingPage.tsx
  frontend/svetu/src/components/delivery/UniversalDeliverySelector.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXAddressForm.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXDeliverySelector.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXDeliveryStep.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressDeliverySelector.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressOfficeSelector.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressRateCalculator.tsx
  frontend/svetu/src/services/delivery.ts
Due: frontend-format, frontend-lint

refactor(delivery): migrate components to use deliveryService wrapper
  frontend/svetu/src/components/delivery/CartDeliveryCalculator.tsx
  frontend/svetu/src/components/delivery/TrackingPage.tsx
  frontend/svetu/src/components/delivery/UniversalDeliverySelector.tsx
Due: frontend-format, frontend-lint

refactor(delivery): deprecate configManager.getApiUrl and migrate BEX components to apiClient
  frontend/svetu/src/components/delivery/bexexpress/BEXAddressForm.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXDeliverySelector.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXDeliveryStep.tsx
  frontend/svetu/src/config/index.ts
Due: frontend-format, frontend-lint

fix(c2c): graceful handling of deleted users with placeholder fallback
  backend/internal/domain/models/models.go
  backend/internal/proj/c2c/handler/chat.go
  backend/internal/proj/c2c/handler/favorites.go
  backend/internal/proj/c2c/handler/listings.go
Due: go-format, go-format-check, go-lint

feat(delivery): unify selectors and add Redux state management
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/cart/page.tsx
  frontend/svetu/src/components/delivery/CartDeliveryCalculator.tsx
  frontend/svetu/src/components/delivery/UnifiedDeliverySelector.tsx
  frontend/svetu/src/components/delivery/index.ts
  frontend/svetu/src/store/index.ts
  frontend/svetu/src/store/slices/deliverySlice.ts
Due: frontend-format, frontend-lint

test(delivery): add comprehensive unit tests for delivery integration
  .gitignore
  backend/docs/DELIVERY_FRONTEND_GUIDE.md
  backend/docs/DELIVERY_MICROSERVICE_API.md
  backend/docs/DELIVERY_PLAN_INDEX.md
  backend/docs/DELIVERY_SERVICE_AUDIT_FULL.md
  backend/docs/DELIVERY_SERVICE_INTEGRATION.md
  backend/internal/proj/orders/service/order_service_test.go
  frontend/svetu/src/services/delivery.test.ts
  frontend/svetu/src/store/slices/deliverySlice.test.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix(orders): resolve subscription_id field mapping in Storefront
  backend/internal/domain/models/storefront.go
  backend/internal/storage/postgres/storefront.go
Due: go-format, go-format-check, go-lint

fix(orders): generate order_number on order creation
  backend/internal/proj/orders/service/create_order_with_tx.go
  backend/internal/proj/orders/service/order_service_tx.go
Due: go-format, go-format-check, go-lint

fix(delivery): resolve P0/P1 bugs found in E2E testing
  backend/internal/proj/delivery/handler/handler.go
  backend/internal/proj/delivery/handler/test_handler.go
Due: go-format, go-format-check, go-lint

chore: soft backup before comprehensive quality check
  frontend/svetu/src/components/orders/OrderStatistics.tsx
  frontend/svetu/src/messages/en/orders.json
  frontend/svetu/src/messages/ru/orders.json
  frontend/svetu/src/messages/sr/orders.json
Due: frontend-format, frontend-lint

chore: comprehensive quality check - format, lint, build verification
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/domain/models/storefront.go
  backend/internal/proj/delivery/handler/handler.go
  backend/internal/proj/orders/service/order_service.go
  backend/internal/proj/orders/service/order_service_test.go
  backend/scripts/.archive/postexpress/test_manifest_correct.go
  backend/scripts/.archive/postexpress/test_manifest_real.go
  backend/scripts/.archive/postexpress/test_postexpress.go
  backend/scripts/.archive/postexpress/test_service_integration.go
  backend/scripts/.archive/postexpress/test_wsp_real.go
  backend/scripts/test_postexpress.go
  frontend/svetu/src/app/[locale]/cart/page.tsx
  frontend/svetu/src/app/[locale]/orders/tracking/page.tsx
  frontend/svetu/src/app/[locale]/profile/orders/sales/page.tsx
  frontend/svetu/src/components/delivery/CartDeliveryCalculator.tsx
  frontend/svetu/src/components/delivery/UnifiedDeliverySelector.tsx
  frontend/svetu/src/components/orders/OrderStatistics.tsx
  frontend/svetu/src/services/c2cOrders.ts
  frontend/svetu/src/services/delivery.test.ts
  frontend/svetu/src/services/delivery.ts
  frontend/svetu/src/store/slices/deliverySlice.test.ts
  frontend/svetu/src/store/slices/deliverySlice.ts
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

docs: update PostgreSQL port from 5432 to 5433 in CLAUDE.md
  CLAUDE.md
Due: frontend-format

docs: remove outdated documentation files
  CODE_QUALITY_REPORT_PHASE2.md
  COMPLETE_CHECK_REPORT_2025_09_28.md
  COMPLETE_CHECK_REPORT_2025_09_28_PHASE2.md
  backend/docs/AUTH_SERVICE_MIGRATION.md
  backend/docs/DELIVERY_FRONTEND_GUIDE.md
  backend/docs/DELIVERY_MICROSERVICE_API.md
  backend/docs/DELIVERY_PLAN_INDEX.md
  backend/docs/DELIVERY_SERVICE_AUDIT_FULL.md
  backend/docs/DELIVERY_SERVICE_INTEGRATION.md
Due: frontend-format

feat: initial project scaffold for listings microservice
  .env.example
  .github/workflows/ci.yml
  .gitignore
  Dockerfile
  Makefile
  README.md
  api/proto/listings/v1/listings.proto
  cmd/server/main.go
  docker-compose.yml
  go.mod
  go.sum
  internal/config/config.go
  internal/repository/minio/client.go
  internal/repository/opensearch/client.go
  internal/repository/postgres/repository.go
  internal/service/listings/service.go
  internal/transport/grpc/server.go
  internal/transport/http/handler.go
  internal/worker/worker.go
  migrations/000001_initial_schema.down.sql
  migrations/000001_initial_schema.up.sql
  pkg/grpc/client.go
  pkg/http/fiber/middleware/middleware.go
  pkg/service/client.go
Due: go-format, go-format-check, go-lint, frontend-format

fix: Sprint 4.2.1 - Critical fixes for database validation, formatting, and linting
  .github/workflows/ci.yml
  .golangci.yml
  Makefile
  SPRINT_4.1_COMPLETION_REPORT.md
  SPRINT_4.2_FILES.md
  SPRINT_4.2_TESTING_REPORT.md
  cmd/server/main.go
  docs/SPRINT_4.2.1_CRITICAL_FIXES.md
  docs/SPRINT_4.2_REPORT.md
  docs/SPRINT_4.2_VERIFICATION_REPORT.md
  go.mod
  go.sum
  internal/cache/redis.go
  internal/config/config.go
  internal/domain/listing.go
  internal/metrics/metrics.go
  internal/repository/minio/client.go
  internal/repository/opensearch/client.go
  internal/repository/postgres/repository.go
  internal/repository/postgres/repository_test.go
  internal/service/listings/service.go
  internal/transport/http/minimal_handler.go
  internal/worker/worker.go
  migrations/000001_initial_schema.up.sql
  tests/README.md
  tests/integration/database_test.go
  tests/performance/benchmarks_test.go
  tests/testing.go
Due: go-format, go-format-check, go-lint, frontend-format

fix: Sprint 4.2.1 - resolve all critical issues from Sprint 4.2 verification
  .golangci.yml
  docs/SPRINT_4.2.1_VERIFICATION_REPORT.md
  pkg/service/types.go
Due: go-format, go-format-check, go-lint, frontend-format

fix: linter issues - format code and fix unused variables
  docs/SPRINT_4.2.1_INDEPENDENT_TEST_REPORT.md
  docs/SPRINT_4.2.1_REVERIFICATION_REPORT.md
  docs/SPRINT_4.3_REPORT.md
  go.mod
  go.sum
  internal/repository/postgres/repository.go
  pkg/EXAMPLES.md
  pkg/README.md
  pkg/grpc/client.go
  pkg/grpc/client_pool.go
  pkg/grpc/client_pool_test.go
  pkg/grpc/interceptors.go
  pkg/grpc/interceptors_test.go
  pkg/http/fiber/middleware/listings.go
  pkg/http/fiber/middleware/listings_test.go
  pkg/service/client.go
  pkg/service/client_test.go
  pkg/service/grpc_client.go
  pkg/service/http_client.go
  pkg/service/types_test.go
Due: go-format, go-format-check, go-lint, frontend-format

feat: add dev.svetu.rs deployment infrastructure (Sprint 4.4)
  .env.prod.example
  .gitignore
  deployment/listings-service.service
  deployment/nginx-listings.conf
  docs/SPRINT_4.4_DEPLOYMENT.md
  scripts/deploy-to-dev.sh
Due: frontend-format

docs: add Sprint 4.4 completion report
  SPRINT_4.4_COMPLETION_REPORT.md
Due: frontend-format

feat: implement OpenSearch reindex infrastructure (Sprint 5.2)
  OPENSEARCH_SETUP.md
  README.md
  docs/SPRINT_4.4_VERIFICATION_REPORT.md
  internal/repository/opensearch/client.go
  scripts/create_opensearch_index.py
  scripts/opensearch_schema.json
  scripts/reindex_listings.py
  scripts/validate_opensearch.py
Due: go-format, go-format-check, go-lint, frontend-format

docs: add Sprint 5.2 OpenSearch reindex implementation report
  docs/SPRINT_5.2_OPENSEARCH_REINDEX.md
Due: frontend-format

docs: add Phase 5 completion report
  docs/PHASE_5_COMPLETION_REPORT.md
Due: frontend-format

chore: bump version to 0.3.1
  backend/internal/version/version.go
  frontend/svetu/package.json
Due: go-format, go-format-check, go-lint, frontend-format

feat: Sprint 5.3-5.4 - Complete gRPC implementation
  Dockerfile
  README.md
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings.proto
  api/proto/listings/v1/listings_grpc.pb.go
  cmd/server/main.go
  docker-compose.yml
  docs/MIGRATION_SCRIPTS.md
  docs/SPRINT_5.1-5.2_VERIFICATION_REPORT.md
  docs/SPRINT_5.3_GRPC_IMPLEMENTATION.md
  docs/SPRINT_5.3_GRPC_VERIFICATION.md
  docs/SPRINT_5.4_INTEGRATION.md
  docs/SPRINT_5.4_TEST_CHECKLIST.md
  go.mod
  go.sum
  internal/transport/grpc/connectivity_test.go
  internal/transport/grpc/converters.go
  internal/transport/grpc/handlers.go
  internal/transport/grpc/handlers_test.go
  internal/transport/grpc/server.go
  scripts/reindex_via_docker.py
Due: go-format, go-format-check, go-lint, frontend-format

fix: Sprint 6.4 Phase 2 - source_type validation and Prometheus metrics
  backend/internal/proj/health/handler.go
  backend/internal/proj/unified/handler/marketplace_handler.go
  backend/internal/proj/unified/service/marketplace_service.go
Due: go-format, go-format-check, go-lint

fix(database): update repository to use c2c_listings table instead of listings
  internal/repository/postgres/repository.go
Due: go-format, go-format-check, go-lint

feat(metrics): add X-Served-By header for traffic distribution measurement
  backend/internal/proj/unified/handler/marketplace_handler.go
  backend/internal/proj/unified/handler/routes.go
  backend/scripts/k6_canary_test.js
  backend/scripts/validate_canary_traffic.sh
  backend/scripts/validate_data_consistency.py
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: add /metrics endpoint and X-Served-By header
  go.mod
  go.sum
  internal/transport/http/minimal_handler.go
Due: go-format, go-format-check, go-lint

fix: prevent OpenSearch numHits error by validating size/limit parameters
  backend/internal/proj/b2c/storage/opensearch/product_repository.go
  backend/internal/proj/b2c/storage/opensearch/repository.go
  backend/internal/proj/c2c/storage/opensearch/repository_search.go
  backend/internal/proj/c2c/storage/opensearch/search_improvements.go
  backend/internal/proj/unified/handler/marketplace_handler.go
Due: go-format, go-format-check, go-lint

fix: add size validation in database_adapter to prevent divide-by-zero
  backend/internal/proj/unified/service/database_adapter.go
Due: go-format, go-format-check, go-lint

fix: add track_total_hits=true to OpenSearch queries to prevent numHits error
  backend/internal/proj/c2c/storage/opensearch/repository_search.go
  backend/internal/proj/c2c/storage/opensearch/search_improvements.go
Due: go-format, go-format-check, go-lint

debug: add logging to buildSearchQuery
  backend/internal/proj/c2c/storage/opensearch/repository_search.go
Due: go-format, go-format-check, go-lint

fix: validate page parameter to prevent negative 'from' value in OpenSearch queries
  backend/internal/proj/c2c/storage/opensearch/repository_search.go
  backend/internal/proj/c2c/storage/opensearch/search_improvements.go
Due: go-format, go-format-check, go-lint

fix: prevent duplicate metric registration by normalizing endpoint labels
  .gitignore
  backend/internal/middleware/prometheus.go
Due: go-format, go-format-check, go-lint

chore: update gitignore to track audit reports
  .gitignore
Due: none

docs: add BLOCKER #5 fix summary
  BLOCKER_5_SUMMARY.md
Due: frontend-format

fix: улучшить валидацию параметров OpenSearch и формат response
  backend/internal/proj/c2c/storage/opensearch/repository_search.go
  backend/internal/proj/unified/handler/marketplace_handler.go
  backend/internal/proj/unified/service/database_adapter.go
Due: go-format, go-format-check, go-lint
