Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go formatting and linting
  - repo: local
    hooks:
      - id: go-format
        name: Go Format (gofumpt + goimports)
        entry: bash -c 'cd backend && make format'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-format-check
        name: Go Format Check
        entry: bash -c 'cd backend && make format-check'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-lint
        name: Go Lint
        entry: bash -c 'cd backend && make lint'
        language: system
        files: \.go$
        pass_filenames: false

  # Frontend formatting
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend/svetu && yarn format'
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false
        
      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend/svetu && yarn lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Trailing whitespace and line endings
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

feat: унификация дизайна главной страницы в стиле BentoGrid
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/components/marketplace/EnhancedListingCard.tsx
  frontend/svetu/src/components/ui/BentoGridCategories.tsx
  frontend/svetu/src/components/ui/BentoGridListings.tsx
Due: frontend-format, frontend-lint

fix: устранить бесконечный цикл рендеринга в BentoGridListings
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/components/ui/BentoGridCategories.tsx
  frontend/svetu/src/components/ui/BentoGridListings.tsx
Due: frontend-format, frontend-lint

feat: добавить мобильную версию с модальными окнами
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/components/ui/BentoGrid.tsx
  frontend/svetu/src/components/ui/BentoGridCategories.tsx
  frontend/svetu/src/components/ui/BentoGridListings.tsx
  frontend/svetu/src/components/ui/CategoryModal.tsx
  frontend/svetu/src/components/ui/FilterModal.tsx
Due: frontend-format, frontend-lint

feat: добавить выбор количества столбцов для мобильной версии и уменьшить отступы
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/actions.ts
  frontend/svetu/src/components/common/GridColumnsToggle.tsx
  frontend/svetu/src/components/marketplace/EnhancedListingCard.tsx
  frontend/svetu/src/components/marketplace/MarketplaceList.tsx
  frontend/svetu/src/components/ui/BentoGrid.tsx
  frontend/svetu/src/components/ui/BentoGridCategories.tsx
  frontend/svetu/src/components/ui/BentoGridListings.tsx
  frontend/svetu/src/components/ui/BentoGridMap.tsx
  frontend/svetu/src/components/ui/CategoryModal.tsx
  frontend/svetu/src/components/ui/DesktopFilters.tsx
  frontend/svetu/src/components/ui/FilterModal.tsx
  frontend/svetu/src/hooks/useGridColumns.ts
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
Due: frontend-format, frontend-lint

feat: добавить интерактивные логотипы и улучшить UI карты
  frontend/svetu/public/logos/svetu-gradient-48x48.png
  frontend/svetu/src/app/[locale]/examples/logos/export/page.tsx
  frontend/svetu/src/app/[locale]/examples/logos/page.tsx
  frontend/svetu/src/app/[locale]/examples/page.tsx
  frontend/svetu/src/app/[locale]/map/page-original-v2.tsx
  frontend/svetu/src/app/[locale]/map/page-original.tsx
  frontend/svetu/src/components/Header.tsx
  frontend/svetu/src/components/logos/SveTuLogo3D.tsx
  frontend/svetu/src/components/logos/SveTuLogoMorphing.tsx
  frontend/svetu/src/components/logos/SveTuLogoParticles.tsx
  frontend/svetu/src/components/logos/SveTuLogoRosePetals.tsx
  frontend/svetu/src/components/logos/SveTuLogoSpring.tsx
  frontend/svetu/src/components/logos/SveTuLogoStatic.tsx
  frontend/svetu/src/components/ui/BentoGridListings.tsx
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
  frontend/svetu/src/scripts/generate-logo-png.js
  svetu-gradient-48x48.png
Due: frontend-format, frontend-lint

refactor: унифицировать использование ключей контекста для locale
  backend/cmd/test-cache-api/main.go
  backend/internal/common/context.go
  backend/internal/middleware/locale.go
  backend/internal/proj/marketplace/handler/context_keys.go
  backend/internal/proj/marketplace/service/category_admin.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
Due: go-format, go-format-check, go-lint

fix: исправить ошибки TypeScript и улучшить интерактивную карту
  frontend/svetu/eslint.config.mjs
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/actions.ts
  frontend/svetu/src/app/[locale]/examples/logos/export/page.tsx
  frontend/svetu/src/app/[locale]/page.tsx
  frontend/svetu/src/components/Header.tsx
  frontend/svetu/src/components/marketplace/SmartFilters.tsx
  frontend/svetu/src/components/ui/BentoGrid.tsx
  frontend/svetu/src/components/ui/BentoGridListings.tsx
  frontend/svetu/src/components/ui/BentoGridMapEnhanced.tsx
  frontend/svetu/src/components/ui/DesktopFilters.tsx
  frontend/svetu/src/components/ui/FilterModal.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
  frontend/svetu/src/scripts/generate-logo-png.js
Due: frontend-format, frontend-lint

fix: исправлены орфографические ошибки (misspell)
  backend/docs/docs.go
  backend/internal/domain/models/marketplace_order.go
  backend/internal/domain/models/rating.go
  backend/internal/domain/models/storefront_order.go
  backend/internal/proj/orders/handler/order_handler.go
  backend/internal/proj/orders/repository/order_repository.go
  backend/internal/proj/orders/service/order_service.go
  backend/internal/proj/payments/handler/order_payment_handler.go
  backend/internal/proj/payments/service/allsecure_service.go
  backend/internal/proj/search_optimization/handler/handler.go
  backend/internal/proj/search_optimization/service/service.go
  backend/internal/proj/storefronts/handler/import_handler.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/order_repository.go
Due: go-format, go-format-check, go-lint

new .golangci.yml
  backend/.golangci.yml
  backend/Makefile
Due: none

improve .golangci.yml
  backend/.golangci.yml
Due: none

fix: исправлены ошибки contextcheck - добавлены параметры context в функции NewBehaviorTrackingService, NewMinioClient, NewFileStorage и NewDatabase
  backend/internal/proj/behavior_tracking/service/service.go
  backend/internal/proj/global/service/service.go
  backend/internal/proj/payments/repository/payment_repository.go
  backend/internal/server/server.go
  backend/internal/storage/filestorage/factory.go
  backend/internal/storage/minio/client.go
  backend/internal/storage/postgres/db.go
Due: go-format, go-format-check, go-lint

fix: добавлен контекст в NewRedisCache для устранения ошибок contextcheck
  backend/cmd/api/main.go
  backend/cmd/cache-monitor/main.go
  backend/cmd/test-cache-api/main.go
  backend/cmd/test-cache-simple/main.go
  backend/cmd/test-cache/main.go
  backend/internal/cache/cache_integration_test.go
  backend/internal/cache/redis.go
  backend/internal/cache/redis_test.go
  backend/internal/proj/global/service/service.go
  backend/internal/server/server.go
Due: go-format, go-format-check, go-lint

fix: исправлены основные ошибки errorlint - заменено == на errors.Is для сравнения ошибок и заменены switch statements на if-else
  backend/cmd/test-cache/main.go
  backend/internal/cache/redis.go
  backend/internal/proj/gis/service/spatial_service.go
  backend/internal/proj/marketplace/repository/order_repository.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/orders/repository/cart_repository.go
  backend/internal/proj/reviews/service/review.go
  backend/internal/proj/reviews/storage/postgres/reviews.go
  backend/internal/proj/storefront/repository/variant_repository.go
  backend/internal/proj/storefronts/handler/staff_handler.go
  backend/internal/proj/storefronts/handler/storefront_handler.go
  backend/internal/proj/storefronts/service/import_service.go
Due: go-format, go-format-check, go-lint

fix: исправлены ошибки nilnil - добавлены sentinel errors для большинства случаев (осталось 3 ошибки в тестовых файлах)
  backend/internal/domain/models/storefront.go
  backend/internal/proj/gis/repository/district_repository.go
  backend/internal/proj/gis/repository/geocoding_cache_repository.go
  backend/internal/proj/gis/service/district_service.go
  backend/internal/proj/marketplace/repository/order_repository.go
  backend/internal/proj/marketplace/service/category_test.go
  backend/internal/proj/marketplace/service/chat_attachment.go
  backend/internal/proj/marketplace/service/integration_test.go
  backend/internal/proj/marketplace/service/price_history.go
  backend/internal/proj/marketplace/storage/postgres/contacts.go
  backend/internal/proj/payments/service/allsecure_service_test.go
  backend/internal/proj/search_optimization/service/service.go
  backend/internal/proj/search_optimization/storage/postgres.go
  backend/internal/proj/users/service/auth.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/marketplace_order_repository.go
  backend/internal/storage/postgres/search_config_repository.go
  backend/internal/storage/postgres/storefront_product.go
Due: go-format, go-format-check, go-lint

Makefile lints
  backend/Makefile
Due: none

fix: обновлен импорт Google Vision API (staticcheck)
  backend/internal/proj/marketplace/service/cloudinary.go
Due: go-format, go-format-check, go-lint

fix: удалены неиспользуемые функции (unused) - часть 1
  backend/internal/proj/balance/service/balance.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/handler/marketplace.go
  backend/internal/proj/marketplace/service/chat_attachment.go
Due: go-format, go-format-check, go-lint

fix: исправлены все ошибки rowserrcheck - добавлены проверки rows.Err() после циклов rows.Next()
  backend/cmd/create-translations/main.go
  backend/cmd/diagnose-attributes/main.go
  backend/cmd/tools/query_db.go
  backend/internal/proj/gis/repository/district_repository.go
  backend/internal/proj/gis/repository/postgis_repo.go
  backend/internal/proj/gis/repository/unified_geo_repo.go
  backend/internal/proj/gis/service/density_service.go
  backend/internal/proj/marketplace/service/category_test.go
  backend/internal/storage/postgres/search_config_repository.go
Due: go-format, go-format-check, go-lint

fix: исправлены первые ошибки contextcheck - добавлен контекст в flushBuffer
  backend/internal/cache/redis.go
  backend/internal/proj/behavior_tracking/service/service.go
Due: go-format, go-format-check, go-lint

fix: удалены все оставшиеся неиспользуемые функции (unused) - часть 2
  backend/internal/domain/models/storefront_order.go
  backend/internal/proj/balance/service/balance.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/handler/marketplace.go
  backend/internal/proj/marketplace/repository/order_repository.go
  backend/internal/proj/marketplace/service/chat_attachment.go
  backend/internal/proj/marketplace/service/map.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/storefronts/service/geocoding_service.go
  backend/internal/proj/storefronts/storage/opensearch/repository.go
  backend/internal/storage/postgres/storefront.go
Due: go-format, go-format-check, go-lint

fix: исправлены ошибки errorlint - заменены direct comparison на errors.Is, %v на %w
  backend/internal/proj/behavior_tracking/storage/postgres/repository.go
  backend/internal/proj/marketplace/repository/order_repository.go
  backend/internal/proj/notifications/service/email.go
Due: go-format, go-format-check, go-lint

fix: исправлены ошибки gocritic - заменены log.Fatal* на log.Printf + return в utility файлах, исправлены offBy1 ошибки и заменены if-else цепочки на switch statements
  backend/cmd/diagnose-attributes/main.go
  backend/cmd/redis-keys/main.go
  backend/cmd/reindex-products/main.go
  backend/cmd/test-cache/main.go
  backend/cmd/tools/query_db.go
  backend/cmd/utils/check_admin_users/main.go
  backend/cmd/utils/check_search_tables/main.go
  backend/cmd/utils/create_cat_yaml/create_cat_yaml.go
  backend/cmd/utils/generate_admin_jwt/main.go
  backend/cmd/utils/generate_correct_admin_jwt/main.go
  backend/cmd/utils/generate_dmitry_jwt/main.go
  backend/cmd/utils/test_search_analytics_api/main.go
  backend/internal/proj/gis/repository/postgis_repo.go
  backend/internal/proj/gis/repository/unified_geo_repo.go
  backend/internal/proj/storefronts/parsers/csv_parser.go
Due: go-format, go-format-check, go-lint

fix: завершено исправление всех проблем безопасности (gosec)
  backend/cmd/utils/test_search_analytics_api/main.go
  backend/internal/config/config.go
  backend/internal/proj/docserver/handler/handler.go
  backend/internal/proj/marketplace/service/cloudinary.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/service/vision_detector.go
Due: go-format, go-format-check, go-lint

fix: исправлены некоторые ошибки lll - разбиты длинные строки в утилитах и основном коде
  backend/cmd/cli/test_behavior_events.go
  backend/cmd/create-translations/main.go
  backend/cmd/reindex/main.go
  backend/cmd/utils/create_cat_yaml/create_cat_yaml.go
  backend/cmd/utils/generate_admin_jwt/main.go
  backend/cmd/utils/test_admin_jwt/main.go
  backend/cmd/utils/test_search_analytics_api/main.go
  backend/internal/cache/adapter.go
Due: go-format, go-format-check, go-lint

fix: исправлены первые ошибки errorlint - замена type assertion и direct error comparison на errors.As/Is
  backend/internal/middleware/middleware.go
  backend/internal/proj/balance/service/balance.go
  backend/internal/proj/behavior_tracking/storage/postgres/repository.go
  backend/internal/proj/gis/handler/spatial_search.go
Due: go-format, go-format-check, go-lint

fix: исправлены проблемы безопасности (gosec) - часть 1
  backend/cmd/test-cache/main.go
  backend/cmd/utils/create_cat_yaml/create_cat_yaml.go
  backend/internal/proj/docserver/handler/handler.go
  backend/internal/proj/gis/service/spatial_service.go
Due: go-format, go-format-check, go-lint

fix: исправлены ошибки errorlint - замена %v на %w в fmt.Errorf, использование errors.As
  backend/internal/cache/redis.go
  backend/internal/proj/notifications/service/email.go
  backend/internal/server/server.go
Due: go-format, go-format-check, go-lint

fix: исправлена ошибка shadow в test-cache-performance - переименована затеняющая переменная err в closeErr
  backend/cmd/test-cache-performance/main.go
Due: go-format, go-format-check, go-lint

fix: исправлены неэффективные присваивания (ineffassign)
  backend/internal/proj/gis/repository/district_repository.go
  backend/internal/proj/marketplace/handler/images.go
  backend/internal/storage/postgres/custom_components.go
Due: go-format, go-format-check, go-lint

fix: исправлена ошибка nilerr в balance service - правильная обработка sql.ErrNoRows
  backend/internal/proj/balance/service/balance.go
Due: go-format, go-format-check, go-lint

fix: исправлена ошибка misspell - cancelled -> canceled
  backend/internal/proj/marketplace/repository/order_repository.go
Due: go-format, go-format-check, go-lint

fix: исправлены ошибки nilerr - добавлено логирование для документирования намеренного возврата nil при ошибках
  backend/internal/proj/gis/service/geocoding_service.go
  backend/internal/proj/storefronts/jobs/analytics_aggregator.go
  backend/internal/proj/storefronts/service/geocoding_service.go
Due: go-format, go-format-check, go-lint

fix: исправлены все ошибки staticcheck - контекст, пустые ветки, капитализация ошибок
  backend/internal/proj/behavior_tracking/service/service.go
  backend/internal/proj/marketplace/handler/images.go
  backend/internal/server/server.go
Due: go-format, go-format-check, go-lint

fix: исправлены ошибки exhaustive - добавлены недостающие cases для StaffRole, OrderStatus, SubscriptionPlan
  backend/internal/proj/orders/service/order_service.go
  backend/internal/proj/storefronts/service/storefront_service.go
Due: go-format, go-format-check, go-lint

fix: исправлены shadow ошибки в balance service (govet)
  backend/internal/proj/balance/service/balance.go
Due: go-format, go-format-check, go-lint

fix: исправлены ошибки exhaustive - добавлены недостающие cases в switch statements для visionpb.Likelihood, TranslationProvider и ImageType
  backend/internal/proj/marketplace/service/cloudinary.go
  backend/internal/proj/marketplace/service/translation_factory.go
  backend/internal/services/image_service.go
Due: go-format, go-format-check, go-lint

fix: исправлены ошибки gocritic - замена else-if chains и форматирование комментариев
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
Due: go-format, go-format-check, go-lint

fix: исправлена типизация - убраны дублирующиеся объявления ctx
  backend/cmd/test-cache-api/main.go
  backend/cmd/test-cache-simple/main.go
  backend/cmd/test-cache/main.go
Due: go-format, go-format-check, go-lint

fix: исправлены оставшиеся ошибки contextcheck в utility файлах и behavior_tracking модуле
  backend/cmd/reindex-products/main.go
  backend/cmd/reindex/main.go
  backend/cmd/utils/create_cat_yaml/create_cat_yaml.go
  backend/cmd/utils/generate_admin_jwt/main.go
  backend/cmd/utils/generate_dmitry_jwt/main.go
  backend/cmd/utils/generate_jwt_for_info/main.go
  backend/internal/proj/behavior_tracking/module.go
  backend/internal/server/server.go
Due: go-format, go-format-check, go-lint
