Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

fix: replace all old table references with new unified tables
  backend/cmd/reindex-products/main.go
  backend/internal/proj/c2c/storage/postgres/chat.go
  backend/internal/storage/postgres/cart_repository.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/image_repository.go
  backend/internal/storage/postgres/order_repository.go
  backend/internal/storage/postgres/storefront.go
  backend/internal/storage/postgres/storefront_fixed.deprecated.go
  backend/internal/storage/postgres/storefront_methods.deprecated.go
  backend/internal/storage/postgres/storefront_product.deprecated.go
Due: go-format, go-format-check, go-lint

fix: replace remaining storefront_products references with b2c_products
  backend/internal/proj/c2c/service/marketplace.go
  backend/internal/proj/c2c/storage/postgres/marketplace.go
  backend/internal/proj/delivery/attributes/service.go
  backend/internal/storage/postgres/inventory_repository.go
Due: go-format, go-format-check, go-lint

feat: implement unified listings (C2C + B2C without duplication)
  backend/internal/domain/models/unified_listing.go
  backend/internal/proj/search_admin/handler/handler.go
  backend/internal/proj/search_optimization/handler/handler.go
  backend/internal/proj/unified/handler/routes.go
  backend/internal/proj/unified/handler/unified_handler.go
  backend/internal/proj/unified/storage/postgres/unified_storage.go
  backend/internal/server/server.go
  backend/internal/storage/postgres/storefront_product.deprecated.go
  backend/migrations/000176_add_serbian_synonyms.down.sql
  backend/migrations/000176_add_serbian_synonyms.up.sql
  backend/migrations/000177_remove_storefront_sync_trigger.down.sql
  backend/migrations/000177_remove_storefront_sync_trigger.up.sql
  backend/migrations/000178_create_unified_listings_view.down.sql
  backend/migrations/000178_create_unified_listings_view.up.sql
  backend/migrations/000179_optimize_unified_listings_indexes.down.sql
  backend/migrations/000179_optimize_unified_listings_indexes.up.sql
  backend/reindex_unified.py
  docs/UNIFIED_LISTINGS_IMPLEMENTATION_PLAN.md
  frontend/svetu/src/app/[locale]/admin/search/components/SynonymManager.tsx
  frontend/svetu/src/components/unified/ListingTypeFilter.tsx
  frontend/svetu/src/components/unified/UnifiedListingCard.tsx
  frontend/svetu/src/messages/en/unified.json
  frontend/svetu/src/messages/ru/unified.json
  frontend/svetu/src/messages/sr/unified.json
  frontend/svetu/src/services/unified-listings-api.ts
  frontend/svetu/src/types/unified-listing.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

docs: update unified listings implementation plan with final test results
  docs/UNIFIED_LISTINGS_IMPLEMENTATION_PLAN.md
Due: frontend-format

docs: update unified listings implementation plan - confirmed frontend integration
  docs/UNIFIED_LISTINGS_IMPLEMENTATION_PLAN.md
Due: frontend-format

fix: add missing sequences for C2C and B2C table IDs
  backend/migrations/000180_fix_c2c_images_id_sequence.down.sql
  backend/migrations/000180_fix_c2c_images_id_sequence.up.sql
  backend/migrations/000181_fix_all_c2c_b2c_sequences.down.sql
  backend/migrations/000181_fix_all_c2c_b2c_sequences.up.sql
Due: none

backup: pre-check safety commit before full code quality verification
  backend/internal/storage/postgres/cart_repository.go
  backend/internal/storage/postgres/storefront_product.deprecated.go
  docs/UNIFIED_LISTINGS_IMPLEMENTATION_PLAN.md
  frontend/svetu/src/app/[locale]/cart/page.tsx
  frontend/svetu/src/components/import/ImportAnalysisWizard.tsx
  frontend/svetu/src/hooks/useCartSync.ts
  frontend/svetu/src/messages/en/b2c.json
  frontend/svetu/src/messages/ru/b2c.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

chore: full code quality check - format, lint, build, swagger update
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/search_admin/handler/handler.go
  frontend/svetu/src/app/[locale]/cart/page.tsx
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: add proper auth mock middleware for integration tests
  backend/internal/proj/c2c/handler/unified_attributes_test.go
Due: go-format, go-format-check, go-lint

chore: safety backup before full code quality check
  backend/internal/proj/c2c/handler/unified_attributes.go
  backend/internal/proj/c2c/handler/unified_attributes_test.go
  backend/internal/services/attributes/unified_service.go
  docs/INTEGRATION_TESTS_REFACTORING_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

chore: full code quality check - format, lint, build, swagger update
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/services/attributes/unified_service_test.go
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix(security): устранение критических утечек err.Error() в handlers
  backend/internal/middleware/middleware.go
  backend/internal/proj/b2c/handler/import_analysis_handler.go
  backend/internal/proj/b2c/handler/import_handler.go
  backend/internal/proj/b2c/handler/product_handler.go
  backend/internal/proj/b2c/service/import_service.go
  backend/internal/proj/bexexpress/handler/handler.go
  backend/internal/proj/c2c/handler/ai_category.go
  backend/internal/proj/c2c/handler/chat.go
  backend/internal/proj/c2c/handler/unified_attributes.go
  backend/internal/proj/delivery/handler/handler.go
  backend/internal/proj/health/handler.go
  backend/internal/proj/postexpress/handler/test_handler.go
  backend/internal/proj/search_admin/handler/handler.go
  backend/internal/proj/storefront/handler/variant_handler.go
  backend/internal/proj/translation_admin/ai_handler.go
  backend/internal/proj/vin/handler/vin_handler.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/storefront.go
  backend/internal/storage/postgres/storefront_fixed.deprecated.go
  backend/internal/storage/postgres/storefront_methods.deprecated.go
  backend/internal/storage/postgres/storefront_product.go
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
Due: go-format, go-format-check, go-lint, frontend-format

docs: обновление прогресса устранения технического долга
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
Due: frontend-format

refactor: Phase 1 complete - eliminate technical debt and security issues
  backend/internal/middleware/csrf.go
  backend/internal/proj/health/handler.go
  backend/internal/server/server.go
  backend/internal/storage/postgres/db.go
  backend/migrations/000182_cleanup_tiger_schema.down.sql
  backend/migrations/000182_cleanup_tiger_schema.up.sql
  backend/migrations/000183_remove_duplicate_indexes.down.sql
  backend/migrations/000183_remove_duplicate_indexes.up.sql
  backend/migrations/000184_remove_fts_indexes.down.sql
  backend/migrations/000184_remove_fts_indexes.up.sql
  backend/migrations/000185_add_missing_indexes.down.sql
  backend/migrations/000185_add_missing_indexes.up.sql
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
  frontend/svetu/src/app/[locale]/admin/logistics/analytics/analytics-client.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/components/AssignProblemModal.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/components/ProblemCommentsModal.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/problems/problems-client.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/shipments/[provider]/[id]/shipment-details-client.tsx
  frontend/svetu/src/app/[locale]/admin/logistics/shipments/shipments-client.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/SynonymManager.tsx
  frontend/svetu/src/components/create-listing/steps/UnifiedAttributesStep.tsx
  frontend/svetu/src/lib/api-client-auth.ts
  frontend/svetu/src/services/__tests__/unifiedAttributeService.test.ts
  frontend/svetu/src/services/api-client.ts.backup
  frontend/svetu/src/services/baseApi.ts
  frontend/svetu/src/services/c2cApi.ts
  frontend/svetu/src/services/unifiedAttributeService.ts
  frontend/svetu/src/store/slices/b2cStoreSlice.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

refactor: Phase 1 cleanup - remove deprecated middleware and restore category counts
  backend/internal/middleware/middleware.go
  backend/internal/proj/search_optimization/module.go
  backend/migrations/000186_restore_category_listing_counts_view.down.sql
  backend/migrations/000186_restore_category_listing_counts_view.up.sql
Due: go-format, go-format-check, go-lint

docs: update technical debt plan - Phase 2 progress
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
Due: frontend-format

refactor(phase2): database optimization - drop rudiment tables and optimize indexes
  backend/migrations/000190_drop_rudiment_tables.down.sql
  backend/migrations/000190_drop_rudiment_tables.up.sql
  backend/migrations/000191_optimize_translations_indexes.down.sql
  backend/migrations/000191_optimize_translations_indexes.up.sql
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
Due: frontend-format

refactor(phase2): frontend - remove deprecated options, implement updateProfile
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
  frontend/svetu/src/contexts/AuthContext.tsx
  frontend/svetu/src/services/api-client.ts
  frontend/svetu/src/services/api/endpoints.ts
  frontend/svetu/src/services/auth.ts
Due: frontend-format, frontend-lint

docs: update Phase 2 status - Frontend 100% complete (5/5 tasks)
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
Due: frontend-format

docs: update technical debt plan - Phase 2 completed (100%)
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
Due: frontend-format

docs: add mandatory plan actualization rules to technical debt audit
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
Due: frontend-format

refactor(phase3): centralize currency configuration
  backend/internal/config/config.go
  backend/internal/config/currencies.go
  backend/internal/proj/ai/handler/handler.go
  backend/internal/proj/b2c/service/import_service.go
  backend/internal/proj/balance/handler/balance.go
  backend/internal/proj/balance/service/balance.go
  backend/internal/proj/c2c/service/order_service.go
  backend/internal/proj/delivery/factory/mock_provider.go
  backend/internal/proj/delivery/factory/postexpress_adapter.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/orders/service/create_order_with_tx.go
  backend/internal/proj/orders/service/order_service_tx.go
  backend/internal/proj/users/handler/auth_oauth.go
  backend/internal/proj/users/handler/routes.go
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
  docs/IP_OWNERSHIP_STRUCTURE_FOR_RUSSIAN_CITIZEN.md
  docs/LEGAL_FINANCIAL_ANSWERS_SERBIA.md
  docs/LEGAL_FINANCIAL_ANSWERS_SERBIA_PART2.md
  docs/LEGAL_FINANCIAL_QUESTIONS_FOR_SERBIAN_TEAM.md
  docs/LEGAL_FINANCIAL_QUICK_SUMMARY.md
  frontend/svetu/src/services/api-client.ts.backup
  frontend/svetu/src/services/chat.ts
  frontend/svetu/src/utils/csrf.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

docs(phase3): document critical TODOs - shipping/tax calculation & auth-service integration
  backend/internal/proj/orders/service/order_service.go
  backend/internal/proj/reviews/storage/postgres/reviews.go
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
Due: go-format, go-format-check, go-lint, frontend-format

docs(phase3): update technical debt audit - TODO analysis complete
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
Due: frontend-format

feat(phase3): implement request validation in search_optimization handlers
  backend/internal/proj/search_optimization/handler/handler.go
Due: go-format, go-format-check, go-lint

feat(phase3): implement request validation in c2c order handlers
  backend/internal/proj/c2c/handler/order_handler.go
Due: go-format, go-format-check, go-lint

docs(phase3): update technical debt audit - order validation complete
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
Due: frontend-format

docs(phase3): actualize plan - add tasks 3.4.1 and 3.4.2 to main list
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
Due: frontend-format

feat(phase3): implement shipping cost and tax calculation
  backend/internal/proj/orders/service/order_service.go
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
Due: go-format, go-format-check, go-lint, frontend-format

refactor(phase3): frontend - remove 42 lines of legacy code
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
  frontend/svetu/src/services/api-client.ts
  frontend/svetu/src/services/auth.ts
Due: frontend-format, frontend-lint

docs(phase3): actualize technical debt plan - add 2025-10-13 evening session
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
Due: frontend-format

refactor(phase3): create listings_attributes module with optimizations
  backend/internal/proj/c2c/storage/postgres/categories.go
  backend/internal/proj/c2c/storage/postgres/listings_attributes.go
  backend/internal/proj/c2c/storage/postgres/listings_favorites.go
  backend/internal/proj/c2c/storage/postgres/listings_images.go
  backend/internal/proj/c2c/storage/postgres/listings_variants.go
  backend/internal/proj/c2c/storage/postgres/marketplace.go
  backend/internal/proj/c2c/storage/postgres/marketplace.go.backup-2025-10-13
  backend/internal/proj/c2c/storage/postgres/search_queries.go
  backend/internal/proj/c2c/storage/postgres/storage.go
  backend/internal/proj/c2c/storage/postgres/storage_utils.go
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
  docs/MARKETPLACE_GO_DETAILED_BREAKDOWN_PLAN.md
  docs/MARKETPLACE_GO_REFACTORING_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

docs: update technical debt audit - security analysis complete
  backend/internal/proj/c2c/storage/postgres/listings_crud.go
  backend/internal/proj/c2c/storage/postgres/marketplace.go
  docs/COMPLETE_TECHNICAL_DEBT_AUDIT_2025-10-12.md
  docs/MARKETPLACE_GO_BREAKDOWN_STATUS.md
  docs/MARKETPLACE_GO_DETAILED_BREAKDOWN_PLAN.md
  docs/MARKETPLACE_GO_REFACTORING_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

docs: create clean technical debt plan - remaining tasks only
  docs/TECH_DEBT_REMAINING_2025-10-14.md
Due: frontend-format

refactor(phase3): split opensearch repository God Object into 5 specialized modules
  backend/internal/proj/c2c/storage/opensearch/repository.go
  backend/internal/proj/c2c/storage/opensearch/repository_helpers.go
  backend/internal/proj/c2c/storage/opensearch/repository_index.go
  backend/internal/proj/c2c/storage/opensearch/repository_mappings.go
  backend/internal/proj/c2c/storage/opensearch/repository_search.go
  backend/internal/proj/c2c/storage/opensearch/types.go
Due: go-format, go-format-check, go-lint

docs: update tech debt plan - task 3.2 completed (opensearch repository split)
  docs/TECH_DEBT_REMAINING_2025-10-14.md
Due: frontend-format

refactor(phase3): split marketplace.go God Object into 8 specialized modules
  backend/internal/domain/errors.go
  backend/internal/proj/c2c/service/marketplace.go
  backend/internal/proj/c2c/service/marketplace_categories.go
  backend/internal/proj/c2c/service/marketplace_favorites.go
  backend/internal/proj/c2c/service/marketplace_helpers.go
  backend/internal/proj/c2c/service/marketplace_images.go
  backend/internal/proj/c2c/service/marketplace_listings.go
  backend/internal/proj/c2c/service/marketplace_search.go
  backend/internal/proj/c2c/service/marketplace_translations.go
Due: go-format, go-format-check, go-lint

docs(phase3): update tech debt plan - task 3.5.1 completed (marketplace.go split)
  docs/TECH_DEBT_REMAINING_2025-10-14.md
Due: frontend-format

refactor(phase3): replace err.Error() pattern matching with typed errors
  backend/cmd/import-carapi-data/main.go
  backend/internal/proj/b2c/service/import_service.go
  backend/internal/proj/balance/handler/balance.go
  backend/internal/proj/behavior_tracking/service/service.go
  backend/internal/proj/c2c/handler/cars.go
  backend/internal/proj/c2c/handler/chat.go
  backend/internal/proj/c2c/handler/favorites.go
  backend/internal/proj/c2c/handler/listings.go
  backend/internal/proj/c2c/handler/order_handler.go
  backend/internal/proj/c2c/handler/saved_searches.go
  backend/internal/proj/c2c/handler/unified_attributes.go
  backend/internal/proj/c2c/service/contacts.go
  backend/internal/proj/c2c/service/saved_searches.go
  backend/internal/proj/contacts/handler/handler.go
  backend/internal/proj/payments/handler/handler.go
  backend/internal/proj/search_optimization/handler/handler.go
  backend/internal/proj/search_optimization/service/service.go
  backend/internal/proj/subscriptions/handler/subscription_handler.go
  backend/internal/proj/subscriptions/service/subscription_service.go
  backend/internal/proj/users/handler/auth_oauth.go
Due: go-format, go-format-check, go-lint

refactor(phase3): split translation_admin service.go God Object into 7 specialized modules
  backend/internal/proj/translation_admin/handler.go
  backend/internal/proj/translation_admin/repository.go
  backend/internal/proj/translation_admin/service.go
  backend/internal/proj/translation_admin/service_ai.go
  backend/internal/proj/translation_admin/service_import_export.go
  backend/internal/proj/translation_admin/service_keys.go
  backend/internal/proj/translation_admin/service_sync.go
  backend/internal/proj/translation_admin/service_translations.go
  backend/internal/proj/translation_admin/service_validation.go
  backend/internal/proj/translation_admin/service_versions.go
  docs/TECH_DEBT_REMAINING_2025-10-14.md
Due: go-format, go-format-check, go-lint, frontend-format

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
