Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

fix: исправлены дополнительные staticcheck ошибки
  backend/internal/proj/marketplace/handler/context_keys.go
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/handler/search.go
  backend/internal/proj/marketplace/service/attribute_admin.go
  backend/internal/proj/marketplace/service/chat.go
  backend/internal/proj/marketplace/service/translation.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/marketplace/storage/postgres/contacts.go
  backend/internal/proj/notifications/service/notification.go
  backend/internal/proj/payments/handler/handler.go
Due: go-format, go-format-check, go-lint

fix: добавить обработку LogoURL и BannerURL в метод Update репозитория витрин
  backend/internal/storage/postgres/storefront.go
Due: go-format, go-format-check, go-lint

fix: исправлены дополнительные staticcheck ошибки
  backend/internal/proj/marketplace/handler/search.go
  backend/internal/proj/marketplace/service/attribute_admin.go
  backend/internal/proj/marketplace/service/category_admin.go
  backend/internal/proj/marketplace/service/cloudinary.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/storage/minio/client.go
  backend/pkg/utils/slug.go
Due: go-format, go-format-check, go-lint

fix: исправлены ещё несколько staticcheck ошибок
  backend/internal/proj/marketplace/service/google_translation.go
  backend/internal/proj/marketplace/service/similarity_weights.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/payments/service/allsecure_service_simple_test.go
  backend/internal/proj/search_optimization/service/security.go
  backend/internal/proj/search_optimization/service/service.go
  backend/internal/proj/storefronts/service/import_service.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  backend/pkg/jwt/jwt.go
Due: go-format, go-format-check, go-lint

feat: реализовать полнофункциональное редактирование товаров витрины
  STOREFRONTS_STATUS.md
  STOREFRONT_EDIT_FUNCTIONALITY.md
  backend/internal/proj/storefronts/handler/image_handler.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/users/service/auth.go
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/app/[locale]/storefronts/[slug]/edit/page.tsx
  frontend/svetu/src/app/[locale]/storefronts/[slug]/products/[id]/edit/page.tsx
  frontend/svetu/src/components/marketplace/SmartFilters.tsx
  frontend/svetu/src/components/products/EditProductWizard.tsx
  frontend/svetu/src/components/products/steps/EditAttributesStep.tsx
  frontend/svetu/src/components/products/steps/EditBasicInfoStep.tsx
  frontend/svetu/src/components/products/steps/EditCategoryStep.tsx
  frontend/svetu/src/components/products/steps/EditLocationStep.tsx
  frontend/svetu/src/components/products/steps/EditPhotosStep.tsx
  frontend/svetu/src/components/products/steps/EditPreviewStep.tsx
  frontend/svetu/src/contexts/EditProductContext.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
  frontend/svetu/src/services/storefrontApi.ts
  frontend/svetu/src/services/storefrontProducts.ts
  memory-bank/tasks/019-storefront-edit-functionality.md
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправлены простые staticcheck ошибки улучшения
  backend/cmd/utils/check_admin_users/main.go
  backend/cmd/utils/generate_correct_admin_jwt/main.go
  backend/internal/middleware/rate_limiter.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/reviews/service/review.go
  backend/internal/storage/postgres/custom_components.go
Due: go-format, go-format-check, go-lint

fix: завершено исправление простых staticcheck ошибок
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/service/google_translation.go
  backend/internal/proj/marketplace/service/translation.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
Due: go-format, go-format-check, go-lint

fix: исправлены финальные простые staticcheck ошибки
  backend/internal/proj/gis/service/spatial_service.go
  backend/internal/proj/marketplace/service/category_admin.go
  backend/internal/proj/marketplace/service/category_test.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/proj/storefront/repository/variant_repository.go
Due: go-format, go-format-check, go-lint

format
  backend/internal/middleware/auth_jwt.go
  backend/internal/middleware/constants.go
  backend/internal/middleware/csrf.go
  backend/internal/middleware/logger.go
  backend/internal/middleware/rate_limiter.go
  backend/internal/proj/marketplace/handler/admin_translations.go
  backend/internal/proj/marketplace/handler/context_keys.go
  backend/internal/proj/marketplace/service/attribute_admin.go
  backend/internal/proj/marketplace/service/chat_attachment.go
  backend/internal/proj/marketplace/service/google_translation.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/proj/reviews/service/review.go
  backend/internal/proj/storefronts/handler/constants.go
  backend/internal/proj/storefronts/handler/image_handler.go
  backend/internal/proj/storefronts/handler/product_handler.go
  backend/internal/proj/storefronts/handler/storefront_handler.go
  backend/internal/proj/storefronts/service/import_service.go
Due: go-format, go-format-check, go-lint

gh lint
  backend/Makefile
Due: none

fix: исправлены все оставшиеся SA9003 и QF1001 staticcheck ошибки
  backend/internal/pkg/allsecure/client.go
  backend/internal/proj/marketplace/repository/order_repository.go
  backend/internal/proj/marketplace/service/category_test.go
  backend/internal/proj/marketplace/service/contacts.go
  backend/internal/proj/marketplace/service/image.go
  backend/internal/proj/marketplace/service/map.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/storage/postgres/contacts.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/proj/orders/repository/order_repository.go
  backend/internal/proj/orders/service/order_service.go
  backend/internal/proj/payments/repository/payment_repository.go
  backend/internal/proj/payments/service/allsecure_service.go
  backend/internal/proj/reviews/service/review.go
  backend/internal/proj/reviews/storage/postgres/reviews.go
  backend/internal/proj/storefront/repository/variant_repository.go
  backend/internal/proj/storefronts/handler/image_handler.go
  backend/internal/proj/storefronts/handler/storefront_handler.go
  backend/internal/proj/storefronts/jobs/analytics_aggregator.go
  backend/internal/proj/storefronts/service/geocoding_service.go
  backend/internal/proj/storefronts/service/import_service.go
  backend/internal/proj/users/service/auth.go
  backend/internal/services/image_service.go
  backend/internal/storage/opensearch/client.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/inventory_repository.go
  backend/internal/storage/postgres/marketplace_order_repository.go
  backend/internal/storage/postgres/order_repository.go
  backend/internal/storage/postgres/search_config_repository.go
  backend/internal/storage/postgres/storefront.go
  backend/internal/storage/postgres/storefront_methods.go
  backend/internal/storage/postgres/storefront_product.go
Due: go-format, go-format-check, go-lint

gh lint
  .github/workflows/go-format.yml
Due: none

format
  backend/internal/proj/reviews/service/review.go
Due: go-format, go-format-check, go-lint

fix: добавить недостающие переводы для атрибутов товаров
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
Due: frontend-format

feat: улучшить отображение адресов с учетом приватности и локализации
  MULTILINGUAL_ADDRESS_IMPLEMENTATION_PLAN.md
  backend/internal/proj/gis/repository/postgis_repo.go
  frontend/svetu/src/app/[locale]/marketplace/[id]/page.tsx
  frontend/svetu/src/components/GIS/Map/ClusterHoverPopup.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Map/MarkerClickPopup.tsx
  frontend/svetu/src/components/GIS/Map/MarkerHoverPopup.tsx
  frontend/svetu/src/components/products/EditProductWizard.tsx
  frontend/svetu/src/components/products/steps/EditLocationStep.tsx
  frontend/svetu/src/components/products/steps/EditPreviewStep.tsx
  frontend/svetu/src/contexts/EditProductContext.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправить автогенерацию ID для всех таблиц базы данных
  backend/migrations/000135_fix_marketplace_listings_id_autoincrement.down.sql
  backend/migrations/000135_fix_marketplace_listings_id_autoincrement.up.sql
  backend/migrations/000136_fix_all_tables_id_autoincrement.down.sql
  backend/migrations/000136_fix_all_tables_id_autoincrement.up.sql
Due: none

feat: реализовать многоязычную поддержку адресов в marketplace
  MULTILINGUAL_ADDRESS_STATUS.md
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/gis/handler/geocoding.go
  backend/internal/proj/gis/handler/routes.go
  backend/internal/proj/gis/service/geocoding_service.go
  backend/internal/proj/gis/types/geo_types.go
  backend/internal/proj/marketplace/service/address_translation_test.go
  backend/internal/proj/marketplace/service/interface.go
  backend/internal/proj/marketplace/service/marketplace.go
  docs/ADDRESS_TRANSLATIONS_INTEGRATION.md
  docs/LOCATION_PICKER_MULTILINGUAL.md
  frontend/svetu/src/app/[locale]/marketplace/[id]/page.tsx
  frontend/svetu/src/components/GIS/LocationPicker.tsx
  frontend/svetu/src/components/GIS/Map/MarkerClickPopup.tsx
  frontend/svetu/src/components/GIS/Map/MarkerHoverPopup.tsx
  frontend/svetu/src/components/MarketplaceCard.tsx
  frontend/svetu/src/components/create-listing/steps/LocationStep.tsx
  frontend/svetu/src/contexts/CreateListingContext.tsx
  frontend/svetu/src/hooks/useAddressGeocoding.ts
  frontend/svetu/src/services/api-client.ts
  frontend/svetu/src/types/generated/api.ts
  frontend/svetu/src/types/marketplace.ts
  frontend/svetu/src/utils/addressUtils.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: устранить дублирование кода и добавить локализацию адресов
  MULTILINGUAL_ADDRESS_ISSUES_REPORT.md
  frontend/svetu/src/app/[locale]/storefronts/[slug]/products/[id]/page.tsx
  frontend/svetu/src/components/GIS/Map/ClusterHoverPopup.tsx
  frontend/svetu/src/components/GIS/Map/MarkerClickPopup.tsx
  frontend/svetu/src/components/GIS/Map/MarkerHoverPopup.tsx
  frontend/svetu/src/components/marketplace/listing/SimilarListings.tsx
  frontend/svetu/src/components/products/steps/PreviewStep.tsx
  frontend/svetu/src/components/storefronts/public/StorefrontInfo.tsx
  frontend/svetu/src/components/storefronts/public/StorefrontLocationMap.tsx
Due: frontend-format, frontend-lint

fix: исправить несоответствие enum location_privacy_level между frontend и backend
  backend/internal/proj/gis/handler/handler.go
  frontend/svetu/src/hooks/useAddressGeocoding.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправить обновление товаров витрины с новыми значениями location_privacy
  backend/internal/proj/storefronts/handler/product_handler.go
  backend/internal/storage/postgres/storefront_product.go
Due: go-format, go-format-check, go-lint

fix: исправить nil pointer dereference в goroutine при загрузке изображений
  backend/internal/proj/storefronts/handler/image_handler.go
Due: go-format, go-format-check, go-lint

fix: добавить уникальные индексы для materialized views
  backend/migrations/000140_add_storefront_ratings_index.down.sql
  backend/migrations/000140_add_storefront_ratings_index.up.sql
Due: none

fix: добавить индексы для всех materialized views с рейтингами
  backend/migrations/000141_add_user_rating_summary_index.down.sql
  backend/migrations/000141_add_user_rating_summary_index.up.sql
  backend/migrations/000142_add_all_rating_views_indexes.down.sql
  backend/migrations/000142_add_all_rating_views_indexes.up.sql
Due: none

feat: добавить быстрые UI/UX улучшения
  BUSINESS_PROCESSES_REPORT.md
  PROJECT_STRUCTURE_REPORT.md
  SERBIA_LOCALIZATION_REPORT.md
  SVE_TU_FINAL_ANALYSIS_REPORT.md
  UI_SYSTEM_REPORT.md
  UI_UX_CODE_EXAMPLES.md
  UI_UX_IMPLEMENTATION_ROADMAP.md
  UI_UX_MARKETPLACE_RESEARCH_2025.md
  frontend/svetu/package.json
  frontend/svetu/src/app/[locale]/layout.tsx
  frontend/svetu/src/app/globals.css
  frontend/svetu/src/components/Header.tsx
  frontend/svetu/src/components/MarketplaceCard.tsx
  frontend/svetu/src/components/ThemeToggle.tsx
  frontend/svetu/src/components/ThemeToggleAnimated.tsx
  frontend/svetu/src/components/navigation/MobileBottomNav.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
  frontend/svetu/src/scripts/theme-init.ts
  frontend/svetu/tailwind.config.ts
  frontend/svetu/yarn.lock
Due: frontend-format, frontend-lint

feat: заменить MarketplaceCard на EnhancedListingCard
  frontend/svetu/src/app/[locale]/debug-marketplace/page.tsx
  frontend/svetu/src/app/[locale]/search/SearchPage.tsx
  frontend/svetu/src/components/marketplace/EnhancedListingCard.tsx
  frontend/svetu/src/components/marketplace/MarketplaceList.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
  frontend/svetu/yarn.lock
Due: frontend-format, frontend-lint

fix: исправить ошибки гидратации
  frontend/svetu/src/app/[locale]/layout.tsx
  frontend/svetu/src/components/marketplace/EnhancedListingCard.tsx
Due: frontend-format, frontend-lint

fix: исправить ошибку гидратации в MobileBottomNav
  UI_UX_IMPLEMENTATION_ROADMAP_UPDATED.md
  frontend/svetu/src/components/navigation/MobileBottomNav.tsx
Due: frontend-format, frontend-lint

feat: добавить UI/UX улучшения - часть 2
  UI_UX_PROGRESS_STATUS.md
  UI_UX_VIEWING_GUIDE.md
  frontend/svetu/package-lock.json
  frontend/svetu/package.json
  frontend/svetu/src/app/[locale]/examples/bento-grid/page.tsx
  frontend/svetu/src/app/[locale]/examples/navigation/page.tsx
  frontend/svetu/src/app/[locale]/examples/skeletons/page.tsx
  frontend/svetu/src/app/[locale]/examples/toast/page.tsx
  frontend/svetu/src/app/[locale]/search/SearchPage.tsx
  frontend/svetu/src/app/globals.css
  frontend/svetu/src/components/marketplace/MarketplaceList.tsx
  frontend/svetu/src/components/navigation/EnhancedMobileBottomNav.tsx
  frontend/svetu/src/components/navigation/SmartMobileBottomNav.tsx
  frontend/svetu/src/components/navigation/index.ts
  frontend/svetu/src/components/ui/BentoGrid.tsx
  frontend/svetu/src/components/ui/DynamicBentoGrid.tsx
  frontend/svetu/src/components/ui/skeletons/EnhancedListingCardSkeleton.tsx
  frontend/svetu/src/components/ui/skeletons/EnhancedListingGridSkeleton.tsx
  frontend/svetu/src/components/ui/skeletons/ListingCardSkeleton.tsx
  frontend/svetu/src/components/ui/skeletons/ListingGridSkeleton.tsx
  frontend/svetu/src/components/ui/skeletons/index.ts
  frontend/svetu/src/utils/toast.ts
  frontend/svetu/yarn.lock
Due: frontend-format, frontend-lint

feat: добавить визуализацию расстояния и быстрый просмотр
  UI_UX_PROGRESS_STATUS.md
  UI_UX_VIEWING_GUIDE.md
  frontend/svetu/src/app/[locale]/examples/distance/page.tsx
  frontend/svetu/src/app/[locale]/examples/quick-view/page.tsx
  frontend/svetu/src/app/globals.css
  frontend/svetu/src/components/ui/DistanceBadge.tsx
  frontend/svetu/src/components/ui/DistanceIndicator.tsx
  frontend/svetu/src/components/ui/DistanceVisualizer.tsx
  frontend/svetu/src/components/ui/QuickView.tsx
  frontend/svetu/src/components/ui/Slider.tsx
  frontend/svetu/src/components/ui/Tooltip.tsx
Due: frontend-format, frontend-lint

feat: завершить все 12 UI/UX улучшений (100%)
  frontend/svetu/UI_UX_COMPLETION_REPORT.md
  frontend/svetu/UI_UX_PROGRESS_STATUS.md
  frontend/svetu/package-lock.json
  frontend/svetu/src/app/[locale]/examples/bento-grid/page.tsx
  frontend/svetu/src/app/[locale]/examples/distance/page.tsx
  frontend/svetu/src/app/[locale]/examples/navigation/page.tsx
  frontend/svetu/src/app/[locale]/examples/page.tsx
  frontend/svetu/src/app/[locale]/examples/quick-view/page.tsx
  frontend/svetu/src/app/[locale]/examples/skeletons/page.tsx
  frontend/svetu/src/app/[locale]/examples/toast/page.tsx
  frontend/svetu/src/app/[locale]/examples/transitions/page.tsx
  frontend/svetu/src/app/globals.css
  frontend/svetu/src/components/navigation/EnhancedMobileBottomNav.tsx
  frontend/svetu/src/components/navigation/SmartMobileBottomNav.tsx
  frontend/svetu/src/components/navigation/index.ts
  frontend/svetu/src/components/ui/AnimatedSection.tsx
  frontend/svetu/src/components/ui/BentoGrid.tsx
  frontend/svetu/src/components/ui/DistanceBadge.tsx
  frontend/svetu/src/components/ui/DistanceIndicator.tsx
  frontend/svetu/src/components/ui/DistanceVisualizer.tsx
  frontend/svetu/src/components/ui/DynamicBentoGrid.tsx
  frontend/svetu/src/components/ui/PageTransition.tsx
  frontend/svetu/src/components/ui/QuickView.tsx
  frontend/svetu/src/components/ui/Slider.tsx
  frontend/svetu/src/components/ui/Tooltip.tsx
  frontend/svetu/src/components/ui/skeletons/EnhancedListingCardSkeleton.tsx
  frontend/svetu/src/components/ui/skeletons/EnhancedListingGridSkeleton.tsx
  frontend/svetu/src/components/ui/withPageTransition.tsx
  frontend/svetu/src/utils/toast.ts
Due: frontend-format, frontend-lint

docs: актуализировать документацию UI/UX - все 12 улучшений завершены
  NEXT_STEPS_UI_UX.md
  UI_UX_IMPLEMENTATION_ROADMAP_UPDATED.md
  frontend/svetu/UI_UX_PROGRESS_STATUS.md
  frontend/svetu/UI_UX_VIEWING_GUIDE.md
Due: frontend-format

fix: исправить бесконечный цикл в SmartFilters
  frontend/svetu/src/components/marketplace/SmartFilters.tsx
Due: frontend-format, frontend-lint

fix: add missing quickView translations for all locales
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
Due: frontend-format

fix: add delete and status update functionality to user listings page
  UI_UX_INTEGRATION_FINAL_REPORT.md
  frontend/svetu/src/app/[locale]/profile/listings/page.tsx
  frontend/svetu/tailwind.config.ts
  memory-bank/current-task.md
Due: frontend-format, frontend-lint

feat: интеграция поиска в BentoGrid и улучшение UX главной страницы
  BENTO_GRID_NEXT_FEATURES_TZ.md
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/actions.ts
  frontend/svetu/src/app/[locale]/page.tsx
  frontend/svetu/src/components/SearchBar/SearchBar.tsx
  frontend/svetu/src/components/ui/BentoGrid.tsx
  frontend/svetu/src/hooks/useCountAnimation.ts
  frontend/svetu/src/lib/api-client-server.ts
Due: frontend-format, frontend-lint

feat: интеграция интерактивной карты в BentoGrid на главной странице
  BENTO_GRID_100_REAL_DATA.md
  BENTO_GRID_INTEGRATION_REPORT.md
  BENTO_GRID_MAP_INTEGRATION.md
  BENTO_GRID_REAL_DATA_UPDATE.md
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/actions.ts
  frontend/svetu/src/components/ui/BentoGrid.tsx
  frontend/svetu/src/components/ui/BentoGridMap.tsx
  memory-bank/current-task.md
Due: frontend-format, frontend-lint

fix: корректировка расположения блоков в BentoGrid
  frontend/svetu/src/components/ui/BentoGrid.tsx
Due: frontend-format, frontend-lint

fix: финальная корректировка расположения блоков в BentoGrid
  frontend/svetu/src/components/ui/BentoGrid.tsx
Due: frontend-format, frontend-lint

fix: добавить границы для карточек объявлений в темной теме
  frontend/svetu/src/components/MarketplaceCard.tsx
  frontend/svetu/src/components/marketplace/EnhancedListingCard.tsx
  frontend/svetu/src/components/storefronts/public/ProductCard.tsx
Due: frontend-format, frontend-lint

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
