Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

docs: document successful manual deployment resolution
  DEPLOYMENT_ISSUES_2026-01-09.md
Due: frontend-format

fix: remove buildx cache to resolve 413 Payload Too Large
  .github/workflows/deploy-production.yml
Due: none

fix: use IP address instead of hostname for SSH
  .github/workflows/deploy-production.yml
Due: none

docs: document complete automated deployment success
  CHANGELOG.md
  DEPLOYMENT_SUCCESS_2026-01-09.md
Due: frontend-format

docs: add automated deployment confirmation report
  AUTOMATED_DEPLOYMENT_FIXED.md
Due: frontend-format

fix: use self-hosted runner instead of ubuntu-latest
  .github/workflows/deploy-production.yml
  .github/workflows/security-scan.yml
Due: none

fix: add GO_MODULES_TOKEN to checkout for private repos
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
Due: none

CLAUDE.md for local init
  CLAUDE.md
Due: frontend-format

fix: use persist-credentials false and manual git config
  .github/workflows/deploy-production.yml
Due: none

fix: MANUAL git clone instead of actions/checkout
  .github/workflows/deploy-production.yml
Due: none

fix: SSH config heredoc - use quoted marker properly
  .github/workflows/deploy-production.yml
Due: none

fix: remove ssh-keyscan from SSH setup
  .github/workflows/deploy-production.yml
Due: none

fix: use unique SSH key path to avoid conflicts
  .github/workflows/deploy-production.yml
Due: none

feat: add SetProductImagePrimary endpoint for selecting main image
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings.proto
  api/proto/listings/v1/listings_grpc.pb.go
  internal/repository/postgres/product_images_repository.go
  internal/service/listings/mocks/repository_mock.go
  internal/service/listings/service.go
  internal/transport/grpc/handlers_product_images.go
Due: go-format, go-format-check, go-lint

fix: add OpenSearch reindexing after SetProductImagePrimary
  internal/service/listings/service.go
Due: go-format, go-format-check, go-lint

fix(ci): use non-conflicting ports for test services
  .github/workflows/ci.yml
Due: none

fix(ci): use GOTMPDIR to avoid /tmp permission issues
  .github/workflows/ci.yml
Due: none

fix(deploy): handle existing git directory gracefully
  .github/workflows/deploy-production.yml
Due: none

chore: trigger CI rebuild after runner cache cleanup
  .github/workflows/deploy-production.yml
Due: none

fix: use SHA tag for K8s deployment to ensure pod restart
  .github/workflows/deploy-production.yml
  CHANGELOG.md
  docs/PRIMARY_IMAGE_FIX_ANALYSIS.md
Due: frontend-format

fix(ci): replace actions/cache with setup-go built-in cache
  .github/workflows/ci.yml
Due: none

fix: search image parsing uses correct OpenSearch field names (public_url, is_main)
  CHANGELOG.md
  internal/service/search/service.go
Due: go-format, go-format-check, go-lint, frontend-format

fix: use public_url field in OpenSearch image indexing
  CHANGELOG.md
  internal/repository/opensearch/client.go
  internal/service/search/service.go
Due: go-format, go-format-check, go-lint, frontend-format

ci: apply global TMPDIR/GOTMPDIR approach for /tmp noexec
  .github/workflows/ci.yml
Due: none

fix: move temp directory creation before Setup Go
  .github/workflows/ci.yml
Due: none

feat: add GitOps deployment workflow
  .github/workflows/deploy-production-gitops.yml
  CLAUDE.md
Due: frontend-format

fix: update Delivery gRPC port to 50060
  .env.example
Due: none

docs: add comprehensive API documentation
  docs/API.md
Due: frontend-format

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
