Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go formatting and linting
  - repo: local
    hooks:
      - id: go-format
        name: Go Format (gofumpt + goimports)
        entry: bash -c 'cd backend && make format'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-format-check
        name: Go Format Check
        entry: bash -c 'cd backend && make format-check'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-lint
        name: Go Lint
        entry: bash -c 'cd backend && make lint'
        language: system
        files: \.go$
        pass_filenames: false

  # Frontend formatting
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend/svetu && yarn format'
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false
        
      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend/svetu && yarn lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Trailing whitespace and line endings
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

fix: исправлено отображение поля images в API товаров витрин
  backend/internal/domain/models/storefront_product.go
  backend/internal/storage/postgres/storefront_product.go
Due: go-format, go-format-check, go-lint

feat: реализована система изображений для товаров витрин
  backend/go.mod
  backend/go.sum
  backend/internal/domain/models/image_interface.go
  backend/internal/domain/models/models.go
  backend/internal/domain/models/storefront_product.go
  backend/internal/proj/global/service/interface.go
  backend/internal/proj/global/service/service.go
  backend/internal/proj/storefronts/handler/image_handler.go
  backend/internal/proj/storefronts/module.go
  backend/internal/server/minio_proxy.go
  backend/internal/server/server.go
  backend/internal/services/image_service.go
  backend/internal/storage/interfaces/image_interface.go
  backend/internal/storage/postgres/image_repository.go
  backend/test_product_image.jpg
  backend/test_upload_image.go
Due: go-format, go-format-check, go-lint

style: форматирование кода с gofumpt
  backend/internal/domain/models/image_interface.go
  backend/internal/proj/global/service/interface.go
  backend/internal/proj/global/service/service.go
  backend/internal/proj/storefront/repository/variant_repository.go
  backend/internal/proj/storefronts/handler/image_handler.go
  backend/internal/services/image_service.go
  backend/internal/storage/interfaces/image_interface.go
  backend/internal/storage/postgres/image_repository.go
  backend/test_upload_image.go
  frontend/svetu/next.config.ts
  frontend/svetu/src/utils/imageUtils.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

clean: удаление тестовых файлов
  backend/test_product_image.jpg
  backend/test_upload_image.go
Due: go-format, go-format-check, go-lint

chore: страховочный коммит перед исправлениями линтеров
  CLAUDE.md
  frontend/svetu/src/components/products/steps/PreviewStep.tsx
Due: frontend-format, frontend-lint

fix: исправление ошибок линтеров и Swagger генерации
  backend/cmd/diagnose-attributes/main.go
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/balance/service/balance.go
  backend/internal/proj/marketplace/repository/order_repository.go
  backend/internal/proj/storefront/repository/variant_repository.go
  backend/internal/proj/storefronts/handler/image_handler.go
  frontend/svetu/src/components/GIS/examples/InteractiveMapWithClustering.tsx
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: устранение предупреждений линтеров
  frontend/svetu/src/app/[locale]/admin/search/components/SearchConfig.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/SearchWeights.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/SynonymManager.tsx
  frontend/svetu/src/app/[locale]/debug-marketplace/page.tsx
  frontend/svetu/src/app/[locale]/debug-search/page.tsx
  frontend/svetu/src/app/[locale]/orders/[id]/page.tsx
  frontend/svetu/src/app/[locale]/profile/orders/[id]/page.tsx
  frontend/svetu/src/app/[locale]/profile/orders/purchases/page.tsx
  frontend/svetu/src/app/[locale]/profile/orders/sales/page.tsx
  frontend/svetu/src/components/GIS/LocationPicker.tsx
  frontend/svetu/src/components/GIS/Map/WalkingAccessibilityControl.tsx
Due: frontend-format, frontend-lint

fix: исправление ошибок линтеров и улучшение типов
  backend/.golangci.yml
  backend/cmd/cli/test_behavior_events.go
  backend/cmd/diagnose-attributes/main.go
  backend/cmd/reindex-products/main.go
  backend/cmd/utils/check_admin_users/main.go
  backend/cmd/utils/check_search_tables/main.go
  backend/go.mod
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  frontend/svetu/src/app/[locale]/page.tsx
  frontend/svetu/src/app/[locale]/profile/storefronts/page.tsx
  frontend/svetu/src/app/[locale]/search/SearchPage.tsx
  frontend/svetu/src/app/[locale]/storefronts/[slug]/edit/page.tsx
  frontend/svetu/src/app/[locale]/test-safe-image/page.tsx
  frontend/svetu/src/app/api/v1/analytics/event/route.ts
  frontend/svetu/src/app/api/v1/analytics/track/route.ts
  frontend/svetu/src/components/GIS/AddressConfirmationMap.tsx
  frontend/svetu/src/components/GIS/AdvancedGeoFilters.tsx
  frontend/svetu/src/components/GIS/Map/ClusterHoverPopup.tsx
  frontend/svetu/src/components/GIS/Map/DraggableLocationIcon.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Map/MapTooltip.tsx
  frontend/svetu/src/components/GIS/Map/MarkerClickPopup.tsx
  frontend/svetu/src/components/GIS/SmartAddressInput.tsx
  frontend/svetu/src/components/MarketplaceCard.tsx
  frontend/svetu/src/components/Storefront/ProductVariants/AttributeSetup.tsx
  frontend/svetu/src/components/Storefront/ProductVariants/VariantGenerator.tsx
  frontend/svetu/src/components/Storefront/ProductVariants/VariantSelector.tsx
  frontend/svetu/src/components/marketplace/HomePage.tsx
  frontend/svetu/src/components/marketplace/MarketplaceList.tsx
  frontend/svetu/src/components/marketplace/SmartFilters.tsx
  frontend/svetu/src/components/orders/MarketplaceOrderCard.tsx
  frontend/svetu/src/components/products/steps/PhotosStep.tsx
  frontend/svetu/src/components/products/steps/PreviewStep.tsx
  frontend/svetu/src/hooks/useBehaviorTracking.ts
  frontend/svetu/src/hooks/useCategoryFilters.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: добавлен сайдбар с категориями на главную страницу
  frontend/svetu/src/components/categories/CategorySidebar.tsx
  frontend/svetu/src/components/marketplace/HomePage.tsx
  frontend/svetu/src/components/marketplace/MarketplaceList.tsx
Due: frontend-format, frontend-lint

fix: исправление TypeScript ошибок в тестах и улучшение типизации
  backend/internal/middleware/auth_jwt.go
  backend/internal/middleware/locale.go
  frontend/svetu/src/app/[locale]/admin/categories/components/__tests__/CategoryTree.test.tsx
  frontend/svetu/src/app/[locale]/payment/mock/components/__tests__/Mock3DSForm.test.tsx
  frontend/svetu/src/app/[locale]/payment/mock/components/__tests__/MockCardForm.test.tsx
  frontend/svetu/src/hooks/useAttributesPagination.ts
  frontend/svetu/src/services/payment/__tests__/paymentServiceFactory.test.tsx
  frontend/svetu/src/test-utils.tsx
  frontend/svetu/src/types/mapbox.d.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: масштабные улучшения системы категорий и фильтрации
  CATEGORY_ATTRIBUTES_STATUS.md
  CLAUDE.md
  DISPLAY_CATEGORIES_INSTRUCTION.md
  FILTERS_IMPLEMENTATION.md
  IMPLEMENTATION_CATEGORY_SELECTOR.md
  frontend/svetu/src/components/Header.tsx
  frontend/svetu/src/components/categories/CategorySidebar.tsx
  frontend/svetu/src/components/common/CategoryTreeSelector.tsx
  frontend/svetu/src/components/create-listing/steps/CategorySelectionStep.tsx
  frontend/svetu/src/components/marketplace/HomePage.tsx
  frontend/svetu/src/components/marketplace/ListingFilters.tsx
  frontend/svetu/src/components/marketplace/MarketplaceList.tsx
  frontend/svetu/src/components/marketplace/SmartFilters.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
  frontend/svetu/src/services/admin.ts
Due: frontend-format, frontend-lint

chore: добавить дампы БД в .gitignore
  .gitignore
Due: none

fix: исправить фильтрацию по категориям на карте
  CATEGORY_ATTRIBUTES_STATUS.md
  CLAUDE.md
  IMPLEMENTATION_CATEGORY_SELECTOR.md
  MAP_CATEGORIES_FILTERS_INSTRUCTION.md
  backend/internal/proj/gis/handler/spatial_search.go
  backend/internal/proj/gis/repository/postgis_repo.go
  backend/internal/proj/marketplace/handler/admin_categories.go
  backend/internal/proj/marketplace/service/attribute_admin.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/Mobile/MobileFiltersDrawer.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: улучшения системы категорий и управления процессами
  .ai/migrations.md
  CLAUDE.md
  STOREFRONT_PRODUCT_CATEGORY_SELECTION.md
  backend/docs/CONNECTION_POOL_TUNING.md
  backend/internal/proj/storefronts/service/storefront_service.go
  backend/internal/storage/postgres/storefront.go
  backend/migrations/000098_create_table_marketplace_messages.down.sql
  backend/migrations/000098_create_table_marketplace_messages.up.sql
  backend/migrations/000099_create_views.down.sql
  backend/migrations/000099_create_views.up.sql
  backend/migrations/000100_create_materialized_views.down.sql
  backend/migrations/000100_create_materialized_views.up.sql
  frontend/svetu/src/components/products/steps/BasicInfoStep.tsx
  frontend/svetu/src/contexts/CreateProductContext.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: добавить недостающие переводы для админ панели
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
Due: frontend-format

fix: исправить отсутствующие переводы в админ панели
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
Due: frontend-format

fix: добавить недостающие переводы для сербского языка
  frontend/svetu/src/messages/sr.json
Due: frontend-format

fix: resolve errcheck issues for unchecked Close(), json.Encode(), and Write() calls
  .github/workflows/go-format.yml
  backend/Makefile
  backend/cmd/cache-monitor/main.go
  backend/cmd/create-translations/main.go
  backend/cmd/redis-keys/main.go
  backend/cmd/reindex-products/main.go
  backend/cmd/reindex/main.go
  backend/cmd/test-cache-simple/main.go
  backend/cmd/test-cache/main.go
  backend/cmd/tools/query_db.go
  backend/cmd/utils/test_search_analytics_api/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/app/migrator/migrator.go
  backend/internal/cache/cache_integration_test.go
  backend/internal/cache/redis_test.go
  backend/internal/pkg/allsecure/client_test.go
  backend/internal/proj/behavior_tracking/service/service.go
  backend/internal/proj/gis/service/geocoding_service.go
  backend/internal/proj/marketplace/handler/marketplace.go
  backend/internal/proj/marketplace/service/attribute_admin.go
  backend/internal/proj/marketplace/service/chat_attachment.go
  backend/internal/proj/marketplace/service/cloudinary.go
  backend/internal/proj/storefronts/service/storefront_service.go
  backend/internal/storage/postgres/storefront.go
Due: go-format, go-format-check, go-lint

first lint
  backend/cmd/reindex-products/main.go
  backend/cmd/reindex/main.go
  backend/internal/app/migrator/migrator.go
  backend/internal/cache/cache_integration_test.go
  backend/internal/cache/redis_test.go
  backend/internal/proj/gis/service/geocoding_service.go
  backend/internal/proj/marketplace/handler/marketplace.go
  backend/internal/proj/marketplace/service/marketplace.go
Due: go-format, go-format-check, go-lint

fix: обработка ошибок в defer Close() и defer Rollback()
  backend/cmd/test-cache-api/main.go
  backend/cmd/test-cache-performance/main.go
  backend/cmd/utils/generate_jwt_for_info/main.go
  backend/internal/cache/redis_test.go
  backend/internal/pkg/allsecure/client.go
  backend/internal/proj/balance/service/balance.go
  backend/internal/proj/geocode/service/geocode.go
  backend/internal/proj/gis/repository/district_repository.go
  backend/internal/proj/gis/repository/geocoding_cache_repository.go
  backend/internal/proj/gis/repository/postgis_repo.go
  backend/internal/proj/gis/repository/unified_geo_repo.go
  backend/internal/proj/gis/service/density_service.go
  backend/internal/proj/gis/service/isochrone_service.go
  backend/internal/proj/gis/service/poi_service.go
  backend/internal/proj/marketplace/handler/admin_attributes.go
  backend/internal/proj/marketplace/handler/admin_translations.go
  backend/internal/proj/marketplace/handler/chat.go
  backend/internal/proj/marketplace/handler/images.go
  backend/internal/proj/marketplace/handler/marketplace.go
  backend/internal/proj/marketplace/repository/order_repository.go
  backend/internal/proj/marketplace/service/attribute_admin.go
  backend/internal/proj/marketplace/service/category_admin.go
  backend/internal/proj/marketplace/service/category_test.go
  backend/internal/proj/marketplace/service/google_translation.go
  backend/internal/proj/marketplace/service/image.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/service/vision_detector.go
  backend/internal/proj/marketplace/storage/postgres/chat.go
  backend/internal/proj/notifications/handler/handler.go
  backend/internal/proj/notifications/service/email.go
  backend/internal/proj/orders/repository/cart_repository.go
  backend/internal/proj/orders/repository/inventory_repository.go
  backend/internal/proj/orders/repository/order_repository.go
  backend/internal/proj/payments/repository/payment_repository.go
  backend/internal/proj/storefronts/handler/image_handler.go
  backend/internal/proj/storefronts/handler/import_handler.go
  backend/internal/proj/storefronts/service/import_service.go
  backend/internal/proj/users/storage/postgres/admin.go
  backend/internal/storage/opensearch/client.go
Due: go-format, go-format-check, go-lint

fix: добавлен import logger в gis и balance модулях
  backend/internal/proj/balance/service/balance.go
  backend/internal/proj/gis/repository/district_repository.go
  backend/internal/proj/gis/repository/geocoding_cache_repository.go
  backend/internal/proj/gis/repository/postgis_repo.go
  backend/internal/proj/gis/repository/unified_geo_repo.go
  backend/internal/proj/gis/service/density_service.go
Due: go-format, go-format-check, go-lint

fix: добавлен import logger в marketplace service
  backend/internal/proj/marketplace/service/attribute_admin.go
  backend/internal/proj/marketplace/service/google_translation.go
Due: go-format, go-format-check, go-lint

fix: обработка ошибок в defer Close() и некоторых вызовах сервисов
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/service/order_service.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
Due: go-format, go-format-check, go-lint

fix: добавлен логгер в OrderService для исправления undefined logger ошибок
  backend/internal/proj/marketplace/service/order_service.go
Due: go-format, go-format-check, go-lint

fix: обработка ошибок в defer Close() и некоторых вызовах сервисов в marketplace OrderService
  backend/internal/proj/marketplace/service/order_service.go
Due: go-format, go-format-check, go-lint

feat: добавлен make lint-errcheck для проверки только errcheck ошибок
  backend/Makefile
Due: none

fix: обработка ошибок в defer Close() и scan в orders repository
  backend/internal/proj/orders/repository/order_repository.go
Due: go-format, go-format-check, go-lint

fix: обработка ошибок json.Unmarshal в payment repository
  backend/internal/proj/payments/repository/payment_repository.go
Due: go-format, go-format-check, go-lint

fix: обработка ошибок defer Close() в reviews handler и service
  backend/internal/proj/reviews/handler/reviews.go
  backend/internal/proj/reviews/service/review.go
Due: go-format, go-format-check, go-lint

fix: обработка ошибок defer Close() в storefronts handler и service
  backend/internal/proj/storefronts/handler/storefront_handler.go
  backend/internal/proj/storefronts/service/geocoding_service.go
Due: go-format, go-format-check, go-lint

fix: обработка ошибки UpdateTransactionStatus в allsecure service
  backend/internal/proj/payments/service/allsecure_service.go
Due: go-format, go-format-check, go-lint

fix: обработка ошибок ReleaseReservation в inventory и order сервисах
  backend/internal/proj/orders/service/inventory_manager.go
  backend/internal/proj/orders/service/order_service.go
Due: go-format, go-format-check, go-lint

fix: обработка ошибок UpdateOptimizationSession в search optimization service
  backend/internal/proj/search_optimization/service/service.go
Due: go-format, go-format-check, go-lint

fix: обработка ошибок fmt.Sscanf в geocoding service
  backend/internal/proj/storefronts/service/geocoding_service.go
Due: go-format, go-format-check, go-lint
