Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

docs(phase3): update tech debt plan - tasks 3.5.2 and 3.16 completed
  docs/TECH_DEBT_REMAINING_2025-10-14.md
Due: frontend-format

refactor(phase3): migrate process.env to ConfigManager (task 3.7)
  backend/internal/proj/admin/logistics/handler/problems.go
  backend/internal/proj/admin/logistics/handler/shipments.go
  backend/internal/proj/admin/logistics/repository/shipments.go
  backend/internal/proj/admin/logistics/service/problems.go
  backend/internal/proj/c2c/storage/postgres/listings_attributes.go
  backend/internal/proj/c2c/storage/postgres/listings_crud.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/db_core.go
  backend/internal/storage/postgres/db_marketplace.go
  backend/internal/storage/postgres/db_messages.go
  backend/internal/storage/postgres/db_reviews.go
  backend/internal/storage/postgres/db_search.go
  backend/internal/storage/postgres/db_storefronts.go
  backend/internal/storage/postgres/db_users.go
  docs/TECH_DEBT_REMAINING_2025-10-14.md
  frontend/svetu/src/components/AuthModal.tsx
  frontend/svetu/src/components/GIS/AddressConfirmationMap.tsx
  frontend/svetu/src/components/GIS/LocationPicker.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/utils/mapboxGeocoding.ts
  frontend/svetu/src/components/GIS/utils/mapboxIsochrone.ts
  frontend/svetu/src/components/tracking/TrackingMap.tsx
  frontend/svetu/src/components/ui/BentoGridMap.tsx
  frontend/svetu/src/components/ui/BentoGridMapEnhanced.tsx
  frontend/svetu/src/config/featureFlags.ts
  frontend/svetu/src/config/index.ts
  frontend/svetu/src/config/types.ts
  frontend/svetu/src/contexts/AuthContext.tsx
  frontend/svetu/src/services/chat.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

refactor(phase3): migrate compare components to universalCompareSlice
  frontend/svetu/src/app/[locale]/test-universal/page.tsx
  frontend/svetu/src/components/cars/ComparisonBar.tsx
  frontend/svetu/src/store/index.ts
  frontend/svetu/src/store/slices/compareSlice.ts
Due: frontend-format, frontend-lint

refactor(phase3): optimize critical card components with React.memo
  backend/internal/proj/c2c/service/marketplace.go.backup-2025-10-14
  backend/internal/proj/c2c/service/marketplace.go.old
  backend/internal/proj/viber/handler.go
  backend/internal/storage/postgres/db.go.backup-2025-10-14-101716
  backend/internal/storage/postgres/db.go.backup-split-20251014-101358
  docs/TECH_DEBT_REMAINING_2025-10-14.md
  frontend/svetu/src/components/b2c/public/ProductCard.tsx
  frontend/svetu/src/components/c2c/EnhancedListingCard.tsx
  frontend/svetu/src/components/unified/UnifiedListingCard.tsx
  frontend/svetu/src/components/universal/cards/UniversalListingCard.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

Deploy to dev server
  backend/internal/proj/viber/handler.go
Due: go-format, go-format-check, go-lint

docs(phase3): update tech debt plan - tasks 3.10, 3.12 already completed, PHASE 3 DONE!
  docs/TECH_DEBT_REMAINING_2025-10-14.md
Due: frontend-format

Deploy to dev server
  backend/scripts/postexpress/test_manifest_real.go
  frontend/svetu/src/components/cars/ComparisonTable.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

Deploy to dev server
  frontend/svetu/src/components/cars/ComparisonTable.tsx
Due: frontend-format, frontend-lint

fix: apply code formatting (goimports + prettier)
  backend/internal/storage/postgres/db_storefronts.go
  frontend/svetu/src/components/cars/ComparisonTable.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

chore: safety backup before full code quality check
  backend/scripts/postexpress/test_manifest_correct.go
Due: go-format, go-format-check, go-lint

fix: update PostExpress adapter for new B2B API structure
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/delivery/factory/postexpress_adapter.go
  backend/internal/proj/postexpress/service.go
  backend/internal/proj/postexpress/service/client.go
  backend/internal/proj/postexpress/service/interface.go
  backend/internal/proj/postexpress/service/manifest.go
  backend/internal/proj/postexpress/types.go
  backend/internal/storage/postgres/db_marketplace.go
  backend/internal/storage/postgres/db_messages.go
  backend/internal/storage/postgres/db_storefronts.go
  backend/scripts/postexpress/test_manifest_correct.go
  backend/scripts/postexpress/test_manifest_real.go
  backend/scripts/postexpress/test_service_integration.go
  docs/POST_EXPRESS_B2B_MANIFEST_STRUCTURE.md
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: display detailed Post Express API errors in frontend
  backend/internal/proj/delivery/factory/postexpress_adapter.go
  backend/internal/proj/postexpress/handler/handler.go
  backend/internal/proj/postexpress/handler/test_handler.go
  backend/internal/proj/postexpress/service/client.go
  backend/internal/proj/postexpress/service/interface.go
  backend/internal/proj/postexpress/service/manifest.go
  backend/internal/proj/postexpress/types.go
  backend/internal/server/server.go
  docs/COMPREHENSIVE_AUDIT_PLAN_2025_10_14.md
  docs/POST_EXPRESS_B2B_MANIFEST_STRUCTURE.md
  docs/POST_EXPRESS_COMPLETE_IMPLEMENTATION_PLAN.md
  docs/POST_EXPRESS_COMPLETE_IMPLEMENTATION_PLAN_V2.md
  docs/POST_EXPRESS_DISCOVERY_SUMMARY.md
  docs/POST_EXPRESS_ERROR_DISPLAY_FIX.md
  docs/POST_EXPRESS_EXAMPLES_PAGE.md
  docs/POST_EXPRESS_INTEGRATION_FINAL_REPORT.md
  docs/POST_EXPRESS_INTEGRATION_STATUS.md.old
  docs/POST_EXPRESS_MISSING_FEATURES.md
  docs/POST_EXPRESS_ONLY_TX73_WORKS.md
  docs/POST_EXPRESS_REZULTAT_FIX.md
  docs/POST_EXPRESS_TESTING_SUMMARY.md
  docs/POST_EXPRESS_TEST_SHIPMENTS_REPORT.md
  docs/POST_EXPRESS_TRANSACTION_IDS_ANALYSIS.md
  docs/POST_EXPRESS_TX11_BUG_REPORT.md
  docs/POST_EXPRESS_TX_3_11_FINAL_REPORT.md
  docs/POST_EXPRESS_WSP_API_FULL_TEST_REPORT.md
  frontend/svetu/src/app/[locale]/admin/postexpress/test/page.tsx
  frontend/svetu/src/app/[locale]/examples/posta/page.tsx
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/en/index.ts
  frontend/svetu/src/messages/en/postexpress.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/ru/index.ts
  frontend/svetu/src/messages/ru/postexpress.json
  frontend/svetu/src/messages/sr/admin.json
  frontend/svetu/src/messages/sr/index.ts
  frontend/svetu/src/messages/sr/postexpress.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

Deploy to dev server
  backend/internal/proj/delivery/factory/postexpress_adapter.go
  backend/internal/proj/postexpress/config.go
  backend/internal/proj/postexpress/handler/handler.go
  backend/internal/proj/postexpress/handler/test_handler.go
  backend/internal/proj/postexpress/service.go
  backend/internal/proj/postexpress/service/client.go
  backend/internal/proj/postexpress/service/interface.go
  backend/internal/proj/postexpress/service/manifest.go
  backend/internal/proj/postexpress/types.go
  backend/internal/server/server.go
  docs/POST_EXPRESS_API_CRITICAL_ISSUES.md
  docs/POST_EXPRESS_TX11_LANGUAGE_BUG_FINAL_REPORT.md
  frontend/svetu/src/app/[locale]/admin/postexpress/test/page.tsx
  frontend/svetu/src/app/[locale]/examples/page.tsx
  frontend/svetu/src/app/[locale]/examples/posta/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx11-postage/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx3-settlements/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx4-streets/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx6-validate/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx73-cod/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx73-parcel-locker/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx73-standard/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx9-availability/page.tsx
  frontend/svetu/src/components/postexpress/RequestResponseDisplay.tsx
  frontend/svetu/src/i18n/messages.ts
  frontend/svetu/src/messages/en/postexpressTest.json
  frontend/svetu/src/messages/ru/postexpressTest.json
  frontend/svetu/src/messages/sr/postexpressTest.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: remove HTML5 step validation constraint on weight input
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx11-postage/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx73-cod/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx73-parcel-locker/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx73-standard/page.tsx
Due: frontend-format, frontend-lint

Deploy to dev server
  deploy-to-dev.sh
Due: none

Deploy to dev server
  frontend/svetu/src/app/[locale]/examples/postexpress-api/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx11-postage/page.tsx
  frontend/svetu/src/messages/en/postexpressTest.json
  frontend/svetu/src/messages/ru/postexpressTest.json
  frontend/svetu/src/messages/sr/postexpressTest.json
Due: frontend-format, frontend-lint

Deploy to dev server
  frontend/svetu/src/app/[locale]/examples/postexpress-api/page.tsx
Due: frontend-format, frontend-lint

fix(postexpress): change Otkupnina from struct to int for COD
  backend/internal/proj/delivery/factory/postexpress_adapter.go
  backend/internal/proj/postexpress/service.go
  backend/internal/proj/postexpress/service/manifest.go
  backend/internal/proj/postexpress/types.go
Due: go-format, go-format-check, go-lint

feat(postexpress): add TX 9 fixes and improvements
  backend/internal/proj/postexpress/config.go
  backend/internal/proj/postexpress/handler/test_handler.go
  backend/internal/proj/postexpress/service/client.go
Due: go-format, go-format-check, go-lint

fix(postexpress): add ParcelLockerCode to test shipment request
  backend/internal/proj/postexpress/handler/test_handler.go
Due: go-format, go-format-check, go-lint

fix(postexpress): map IdRukovanje to correct ServiceType for parcel locker
  backend/internal/proj/postexpress/handler/test_handler.go
Due: go-format, go-format-check, go-lint

fix(postexpress): adjust validation for parcel locker - recipient address not required
  backend/internal/proj/postexpress/handler/test_handler.go
Due: go-format, go-format-check, go-lint

fix(frontend): update Post Express API test statuses - TX 73 COD and Parcel Locker now working
  frontend/svetu/src/app/[locale]/examples/postexpress-api/page.tsx
Due: frontend-format, frontend-lint

Deploy to dev server
  backend/internal/proj/postexpress/handler/handler.go
  backend/internal/proj/postexpress/handler/test_handler.go
  backend/internal/proj/postexpress/types.go
  backend/postexpress_mass_test.py
  frontend/svetu/src/app/[locale]/examples/postexpress-api/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx11-postage/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx4-streets/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx6-validate/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx73-cod/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx73-parcel-locker/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx73-standard/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx9-availability/page.tsx
  frontend/svetu/src/messages/en/postexpressTest.json
  frontend/svetu/src/messages/ru/postexpressTest.json
  frontend/svetu/src/messages/sr/postexpressTest.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

chore: backup before full code quality check and fixes
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/delivery/factory/postexpress_adapter.go
  backend/internal/proj/postexpress/handler/handler.go
  backend/internal/proj/postexpress/handler/test_handler.go
  backend/internal/proj/postexpress/service.go
  backend/internal/proj/postexpress/service/client.go
  backend/internal/proj/postexpress/service/manifest.go
  backend/internal/proj/postexpress/types.go
  backend/internal/server/server.go
  backend/scripts/postexpress/test_service_integration.go
  frontend/svetu/src/app/[locale]/examples/posta/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx11-postage/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx4-streets/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx6-validate/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx73-cod/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx73-parcel-locker/page.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-api/tx73-standard/page.tsx
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

chore: backup before full code quality check and fixes
  backend/internal/config/config.go
  backend/internal/server/server.go
Due: go-format, go-format-check, go-lint

backup: перед полной проверкой кода и исправлением всех ошибок
  backend/internal/config/config.go
  backend/internal/services/attributes/unified_service.go
  frontend/svetu/src/app/[locale]/test-universal/layout.tsx
  frontend/svetu/src/config/index.ts
  package.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix(tests): исправление тестов - jest конфигурация, моки, бесконечные циклы
  frontend/svetu/jest.config.js
  frontend/svetu/jest.setup.js
  frontend/svetu/src/components/attributes/MultiSelectAttribute.tsx
  frontend/svetu/src/services/payment/paymentServiceFactory.ts
Due: frontend-format, frontend-lint

fix(tests): исправлены TranslationStatus, LocationFilter, RangeAttribute тесты
  CLAUDE.md
  frontend/svetu/jest.setup.js
  frontend/svetu/src/app/[locale]/payment/mock/components/Mock3DSForm.tsx
  frontend/svetu/src/app/[locale]/payment/mock/components/__tests__/Mock3DSForm.test.tsx
  frontend/svetu/src/app/[locale]/payment/mock/components/__tests__/MockCardForm.test.tsx
  frontend/svetu/src/components/attributes/TranslationStatus.tsx
  frontend/svetu/src/components/attributes/__tests__/RangeAttribute.test.tsx
  frontend/svetu/src/components/attributes/__tests__/TranslationStatus.test.tsx
  frontend/svetu/src/components/c2c/CarListingCard.tsx
  frontend/svetu/src/components/search/__tests__/LocationFilter.test.tsx
  frontend/svetu/src/hooks/__tests__/useAllSecurePayment.test.tsx
  frontend/svetu/src/services/payment/__tests__/mockAllSecureService.test.ts
  frontend/svetu/src/services/payment/mockAllSecureService.ts
Due: frontend-format, frontend-lint

fix(tests): исправлен CarListingCard - все 9 тестов проходят
  frontend/svetu/src/components/c2c/__tests__/CarListingCard.test.tsx
Due: frontend-format, frontend-lint

fix(tests): исправлен CarFilters - все 7 тестов проходят
  frontend/svetu/src/components/c2c/__tests__/CarFilters.test.tsx
Due: frontend-format, frontend-lint

fix: rewrite SearchAutocomplete tests for presentational component
  frontend/svetu/src/components/search/__tests__/SearchAutocomplete.test.tsx
Due: frontend-format, frontend-lint

fix: add aria-labels to CategoryFilter for accessibility
  frontend/svetu/src/components/search/CategoryFilter.tsx
Due: frontend-format, frontend-lint

fix: MultiSelectAttribute tests with mocks and controlled component handling
  frontend/svetu/src/components/attributes/MultiSelectAttribute.tsx
  frontend/svetu/src/components/attributes/__tests__/MultiSelectAttribute.test.tsx
Due: frontend-format, frontend-lint

wip: backup before comprehensive code quality check
  frontend/svetu/src/app/[locale]/admin/categories/components/__tests__/CategoryTree.test.tsx
  frontend/svetu/src/app/[locale]/payment/mock/components/MockCardForm.tsx
  frontend/svetu/src/app/[locale]/payment/mock/components/__tests__/MockCardForm.test.tsx
  frontend/svetu/src/hooks/__tests__/useAllSecurePayment.test.tsx
  frontend/svetu/src/hooks/useAllSecurePayment.ts
  frontend/svetu/src/hooks/useAllSecurePaymentHelpers.ts
Due: frontend-format, frontend-lint

fix: comprehensive code quality improvements and ESLint fixes
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/b2c/handler/product_handler.go
  backend/internal/proj/b2c/handler/storefront_handler.go
  backend/internal/proj/delivery/handler/handler.go
  frontend/svetu/src/app/[locale]/payment/mock/components/__tests__/Mock3DSForm.test.tsx
  frontend/svetu/src/app/[locale]/payment/mock/components/__tests__/MockCardForm.test.tsx
  frontend/svetu/src/components/attributes/__tests__/MultiSelectAttribute.test.tsx
  frontend/svetu/src/components/attributes/__tests__/RangeAttribute.test.tsx
  frontend/svetu/src/components/attributes/__tests__/TranslationStatus.test.tsx
  frontend/svetu/src/components/c2c/__tests__/CarListingCard.test.tsx
  frontend/svetu/src/components/search/__tests__/SearchAutocomplete.test.tsx
  frontend/svetu/src/hooks/__tests__/useAllSecurePayment.test.tsx
  frontend/svetu/src/services/payment/__tests__/mockAllSecureService.test.ts
  frontend/svetu/src/services/payment/mockAllSecureService.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: add admin quality tests dashboard
  frontend/svetu/src/app/[locale]/admin/AdminPageClient.tsx
  frontend/svetu/src/app/[locale]/admin/quality-tests/QualityTestsClient.tsx
  frontend/svetu/src/app/[locale]/admin/quality-tests/page.tsx
  frontend/svetu/src/app/api/admin/tests/route.ts
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/sr/admin.json
Due: frontend-format, frontend-lint

fix: configure GitHub Actions for private Go modules
  .github/workflows/go-format.yml
  .github/workflows/integration-tests.yml
  .github/workflows/unified-attributes-test.yml
  docs/GITHUB_ACTIONS_PRIVATE_REPOS.md
Due: frontend-format

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
