Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go formatting and linting
  - repo: local
    hooks:
      - id: go-format
        name: Go Format (gofumpt + goimports)
        entry: bash -c 'cd backend && make format'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-format-check
        name: Go Format Check
        entry: bash -c 'cd backend && make format-check'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-lint
        name: Go Lint
        entry: bash -c 'cd backend && make lint'
        language: system
        files: \.go$
        pass_filenames: false

  # Frontend formatting
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend/svetu && yarn format'
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false
        
      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend/svetu && yarn lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Trailing whitespace and line endings
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

feat(search): add Phase 21.2.A proto definitions and OpenSearch mapping
  api/proto/search/v1/common.pb.go
  api/proto/search/v1/common.proto
  api/proto/search/v1/facets.pb.go
  api/proto/search/v1/facets.proto
  api/proto/search/v1/filters.pb.go
  api/proto/search/v1/filters.proto
  api/proto/search/v1/popular.pb.go
  api/proto/search/v1/popular.proto
  api/proto/search/v1/search.pb.go
  api/proto/search/v1/search.proto
  api/proto/search/v1/search_grpc.pb.go
  api/proto/search/v1/suggestions.pb.go
  api/proto/search/v1/suggestions.proto
  docs/PHASE_21_2A_PROTO_MAPPING.md
  internal/opensearch/mappings/marketplace_listings.json
Due: go-format, go-format-check, go-lint, frontend-format

feat(search): add Phase 21.2.B domain layer infrastructure
  internal/cache/cache_config.go
  internal/cache/search_cache.go
  internal/service/search/errors.go
  internal/service/search/query_builders.go
  internal/service/search/query_builders_test.go
  internal/service/search/test_helpers.go
  internal/service/search/types.go
  internal/service/search/types_test.go
  internal/transport/grpc/converters_search.go
  internal/transport/grpc/converters_search_test.go
Due: go-format, go-format-check, go-lint

feat(search): implement Phase 21.2.C service layer methods
  internal/opensearch/circuit_breaker.go
  internal/service/search/service.go
  internal/service/search/service_test.go
Due: go-format, go-format-check, go-lint

feat(search): add Phase 21.2.D gRPC handler layer
  internal/transport/grpc/handlers_search.go
  internal/transport/grpc/handlers_search_test.go
Due: go-format, go-format-check, go-lint

feat(search): implement OpenSearch response parsers (Phase 21.3)
  internal/opensearch/search_client.go
  internal/service/search/service.go
  internal/service/search/service_test.go
  internal/transport/grpc/middleware_orders.go
Due: go-format, go-format-check, go-lint

feat(proto): add UploadListingImages streaming RPC for Phase 24
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings.proto
  api/proto/listings/v1/listings_grpc.pb.go
Due: go-format, go-format-check, go-lint

feat(grpc): implement streaming image upload with MinIO integration (Phase 24)
  DOCKER_CONTAINERS_REPORT.md
  cmd/server/main.go
  deployment/prometheus/prometheus.yml
  go.mod
  go.sum
  internal/transport/grpc/handlers.go
  internal/transport/grpc/upload.go
  internal/transport/grpc/upload_test.go
Due: go-format, go-format-check, go-lint, frontend-format

feat(images): implement DeleteListingImage with TRUE MICROSERVICE pattern
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings.proto
  api/proto/listings/v1/listings_grpc.pb.go
  docs/PHASE_25_DELETE_IMAGE_IMPLEMENTATION.md
  docs/migration/PROGRESS.md
  internal/transport/grpc/handlers_extended.go
  internal/transport/grpc/handlers_test.go
  internal/transport/grpc/images.go
  internal/transport/grpc/images_test.go
  internal/transport/grpc/upload.go
Due: go-format, go-format-check, go-lint, frontend-format

feat(search): Phase 26 & 28 - Image reorder bug fix + Search Analytics implementation
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings.proto
  api/proto/search/v1/search.pb.go
  api/proto/search/v1/search.proto
  api/proto/search/v1/search_grpc.pb.go
  cmd/server/main.go
  internal/cache/cache_config.go
  internal/cache/search_cache.go
  internal/repository/postgres/images_repository.go
  internal/repository/postgres/search_queries_repository.go
  internal/repository/postgres/variants.go
  internal/repository/search_queries_repository.go
  internal/service/listings/mocks/repository_mock.go
  internal/service/listings/service.go
  internal/service/listings/variants_service.go
  internal/service/search/service.go
  internal/service/search/service_test.go
  internal/service/search/types.go
  internal/transport/grpc/handlers_search.go
  internal/transport/grpc/handlers_search_test.go
  migrations/20251119000001_create_search_queries_table.down.sql
  migrations/20251119000001_create_search_queries_table.up.sql
Due: go-format, go-format-check, go-lint

feat(analytics): implement Phase 29 - Advanced Analytics (Part 1)
  PHASE_28_PERFORMANCE_ANALYSIS.md
  PHASE_28_QUICK_START.md
  PHASE_28_REDIS_CACHING_STRATEGY.md
  PHASE_28_SEARCH_ANALYTICS_COMPLETE_REPORT.md
  PHASE_28_SEARCH_ANALYTICS_INTEGRATION_PLAN.md
  PHASE_29_ANALYTICS_SERVICE_IMPLEMENTATION.md
  api/proto/listings/v1/analytics.pb.go
  api/proto/listings/v1/analytics.proto
  api/proto/listings/v1/analytics_grpc.pb.go
  cmd/server/main.go
  internal/domain/analytics.go
  internal/domain/listing.go
  internal/domain/search_analytics.go
  internal/domain/variant.go
  internal/repository/analytics_repository.go
  internal/repository/postgres/analytics_repository.go
  internal/service/analytics_service.go
  internal/transport/grpc/handlers.go
  internal/transport/grpc/handlers_analytics.go
  internal/transport/grpc/handlers_analytics_test.go
  migrations/20251119000002_create_analytics_tables.down.sql
  migrations/20251119000002_create_analytics_tables.up.sql
  test/integration/setup_test.go
Due: go-format, go-format-check, go-lint, frontend-format

Add chat microservice implementation (Phase 30)
  api/proto/chat/v1/chat.pb.go
  api/proto/chat/v1/chat.proto
  api/proto/chat/v1/chat_grpc.pb.go
  cmd/server/main.go
  internal/domain/attachment.go
  internal/domain/chat.go
  internal/domain/message.go
  internal/repository/postgres/chat_attachment_repository.go
  internal/repository/postgres/chat_repository.go
  internal/repository/postgres/message_repository.go
  internal/service/chat_service.go
  internal/service/chat_service_test.go
  internal/transport/grpc/handlers.go
  internal/transport/grpc/handlers_chat.go
  migrations/20251121000001_create_chats_table.down.sql
  migrations/20251121000001_create_chats_table.up.sql
  migrations/20251121000002_create_messages_table.down.sql
  migrations/20251121000002_create_messages_table.up.sql
  migrations/20251121000003_create_chat_attachments_table.down.sql
  migrations/20251121000003_create_chat_attachments_table.up.sql
Due: go-format, go-format-check, go-lint

fix: correct database config - use microservice DB (port 35434) instead of monolith
  .env.example
Due: none

docs: add database architecture documentation
  docs/DATABASE_ARCHITECTURE.md
Due: frontend-format

docs: add CLAUDE.md with database architecture info
  CLAUDE.md
Due: frontend-format

fix(chat): add symmetric participant search in repository
  internal/repository/postgres/chat_repository.go
Due: go-format, go-format-check, go-lint

feat(chat): add is_system field to proto Message
  api/proto/chat/v1/chat.pb.go
  api/proto/chat/v1/chat.proto
  internal/transport/grpc/handlers_chat.go
Due: go-format, go-format-check, go-lint

feat(orders): add shipment workflow proto definitions
  api/proto/chat/v1/chat.pb.go
  api/proto/chat/v1/chat.proto
  api/proto/listings/v1/orders.pb.go
  api/proto/listings/v1/orders.proto
  api/proto/listings/v1/orders_grpc.pb.go
  internal/domain/order.go
  internal/repository/postgres/order_repository.go
  internal/service/chat_service.go
  internal/service/errors.go
  internal/service/order_service.go
  internal/transport/grpc/handlers_chat.go
  internal/transport/grpc/handlers_order_grpc.go
  migrations/20251123000001_add_order_accepted_status.down.sql
  migrations/20251123000001_add_order_accepted_status.up.sql
Due: go-format, go-format-check, go-lint

feat(orders): implement shipment workflow - Phase 1 complete
  .env.example
  api/proto/listings/v1/orders.pb.go
  api/proto/listings/v1/orders.proto
  cmd/server/main.go
  go.mod
  internal/client/delivery/adapter.go
  internal/client/delivery/client.go
  internal/client/delivery/interceptors.go
  internal/client/delivery/mappers.go
  internal/client/delivery/types.go
  internal/config/config.go
  internal/domain/order.go
  internal/service/delivery_types.go
  internal/service/errors.go
  internal/service/order_financials.go
  internal/service/order_service.go
  internal/transport/grpc/handlers_order_grpc.go
  migrations/20251123000002_add_completed_payment_status.down.sql
  migrations/20251123000002_add_completed_payment_status.up.sql
Due: go-format, go-format-check, go-lint

fix: use delivery v0.1.0 tag instead of local replace directive
  go.mod
  go.sum
Due: none

fix: restore replace directives and update auth service API usage
  go.mod
  internal/service/chat_service.go
Due: go-format, go-format-check, go-lint

fix(chat): use authService.GetUser() directly instead of UserService()
  internal/service/chat_service.go
Due: go-format, go-format-check, go-lint

chore: add replace directives for vondi-global modules
  go.mod
  go.sum
Due: none

fix: correct Go version from 1.25.0 to 1.23.0
  go.mod
Due: none

fix: regenerate proto files with protoc-gen-go v1.36.0
  api/proto/attributes/v1/attributes.pb.go
  api/proto/attributes/v1/attributes_grpc.pb.go
  api/proto/categories/v1/categories.pb.go
  api/proto/categories/v1/categories_grpc.pb.go
  api/proto/chat/v1/chat.pb.go
  api/proto/chat/v1/chat_grpc.pb.go
  api/proto/listings/v1/analytics.pb.go
  api/proto/listings/v1/analytics_grpc.pb.go
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings_grpc.pb.go
  api/proto/listings/v1/orders.pb.go
  api/proto/listings/v1/orders_grpc.pb.go
  api/proto/search/v1/common.pb.go
  api/proto/search/v1/facets.pb.go
  api/proto/search/v1/filters.pb.go
  api/proto/search/v1/popular.pb.go
  api/proto/search/v1/search.pb.go
  api/proto/search/v1/search_grpc.pb.go
  api/proto/search/v1/suggestions.pb.go
Due: go-format, go-format-check, go-lint

fix: add nil check for indexer in GetSimilarListings
  internal/service/listings/service.go
Due: go-format, go-format-check, go-lint

fix: enable auth by default for chat/websocket functionality
  .env.example
Due: none

Deploy: sync listings to vondi-global
  go.work.sum
Due: none

Deploy: sync listings to vondi-global
  go.mod
  internal/client/delivery/client.go
  internal/repository/postgres/analytics_repository.go
  internal/repository/postgres/attribute_repository.go
  internal/repository/postgres/chat_repository.go
  internal/repository/postgres/storefronts_repository.go
  internal/repository/postgres/variants.go
  internal/service/chat_service.go
  internal/service/chat_service_test.go
  internal/service/listings/storefront_service.go
  internal/service/order_service.go
  internal/service/search/query_builders_test.go
  internal/service/storefront_analytics_service.go
  internal/transport/grpc/handlers_analytics_test.go
  internal/transport/grpc/handlers_attributes.go
  internal/transport/grpc/handlers_chat_test.go
  internal/transport/grpc/handlers_search_test.go
  test/integration/image_test.go
  test/integration/setup_test.go
  tests/integration/bulk_operations_test.go
  tests/integration/create_product_test.go
  tests/integration/decrement_stock_test.go
  tests/integration/listing_error_handling_test.go
  tests/integration/rollback_stock_test.go
  tests/integration/test_helpers.go
  tests/integration/update_product_test.go
Due: go-format, go-format-check, go-lint

fix: improve test coverage and fix linter issues
  go.mod
  go.sum
  internal/domain/order_test.go
  internal/service/attribute_service_test.go
  internal/service/chat_service_test.go
  internal/service/listings/service_test.go
  internal/service/listings/stock_service_test.go
  internal/service/storefront_analytics_service.go
  internal/timeout/timeout_test.go
  internal/transport/grpc/handlers_attributes.go
Due: go-format, go-format-check, go-lint

chore: upgrade vondi-global/auth to v1.21.6
  go.mod
Due: none
