Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

feat: миграции Product Variants - атрибуты + UUID fix
  CHANGELOG.md
  migrations/000022_create_racunarske_komponente_attributes.down.sql
  migrations/000022_create_racunarske_komponente_attributes.up.sql
  migrations/000023_link_racunarske_komponente_attributes_to_categories.down.sql
  migrations/000023_link_racunarske_komponente_attributes_to_categories.up.sql
  migrations/000024_fix_product_variants_product_id_to_uuid.down.sql
  migrations/000024_fix_product_variants_product_id_to_uuid.up.sql
  migrations/README_RACUNARSKE_KOMPONENTE_ATTRIBUTES.md
Due: frontend-format

fix(ci): cleanup старых Docker контейнеров перед тестами
  .github/workflows/ci.yml
  CHANGELOG.md
Due: frontend-format

fix(ci): порт PostgreSQL 15432 → 25432 + OpenSearch location translations
  .github/workflows/ci.yml
  .gitignore
  CHANGELOG.md
  internal/repository/opensearch/client.go
Due: go-format, go-format-check, go-lint, frontend-format

fix: миграция 000023 graceful skip если категории не существуют (fix integration tests)
  CHANGELOG.md
  migrations/000023_link_racunarske_komponente_attributes_to_categories.up.sql
Due: frontend-format

fix: удалена миграция 000023 из PR (перенесена в будущий PR после ФАЗЫ 0)
  CHANGELOG.md
  migrations/000023_link_racunarske_komponente_attributes_to_categories.down.sql
  migrations/000023_link_racunarske_komponente_attributes_to_categories.up.sql
  migrations/README_RACUNARSKE_KOMPONENTE_ATTRIBUTES.md
Due: frontend-format

fix: отключены старые product_variants тесты (deprecated API после UUID migration)
  CHANGELOG.md
  internal/repository/postgres/attribute_repository_test.go.skip
  internal/repository/postgres/attribute_test_helpers.go
  internal/repository/postgres/product_variants_test.go.skip
  internal/repository/postgres/products_test.go
Due: go-format, go-format-check, go-lint, frontend-format

feat: ФАЗА 0 - переструктурирование категорий Računarske komponente (9 общих вместо 20)
  CHANGELOG.md
  migrations/000023_link_racunarske_komponente_attributes_to_categories.down.sql
  migrations/000023_link_racunarske_komponente_attributes_to_categories.up.sql
  migrations/000025_restructure_racunarske_komponente_categories.down.sql
  migrations/000025_restructure_racunarske_komponente_categories.up.sql
  migrations/README_PHASE0_CATEGORIES.md
Due: frontend-format

fix(ci): временно отключены Integration Tests (deprecated API)
  .github/workflows/ci.yml
  CHANGELOG.md
  TODO_INTEGRATION_TESTS.md
Due: frontend-format

fix: переименование миграции 000023 -> 000026 (fix порядок применения)
  CHANGELOG.md
  internal/indexer/listing_indexer.go
  internal/repository/postgres/repository.go
  internal/service/listings/mocks/repository_mock.go
  internal/service/listings/service.go
  migrations/000026_link_racunarske_komponente_attributes_to_categories.down.sql
  migrations/000026_link_racunarske_komponente_attributes_to_categories.up.sql
  migrations/README_PHASE0_CATEGORIES.md
  migrations/README_RACUNARSKE_KOMPONENTE_ATTRIBUTES.md
Due: go-format, go-format-check, go-lint, frontend-format

fix: миграция 000026 - добавлен varchar cast для category_id (fix type mismatch)
  CHANGELOG.md
  migrations/000026_link_racunarske_komponente_attributes_to_categories.up.sql
Due: frontend-format

fix: миграция 000026 - правильные type casts (UUID vs VARCHAR)
  CHANGELOG.md
  migrations/000026_link_racunarske_komponente_attributes_to_categories.up.sql
Due: frontend-format

fix(migrations): dynamic parent category lookup in 000025
  CHANGELOG.md
  migrations/000025_restructure_racunarske_komponente_categories.up.sql
Due: frontend-format

fix(migrations): graceful skip block 3 в 000025 если parent не найден
  CHANGELOG.md
  migrations/000025_restructure_racunarske_komponente_categories.up.sql
Due: frontend-format

fix(migrations): migration 000026 graceful skip on clean DB
  fixtures/000008_categories_minimal.down.sql
  fixtures/000008_categories_minimal.up.sql
  fixtures/000009_storefronts.down.sql
  fixtures/000009_storefronts.up.sql
  fixtures/000010_listings.down.sql
  fixtures/000010_listings.up.sql
  fixtures/000011_listing_images.down.sql
  fixtures/000011_listing_images.up.sql
  fixtures/000012_enable_triggers.down.sql
  fixtures/000012_enable_triggers.up.sql
  migrations/000026_link_racunarske_komponente_attributes_to_categories.up.sql
Due: none

chore: regenerate proto with method_type field
  api/proto/attributes/v1/attributes.pb.go
  api/proto/attributes/v1/attributes_grpc.pb.go
  api/proto/categories/v1/categories.pb.go
  api/proto/categories/v1/categories_grpc.pb.go
  api/proto/chat/v1/chat.pb.go
  api/proto/chat/v1/chat_grpc.pb.go
  api/proto/listings/v1/analytics.pb.go
  api/proto/listings/v1/analytics_grpc.pb.go
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings.proto
  api/proto/listings/v1/listings_grpc.pb.go
  api/proto/listings/v1/orders.pb.go
  api/proto/listings/v1/orders.proto
  api/proto/listings/v1/orders_grpc.pb.go
  api/proto/search/v1/common.pb.go
  api/proto/search/v1/facets.pb.go
  api/proto/search/v1/filters.pb.go
  api/proto/search/v1/popular.pb.go
  api/proto/search/v1/search.pb.go
  api/proto/search/v1/search_grpc.pb.go
  api/proto/search/v1/suggestions.pb.go
  internal/domain/order.go
  internal/domain/storefront.go
  internal/events/example_test.go
  internal/events/publisher.go
  internal/events/publisher_test.go
  internal/service/order_service.go
  internal/transport/grpc/handlers_order_grpc.go
  migrations/000027_add_delivery_method_details_to_orders.down.sql
  migrations/000027_add_delivery_method_details_to_orders.up.sql
  migrations/000028_add_method_type_to_delivery_options.down.sql
  migrations/000028_add_method_type_to_delivery_options.up.sql
Due: go-format, go-format-check, go-lint

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
