Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

feat: улучшена галерея изображений - добавлена навигация свайпами и колесом мыши
  frontend/svetu/src/components/marketplace/listing/ImageGallery.tsx
Due: frontend-format, frontend-lint

chore: форматирование кода и мелкие исправления
  backend/internal/server/minio_proxy.go
  backend/internal/server/server.go
  backend/internal/storage/minio/client.go
  frontend/svetu/src/components/balance/BalanceWidget.tsx
  frontend/svetu/src/components/marketplace/listing/ImageGallery.tsx
  frontend/svetu/src/services/marketplaceOrders.ts
  memory-bank/session-20250103-image-gallery-compromise.md
  memory-bank/session-20250103-image-gallery-work.md
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: обновлен конфиг golangci-lint
  backend/.golangci.yml
Due: none

fix: clean up duplicate storefront migration tables and fix migration structure
  .claude/commands/commit.md
  .claude/commands/pr.md
  .claude/commands/push.md
  .claude/commands/squash.md
  backend/migrations/000039_create_user_contacts.up.sql
  backend/migrations/000040_create_user_privacy_settings.up.sql
  backend/migrations/000052_create_storefront_analytics.down.sql
  backend/migrations/000052_create_storefront_analytics.up.sql
  backend/migrations/000053_create_storefront_products.down.sql
  backend/migrations/000053_create_storefront_products.up.sql
  backend/migrations/000054_fix_product_price_type.down.sql
  backend/migrations/000054_fix_product_price_type.up.sql
  backend/migrations/000060_create_all_storefront_tables.down.sql
  backend/migrations/000060_create_all_storefront_tables.up.sql
  backend/migrations/000060_create_import_tables.down.sql
  backend/migrations/000060_create_import_tables.up.sql
  backend/migrations/20250618_create_storefronts_tables.sql
  docker-compose.yml
Due: frontend-format

fix: resolve database migration conflicts and errors
  .claude/commands/git/commit.md
  .claude/commands/git/pr.md
  .claude/commands/git/push.md
  .claude/commands/git/squash.md
  .claude/commands/task/task.md
  .mcp.json
  backend/migrations/000062_create_review_stats_views.up.sql
  backend/migrations/000063_create_storefront_orders.down.sql
  backend/migrations/000063_create_storefront_orders.up.sql
  backend/migrations/000066_create_storefront_orders_only.up.sql
  backend/migrations/000067_add_missing_order_columns.up.sql
Due: frontend-format

fix: correct column names in review stats views migration (verified -> is_verified_purchase, photo_urls -> photos)
  backend/migrations/000062_create_review_stats_views.up.sql
Due: none

Task new rules
  .claude/commands/task/task.md
Due: frontend-format

feat: обновления в системе импорта товаров и AllSecure интеграции
  backend/cmd/diagnose-attributes/main.go
  backend/internal/proj/payments/service/allsecure_service.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  backend/internal/storage/postgres/attribute_groups.go
  backend/internal/storage/postgres/balance.go
  backend/internal/storage/postgres/chat_attachments.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/price_history.go
  backend/internal/storage/postgres/storage.go
  backend/internal/storage/postgres/storefront.go
  backend/internal/storage/postgres/storefront_events.go
  backend/internal/storage/postgres/storefront_methods.go
  backend/internal/storage/postgres/storefront_product.go
  backend/internal/storage/postgres/translations.go
  memory-bank/current-task.md
Due: go-format, go-format-check, go-lint, frontend-format

fix: улучшения производительности и исправления UI
  backend/internal/domain/models/storefront.go
  backend/internal/proj/storefronts/service/storefront_service.go
  backend/internal/server/server.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/storefront.go
Due: go-format, go-format-check, go-lint

fix: frontend улучшения UI и переводов
  frontend/svetu/src/app/[locale]/page.tsx
  frontend/svetu/src/components/SafeImage.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
Due: frontend-format, frontend-lint

style: автоформатирование backend кода
  backend/cmd/diagnose-attributes/main.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  backend/internal/storage/postgres/attribute_groups.go
  backend/internal/storage/postgres/balance.go
  backend/internal/storage/postgres/chat_attachments.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/price_history.go
  backend/internal/storage/postgres/storage.go
  backend/internal/storage/postgres/storefront.go
  backend/internal/storage/postgres/storefront_events.go
  backend/internal/storage/postgres/storefront_methods.go
  backend/internal/storage/postgres/storefront_product.go
  backend/internal/storage/postgres/translations.go
Due: go-format, go-format-check, go-lint

feat: добавлена поддержка сербского языка (латиница)
  frontend/svetu/src/components/LanguageSwitcher.tsx
  frontend/svetu/src/i18n/config.ts
  frontend/svetu/src/i18n/routing.ts
  frontend/svetu/src/messages/sr.json
  frontend/svetu/src/middleware.ts
  memory-bank/current-task.md
  memory-bank/tasks/007-serbian-language-support.md
Due: frontend-format, frontend-lint

fix: добавлена авторизация в UnifiedSearchService
  frontend/svetu/src/services/unifiedSearch.ts
Due: frontend-format, frontend-lint

feat: добавлены кнопки покупки и чата в похожие объявления
  frontend/svetu/src/components/MarketplaceCard.tsx
  frontend/svetu/src/components/marketplace/MarketplaceList.tsx
  frontend/svetu/src/components/marketplace/listing/SimilarListings.tsx
  frontend/svetu/src/i18n/request.ts
  memory-bank/current-task.md
Due: frontend-format, frontend-lint

feat: добавлено интеллектуальное определение языка на основе Accept-Language и cookies
  .gitignore
  frontend/svetu/src/app/[locale]/layout.tsx
  frontend/svetu/src/components/LanguageSwitcher.tsx
  frontend/svetu/src/i18n/config.ts
  frontend/svetu/src/i18n/routing.ts
  frontend/svetu/src/messages/sr.json
  frontend/svetu/src/middleware.ts
  frontend/svetu/src/services/unifiedSearch.ts
  frontend/svetu/src/utils/localeDetection.ts
  memory-bank/tasks/008-smart-language-detection.md
Due: frontend-format, frontend-lint

docs: добавлен детальный план улучшения алгоритма похожих объявлений и общего поиска (Фаза 1)
  memory-bank/plans/phase1-similar-listings-improvement.md
Due: frontend-format

feat: улучшен алгоритм поиска похожих объявлений с расширенными критериями
  backend/internal/proj/marketplace/service/marketplace.go
Due: go-format, go-format-check, go-lint

feat: улучшен алгоритм похожих объявлений для поддержки storefront products
  PHASE_1_ALGORITHM_IMPROVEMENTS.md
  PHASE_1_COMPLETION_SUMMARY.md
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/service/integration_test.go
  backend/internal/proj/marketplace/service/interface.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/service/search_suggestions.go
  backend/internal/proj/marketplace/service/similarity_scoring.go
  backend/internal/proj/marketplace/service/similarity_test.go
  backend/internal/proj/marketplace/service/similarity_weights.go
  backend/internal/proj/marketplace/storage/interfaces.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/proj/storefronts/storage/opensearch/product_interface.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  backend/internal/storage/postgres/search_queries.go
  backend/internal/storage/storage.go
  backend/migrations/000083_add_search_queries_table.down.sql
  backend/migrations/000083_add_search_queries_table.up.sql
  frontend/svetu/src/services/unifiedSearch.ts
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: реализована Фаза 1 - улучшенный алгоритм похожих объявлений
  backend/internal/proj/marketplace/service/integration_test.go
  frontend/svetu/src/services/unifiedSearch.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: улучшен алгоритм похожих объявлений для межкатегорийного поиска
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/service/similarity_scoring.go
Due: go-format, go-format-check, go-lint

docs: добавлена спецификация Фазы 2.5 - Система управления поиском
  memory-bank/phase2.5-search-management.md
  memory-bank/phase2.5-work-package.md
Due: frontend-format

fix: исправлены ошибки форматирования логгера в backend
  PR_REPAIR_HISTORY.md
  backend/internal/proj/marketplace/service/integration_test.go
  backend/internal/proj/payments/handler/order_payment_handler.go
  backend/internal/proj/payments/handler/order_webhook_handler.go
  backend/internal/proj/payments/handler/payment_handler.go
  backend/internal/proj/payments/service/allsecure_service.go
  backend/scripts/create_test_jwt.go
Due: go-format, go-format-check, go-lint, frontend-format

fix: исправлены критические ошибки в backend
  backend/internal/proj/marketplace/handler/chat.go
  backend/internal/proj/orders/service/inventory_manager.go
  backend/internal/proj/orders/service/order_service.go
  backend/internal/proj/payments/handler/order_payment_handler.go
  backend/internal/proj/payments/handler/order_webhook_handler.go
  backend/internal/proj/payments/handler/payment_handler.go
  backend/internal/proj/payments/handler/webhook_handler.go
  backend/internal/proj/payments/service/allsecure_service.go
  backend/internal/proj/payments/service/stripe.go
  backend/internal/proj/storefronts/jobs/analytics_aggregator.go
Due: go-format, go-format-check, go-lint

fix: исправлены ошибки авторизации в админ-панели поиска
  backend/internal/proj/search_admin/handler/handler.go
  backend/internal/proj/search_admin/handler/routes.go
  backend/internal/server/server.go
Due: go-format, go-format-check, go-lint

fix: критические исправления безопасности AdminGuard
  frontend/svetu/src/app/[locale]/admin/search/components/SearchAnalytics.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/SynonymManager.tsx
  frontend/svetu/src/app/api/admin/search/analytics/export/route.ts
  frontend/svetu/src/components/AdminGuard.tsx
  frontend/svetu/src/contexts/AuthContext.tsx
Due: frontend-format, frontend-lint

fix: восстановлена работа AdminGuard для защиты админ-панели
  frontend/svetu/src/components/AdminGuard.tsx
  frontend/svetu/src/contexts/AuthContext.tsx
Due: frontend-format, frontend-lint

feat: полное восстановление SearchAnalytics с расширенной функциональностью
  frontend/svetu/src/app/[locale]/admin/search/components/BehaviorAnalytics.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/SearchAnalytics.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/SearchWeights.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/WeightOptimization.tsx
  frontend/svetu/src/messages/en.json.bak
  frontend/svetu/src/messages/ru.json.bak
  frontend/svetu/src/messages/sr.json.bak
  frontend/svetu/src/services/searchAnalytics.ts
  frontend/svetu/src/utils/deviceDetection.ts
Due: frontend-format, frontend-lint

fix: восстановлена полная функциональность админ-панели поиска
  backend/internal/middleware/auth_jwt.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/search_optimization/handler/handler.go
  backend/internal/proj/search_optimization/handler/routes.go
  backend/internal/proj/search_optimization/module.go
  backend/internal/proj/search_optimization/service/interface.go
  backend/internal/proj/search_optimization/service/security.go
  backend/internal/proj/search_optimization/service/service.go
  backend/internal/proj/search_optimization/storage/interface.go
  backend/internal/proj/search_optimization/storage/postgres.go
  backend/internal/proj/search_optimization/storage/postgres.go.bak
  backend/internal/server/server.go
  frontend/svetu/src/app/[locale]/admin/search/components/SearchDashboard.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/SynonymManager.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/WeightOptimization.tsx
  frontend/svetu/src/app/api/v1/admin/search/synonyms/[id]/route.ts
  frontend/svetu/src/app/api/v1/admin/search/synonyms/route.ts
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
  memory-bank/current-task.md
  memory-bank/phase3-deleted-functionality-analysis.md
  memory-bank/session-20250108-admin-panel-final.md
  memory-bank/session-20250108-analytics-endpoints-fixed.md
  memory-bank/session-20250108-completed.md
  memory-bank/session-20250108-critical-fixes.md
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

Migrator with fixtures
  .ai/migrations.md
  backend/.example.env
  backend/README.md
  backend/cmd/migrator/migrator.go
  backend/fixtures/00001_add_30_listings.up.sql
  backend/fixtures/add_30_listings.sql
  backend/fixtures/add_electronics_attributes.sql
  backend/fixtures/add_more_phones.sql
  backend/fixtures/fix_electronics_attributes.sql
  backend/fixtures/fix_storage_bucket_null.sql
  backend/fixtures/manual_mappings.sql
Due: go-format, go-format-check, go-lint, frontend-format

fix: исправлена структура данных GetSearchMetrics
  backend/cmd/utils/aggregate_search_metrics/main.go
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/domain/behavior/types.go
  backend/internal/middleware/auth_jwt.go
  backend/internal/proj/behavior_tracking/handler/handler.go
  backend/internal/proj/behavior_tracking/service/interface.go
  backend/internal/proj/behavior_tracking/service/service.go
  backend/internal/proj/behavior_tracking/storage/postgres/interface.go
  backend/internal/proj/behavior_tracking/storage/postgres/repository.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/global/service/service.go
  frontend/svetu/src/types/generated/api.ts
  memory-bank/current-task.md
  memory-bank/search-analytics-tables-check.md
  memory-bank/session-20250108-behavior-tracking-fix.md
  test-behavior-api.sh
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: устранен конфликт middleware для API синонимов
  backend/internal/proj/search_optimization/module.go
  backend/internal/server/server.go
Due: go-format, go-format-check, go-lint

feat: Фаза 3 завершена - восстановлена админ-панель поиска
  backend/internal/proj/search_optimization/handler/handler.go
  backend/migrations/000092_create_transliteration_rules.down.sql
  backend/migrations/000092_create_transliteration_rules.up.sql
  backend/pkg/utils/slug.go
  frontend/svetu/src/app/[locale]/admin/search/components/SearchDashboard.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/TransliterationConfig.tsx
  frontend/svetu/src/messages/ru.json
  memory-bank/current-task.md
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: добавлен admin_id в Locals для корректной работы админ-панели
  backend/internal/middleware/middleware.go
Due: go-format, go-format-check, go-lint

feat: завершён аудит согласованности данных между слоями проекта
  backend/admin-main.png
  backend/analytics-tab.png
  backend/cmd/utils/generate_admin_jwt/main.go
  backend/cmd/utils/test_admin_jwt/main.go
  backend/domain_models_structure.json
  backend/internal/proj/marketplace/service/map.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/migrations/000093_fix_marketplace_listings_field_names.down.sql
  backend/migrations/000093_fix_marketplace_listings_field_names.up.sql
  backend/test_analytics.html
  business-correspondence/1.png
  business-correspondence/2.png
  business-correspondence/3.png
  business-correspondence/AllSecure/1.png
  business-correspondence/AllSecure/Re: [Ticket#5228636] Zahtev za ponudom - SVETU PLATFORMA d.o.o - AllSecure Prodaja <prodaja@allsecure.rs> - 2025-07-02 1335.eml
  business-correspondence/AllSecure/Re: [Ticket#5228636] Zahtev za ponudom - SVETU PLATFORMA d.o.o - AllSecure Prodaja <prodaja@allsecure.rs> - 2025-07-02 1335TXT.eml
  frontend/svetu/memory-bank/system-passports/field-mapping-matrix.md
  frontend/svetu/memory-bank/system-passports/field-naming-conventions.md
  memory-bank/all_tables_naming_issues.md
  memory-bank/backend_listing_model.json
  memory-bank/backend_user_model.json
  memory-bank/field_inconsistencies.md
  memory-bank/final_audit_report.md
  memory-bank/phase3-updated-plan.md
  memory-bank/run_backend_tests.sh
  memory-bank/session-20250108-context-summary.md
  memory-bank/session-20250108-phase3-completion.md
  memory-bank/session-20250708-context-summary-corrected.md
  memory-bank/session-20250708-context-summary.md
  memory-bank/storefront_structs.md
  memory-bank/system-passports/field-naming-conventions.md
  memory-bank/user_id_comparison.md
Due: go-format, go-format-check, go-lint, frontend-format

docs: добавлен финальный отчёт углублённой проверки аудита
  .gitignore
  memory-bank/final_comprehensive_audit_report.md
Due: frontend-format

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
