Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

fix: update delivery to v0.1.6 to fix protobuf compatibility
  go.mod
Due: none

fix: resolve context leak warning in timeout test
  internal/timeout/timeout_test.go
Due: go-format, go-format-check, go-lint

style: apply goimports formatting
  api/proto/attributes/v1/attributes.pb.go
  api/proto/attributes/v1/attributes_grpc.pb.go
  api/proto/categories/v1/categories.pb.go
  api/proto/categories/v1/categories_grpc.pb.go
  api/proto/chat/v1/chat.pb.go
  api/proto/chat/v1/chat_grpc.pb.go
  api/proto/listings/v1/analytics.pb.go
  api/proto/listings/v1/analytics_grpc.pb.go
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings_grpc.pb.go
  api/proto/listings/v1/orders.pb.go
  api/proto/listings/v1/orders_grpc.pb.go
  api/proto/search/v1/common.pb.go
  api/proto/search/v1/facets.pb.go
  api/proto/search/v1/filters.pb.go
  api/proto/search/v1/popular.pb.go
  api/proto/search/v1/search.pb.go
  api/proto/search/v1/search_grpc.pb.go
  api/proto/search/v1/suggestions.pb.go
  cmd/migrate_orders_from_monolith/main.go
  cmd/migrate_orders_from_monolith/migration_test.go
Due: go-format, go-format-check, go-lint

Deploy: sync listings to vondi-global
  go.work.sum
Due: none

fix: remove local development replace directives from go.mod
  go.mod
Due: none

fix: add GOPRIVATE and GH_PAT for private Go modules in CI
  .github/workflows/ci.yml
Due: none

fix: use GO_MODULES_TOKEN instead of GH_PAT
  .github/workflows/ci.yml
Due: none

fix: update GOPRIVATE to vondi-global
  Dockerfile
Due: none

feat: add inventory reservation system with reference_type support
  api/proto/attributes/v1/attributes.pb.go
  api/proto/attributes/v1/attributes_grpc.pb.go
  api/proto/categories/v1/categories.pb.go
  api/proto/categories/v1/categories_grpc.pb.go
  api/proto/chat/v1/chat.pb.go
  api/proto/chat/v1/chat_grpc.pb.go
  api/proto/listings/v1/analytics.pb.go
  api/proto/listings/v1/analytics_grpc.pb.go
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings.proto
  api/proto/listings/v1/listings_grpc.pb.go
  api/proto/listings/v1/orders.pb.go
  api/proto/listings/v1/orders_grpc.pb.go
  api/proto/search/v1/common.pb.go
  api/proto/search/v1/facets.pb.go
  api/proto/search/v1/filters.pb.go
  api/proto/search/v1/popular.pb.go
  api/proto/search/v1/search.pb.go
  api/proto/search/v1/search_grpc.pb.go
  api/proto/search/v1/suggestions.pb.go
  cmd/server/main.go
  go.mod
  internal/config/config.go
  internal/domain/reservation.go
  internal/events/INTEGRATION.md
  internal/events/README.md
  internal/events/example_test.go
  internal/events/publisher.go
  internal/events/publisher_test.go
  internal/events/streams.go
  internal/repository/postgres/reservation_repository.go
  internal/service/inventory_service.go
  internal/service/order_service.go
  internal/transport/grpc/handlers.go
  internal/transport/grpc/handlers_inventory.go
  migrations/20251204000001_add_reference_type_to_reservations.down.sql
  migrations/20251204000001_add_reference_type_to_reservations.up.sql
Due: go-format, go-format-check, go-lint, frontend-format

Deploy: sync listings to vondi-global
  INVITATION_REPO_SUMMARY.md
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings.proto
  api/proto/listings/v1/listings_grpc.pb.go
  cmd/server/main.go
  internal/domain/storefront.go
  internal/domain/storefront_invitation.go
  internal/domain/storefront_invitation_test.go
  internal/repository/postgres/STOREFRONT_INVITATION_REPO.md
  internal/repository/postgres/storefront_invitation_repo.go
  internal/repository/postgres/storefront_invitation_repo_test.go
  internal/repository/postgres/storefront_staff_repo.go
  internal/service/inventory_service.go
  internal/service/invitation_service.go
  internal/transport/grpc/handlers.go
  internal/transport/grpc/handlers_inventory.go
  internal/transport/grpc/handlers_invitations.go
  migrations/20251205000001_storefront_invitations.down.sql
  migrations/20251205000001_storefront_invitations.up.sql
Due: go-format, go-format-check, go-lint, frontend-format

ci: use self-hosted runner on svetu.rs
  .github/workflows/ci.yml
Due: none

feat: add full location and attributes support for listings
  api/proto/attributes/v1/attributes.pb.go
  api/proto/categories/v1/categories.pb.go
  api/proto/chat/v1/chat.pb.go
  api/proto/listings/v1/analytics.pb.go
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings.proto
  api/proto/listings/v1/orders.pb.go
  api/proto/search/v1/common.pb.go
  api/proto/search/v1/facets.pb.go
  api/proto/search/v1/filters.pb.go
  api/proto/search/v1/popular.pb.go
  api/proto/search/v1/search.pb.go
  api/proto/search/v1/suggestions.pb.go
  internal/domain/listing.go
  internal/repository/postgres/repository.go
  internal/transport/grpc/converters.go
  internal/transport/grpc/handlers.go
Due: go-format, go-format-check, go-lint

feat: add Category V2 API with UUID and i18n support
  api/proto/categories/v2/categories_v2.pb.go
  api/proto/categories/v2/categories_v2.proto
  api/proto/categories/v2/categories_v2_grpc.pb.go
Due: go-format, go-format-check, go-lint

feat: implement product variants system with ACID stock reservations
  api/proto/variants/v1/variants.pb.go
  api/proto/variants/v1/variants.proto
  api/proto/variants/v1/variants_grpc.pb.go
  cmd/server/main.go
  internal/domain/order.go
  internal/domain/product_variant_v2.go
  internal/domain/stock_reservation.go
  internal/repository/postgres/order_repository.go
  internal/repository/postgres/stock_reservation_repo.go
  internal/repository/postgres/variant_repository.go
  internal/service/order_service.go
  internal/service/sku_generator.go
  internal/service/sku_generator_test.go
  internal/service/variant_service.go
  internal/service/variant_service_test.go
  internal/testing/environment.go
  internal/transport/grpc/handlers_variants.go
  migrations/20251217200001_l3_elektronika_clean.down.sql
  migrations/20251217200001_l3_elektronika_clean.up.sql
  migrations/20251217200002_l3_odeca_clean.down.sql
  migrations/20251217200002_l3_odeca_clean.up.sql
  migrations/20251217200003_l3_dom_sport_clean.down.sql
  migrations/20251217200003_l3_dom_sport_clean.up.sql
  migrations/20251217200004_l3_ostalo_clean.down.sql
  migrations/20251217200004_l3_ostalo_clean.up.sql
  migrations/20251217200005_create_product_variants.down.sql
  migrations/20251217200005_create_product_variants.up.sql
  migrations/20251217200006_update_variant_attribute_values.down.sql
  migrations/20251217200006_update_variant_attribute_values.up.sql
  migrations/20251217200007_create_stock_reservations.down.sql
  migrations/20251217200007_create_stock_reservations.up.sql
  migrations/20251217200008_seed_variant_attributes.down.sql
  migrations/20251217200008_seed_variant_attributes.up.sql
  migrations/20251217200009_seed_test_products_with_variants.down.sql
  migrations/20251217200009_seed_test_products_with_variants.up.sql
Due: go-format, go-format-check, go-lint

ci: use explicit svetu runner label for workflows
  .github/workflows/ci.yml
Due: none

ci: remove unnecessary setup-go steps and update Go version
  .github/workflows/ci.yml
Due: none

fix: correct CategoryID types in search tests (int64 → string)
  internal/service/search/query_builders_test.go
  internal/service/search/service_test.go
  internal/service/search/types_test.go
Due: go-format, go-format-check, go-lint

fix: correct CategoryID types in grpc converter and handler tests
  internal/transport/grpc/converters_search_test.go
  internal/transport/grpc/handlers_search_test.go
Due: go-format, go-format-check, go-lint

fix: update NewServer call in integration tests for Phase 1-2 signature
  test/integration/setup_test.go
Due: go-format, go-format-check, go-lint

fix: update NewServer signature in all integration tests for Phase 1-2 compatibility
  tests/integration/bulk_operations_test.go
  tests/integration/create_product_test.go
  tests/integration/decrement_stock_test.go
  tests/integration/listing_error_handling_test.go
  tests/integration/rollback_stock_test.go
  tests/integration/test_helpers.go
  tests/integration/update_product_test.go
Due: go-format, go-format-check, go-lint

fix: remove ineffectual assignments and unused function
  internal/repository/postgres/category_repository_v2.go
  internal/repository/postgres/stock_reservation_repo.go
  internal/service/search/test_helpers.go
Due: go-format, go-format-check, go-lint

feat(categories): migrate category IDs from int to UUID strings
  api/proto/categories/v1/categories.pb.go
  api/proto/categories/v1/categories.proto
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings.proto
  internal/domain/listing.go
  internal/domain/product.go
  internal/indexer/listing_indexer.go
  internal/repository/postgres/categories_repository.go
  internal/repository/postgres/products_repository.go
  internal/repository/postgres/repository.go
  internal/repository/postgres/variant_repository_test.go
  internal/service/category_service.go
  internal/service/category_service_impl.go
  internal/service/listings/service.go
  internal/service/listings/test_helpers.go
  internal/service/listings/validator.go
  internal/testing/fixtures.go
  internal/transport/grpc/converters.go
  internal/transport/grpc/handlers.go
  internal/transport/grpc/handlers_categories.go
  internal/transport/grpc/handlers_extended.go
  internal/transport/grpc/handlers_products.go
  tests/testing.go
Due: go-format, go-format-check, go-lint

fix(attributes): correct gRPC auth paths and SQL column names
  internal/middleware/auth_interceptor.go
  internal/repository/postgres/attribute_repository.go
Due: go-format, go-format-check, go-lint

fix(tests): update category IDs from int to string for UUID migration
  internal/repository/postgres/attribute_repository_test.go
  internal/repository/postgres/categories_repository_test.go
  internal/repository/postgres/products_test.go
  internal/repository/postgres/repository_test.go
  internal/repository/postgres/search_queries_repository.go
  internal/repository/postgres/variant_repository_test.go
  internal/service/attribute_service_test.go
  internal/service/category_service_test.go
  internal/service/listings/mocks/repository_mock.go
  internal/service/listings/service.go
  internal/service/listings/service_test.go
  internal/service/listings/validator_test.go
  internal/transport/grpc/handlers_attributes_test.go
  internal/transport/grpc/handlers_test.go
  test/integration/attribute_test.go
  test/integration/category_test.go
  test/integration/example_usage_test.go
  test/integration/listing_crud_test.go
  tests/performance/benchmarks_test.go
Due: go-format, go-format-check, go-lint

feat(attributes): update attribute service to use string category UUIDs
  api/proto/attributes/v1/attributes.pb.go
  api/proto/attributes/v1/attributes.proto
  api/proto/search/v1/search.pb.go
  api/proto/search/v1/search.proto
  internal/domain/attribute.go
  internal/repository/attribute_repository.go
  internal/repository/postgres/attribute_repository_listing_values.go
  internal/service/attribute_cache.go
  internal/service/attribute_service.go
  internal/service/attribute_service_impl.go
  internal/transport/grpc/handlers_attributes.go
Due: go-format, go-format-check, go-lint

feat(opensearch): enhance search service with improved mappings and client
  internal/indexer/listing_indexer.go
  internal/opensearch/search_client.go
  internal/repository/opensearch/client.go
  internal/repository/opensearch/mappings.go
  internal/service/search/service.go
  internal/service/search/types.go
  internal/transport/grpc/handlers_search.go
Due: go-format, go-format-check, go-lint

feat(server): update main server configuration and health handlers
  cmd/server/main.go
  go.mod
  go.sum
  go.work.sum
  internal/config/config.go
  internal/transport/http/health_handler.go
  internal/transport/http/minimal_handler.go
Due: go-format, go-format-check, go-lint

chore: rename database svetubd → vondi_db in docs
  .env.example
  ATTRIBUTES_MIGRATION_DAY1-2_REPORT.md
  ATTRIBUTES_MIGRATION_SUMMARY.md
  BE-2.15_FACETS_CACHE_REPORT.md
  CATEGORY_MIGRATION_PROGRESS.md
  CLAUDE.md
  CLEANUP_CHECKLIST.md
  DATABASE_AUDIT_README.md
  DATA_MIGRATION.md
  DOCKER_CONTAINERS_REPORT.md
  LISTINGS_DB_AUDIT_REPORT.md
  MIGRATION_20251217_CATEGORY_UUID_SUMMARY.md
  MIGRATION_CHEATSHEET.md
  MIGRATION_SUMMARY.md
  OPENSEARCH_FILTERS_QUICKSTART.md
  OPENSEARCH_INDEXER_UPDATE_PHASE3.md
  OPENSEARCH_REINDEX_INSTRUCTIONS.md
  PHASE1_BACKEND_SUMMARY.md
  PHASE7_ANALYTICS_REPORT.md
  PHASE_17_DAYS18-19_DATA_MIGRATION_REPORT.md
  PROGRESS_PHASE1_INTEGRATION.md
  PROGRESS_PHASE2_OPENSEARCH.md
  REINDEX_IMPLEMENTATION_REPORT.md
Due: frontend-format

fix: resolve CI errors - category_id type mismatch and missing mock method
  test/integration/setup_test.go
  tests/integration/bulk_operations_test.go
Due: go-format, go-format-check, go-lint

fix: convert all CategoryId values from int to string in tests
  tests/integration/bulk_operations_test.go
  tests/integration/create_product_test.go
  tests/integration/listing_concurrency_edge_test.go
  tests/integration/listing_edge_cases_test.go
  tests/integration/listing_error_handling_test.go
  tests/integration/product_crud_e2e_test.go
Due: go-format, go-format-check, go-lint

fix: add fmt import and fix remaining CategoryID int→string conversions
  tests/integration/database_test.go
  tests/integration/listing_concurrency_edge_test.go
Due: go-format, go-format-check, go-lint

fix: add missing fmt import to database_test.go
  tests/integration/database_test.go
Due: go-format, go-format-check, go-lint

fix: change CI postgres/redis ports to avoid conflicts (5435/6380)
  .github/workflows/ci.yml
Due: none

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
