Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

feat: add admin endpoint for managing all B2C storefronts
  backend/internal/proj/marketplace/handler/routes.go
  backend/internal/proj/marketplace/handler/storefronts.go
Due: go-format, go-format-check, go-lint

feat: add storefront deletion endpoint for admin
  backend/internal/proj/marketplace/handler/routes.go
  backend/internal/proj/marketplace/handler/storefronts.go
  backend/internal/storage/postgres/db_storefronts.go
Due: go-format, go-format-check, go-lint

feat: add listings admin endpoints (temporary stubs)
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/handler/routes.go
Due: go-format, go-format-check, go-lint

fix: add document_type field to OpenSearch reindexing script
  backend/reindex_from_microservice.py
Due: none

feat(marketplace): add GetListings routing via gRPC to listings microservice
  backend/internal/proj/marketplace/handler/listings.go
Due: go-format, go-format-check, go-lint

chore: backup before full code audit
  backend/internal/clients/listings/client.go
  backend/internal/config/config.go
  backend/internal/domain/models/models.go
  backend/internal/proj/marketplace/handler/categories.go
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/handler/routes.go
  backend/internal/proj/marketplace/handler/search.go
  backend/internal/proj/marketplace/storage/postgres.go
  backend/internal/proj/marketplace/storage/storage.go
  backend/internal/server/server.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/marketplace_grpc_client.go
  backend/test/integration/listings_display_test.go
  признаки_делимости_5класс.md
Due: go-format, go-format-check, go-lint, frontend-format

chore: backup before full code audit
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings.proto
  api/proto/listings/v1/listings_grpc.pb.go
  docker-compose.yml
  docs/grpc_reindex_example.md
  docs/migration/PROGRESS.md
  examples/README.md
  examples/reindex_client.go
  go.mod
  go.sum
  internal/config/config.go
  internal/repository/opensearch/client.go
  internal/repository/opensearch/indexing_adapter.go
  internal/repository/postgres/categories_repository.go
  internal/repository/postgres/favorites_repository.go
  internal/repository/postgres/repository.go
  internal/repository/postgres/repository_test.go
  internal/service/listings/service.go
  internal/transport/grpc/handlers_reindex.go
  migrations/20251111230000_README.md
  migrations/20251111230000_unify_table_names.down.sql
  migrations/20251111230000_unify_table_names.up.sql
  test_reindex.sh
Due: go-format, go-format-check, go-lint, frontend-format

fix: resolve all linter issues and improve code quality
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/marketplace/handler/categories.go
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/handler/search.go
  backend/test/integration/listings_display_test.go
Due: go-format, go-format-check, go-lint, frontend-format

fix: change proto package to listingssvc.v1 to avoid conflict with delivery
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings.proto
  api/proto/listings/v1/listings_grpc.pb.go
Due: go-format, go-format-check, go-lint

feat(listings): implement OpenSearch attributes indexing (Days 11-12)
  cmd/populate_cache/main.go
  internal/domain/listing.go
  internal/indexer/attribute_indexer.go
  internal/indexer/listing_indexer.go
  internal/repository/opensearch/client.go
  internal/repository/opensearch/mappings.go
Due: go-format, go-format-check, go-lint

test(listings): add comprehensive tests for attribute indexing
  internal/indexer/attribute_indexer_bench_test.go
  internal/indexer/attribute_indexer_integration_test.go
  internal/indexer/attribute_indexer_test.go
  internal/indexer/attribute_indexer_unit_test.go
  scripts/run_attribute_tests.sh
Due: go-format, go-format-check, go-lint

docs(listings): add OpenSearch attributes integration documentation
  ATTRIBUTES_OPENSEARCH_DAYS11-12_REPORT.md
  TESTING_INDEX.md
  TEST_REPORT_ATTRIBUTES_OPENSEARCH.md
  TEST_SUMMARY.md
Due: frontend-format

feat(listings): implement OpenSearch mapping update and reindexing (Days 13-14)
  cmd/reindex_with_attributes/main.go
  internal/indexer/listing_indexer.go
  internal/repository/opensearch/client.go
Due: go-format, go-format-check, go-lint

feat(listings): Phase 17 Days 1-4 - Orders proto + migrations
  Makefile
  api/proto/listings/v1/orders.pb.go
  api/proto/listings/v1/orders.proto
  api/proto/listings/v1/orders_grpc.pb.go
  migrations/000024_create_shopping_carts.down.sql
  migrations/000024_create_shopping_carts.up.sql
  migrations/000025_create_cart_items.down.sql
  migrations/000025_create_cart_items.up.sql
  migrations/000026_create_orders.down.sql
  migrations/000026_create_orders.up.sql
  migrations/000027_create_order_items.down.sql
  migrations/000027_create_order_items.up.sql
  migrations/000028_create_inventory_reservations.down.sql
  migrations/000028_create_inventory_reservations.up.sql
Due: go-format, go-format-check, go-lint

feat(listings): Phase 17 Days 5-10 - Domain models + Repository layer + Tests
  internal/domain/cart.go
  internal/domain/cart_test.go
  internal/domain/order.go
  internal/domain/order_test.go
  internal/domain/reservation.go
  internal/domain/reservation_test.go
  internal/repository/postgres/cart_repository.go
  internal/repository/postgres/order_repository.go
  internal/repository/postgres/pgx_helpers.go
  internal/repository/postgres/reservation_repository.go
Due: go-format, go-format-check, go-lint

feat(listings): Phase 17 Days 11-14 - Service Layer implementation
  docs/SERVICE_LAYER_ARCHITECTURE.md
  internal/service/cart_service.go
  internal/service/cart_service_test.go.skip
  internal/service/errors.go
  internal/service/inventory_service.go
  internal/service/inventory_service_test.go.skip
  internal/service/order_financials.go
  internal/service/order_service.go
  internal/service/order_service_test.go.skip
Due: go-format, go-format-check, go-lint, frontend-format

feat(orders): implement gRPC handlers and repository stock methods (Phase 17 Days 15-17)
  PHASE_17_DAYS15-17_GRPC_HANDLERS_REPORT.md
  docs/ORDER_SERVICE_INTEGRATION.md
  docs/ORDER_SERVICE_QUICKSTART.md
  docs/PHASE_17_STOCK_METHODS_IMPLEMENTATION_REPORT.md
  internal/repository/postgres/products_repository.go
  internal/repository/postgres/products_stock_test.go
  internal/service/inventory_service.go
  internal/service/order_service.go
  internal/transport/grpc/handlers_orders.go
  internal/transport/grpc/handlers_orders_test.go
  internal/transport/grpc/middleware_orders.go
Due: go-format, go-format-check, go-lint, frontend-format

docs(orders): add Phase 17 Days 18-19 final report
  PHASE_17_DAYS18-19_DATA_MIGRATION_REPORT.md
Due: frontend-format

docs(orders): add Phase 17 Days 20-22 Monolith Proxy Integration final report
  PHASE_17_DAYS20-22_MONOLITH_PROXY_FINAL_REPORT.md
Due: frontend-format

feat(orders): complete Days 23-25 - E2E Tests + Performance Testing infrastructure
  .github/workflows/orders-service-ci.yml
  FIX_CHECKLIST.md
  PHASE17_DAYS23-25_VALIDATION_REPORT.md
  PHASE_17_DAYS23-25_E2E_TESTS_FINAL_REPORT.md
  PHASE_17_DAYS23-25_PERFORMANCE_CI_REPORT.md
  PHASE_17_DAYS23-25_QUICK_REFERENCE.md
  PHASE_17_DAYS23-25_VALIDATION_REPORT.md
  VALIDATION_SUMMARY.txt
  docs/CI_CD_SETUP.md
  docs/METRICS.md
  docs/PERFORMANCE_TESTING_GUIDE.md
  internal/testing/E2E_TESTING_GUIDE.md
  internal/testing/environment.go
  internal/testing/environment_test.go
  internal/transport/grpc/handlers_orders_test.go
  load-tests/ghz-orders.sh
  migrations/000025_create_cart_items.up.sql
  migrations/000028_create_inventory_reservations.up.sql
  migrations/20251111230000_unify_table_names.up.sql
  monitoring/grafana/orders-dashboard.json
  scripts/generate_performance_report.sh
  tests/integration/bulk_operations_test.go
  tests/performance/benchmarks_test.go
  tests/testing.go
Due: go-format, go-format-check, go-lint, frontend-format

feat(migrations): add listing_variants VIEW for cart compatibility
  migrations/000029_create_listing_variants_view.down.sql
  migrations/000029_create_listing_variants_view.up.sql
Due: none

refactor(repository): migrate CartRepository to pgx/v5
  cmd/server/main.go
  internal/repository/postgres/cart_repository.go
  internal/testing/environment.go
Due: go-format, go-format-check, go-lint

feat(migrations): add missing Orders table columns
  migrations/000030_add_payment_completed_at.down.sql
  migrations/000030_add_payment_completed_at.up.sql
  migrations/000031_add_customer_admin_columns.down.sql
  migrations/000031_add_customer_admin_columns.up.sql
Due: none

fix(orders): resolve order_items validation error in CreateOrder service
  internal/service/order_service.go
Due: go-format, go-format-check, go-lint

fix(orders): add missing schema columns for orders system
  docs/migration/INFRASTRUCTURE_ISSUES_PHASE_19.md
  docs/migration/PROGRESS.md
  go.mod
  go.sum
  migrations/20251115000001_add_order_items_pricing_columns.down.sql
  migrations/20251115000001_add_order_items_pricing_columns.up.sql
  migrations/20251115000002_add_order_status_timestamps.down.sql
  migrations/20251115000002_add_order_status_timestamps.up.sql
Due: frontend-format

feat(listings): implement GetSimilarListings with OpenSearch similarity search
  .gitignore
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings.proto
  api/proto/listings/v1/listings_grpc.pb.go
  internal/middleware/auth_interceptor.go
  internal/repository/opensearch/client.go
  internal/service/listings/mocks/indexer_mock.go
  internal/service/listings/service.go
  internal/transport/grpc/handlers.go
Due: go-format, go-format-check, go-lint

docs: исправить порт gRPC с 50053 на 50052 в документации
  .env.example
  README.md
Due: frontend-format

feat: add reservation timestamps and fix B2C filter
  internal/repository/postgres/products_repository.go
  migrations/20251117000001_add_reservation_timestamps.down.sql
  migrations/20251117000001_add_reservation_timestamps.up.sql
Due: go-format, go-format-check, go-lint

feat(categories): implement CategoryService and attributes migration tools
  ATTRIBUTES_MIGRATION_SUMMARY.md
  MIGRATION_CHEATSHEET.md
  TEST_REPORT_GetSimilarListings.md
  cmd/fix_attribute_options/.gitignore
  cmd/fix_attribute_options/QUICK_START.md
  cmd/fix_attribute_options/README.md
  cmd/fix_attribute_options/main.go
  cmd/migrate_attributes/main.go
  cmd/migrate_category_attributes/README.md
  cmd/migrate_category_attributes/main.go
  cmd/server/main.go
  docs/ATTRIBUTES_MIGRATION_GUIDE.md
  docs/CATEGORY_ATTRIBUTES_MIGRATION.md
  docs/CATEGORY_ATTRIBUTES_MIGRATION_SUMMARY.md
  internal/transport/grpc/converters.go
  internal/transport/grpc/handlers.go
  internal/transport/grpc/handlers_categories.go
  internal/transport/grpc/handlers_categories.go.backup
  internal/transport/grpc/handlers_category_service.go
  scripts/ATTRIBUTES_MIGRATION_QUICKREF.txt
  scripts/README.md
  scripts/migrate_attributes.sql
  scripts/rollback_attributes.sql
  scripts/validate_attributes.sql
  scripts/validate_category_attributes_migration.sh
Due: go-format, go-format-check, go-lint, frontend-format

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
