Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

cleaning
  Makefile
  backend/internal/storage/postgres/db.go
  backend/internal/storage/storage.go
Due: go-format, go-format-check, go-lint

Dockerfile golang-1.25
  backend/Dockerfile
  backend/Dockerfile.migrator
Due: none

fix: устранение middleware leak после миграции на sveturs/auth
  CLAUDE.md
  backend/README_JWT.md
  backend/internal/middleware/middleware.go
  backend/internal/proj/analytics/routes/routes.go
  backend/internal/proj/balance/handler/routes.go
  backend/internal/proj/bexexpress/module.go
  backend/internal/proj/contacts/handler/routes.go
  backend/internal/proj/delivery/module.go
  backend/internal/proj/docserver/handler/routes.go
  backend/internal/proj/gis/handler/handler.go
  backend/internal/proj/gis/handler/routes.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/service/variant_attributes.go
  backend/internal/proj/notifications/handler/routes.go
  backend/internal/proj/orders/handler/routes.go
  backend/internal/proj/search_admin/handler/routes.go
  backend/internal/proj/storefronts/handler/storefront_handler.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/tracking/module.go
  backend/internal/proj/users/handler/auth.go
  backend/internal/proj/viber/module.go
  backend/internal/server/server.go
  frontend/svetu/src/app/[locale]/actions.ts
  frontend/svetu/src/components/home/NearbyStats.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправление WebSocket авторизации через query параметр
  backend/internal/server/server.go
Due: go-format, go-format-check, go-lint

fix: устранение race condition и дублирующихся запросов
  frontend/svetu/src/components/home/NearbyStats.tsx
  frontend/svetu/src/components/products/SimplifiedVariantGenerator.tsx
  frontend/svetu/src/contexts/AuthContext.tsx
  frontend/svetu/src/hooks/useCartSync.ts
  frontend/svetu/src/store/slices/favoritesSlice.ts
Due: frontend-format, frontend-lint

fix: улучшенная проверка токена перед загрузкой корзин
  frontend/svetu/src/hooks/useCartSync.ts
Due: frontend-format, frontend-lint

docs: обновление документации JWT валидации
  backend/README_JWT.md
Due: frontend-format

feat: обновление системы ролей до auth v1.8.0
  backend/go.mod
  backend/go.sum
  backend/internal/proj/users/handler/auth.go
  backend/migrations/000020_drop_admin_users_table.down.sql
  backend/migrations/000020_drop_admin_users_table.up.sql
  frontend/svetu/src/contexts/AuthContext.tsx
  frontend/svetu/src/lib/i18n/loadMessages.ts
  frontend/svetu/src/services/auth.ts
  frontend/svetu/src/types/auth.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправление middleware для admin endpoints после миграции на Auth сервис
  backend/internal/proj/marketplace/handler/handler.go
Due: go-format, go-format-check, go-lint

fix: исправление AdminRequired middleware и ApiClient JWT токенов
  CLAUDE.md
  backend/internal/middleware/middleware.go
  backend/internal/middleware/rate_limiter.go
  backend/internal/proj/analytics/handler/analytics_handler.go
  backend/internal/proj/balance/handler/balance.go
  backend/internal/proj/behavior_tracking/handler/handler.go
  backend/internal/proj/contacts/handler/handler.go
  backend/internal/proj/marketplace/handler/chat.go
  backend/internal/proj/marketplace/handler/favorites.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/handler/images.go
  backend/internal/proj/marketplace/handler/indexing.go
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/handler/order_handler.go
  backend/internal/proj/marketplace/handler/saved_searches.go
  backend/internal/proj/marketplace/handler/translation.go
  backend/internal/proj/notifications/handler/handler.go
  backend/internal/proj/orders/handler/order_handler.go
  backend/internal/proj/payments/handler/order_payment_handler.go
  backend/internal/proj/payments/handler/payment_handler.go
  backend/internal/proj/reviews/handler/reviews.go
  backend/internal/proj/storefronts/handler/dashboard_handler.go
  backend/internal/proj/storefronts/handler/product_handler.go
  backend/internal/proj/storefronts/handler/staff_handler.go
  backend/internal/proj/storefronts/handler/storefront_handler.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/translation_admin/handler.go
  backend/internal/proj/users/handler/admin_users.go
  backend/internal/proj/users/handler/auth.go
  backend/internal/proj/users/handler/auth_oauth.go
  backend/internal/proj/users/handler/users.go
  docs/FIXES_ADMIN_MIDDLEWARE_AND_API_CLIENT.md
  frontend/svetu/src/components/attributes/TranslationStatus.tsx
  frontend/svetu/src/services/admin.ts
  frontend/svetu/src/services/api-client.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: добавлено обязательное поле 'code' для AttributeGroup
  backend/internal/domain/models/attribute_group.go
  backend/internal/proj/marketplace/handler/admin_attribute_groups.go
Due: go-format, go-format-check, go-lint

fix: добавлено поле code в frontend для AttributeGroup
  frontend/svetu/src/app/[locale]/admin/attribute-groups/components/GroupForm.tsx
  frontend/svetu/src/services/admin.ts
Due: frontend-format, frontend-lint

fix: добавлено поле code в SQL запросы AttributeGroup storage
  backend/internal/storage/postgres/attribute_groups.go
Due: go-format, go-format-check, go-lint

fix: исправление обработки response.data в attributeGroups API
  frontend/svetu/src/services/admin.ts
Due: frontend-format, frontend-lint

refactor: удалить костыли tokenManager и рудимент OAuthProcessor
  frontend/svetu/src/app/[locale]/auth/oauth/google/callback/OAuthProcessor.tsx
  frontend/svetu/src/app/[locale]/auth/oauth/google/callback/page.tsx
  frontend/svetu/src/constants/api-endpoints.ts
  frontend/svetu/src/services/api-client.ts
Due: frontend-format, frontend-lint

refactor: OAuth через Next.js API route для унификации
  backend/internal/proj/users/handler/auth_oauth.go
  frontend/svetu/src/app/api/auth/google/callback/route.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

remove admin_user fixtures
  backend/fixtures/000030_admin_users.up.sql
Due: none

refactor: OAuth через Next.js API route для унификации
  CHANGELOG.md
  CLAUDE.md
  backend/internal/version/version.go
  frontend/svetu/next.config.ts
  frontend/svetu/package.json
  frontend/svetu/src/app/api/v2/[...path]/route.ts
  frontend/svetu/src/services/admin.ts
  frontend/svetu/src/services/api-client.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

docs: разделить CHANGELOG на backend и frontend
  CHANGELOG.md
  backend/CHANGELOG.md
  frontend/svetu/CHANGELOG.md
Due: frontend-format

Github token for internal libs
  backend/Dockerfile
Due: none

clean jwt secrets
  backend/cmd/utils/generate_admin_jwt/README.md
  backend/cmd/utils/generate_admin_jwt/main.go
  backend/internal/config/config.go
  backend/internal/middleware/middleware.go
  docker-compose.preprod.yml
  docs/JWT_TOKEN_TESTING_GUIDE.md
Due: go-format, go-format-check, go-lint, frontend-format

fix: добавлены materialized views user_ratings и storefront_ratings
  backend/migrations/000022_add_missing_rating_views.down.sql
  backend/migrations/000022_add_missing_rating_views.up.sql
Due: none

fix: добавлена materialized view user_rating_summary для системы рейтингов
  backend/migrations/000021_add_user_rating_summary.down.sql
  backend/migrations/000021_add_user_rating_summary.up.sql
Due: none

feat: добавлена поддержка отображения адресов для marketplace listings и storefront products
  backend/internal/config/config.go
  backend/internal/domain/search/types.go
  backend/internal/middleware/middleware.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/orders/module.go
  backend/internal/proj/search_admin/handler/index_handler.go
  backend/internal/proj/search_admin/handler/routes.go
  backend/internal/proj/search_admin/service/index_service.go
  backend/internal/proj/storefronts/storage/opensearch/product_interface.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  backend/internal/storage/opensearch/client.go
  backend/internal/storage/postgres/db.go
  backend/reindex_cars.py
  backend/reindex_full.py
  frontend/svetu/src/app/[locale]/admin/search/components/SearchIndexManager.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: улучшена система поиска, рейтингов и отладочные инструменты
  backend/internal/middleware/middleware.go
  backend/internal/proj/admin/logistics/module.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/subscriptions/handler/routes.go
  backend/pkg/utils/utils.go
  frontend/svetu/src/app/api/auth/google/callback/route.ts
  frontend/svetu/src/app/api/auth/login/route.ts
  frontend/svetu/src/app/api/auth/refresh/route.ts
  frontend/svetu/src/app/api/auth/register/route.ts
  frontend/svetu/src/app/api/test-cookies/route.ts
  frontend/svetu/src/app/api/v2/[...path]/route.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправлен редирект на localhost после Google OAuth на dev.svetu.rs
  frontend/svetu/CHANGELOG.md
  frontend/svetu/src/app/[locale]/admin/search/components/SearchIndexManager.tsx
  frontend/svetu/src/app/api/auth/google/callback/route.ts
  frontend/svetu/src/app/api/test-cookies/route.ts
  frontend/svetu/src/app/api/v2/[...path]/route.ts
  frontend/svetu/src/services/admin.ts
  frontend/svetu/src/services/api-client.ts
Due: frontend-format, frontend-lint

debug: добавлено логирование backend_url и redirect_uri в OAuth flow
  backend/internal/proj/users/handler/auth_oauth.go
Due: go-format, go-format-check, go-lint

fix: исправлена версия Go с 1.25 на 1.23 (1.25 не существует)
  backend/go.mod
Due: none

fix: изменена версия Go на 1.22 для совместимости с сервером
  backend/go.mod
Due: none

fix: обновлена версия Go до 1.25 и добавлено логирование OAuth redirectURI
  backend/go.mod
Due: none

fix: использовать NEXT_PUBLIC_API_URL вместо хардкоженого localhost:3000 для Google OAuth
  frontend/svetu/src/contexts/AuthContext.tsx
Due: frontend-format, frontend-lint

fix: исправлен GROUP BY в миграции 000022 - убран s.user_id из GROUP BY так как он включен в s.id
  backend/migrations/000022_add_missing_rating_views.up.sql
Due: none

fix: убран индекс на owner_id так как это алиас и нельзя создать на нем индекс
  backend/migrations/000022_add_missing_rating_views.up.sql
Due: none

fix: переписан reindex для использования правильных методов storage
  backend/cmd/reindex/main.go
Due: go-format, go-format-check, go-lint

wip: backup before full code check and fixes
  backend/internal/proj/marketplace/service/marketplace.go
  frontend/svetu/src/components/marketplace/listing/SimilarListings.tsx
  frontend/svetu/src/services/reviewApi.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

chore: полная проверка кода и исправление всех ошибок
  backend/cmd/utils/generate_admin_jwt/main.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/middleware/rate_limiter.go
  backend/internal/proj/analytics/handler/analytics_handler.go
  backend/internal/proj/balance/handler/balance.go
  backend/internal/proj/behavior_tracking/handler/handler.go
  backend/internal/proj/contacts/handler/handler.go
  backend/internal/proj/marketplace/handler/chat.go
  backend/internal/proj/marketplace/handler/favorites.go
  backend/internal/proj/marketplace/handler/images.go
  backend/internal/proj/marketplace/handler/indexing.go
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/handler/order_handler.go
  backend/internal/proj/marketplace/handler/saved_searches.go
  backend/internal/proj/marketplace/handler/translation.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/notifications/handler/handler.go
  backend/internal/proj/orders/handler/order_handler.go
  backend/internal/proj/payments/handler/order_payment_handler.go
  backend/internal/proj/payments/handler/payment_handler.go
  backend/internal/proj/reviews/handler/reviews.go
  backend/internal/proj/search_admin/service/index_service.go
  backend/internal/proj/storefronts/handler/dashboard_handler.go
  backend/internal/proj/storefronts/handler/product_handler.go
  backend/internal/proj/storefronts/handler/staff_handler.go
  backend/internal/proj/storefronts/handler/storefront_handler.go
  backend/internal/proj/translation_admin/handler.go
  frontend/svetu/src/app/[locale]/admin/variant-attributes/VariantAttributesClient.tsx
  frontend/svetu/src/app/[locale]/admin/variant-attributes/components/VariantAttributeForm.tsx
  frontend/svetu/src/app/[locale]/test-auth-config/page.tsx
  frontend/svetu/src/lib/i18n/loadMessages.ts
  frontend/svetu/src/services/reviewApi.ts
  frontend/svetu/src/types/variant-attributes.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

sb fixes
  backend/internal/proj/marketplace/handler/handler.go
  frontend/svetu/src/app/api/v2/[...path]/route.ts
  frontend/svetu/src/contexts/AuthContext.tsx
  frontend/svetu/src/services/api-client.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix(auth): migrate to library-based JWT validation (Phase 1 critical fixes)
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/handler/admin_translations.go
  backend/internal/proj/marketplace/handler/category_detector_handler.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/recommendations/handler.go
  backend/internal/proj/subscriptions/handler/routes.go
  docs/AUTH_LIBRARY_AUDIT_REPORT.md
  docs/AUTH_LIBRARY_SPECIFICATION.md
  docs/AUTH_MIGRATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
