Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go formatting and linting
  - repo: local
    hooks:
      - id: go-format
        name: Go Format (gofumpt + goimports)
        entry: bash -c 'cd backend && make format'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-format-check
        name: Go Format Check
        entry: bash -c 'cd backend && make format-check'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-lint
        name: Go Lint
        entry: bash -c 'cd backend && make lint'
        language: system
        files: \.go$
        pass_filenames: false

  # Frontend formatting
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend/svetu && yarn format'
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false
        
      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend/svetu && yarn lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Trailing whitespace and line endings
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

chore: cleanup legacy opensearch imports and unified endpoints
  backend/internal/proj/admin/testing/service/data_integrity_tests.go
  backend/internal/proj/admin/testing/service/functional_tests.go
  backend/internal/proj/admin/testing/service/integration_tests.go
  backend/internal/proj/admin/testing/service/performance_tests.go
  backend/internal/proj/admin/testing/service/security_tests.go
  backend/internal/proj/orders/module.go
  backend/internal/proj/orders/service/order_service.go
  backend/internal/server/server.go
Due: go-format, go-format-check, go-lint

fix: remove translationService from reviews storage and marketplace dependencies from global service
  backend/internal/proj/global/service/service.go
  backend/internal/proj/global/service/unified_search.go
  backend/internal/proj/reviews/storage/postgres/reviews.go
  backend/internal/storage/postgres/db_storefronts.go
Due: go-format, go-format-check, go-lint

fix: disable OpenSearch and removed services during refactoring (WIP)
  backend/internal/proj/contacts/handler/handler.go
  backend/internal/proj/global/handler/handler.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/reviews/handler/reviews.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/db_marketplace.go
  backend/internal/storage/postgres/db_storefronts.go
Due: go-format, go-format-check, go-lint

fix: massive refactoring to remove OpenSearch dependencies (WIP - compilation errors remain)
  backend/internal/proj/contacts/handler/handler.go
  backend/internal/proj/contacts/handler/routes.go
  backend/internal/proj/global/handler/handler.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/global/handler/unified_search.go.broken
  backend/internal/proj/orders/service/create_order_with_tx.go
  backend/internal/proj/reviews/handler/reviews.go
  backend/internal/proj/reviews/handler/reviews.go.broken
  backend/internal/proj/viber/handler/message_handler.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/db_marketplace.go
  backend/internal/storage/postgres/db_search.go
  backend/internal/storage/postgres/db_storefronts.go
  backend/internal/storage/postgres/db_storefronts.go.broken
Due: go-format, go-format-check, go-lint

fix: resolve viber handler compilation errors
  backend/internal/proj/viber/handler.go
  backend/internal/proj/viber/handler/message_handler.go
Due: go-format, go-format-check, go-lint

fix(server): исправлены ошибки компиляции после миграции marketplace в микросервис
  backend/internal/server/server.go
Due: go-format, go-format-check, go-lint

docs: update migration documentation with Phase 7 completion
  .gitignore
Due: none

docs(migration): Phase 7 completion - removed 70K LOC, backend working
  backend/docs/BLOCKER2_INTEGRATION_TESTS_FIX_REPORT.md
  backend/docs/migration/SPRINT_1.2_VERIFICATION_REPORT.md
  backend/docs/migration/phases/SPRINT_1.3_ASYNC_INDEXING_REPORT.md
  backend/docs/migration/phases/SPRINT_1.3_USAGE_EXAMPLE.md
  backend/internal/proj/orders/service/create_order_with_tx.go
Due: go-format, go-format-check, go-lint, frontend-format

fix: restore 4 critical endpoints after migration
  backend/internal/proj/chat/module.go
  backend/internal/proj/marketplace/handler/neighborhood_stats.go
  backend/internal/proj/marketplace/handler/routes.go
  backend/internal/proj/marketplace/handler/storefronts.go
  backend/internal/proj/marketplace/storage/postgres.go
  backend/internal/proj/marketplace/storage/storage.go
  backend/internal/server/server.go
Due: go-format, go-format-check, go-lint

fix: restore storefront search functionality
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/storage/postgres.go
  backend/internal/proj/marketplace/storage/storage.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/db_core.go
  backend/internal/storage/storage.go
Due: go-format, go-format-check, go-lint

chore: disable logging for /ws/chat WebSocket endpoint
  backend/internal/middleware/logger.go
Due: go-format, go-format-check, go-lint

refactor(phase-7.2): restore storage layer methods via gRPC and PostgreSQL
  backend/cmd/reindex-products/main.go
  backend/docs/PHASE_7.2_STEP2_COMPLETION_REPORT.md
  backend/go.mod
  backend/go.sum
  backend/internal/proj/marketplace/microservice/client.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/db_core.go
  backend/internal/storage/postgres/db_marketplace.go
  backend/internal/storage/postgres/marketplace_attributes.go
  backend/internal/storage/postgres/marketplace_attributes_test.go
  backend/internal/storage/postgres/marketplace_categories.go
  backend/internal/storage/postgres/marketplace_categories_test.go
  backend/internal/storage/postgres/marketplace_grpc_client.go
  backend/internal/storage/postgres/marketplace_grpc_client_test.go
  backend/internal/storage/postgres/marketplace_images.go
  backend/internal/storage/postgres/marketplace_images_test.go
  backend/internal/storage/postgres/marketplace_slugs.go
  backend/internal/storage/postgres/marketplace_slugs_test.go
  backend/tests/e2e/marketplace_microservice_e2e_test.go
Due: go-format, go-format-check, go-lint, frontend-format

feat(phase-7.3): full migration to microservice - remove hybrid architecture
  backend/.env.example
  backend/README.md
  backend/internal/config/config.go
  backend/internal/proj/marketplace/service/router.go
  backend/internal/server/server.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/db_marketplace.go
  backend/run_tests_manually.go
Due: go-format, go-format-check, go-lint, frontend-format

feat(phase-7.3.5): add gRPC methods for images, categories, favorites, variants, reindexing
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings.proto
  api/proto/listings/v1/listings_grpc.pb.go
  internal/domain/listing.go
  internal/repository/postgres/categories_repository.go
  internal/repository/postgres/favorites_repository.go
  internal/repository/postgres/images_repository.go
  internal/repository/postgres/repository.go
  internal/repository/postgres/variants_repository.go
  internal/service/listings/service.go
  internal/transport/grpc/connectivity_test.go
  internal/transport/grpc/converters.go
  internal/transport/grpc/handlers_extended.go
  internal/transport/grpc/handlers_test.go
  internal/transport/http/minimal_handler.go
Due: go-format, go-format-check, go-lint

feat(phase-7.3.5): migrate 15 SQL methods to gRPC
  backend/internal/storage/postgres/db_marketplace.go
  backend/internal/storage/postgres/marketplace_categories.go
  backend/internal/storage/postgres/marketplace_grpc_client.go
  backend/internal/storage/postgres/marketplace_images.go
Due: go-format, go-format-check, go-lint

feat(db): separate PostgreSQL database for listings microservice
  docker-compose.yml
  migrate_data.sh
  migrations/000002_c2c_schema.down.sql
  migrations/000002_c2c_schema.up.sql
Due: none

fix: use c2c_categories table and fix healthcheck
  docker-compose.yml
  internal/repository/postgres/categories_repository.go
Due: go-format, go-format-check, go-lint

feat: integrate listings microservice via gRPC
  backend/internal/clients/listings/client.go
  backend/internal/proj/marketplace/handler/categories.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/server/server.go
Due: go-format, go-format-check, go-lint

feat: add migration to drop 23 legacy tables (Phase 7.4.3)
  backend/migrations/000199_drop_legacy_c2c_b2c_tables.down.sql
  backend/migrations/000199_drop_legacy_c2c_b2c_tables.up.sql
Due: none

fix: graceful degradation for legacy table references
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/handler/categories.go
  backend/internal/proj/marketplace/handler/storefronts.go
  backend/internal/proj/orders/service/create_order_with_tx.go
  backend/internal/proj/reviews/storage/postgres/reviews.go
  backend/internal/storage/postgres/cart_repository.go
Due: go-format, go-format-check, go-lint

fix: comprehensive code quality improvements
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings_grpc.pb.go
  cmd/server/main.go
  internal/repository/opensearch/client.go
  internal/transport/grpc/connectivity_test.go
  internal/transport/http/minimal_handler.go
  pkg/grpc/client_pool.go
  pkg/http/fiber/middleware/listings_test.go
  pkg/service/client.go
  pkg/service/types_test.go
Due: go-format, go-format-check, go-lint

docs: add comprehensive project summary
  PROJECT_SUMMARY.md
Due: frontend-format

feat(proto): add Product CRUD and Variant CRUD RPC methods for Phase 9.5.2
  backend/pkg/proto/listings/v1/listings.pb.go
  backend/pkg/proto/listings/v1/listings.proto
  backend/pkg/proto/listings/v1/listings_grpc.pb.go
Due: go-format, go-format-check, go-lint
