Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go formatting and linting
  - repo: local
    hooks:
      - id: go-format
        name: Go Format (gofumpt + goimports)
        entry: bash -c 'cd backend && make format'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-format-check
        name: Go Format Check
        entry: bash -c 'cd backend && make format-check'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-lint
        name: Go Lint
        entry: bash -c 'cd backend && make lint'
        language: system
        files: \.go$
        pass_filenames: false

  # Frontend formatting
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend/svetu && yarn format'
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false
        
      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend/svetu && yarn lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Trailing whitespace and line endings
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

fix: исправлена ошибка с переводами в Header.tsx
  frontend/svetu/src/components/Header.tsx
Due: frontend-format, frontend-lint

backup: сохранение состояния перед полной проверкой качества кода
  backend/internal/middleware/middleware.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/migrations/000062_create_attribute_groups_table.down.sql
  backend/migrations/000062_create_attribute_groups_table.up.sql
  backend/scripts/test_admin_session.sh
  docs/AUTH_SERVICE_MIGRATION_PLAN.md
  docs/USER_MIGRATION_COMPLETED.md
  frontend/svetu/src/app/[locale]/admin/variant-attributes/VariantAttributesClient.tsx
  frontend/svetu/src/app/[locale]/auth/oauth/google/callback/page.tsx
  frontend/svetu/src/components/AuthButton.tsx
  frontend/svetu/src/contexts/AuthContext.tsx
  frontend/svetu/src/messages/ru/marketplace.json
  frontend/svetu/src/services/admin.ts
  frontend/svetu/src/services/auth.ts
  frontend/svetu/src/services/translationAdminApi.ts
  scripts/go.mod
  scripts/go.sum
  scripts/migrate_users_to_auth_service.go
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: комплексное исправление качества кода и линтера
  frontend/svetu/src/app/[locale]/admin/variant-attributes/VariantAttributesClient.tsx
  frontend/svetu/src/app/[locale]/auth/oauth/google/callback/page.tsx
  frontend/svetu/src/contexts/AuthContext.tsx
  frontend/svetu/src/i18n/request.ts
  frontend/svetu/src/services/admin.ts
  frontend/svetu/src/services/auth.ts
  frontend/svetu/test-load-messages.js
Due: frontend-format, frontend-lint

feat: миграция на Auth Service и улучшение системы переводов
  frontend/svetu/src/app/[locale]/auth/oauth/google/callback/page.tsx
  frontend/svetu/src/app/[locale]/layout.tsx
  frontend/svetu/src/i18n/messages.ts
  frontend/svetu/src/i18n/request.ts
  frontend/svetu/src/lib/i18n/loadMessages.ts
Due: frontend-format, frontend-lint

fix: исправление OAuth callback и размера заголовков
  backend/internal/server/server.go
  frontend/svetu/src/app/[locale]/auth/oauth/google/callback/page.tsx
  frontend/svetu/src/utils/clearLargeHeaders.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

backup: сохранение состояния перед полной проверкой качества кода
  frontend/svetu/package-lock.json
  frontend/svetu/package.json
  frontend/svetu/src/app/[locale]/auth/callback/CallbackClient.tsx
  frontend/svetu/src/app/[locale]/auth/oauth/google/callback/page.tsx
  frontend/svetu/src/contexts/AuthContext.tsx
  frontend/svetu/src/messages/ru/marketplace.json
  frontend/svetu/src/services/auth.ts
  frontend/svetu/src/utils/jwtDecode.ts
  frontend/svetu/yarn.lock
Due: frontend-format, frontend-lint

fix: комплексное исправление качества кода и линтера
  frontend/svetu/src/app/[locale]/auth/callback/CallbackClient.tsx
  frontend/svetu/src/app/[locale]/auth/oauth/google/callback/page.tsx
  frontend/svetu/src/components/admin/translations/AICostsMonitor.tsx
  frontend/svetu/src/contexts/AuthContext.tsx
  frontend/svetu/src/i18n/messages.ts
  frontend/svetu/src/i18n/request.ts
  frontend/svetu/src/lib/i18n/loadMessages.ts
  frontend/svetu/src/utils/clearLargeHeaders.ts
  frontend/svetu/src/utils/jwtDecode.ts
Due: frontend-format, frontend-lint

fix: улучшить оформление checkout страницы и исправить переводы
  .playwright-mcp/checkout-page-improved.png
  frontend/svetu/src/app/[locale]/checkout/page.tsx
  frontend/svetu/src/messages/en/marketplace.json
  frontend/svetu/src/messages/sr/marketplace.json
Due: frontend-format, frontend-lint

fix: исправить ошибки с отображением изображений и обработкой null категорий
  .playwright-mcp/homepage-images-check.png
  .playwright-mcp/images-after-fix.png
  .playwright-mcp/official-stores-section.png
  .playwright-mcp/shops-section.png
  frontend/svetu/next.config.ts
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/checkout/page.tsx
  frontend/svetu/src/components/search/NestedCategorySelector.tsx
  frontend/svetu/src/config/index.ts
Due: frontend-format, frontend-lint

docs: add SSL certificates management documentation
  docs/SSL_CERTIFICATES_MANAGEMENT.md
Due: frontend-format

feat: миграция frontend на использование абсолютных API URL
  check-api-usage.sh
  docs/MIGRATION_API_URL.md
  frontend/svetu/src/app/[locale]/admin/auth/page.tsx
  frontend/svetu/src/app/[locale]/admin/postexpress/page.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/SearchWeights.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/WeightOptimization.tsx
  frontend/svetu/src/app/[locale]/admin/variant-attributes/VariantAttributesClient.tsx
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/app/[locale]/create-listing-smart/page.tsx
  frontend/svetu/src/app/[locale]/docs/page.tsx
  frontend/svetu/src/app/[locale]/examples/novi-sad-districts/manage/page.tsx
  frontend/svetu/src/app/[locale]/user-contacts/page.tsx
  frontend/svetu/src/components/GIS/hooks/useVisibleCities.ts
  frontend/svetu/src/components/Storefront/ProductVariants/VariantGenerator.tsx
  frontend/svetu/src/components/Storefront/ProductVariants/VariantManager.tsx
  frontend/svetu/src/components/admin/translations/AITranslations.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXAddressForm.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXDeliverySelector.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXDeliveryStep.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressDeliverySelector.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressOfficeSelector.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressRateCalculator.tsx
  frontend/svetu/src/components/products/EnhancedVariantGenerator.tsx
  frontend/svetu/src/components/products/SimplifiedVariantGenerator.tsx
  frontend/svetu/src/components/search/QuerySuggestions.tsx
  frontend/svetu/src/components/shared/ARProductViewer.tsx
  frontend/svetu/src/components/shared/QRBarcodeScanner.tsx
  frontend/svetu/src/hooks/useAnalytics.ts
  frontend/svetu/src/services/abTestingService.ts
  frontend/svetu/src/services/admin.ts
  frontend/svetu/src/services/ai/claude.service.ts
  frontend/svetu/src/services/api.ts
  frontend/svetu/src/services/biometricAuthService.ts
  frontend/svetu/src/services/translationAdminApi.ts
  frontend/svetu/src/store/slices/storefrontSlice.ts
Due: frontend-format, frontend-lint

chore: удаление временных файлов миграции API
  check-api-usage.sh
  docs/MIGRATION_API_URL.md
Due: frontend-format

fix: исправление импортов configManager с named на default export
  frontend/svetu/src/app/[locale]/admin/auth/page.tsx
  frontend/svetu/src/app/[locale]/admin/postexpress/page.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/SearchWeights.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/WeightOptimization.tsx
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/app/[locale]/create-listing-smart/page.tsx
  frontend/svetu/src/app/[locale]/docs/page.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXAddressForm.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXDeliverySelector.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXDeliveryStep.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressDeliverySelector.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressOfficeSelector.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressRateCalculator.tsx
  frontend/svetu/src/services/abTestingService.ts
  frontend/svetu/src/services/admin.ts
  frontend/svetu/src/services/ai/claude.service.ts
  frontend/svetu/src/services/biometricAuthService.ts
  frontend/svetu/src/services/translationAdminApi.ts
Due: frontend-format, frontend-lint

fix: исправление использования configManager API методов
  frontend/svetu/src/app/[locale]/admin/auth/page.tsx
  frontend/svetu/src/app/[locale]/admin/postexpress/page.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/SearchWeights.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/WeightOptimization.tsx
  frontend/svetu/src/app/[locale]/admin/variant-attributes/VariantAttributesClient.tsx
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/app/[locale]/create-listing-smart/page.tsx
  frontend/svetu/src/app/[locale]/docs/page.tsx
  frontend/svetu/src/app/[locale]/examples/novi-sad-districts/manage/page.tsx
  frontend/svetu/src/app/[locale]/user-contacts/page.tsx
  frontend/svetu/src/components/GIS/hooks/useVisibleCities.ts
  frontend/svetu/src/components/Storefront/ProductVariants/VariantGenerator.tsx
  frontend/svetu/src/components/Storefront/ProductVariants/VariantManager.tsx
  frontend/svetu/src/components/admin/translations/AITranslations.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXAddressForm.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXDeliverySelector.tsx
  frontend/svetu/src/components/delivery/bexexpress/BEXDeliveryStep.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressDeliverySelector.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressOfficeSelector.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressRateCalculator.tsx
  frontend/svetu/src/components/products/EnhancedVariantGenerator.tsx
  frontend/svetu/src/components/products/SimplifiedVariantGenerator.tsx
  frontend/svetu/src/components/search/QuerySuggestions.tsx
  frontend/svetu/src/components/shared/ARProductViewer.tsx
  frontend/svetu/src/components/shared/QRBarcodeScanner.tsx
  frontend/svetu/src/hooks/useAnalytics.ts
  frontend/svetu/src/services/abTestingService.ts
  frontend/svetu/src/services/admin.ts
  frontend/svetu/src/services/ai/claude.service.ts
  frontend/svetu/src/services/api.ts
  frontend/svetu/src/services/biometricAuthService.ts
  frontend/svetu/src/services/translationAdminApi.ts
  frontend/svetu/src/store/slices/storefrontSlice.ts
Due: frontend-format, frontend-lint

docs: добавить план финальной миграции на Auth Service микросервис
  backend/scripts/create_test_jwt.go
  docs/AUTH_SERVICE_FINAL_MIGRATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

refactor: завершить миграцию на Auth Service микросервис
  backend/.env.example
  backend/internal/middleware/auth_proxy.go
  backend/internal/proj/users/handler/auth.go
  backend/internal/proj/users/handler/users.go
  backend/migrations/000102_cleanup_auth_tables.down.sql
  backend/migrations/000102_cleanup_auth_tables.up.sql
  backend/scripts/test_auth_migration.sh
  docs/AUTH_SERVICE_MIGRATION_COMPLETE.md
Due: go-format, go-format-check, go-lint, frontend-format

docs: добавить финальный отчет о миграции на Auth Service
  docs/AUTH_SERVICE_MIGRATION_FINAL_REPORT.md
Due: frontend-format

chore fronte configManager
  frontend/svetu/src/app/[locale]/admin/variant-attributes/VariantAttributesClient.tsx
Due: frontend-format, frontend-lint

docs: Добавлена полная документация проекта и планы развития
  DETAILED_ROADMAP_TZ.md
  NOTION_AI_FULL_PROJECT_RU.md
  NOTION_AI_PROMPT.md
  NOTION_SETUP_GUIDE.md
  SVETU_DETAILED_ROADMAP_2025.md
  SVETU_MVP_SPECIFICATION_FOR_NOTION_AI.md
  SYSTEMS_NOT_COMPLETED.md
  TRELLO_IMPORT_GUIDE.md
  YOUGILE_ZAPIER_INTEGRATION_GUIDE.md
  docs/AUTH_SERVICE_MIGRATION_SUMMARY.md
  notion_import.csv
  notion_roadmap.csv
  roadmap_gantt_chart.html
  trello_import.json
  yougile_import.json
  yougile_tasks.csv
Due: frontend-format

fix: Исправлены критические ошибки системы переводов
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/admin-test/page.tsx
  frontend/svetu/src/app/[locale]/admin/translations/components/InlineTranslationEditor.tsx
  frontend/svetu/src/app/[locale]/admin/translations/components/TranslationEditorDemo.tsx
  frontend/svetu/src/app/[locale]/admin/translations/components/TranslationSearch.tsx
  frontend/svetu/src/app/[locale]/examples/logos/page.tsx
  frontend/svetu/src/app/[locale]/marketplace/[id]/buy/page.tsx
  frontend/svetu/src/app/[locale]/orders/[id]/payment-failed/PaymentFailedClient.tsx
  frontend/svetu/src/app/[locale]/orders/[id]/success/SuccessClient.tsx
  frontend/svetu/src/app/[locale]/pricing/page.tsx
  frontend/svetu/src/app/[locale]/profile/orders/[id]/page.tsx
  frontend/svetu/src/app/[locale]/profile/orders/purchases/page.tsx
  frontend/svetu/src/app/[locale]/profile/orders/sales/page.tsx
  frontend/svetu/src/components/admin/translations/AuditLogViewer.tsx
  frontend/svetu/src/components/admin/translations/BulkTranslationManager.tsx
  frontend/svetu/src/components/admin/translations/ExportImportManager.tsx
  frontend/svetu/src/components/admin/translations/VersionHistoryViewer.tsx
  frontend/svetu/src/components/cart/DeliverySelector.tsx
  frontend/svetu/src/components/marketplace/HomePage.tsx
  frontend/svetu/src/components/marketplace/HomePageWithFilters.tsx
  frontend/svetu/src/components/marketplace/MarketplaceList.tsx
  frontend/svetu/src/components/orders/OrderStatistics.tsx
  frontend/svetu/src/components/storefronts/UpgradePrompt.tsx
  package-lock.json
  package.json
  scripts/fix-translations.js
Due: frontend-format, frontend-lint

fix: исправити све енглеске преводе у admin модулу
  docs/AUDIT_REPORT_FINAL.md
  frontend/svetu/src/messages/sr/admin.json
Due: frontend-format

fix: исправлены синтаксические ошибки JSON в admin.json переводах для сербского языка
  frontend/svetu/src/messages/sr/admin.json
Due: frontend-format

fix: финальные исправления переводов главной страницы
  frontend/svetu/src/messages/ru/common.json
Due: frontend-format

backup: резервная копия перед полной проверкой проекта
  TRANSLATION_SYSTEM_100_PERCENT_COMPLETE.md
  backend/migrations/000103_add_keywords_for_all_categories.down.sql
  backend/migrations/000103_add_keywords_for_all_categories.up.sql
  docs/TRANSLATION_AUDIT_FINAL_REPORT.md
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/messages/en/common.json
  frontend/svetu/src/messages/en/marketplace.json
  frontend/svetu/src/messages/ru/common.json
  frontend/svetu/src/messages/sr/common.json
  frontend/svetu/src/messages/sr/marketplace.json
Due: frontend-format, frontend-lint

refactor: очистка swagger документации и исправление переводов
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/users/handler/auth.go
  backend/internal/proj/users/handler/users.go
  backend/scripts/create_test_jwt.go
  frontend/svetu/src/messages/ru/common.json
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix auth proxy headers
  Makefile
  backend/internal/middleware/auth_proxy.go
  backend/internal/service/authclient/client.go
  docker-compose.preprod.yml
Due: go-format, go-format-check, go-lint

fix jwt auth
  backend/internal/middleware/auth_proxy.go
  backend/internal/middleware/cors.go
  backend/internal/middleware/middleware.go
  backend/internal/server/server.go
  backend/internal/service/authclient/client.go
  frontend/svetu/Dockerfile.dev
  frontend/svetu/package.json
  frontend/svetu/src/app/[locale]/auth/oauth/google/callback/OAuthProcessor.tsx
  frontend/svetu/src/app/[locale]/auth/oauth/google/callback/page.tsx
  frontend/svetu/src/components/AuthModal.tsx
  frontend/svetu/src/contexts/AuthContext.tsx
  frontend/svetu/src/services/auth.ts
  frontend/svetu/src/utils/tokenManager.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: полное исправление мобильной версии карты
  frontend/svetu/src/app/[locale]/map/MapClient.tsx
Due: frontend-format, frontend-lint

fix: мобильная версия карты - исправления UX и фильтров
  frontend/svetu/src/app/[locale]/map/MapClient.tsx
  frontend/svetu/src/components/GIS/Mobile/MobileBottomSheet.tsx
  frontend/svetu/src/components/GIS/Mobile/MobileFiltersDrawer.tsx
  frontend/svetu/src/hooks/useMobileOptimization.ts
  frontend/svetu/src/messages/en/map.json
  frontend/svetu/src/messages/ru/map.json
  frontend/svetu/src/messages/sr/map.json
Due: frontend-format, frontend-lint

feat: улучшенная мобильная версия страницы карты
  .playwright-mcp/map-mobile-before.png
  frontend/svetu/src/app/[locale]/map/MapClient.tsx
  frontend/svetu/src/components/GIS/Mobile/FloatingActionButtons.tsx
  frontend/svetu/src/components/GIS/Mobile/MobileBottomSheet.tsx
  frontend/svetu/src/components/GIS/Mobile/MobileFiltersDrawer.tsx
  frontend/svetu/src/components/GIS/Mobile/MobileSearch.tsx
  frontend/svetu/src/components/GIS/Mobile/VirtualizedList.tsx
  frontend/svetu/src/components/GIS/Mobile/index.ts
  frontend/svetu/src/hooks/useMobileOptimization.ts
  frontend/svetu/src/styles/map-animations.css
Due: frontend-format, frontend-lint

fix: исправление всех ошибок форматирования, линтинга и сборки
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/gis/constants/limits.go
  backend/internal/proj/gis/handler/district_handler.go
  backend/internal/proj/gis/types/geo_types.go
  frontend/svetu/src/app/[locale]/map/MapClient.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Map/MarkerClickPopup.tsx
  frontend/svetu/src/components/GIS/Map/MarkerHoverPopup.tsx
  frontend/svetu/src/components/GIS/Map/StorefrontMarker.tsx
  frontend/svetu/src/components/common/CategoryTreeSelector.tsx
  frontend/svetu/src/hooks/useProgressiveLoading.ts
  frontend/svetu/src/services/admin.ts
  frontend/svetu/src/services/translationAdminApi.ts
  frontend/svetu/src/styles/map-animations.css
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправлены ошибки линтинга в GIS модуле
  backend/internal/proj/gis/handler/cluster.go
  backend/internal/proj/gis/service/spatial_service.go
Due: go-format, go-format-check, go-lint

fix: полное исправление мобильной версии карты
  frontend/svetu/src/components/GIS/Mobile/FloatingActionButtons.tsx
Due: frontend-format, frontend-lint

chore: добавить public.pem в .gitignore
  .gitignore
Due: none

chore: резервный коммит перед полной проверкой и исправлением кода
  .playwright-mcp/create-listing-ai-page.png
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/ai/handler/handler.go
  backend/internal/proj/marketplace/handler/search.go
  backend/internal/proj/marketplace/services/category_detector.go
  backend/internal/server/server.go
  backend/keys/auth_service_public.pem
  backend/keys/auth_service_public_old.pem
  backend/migrations/000020_add_unit_to_listing_attributes.down.sql
  backend/migrations/000020_add_unit_to_listing_attributes.up.sql
  backend/migrations/000021_add_household_appliances_keywords.down.sql
  backend/migrations/000021_add_household_appliances_keywords.up.sql
  frontend/svetu/src/app/[locale]/auth/oauth/google/callback/OAuthProcessor.tsx
  frontend/svetu/src/app/[locale]/auth/oauth/google/callback/page.tsx
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/app/[locale]/map/MapClient.tsx
  frontend/svetu/src/components/GIS/Mobile/FloatingActionButtons.tsx
  frontend/svetu/src/components/GIS/Mobile/MobileBottomSheet.tsx
  frontend/svetu/src/components/GIS/Mobile/MobileSearch.tsx
  frontend/svetu/src/components/GIS/Mobile/VirtualizedList.tsx
  frontend/svetu/src/contexts/AuthContext.tsx
  frontend/svetu/src/hooks/useMobileOptimization.ts
  frontend/svetu/src/messages/en/create_listing.json
  frontend/svetu/src/messages/en/search.json
  frontend/svetu/src/messages/ru/create_listing.json
  frontend/svetu/src/messages/sr/create_listing.json
  frontend/svetu/src/services/ai/claude.service.ts
  frontend/svetu/src/services/auth.ts
  frontend/svetu/src/services/listings.ts
  frontend/svetu/src/services/unifiedSearch.ts
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint
