Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

feat: обновление API документации и типов для AI функций
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  frontend/svetu/src/services/unifiedSearch.ts
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

refactor: полная миграция системы чатов на DaisyUI компоненты
  docs/CHAT_SYSTEM_AUDIT_AND_IMPROVEMENT_PLAN.md
  frontend/svetu/src/app/[locale]/chat/ChatClient.tsx
  frontend/svetu/src/app/globals.css
  frontend/svetu/src/components/Chat/ChatErrorBoundary.tsx
  frontend/svetu/src/components/Chat/ChatList.tsx
  frontend/svetu/src/components/Chat/ChatWindow.tsx
  frontend/svetu/src/components/Chat/MessageInput.tsx
  frontend/svetu/src/components/Chat/MessageItem.tsx
  frontend/svetu/src/styles/chat-bubble.css
  frontend/svetu/src/styles/chat-patterns.css
Due: frontend-format, frontend-lint

feat: улучшение дизайна чата с современным оформлением
  frontend/svetu/src/components/Chat/ChatWindow.tsx
  frontend/svetu/src/components/Chat/MessageInput.tsx
Due: frontend-format, frontend-lint

feat: добавлен красивый гексагональный паттерн для фона чата
  frontend/svetu/src/components/Chat/ChatWindow.tsx
Due: frontend-format, frontend-lint

fix: улучшен паттерн сот для лучшей видимости в чате
  frontend/svetu/src/components/Chat/ChatWindow.tsx
Due: frontend-format, frontend-lint

fix: убран артефакт '0' в интерфейсе чата
  frontend/svetu/src/components/Chat/ChatWindow.tsx
Due: frontend-format, frontend-lint

fix: полное исправление артефактов '0' в интерфейсе чата
  frontend/svetu/src/components/Chat/ChatWindow.tsx
Due: frontend-format, frontend-lint

feat: добавлен паттерн точек для фона чата
  frontend/svetu/src/components/Chat/ChatWindow.tsx
Due: frontend-format, frontend-lint

fix: восстановлен и улучшен паттерн гексагональных сот для фона чата
  frontend/svetu/src/components/Chat/ChatWindow.tsx
Due: frontend-format, frontend-lint

feat: восстановлен оригинальный SVG паттерн гексагональных сот
  frontend/svetu/src/components/Chat/ChatWindow.tsx
Due: frontend-format, frontend-lint

backup: сохранение текущего состояния перед полной проверкой кода
  AUTH_SERVICE_TOKEN_ISSUE.md
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/domain/models/user_profile.go
  backend/internal/proj/contacts/handler/handler.go
  backend/internal/proj/contacts/handler/routes.go
  backend/internal/proj/marketplace/service/contacts.go
  backend/internal/proj/marketplace/service/interface.go
  backend/internal/proj/marketplace/storage/postgres/chat.go
  backend/internal/proj/marketplace/storage/postgres/contacts.go
  backend/internal/proj/users/storage/postgres/user_profile.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/storage.go
  backend/migrations/000022_update_demo_user_names.down.sql
  backend/migrations/000022_update_demo_user_names.up.sql
  backend/migrations/000023_sync_users_with_auth_service.down.sql
  backend/migrations/000023_sync_users_with_auth_service.up.sql
  frontend/svetu/src/components/Chat/ChatErrorBoundary.tsx
  frontend/svetu/src/components/Chat/ChatList.tsx
  frontend/svetu/src/components/Chat/ChatWindow.tsx
  frontend/svetu/src/components/Chat/IncomingContactRequest.tsx
  frontend/svetu/src/components/Chat/MessageInput.tsx
  frontend/svetu/src/components/Chat/MessageItem.tsx
  frontend/svetu/src/hooks/useIncomingContactRequests.ts
  frontend/svetu/src/messages/en/chat.json
  frontend/svetu/src/messages/ru/chat.json
  frontend/svetu/src/messages/sr/chat.json
  frontend/svetu/src/services/contacts.ts
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: комплексное улучшение системы чатов и синхронизация пользователей
  backend/internal/proj/marketplace/service/category_test.go
  backend/internal/proj/marketplace/service/integration_test.go
  backend/internal/proj/marketplace/storage/postgres/chat.go
  frontend/svetu/src/components/Chat/ChatList.tsx
  frontend/svetu/src/components/Chat/ChatWindow.tsx
  frontend/svetu/src/components/Chat/IncomingContactRequest.tsx
  frontend/svetu/src/components/Chat/MessageInput.tsx
  frontend/svetu/src/hooks/useIncomingContactRequests.ts
  frontend/svetu/src/services/contacts.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: добавлена миграция для синхронизации ID пользователей с auth микросервисом
  backend/migrations/000024_sync_user_ids_with_auth_service.down.sql
  backend/migrations/000024_sync_user_ids_with_auth_service.up.sql
Due: none

docs: добавлен аудит синхронизации пользователей между основной БД и Auth сервисом
  docs/USER_SYNC_AUDIT_REPORT.md
Due: frontend-format

docs: комплексный аудит систем Post Express, пользователей и план отслеживания заказов
  docs/AUDIT_POST_EXPRESS_2025-09-16.md
  docs/AUDIT_USERS_SYSTEM_2025-09-16.md
  docs/ORDER_TRACKING_IMPLEMENTATION_PLAN.md
Due: frontend-format

fix: исправлена потеря авторизации при обновлении страницы на dev.svetu.rs
  docs/AUTH_FRONTEND_FIX_REPORT_2025-09-16.md
  docs/AUTH_SERVICE_TASK_2025-09-16.md
  docs/TOKEN_CLEANUP_LOCATIONS.md
  frontend/svetu/src/app/[locale]/auth/oauth/google/callback/OAuthProcessor.tsx
  frontend/svetu/src/services/auth.ts
  frontend/svetu/src/utils/tokenManager.ts
Due: frontend-format, frontend-lint

fix: убран вызов несуществующего endpoint /auth/session
  backend/migrations/000025_update_storefronts_owner_and_activate.down.sql
  backend/migrations/000025_update_storefronts_owner_and_activate.up.sql
  backend/migrations/000026_storefronts_active_by_default.down.sql
  backend/migrations/000026_storefronts_active_by_default.up.sql
  docs/AUTH_SERVICE_TASK_2025-09-16.md
  docs/OFFICIAL_STORES_AUDIT_REPORT.md
  docs/STOREFRONTS_DEFAULT_ACTIVE_UPDATE.md
  docs/STOREFRONTS_FIXES_COMPLETE.md
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/auth/oauth/google/callback/OAuthProcessor.tsx
  frontend/svetu/src/app/[locale]/marketplace/[id]/page.tsx
  frontend/svetu/src/components/storefronts/public/StorefrontActions.tsx
  frontend/svetu/src/messages/en/common.json
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/common.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/common.json
  frontend/svetu/src/messages/sr/storefronts.json
Due: frontend-format, frontend-lint

fix auth
  .gitignore
  frontend/svetu/Dockerfile
  frontend/svetu/package-lock.json
  frontend/svetu/src/app/api/auth/session/route.ts
  frontend/svetu/src/hooks/useCartSync.ts
  frontend/svetu/src/utils/tokenManager.ts
Due: frontend-format, frontend-lint

gitignore .env.docker
  .gitignore
Due: none

fix: исправление типизации context keys и удаление тестовых логов
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/service/category_test.go
  backend/internal/proj/marketplace/service/integration_test.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/hooks/useCartSync.ts
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

backup: сохранение состояния перед полной проверкой кода
  backend/go.mod
  backend/go.sum
  backend/internal/proj/tracking/courier_service.go
  backend/internal/proj/tracking/delivery_service.go
  backend/internal/proj/tracking/handler.go
  backend/internal/proj/tracking/hub.go
  backend/internal/proj/tracking/module.go
  backend/internal/proj/viber/config/config.go
  backend/internal/proj/viber/handler.go
  backend/internal/proj/viber/handler/message_handler.go
  backend/internal/proj/viber/handler/webhook_handler.go
  backend/internal/proj/viber/infobip/client.go
  backend/internal/proj/viber/models/models.go
  backend/internal/proj/viber/module.go
  backend/internal/proj/viber/service/bot_service.go
  backend/internal/proj/viber/service/infobip_bot_service.go
  backend/internal/proj/viber/service/session_manager.go
  backend/internal/server/server.go
  backend/migrations/000029_fix_storefront_products_count.down.sql
  backend/migrations/000029_fix_storefront_products_count.up.sql
  backend/migrations/000031_viber_bot_and_courier_tracking.down.sql
  backend/migrations/000031_viber_bot_and_courier_tracking.up.sql
  backend/scripts/test_viber_interactive.go
  docs/INFOBIP_VIBER_BOT_INTEGRATION.md
  docs/VIBER_BOT_COURIER_TRACKING_IMPLEMENTATION.md
  docs/VIBER_BOT_IMPLEMENTATION_PLAN.md
  docs/VIBER_BOT_REGISTRATION_GUIDE_SERBIA.md
  docs/VIBER_BOT_TRACKING_AUDIT_REPORT.md
  frontend/svetu/package-lock.json
  frontend/svetu/package.json
  frontend/svetu/src/app/[locale]/track/[token]/page.tsx
  frontend/svetu/src/components/tracking/DeliveryInfo.tsx
  frontend/svetu/src/components/tracking/TrackingMap.tsx
  frontend/svetu/src/hooks/useWebSocket.ts
  frontend/svetu/src/messages/en/tracking.json
  frontend/svetu/src/messages/ru/tracking.json
  frontend/svetu/src/messages/sr/tracking.json
  frontend/svetu/yarn.lock
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: реализация Viber бота для отслеживания доставки и улучшения витрин
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/tracking/courier_service.go
  backend/internal/proj/tracking/delivery_service.go
  backend/internal/proj/tracking/handler.go
  backend/internal/proj/tracking/hub.go
  backend/internal/proj/tracking/module.go
  backend/internal/proj/viber/config/config.go
  backend/internal/proj/viber/handler.go
  backend/internal/proj/viber/handler/message_handler.go
  backend/internal/proj/viber/handler/webhook_handler.go
  backend/internal/proj/viber/infobip/client.go
  backend/internal/proj/viber/models/models.go
  backend/internal/proj/viber/module.go
  backend/internal/proj/viber/service/bot_service.go
  backend/internal/proj/viber/service/infobip_bot_service.go
  backend/internal/proj/viber/service/session_manager.go
  backend/internal/server/server.go
  backend/scripts/test_viber_interactive.go
  frontend/svetu/package-lock.json
  frontend/svetu/src/app/[locale]/track/[token]/page.tsx
  frontend/svetu/src/components/tracking/DeliveryInfo.tsx
  frontend/svetu/src/components/tracking/TrackingMap.tsx
  frontend/svetu/src/hooks/useWebSocket.ts
  frontend/svetu/src/messages/en/tracking.json
  frontend/svetu/src/messages/ru/tracking.json
  frontend/svetu/src/messages/sr/tracking.json
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

make dev-restart for backend & frontend
  backend/Makefile
  frontend/svetu/Makefile
  frontend/svetu/package-lock.json
  frontend/svetu/yarn.lock
Due: frontend-format

fix: добавлены отсутствующие переводы для страницы трекинга
  frontend/svetu/src/i18n/messages.ts
Due: frontend-format, frontend-lint

Deploy to dev server
  deploy-to-dev.sh
Due: none

fix: публичный доступ к tracking API без авторизации
  backend/internal/server/server.go
Due: go-format, go-format-check, go-lint

fix: исправление подключения WebSocket для страницы трекинга
  frontend/svetu/src/app/[locale]/track/[token]/TrackingClient.tsx
Due: frontend-format, frontend-lint

feat: добавлена поддержка FrontendURL для динамической генерации ссылок
  backend/.env.dev
  backend/internal/proj/viber/config/config.go
  backend/internal/proj/viber/service/infobip_bot_service.go
Due: go-format, go-format-check, go-lint

feat: реализация интеграции Viber бота с системой отслеживания доставок
  .playwright-mcp/tracking-final.png
  .playwright-mcp/tracking-page-fixed.png
  .playwright-mcp/viber-tracking-with-header.png
  backend/internal/proj/tracking/delivery_service.go
  backend/internal/proj/tracking/handler.go
  backend/internal/proj/viber/handler/message_handler.go
  backend/internal/proj/viber/models/models.go
  backend/internal/proj/viber/service/infobip_bot_service.go
  backend/test_viber_webhook.sh
  docs/VIBER_TRACKING_INTEGRATION.md
  docs/VIBER_TRACKING_STATUS.md
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/track/[token]/TrackingClient.tsx
  frontend/svetu/src/components/tracking/DeliveryInfo.tsx
  frontend/svetu/src/components/tracking/TrackingMap.tsx
  frontend/svetu/src/messages/en/tracking.json
  frontend/svetu/src/messages/ru/tracking.json
  frontend/svetu/src/messages/sr/tracking.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: интеграция WebSocket с tracking модулем
  backend/internal/proj/tracking/module.go
  backend/internal/server/server.go
Due: go-format, go-format-check, go-lint

fix: add devapi.svetu.rs to CORS allowed origins
  backend/internal/middleware/cors.go
  deploy-to-dev.sh
Due: go-format, go-format-check, go-lint

Deploy to dev server
  .playwright-mcp/dev-tracking-page-with-header.png
  deploy-to-dev.sh
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
Due: frontend-format, frontend-lint

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
