Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go formatting and linting
  - repo: local
    hooks:
      - id: go-format
        name: Go Format (gofumpt + goimports)
        entry: bash -c 'cd backend && make format'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-format-check
        name: Go Format Check
        entry: bash -c 'cd backend && make format-check'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-lint
        name: Go Lint
        entry: bash -c 'cd backend && make lint'
        language: system
        files: \.go$
        pass_filenames: false

  # Frontend formatting
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend/svetu && yarn format'
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false
        
      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend/svetu && yarn lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Trailing whitespace and line endings
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

feat(grpc): implement Product and Variant CRUD handlers for Phase 9.5.2
  DELETE_PRODUCT_IMPLEMENTATION.md
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings.proto
  api/proto/listings/v1/listings_grpc.pb.go
  docker-compose.yml
  docs/PRODUCTS_DATA_MIGRATION.md
  internal/domain/product.go
  internal/repository/postgres/favorites_repository.go
  internal/repository/postgres/product_variants_repository.go
  internal/repository/postgres/products_repository.go
  internal/repository/postgres/repository.go
  internal/service/listings/service.go
  internal/service/listings/stock_service.go
  internal/transport/grpc/converters.go
  internal/transport/grpc/handlers_extended.go
  internal/transport/grpc/handlers_products.go
  internal/transport/grpc/handlers_stock.go
  migrations/000003_add_storefronts.down.sql
  migrations/000003_add_storefronts.up.sql
  scripts/migrate_products_data.sh
Due: go-format, go-format-check, go-lint, frontend-format

feat(grpc): complete Phase 9.5.2 - Bulk Operations + Proto Sync
  api/proto/listings/v1/listings.pb.go
  api/proto/listings/v1/listings.proto
  api/proto/listings/v1/listings_grpc.pb.go
  internal/domain/product.go
  internal/repository/postgres/product_variants_repository.go
  internal/repository/postgres/products_bulk_update.go
  internal/repository/postgres/products_repository.go
  internal/service/listings/service.go
  internal/transport/grpc/converters.go
  internal/transport/grpc/handlers_products.go
  internal/transport/grpc/handlers_products_bulk.go
Due: go-format, go-format-check, go-lint

feat: implement Phase 9.5.3 - gRPC inventory handlers + unit tests
  internal/transport/grpc/handlers_inventory.go
  internal/transport/grpc/handlers_inventory_test.go
Due: go-format, go-format-check, go-lint

feat(phase-9.6.4): implement load testing and conditional rate limiter
  cmd/server/main.go
  docs/LOAD_TEST_REPORT.md
  scripts/README.md
  scripts/analyze_results.py
  scripts/detect_leaks.py
  scripts/load_test.sh
  scripts/monitor_memory.sh
  scripts/monitor_resources.sh
  scripts/profile_memory.sh
  scripts/quick_check.sh
Due: go-format, go-format-check, go-lint, frontend-format

feat(listings): add Product CRUD gRPC client infrastructure
  backend/pkg/clients/listings/API_SUMMARY.md
  backend/pkg/clients/listings/IMPLEMENTATION_REPORT.md
  backend/pkg/clients/listings/README.md
  backend/pkg/clients/listings/client.go
  backend/pkg/proto/listings/v1/listings.pb.go
  backend/pkg/proto/listings/v1/listings.proto
  backend/pkg/proto/listings/v1/listings_grpc.pb.go
Due: go-format, go-format-check, go-lint, frontend-format

feat: Phase 9.7.2 - Service Layer Tests Complete
  docs/migration/PROGRESS.md
  internal/service/listings/mocks/README.md
  internal/service/listings/mocks/cache_mock.go
  internal/service/listings/mocks/indexer_mock.go
  internal/service/listings/mocks/repository_mock.go
  internal/service/listings/service.go
  internal/service/listings/service_test.go
  internal/service/listings/stock_service.go
  internal/service/listings/stock_service_test.go
  internal/service/listings/test_helpers.go
Due: go-format, go-format-check, go-lint, frontend-format

feat: complete Phase 9.7.2, 9.7.3, 9.7.4 integration tests
  BULK_OPERATIONS_TESTS_REPORT.md
  CHANGES_APPLIED.md
  PHASE_9.7.2_VERIFICATION_SUMMARY.md
  TEST_REPORT_PHASE_9.7.2.md
  docs/INVENTORY_MOVEMENT_TESTS_REPORT.md
  internal/domain/product.go
  tests/fixtures/bulk_operations_fixtures.sql
  tests/integration/bulk_operations_test.go
  tests/integration/database_test.go
  tests/integration/delete_product_test.go
  tests/integration/inventory_grpc_test.go
  tests/integration/inventory_repository_test.go
  tests/integration/inventory_service_test.go
  tests/integration/test_helpers.go
  tests/integration/update_product_test.go
Due: go-format, go-format-check, go-lint, frontend-format

docs: add VALIDATION_SUMMARY.txt - blocking issues overview
  VALIDATION_SUMMARY.txt
Due: none

fix: register health routes before HTTP server starts
  cmd/server/main.go
  internal/transport/http/minimal_handler.go
Due: go-format, go-format-check, go-lint

docs: update migration validation after Phase 9.9 hotfix
  VALIDATION_SUMMARY.txt
Due: none

docs: Phase 13.1.15 completion reports and executive summary
  docs/MIGRATION_TO_MICROSERVICE_EXECUTIVE_SUMMARY.md
  docs/PHASE_13_1_15_3_MVP_IMPLEMENTATION.md
  docs/PHASE_13_1_15_5_HANDLER_INTEGRATION.md
  docs/PHASE_13_1_15_9_TEST_REPORT.md
Due: frontend-format

feat: add slug and expires_at fields to listings table
  migrations/000016_add_slug_and_expires_at.down.sql
  migrations/000016_add_slug_and_expires_at.up.sql
Due: none

feat: add slug support for SEO-friendly URLs
  internal/domain/slug.go
  internal/repository/postgres/listings_slug.go
  internal/service/listings/slug.go
  internal/service/listings/slug_test.go
Due: go-format, go-format-check, go-lint

feat: add storefronts gRPC API support
  internal/domain/storefront.go
  internal/repository/postgres/storefronts_repository.go
  internal/transport/grpc/handlers_storefronts.go
  internal/transport/grpc/handlers_storefronts_test.go
Due: go-format, go-format-check, go-lint

feat: add comprehensive validation service
  internal/service/listings/validator.go
  internal/service/listings/validator_test.go
Due: go-format, go-format-check, go-lint

feat: add middleware for request handling
  internal/middleware/auth_interceptor.go
Due: go-format, go-format-check, go-lint

feat: add migrations for listings microservice integration
  backend/migrations/000008_migrate_b2c_data_to_listings.down.sql
  backend/migrations/000008_migrate_b2c_data_to_listings.up.sql
  backend/migrations/000200_add_display_order_to_c2c_images.down.sql
  backend/migrations/000200_add_display_order_to_c2c_images.up.sql
Due: none

feat: add gRPC infrastructure and distributed locking
  backend/buf.gen.yaml
  backend/buf.yaml
  backend/pkg/distributed_lock/doc.go
  backend/pkg/distributed_lock/redis_lock.go
Due: go-format, go-format-check, go-lint

feat: integrate listings microservice gRPC client
  backend/internal/clients/listings/client.go
  backend/internal/config/config.go
Due: go-format, go-format-check, go-lint

refactor: migrate marketplace and orders to use listings microservice
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/handler/routes.go
  backend/internal/proj/orders/module.go
  backend/internal/proj/orders/service/create_order_with_tx.go
  backend/internal/proj/orders/service/order_service.go
  backend/internal/proj/orders/service/order_service_tx.go
  backend/internal/server/server.go
  backend/internal/services/image_service.go
  backend/internal/storage/postgres/cart_repository.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/db_core.go
  backend/internal/storage/postgres/image_repository.go
  backend/internal/storage/postgres/marketplace_grpc_client.go
Due: go-format, go-format-check, go-lint

chore: update configuration, tests and fixtures
  backend/.env.example
  backend/Makefile
  backend/fixtures/000008_b2c_products.up.sql
  backend/tests/smoke/microservice_smoke_test.go
Due: go-format, go-format-check, go-lint

feat: integrate frontend with listings microservice
  VALIDATION_SUMMARY.txt
  frontend/svetu/src/services/listings.ts
Due: frontend-format, frontend-lint

test: fix gRPC connectivity test port and skip for now
  internal/transport/grpc/connectivity_test.go
Due: go-format, go-format-check, go-lint

fix: correct database column name from views_count to view_count
  internal/domain/listing.go
  internal/repository/postgres/repository.go
  test/integration/listing_crud_test.go
Due: go-format, go-format-check, go-lint

feat: Deploy production monitoring infrastructure (Phase 9.8 Prep)
  deployment/prometheus/alertmanager.yml
  deployment/prometheus/docker-compose.yml
  deployment/prometheus/grafana/dashboards/alerting-slo.json
  deployment/prometheus/grafana/dashboards/business-metrics.json
  deployment/prometheus/grafana/dashboards/infrastructure.json
  deployment/prometheus/grafana/dashboards/service-health.json
  deployment/prometheus/prometheus.yml
  docs/migration/PROGRESS.md
Due: frontend-format

fix: resolve auth imports, proto conflicts, and failing tests
  backend/cmd/utils/generate_admin_jwt/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/middleware/middleware.go
  backend/internal/proj/delivery/attributes/service.go
  backend/internal/proj/delivery/storage/admin_storage.go
  backend/internal/proj/delivery/storage/admin_storage_test.go
  backend/internal/proj/global/service/interface.go
  backend/internal/proj/global/service/service.go
  backend/internal/proj/marketplace/microservice/client.go
  backend/internal/proj/marketplace/service/router.go
  backend/internal/proj/users/handler/auth.go
  backend/internal/proj/users/service/converter.go
  backend/internal/proj/users/service/service.go
  backend/internal/proj/users/service/user.go
  backend/internal/server/server.go
  backend/internal/storage/postgres/db_marketplace.go
  backend/internal/storage/postgres/foreign_keys_test.go
  backend/pkg/clients/listings/client.go
  backend/pkg/proto/listings/v1/listings.pb.go
  backend/pkg/proto/listings/v1/listings.proto
  backend/pkg/proto/listings/v1/listings_grpc.pb.go
  backend/tests/e2e/resilience_test.go
  backend/tests/integration/microservice_smoke_test.go
Due: go-format, go-format-check, go-lint

feat: add price validation constraints in migration 000019
  migrations/000019_add_price_constraint.down.sql
  migrations/000019_add_price_constraint.up.sql
Due: none

fix: add listings microservice configuration to .env.example
  backend/.env.example
Due: none

feat: implement B2C storefront creation with full data support
  backend/cmd/utils/generate_admin_jwt/main.go
  backend/go.mod
  backend/internal/clients/listings/adapter.go
  backend/internal/clients/listings/client.go
  backend/internal/config/config.go
  backend/internal/domain/adapters/listing_adapter.go
  backend/internal/domain/models/models.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/handler/routes.go
  backend/internal/proj/marketplace/handler/storefronts.go
  backend/internal/proj/marketplace/service/circuit_breaker_test.go
  backend/internal/proj/marketplace/service/router_timeout_bench_test.go
  backend/internal/proj/marketplace/service/router_timeout_test.go
  backend/internal/proj/marketplace/storage/postgres.go
  backend/internal/proj/marketplace/storage/storage.go
  backend/internal/proj/orders/service/create_order_with_tx.go
  backend/internal/proj/reviews/handler/reviews.go
  backend/internal/proj/reviews/storage/postgres/reviews.go
  backend/internal/storage/postgres/db_storefronts.go
  backend/internal/storage/postgres/image_repository.go
  backend/internal/storage/postgres/marketplace_grpc_client.go
  backend/migrations/000019_migrate_b2c_data_to_listings.down.sql
  backend/migrations/000019_migrate_b2c_data_to_listings.up.sql
  backend/migrations/000201_extend_b2c_stores_country_field.down.sql
  backend/migrations/000201_extend_b2c_stores_country_field.up.sql
  backend/pkg/clients/listings/client.go
  backend/reindex_marketplace.py
  backend/tests/mocks/microservice_mock.go
  backend/tests/smoke/microservice_smoke_test.go
Due: go-format, go-format-check, go-lint

fix: prevent storefront duplicate creation and improve slug generation
  backend/internal/domain/models/models.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/handler/routes.go
  backend/internal/proj/marketplace/handler/storefronts.go
  backend/internal/storage/postgres/db_storefronts.go
  backend/migrations/000202_add_unique_constraint_to_b2c_stores_slug.down.sql
  backend/migrations/000202_add_unique_constraint_to_b2c_stores_slug.up.sql
Due: go-format, go-format-check, go-lint
