Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

fix(reindex): исправлена десериализация атрибутов товаров
  backend/internal/storage/postgres/db.go
Due: go-format, go-format-check, go-lint

fix(reindex): использование _doc_id для кастомных ID товаров витрин
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  backend/internal/storage/opensearch/client.go
Due: go-format, go-format-check, go-lint

fix(opensearch): use separate index for storefront products
  backend/internal/storage/postgres/db.go
Due: go-format, go-format-check, go-lint

fix(addresses): правильный парсинг города из полного адреса
  backend/migrations/000026_fix_address_city_parsing.down.sql
  backend/migrations/000026_fix_address_city_parsing.up.sql
  frontend/svetu/src/services/listings.ts
Due: frontend-format, frontend-lint

fix(addresses): показ полного адреса вместо только города и страны
  backend/migrations/000026_fix_address_city_parsing.up.sql
  frontend/svetu/src/utils/addressUtils.ts
Due: frontend-format, frontend-lint

fix(deploy): убивать все процессы Next.js для очистки кэша переводов
  deploy-to-dev.sh
  frontend/svetu/src/lib/i18n/loadMessages.ts
Due: frontend-format, frontend-lint

feat(postexpress): добавлена страница визуального тестирования API
  backend/internal/proj/delivery/module.go
  backend/internal/proj/postexpress/handler/handler.go
  backend/internal/proj/postexpress/handler/test_handler.go
  frontend/svetu/src/app/[locale]/admin/postexpress/test/page.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

Deploy to dev server
  backend/.env.example
  backend/Makefile
  backend/internal/proj/delivery/factory/factory.go
  backend/internal/proj/delivery/factory/postexpress_adapter.go
  backend/internal/proj/postexpress/client.go
  backend/internal/proj/postexpress/config.go
  backend/internal/proj/postexpress/service.go
  backend/internal/proj/postexpress/types.go
  backend/scripts/POST_EXPRESS_DEPLOYMENT_RESULTS.md
  backend/scripts/POST_EXPRESS_TEST_RESULTS.md
  backend/scripts/README.md
  backend/scripts/RESULTS.md
  backend/scripts/create_2_more.sh
  backend/scripts/test_post_express_working.go
  backend/scripts/test_postexpress.go
  backend/scripts/test_postexpress_cod.go
  backend/scripts/test_postexpress_insured.go
  backend/scripts/test_postexpress_pickup.go
  backend/scripts/test_postexpress_simple2.sh
  docs/DELIVERY_SYSTEM_AUDIT_2025.md
  docs/POST_EXPRESS_INTEGRATION_COMPLETE.md
  docs/POST_EXPRESS_INTEGRATION_STATUS.md
Due: go-format, go-format-check, go-lint, frontend-format

feat(delivery): добавить таб тестирования и интернационализацию страницы Post Express
  frontend/svetu/src/app/[locale]/admin/delivery/DeliveryAdminClient.tsx
  frontend/svetu/src/app/[locale]/admin/delivery/components/DeliveryProviders.tsx
  frontend/svetu/src/app/[locale]/admin/postexpress/test/page.tsx
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/sr/admin.json
Due: frontend-format, frontend-lint

refactor(postexpress): улучшение качества кода и обработки ошибок
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/delivery/factory/postexpress_adapter.go
  backend/internal/proj/postexpress/client.go
  backend/internal/proj/postexpress/config.go
  backend/internal/proj/postexpress/handler/test_handler.go
  backend/internal/proj/postexpress/types.go
  backend/scripts/test_post_express_working.go
  backend/scripts/test_postexpress.go
  backend/scripts/test_postexpress_cod.go
  backend/scripts/test_postexpress_insured.go
  backend/scripts/test_postexpress_pickup.go
  frontend/svetu/src/app/[locale]/admin/delivery/components/DeliveryProviders.tsx
  frontend/svetu/src/app/[locale]/admin/postexpress/test/page.tsx
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat(storefronts): реализовать систему отслеживания импорта товаров через БД
  backend/internal/proj/storefronts/handler/import_handler.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/storefronts/service/import_service.go
  backend/internal/storage/postgres/import_jobs.go
  backend/migrations/000027_create_import_jobs_and_errors.down.sql
  backend/migrations/000027_create_import_jobs_and_errors.up.sql
  docs/STOREFRONT_IMPORT_AUDIT_REPORT.md
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

feat(storefronts): добавить поддержку импорта изображений товаров
  backend/generate_test_products.py
  backend/internal/proj/storefronts/handler/import_handler.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/storefronts/service/import_queue.go
  backend/internal/proj/storefronts/service/import_service.go
  backend/internal/proj/storefronts/service/import_worker.go
  backend/internal/proj/storefronts/service/product_service.go
  backend/internal/storage/postgres/import_jobs.go
  backend/internal/storage/postgres/storefront_product.go
  backend/migrations/000028_sync_storefront_to_marketplace.down.sql
  backend/migrations/000028_sync_storefront_to_marketplace.up.sql
  backend/test_products_100.csv
  backend/test_products_1000.csv
  backend/test_products_with_images.csv
  backend/test_products_with_images_final.csv
  backend/test_products_with_images_v2.csv
  backend/test_products_with_images_v3.csv
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

feat(storefronts): завершить Спринт 2 - импорт товаров с изображениями и AI категоризацией
  backend/internal/domain/models/import_models.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/storefronts/parsers/csv_parser.go
  backend/internal/proj/storefronts/service/category_mapping_service.go
  backend/internal/proj/storefronts/service/import_service.go
  backend/internal/proj/storefronts/service/import_worker.go
  backend/internal/storage/postgres/category_mappings.go
  backend/migrations/000029_create_storefront_category_mappings.down.sql
  backend/migrations/000029_create_storefront_category_mappings.up.sql
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

docs: актуализировать план - Спринт 2 завершен на 100%
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: frontend-format

feat(storefronts): реализовать preview импорта файлов (Задача 3.2)
  backend/internal/domain/models/import_models.go
  backend/internal/proj/storefronts/handler/import_handler.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/storefronts/service/import_service.go
  backend/internal/proj/storefronts/service/product_service.go
  backend/internal/storage/postgres/storefront_product.go
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

feat(storefronts): завершить Спринт 3 - улучшить детальные ошибки валидации импорта (Задача 3.3)
  backend/internal/proj/storefronts/service/import_service.go
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

test(storefronts): завершить Спринт 1 - добавить интеграционные тесты для импорта (Задача 1.6)
  backend/internal/proj/storefronts/service/import_service_integration_test.go
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

feat(storefronts): завершить Спринт 3 с Frontend интеграцией preview импорта (Задача 3.2 - Frontend)
  docs/DIGITAL_VISION_IMPORT_ENHANCED_PLAN.md
  docs/DIGITAL_VISION_IMPORT_OPTIMIZATION_PLAN.md
  docs/PRICE_ANALYSIS_AND_DISCOUNT_SYSTEM.md
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
  frontend/svetu/src/components/import/ImportPreviewTable.tsx
  frontend/svetu/src/components/import/ImportWizard.tsx
  frontend/svetu/src/components/import/index.ts
  frontend/svetu/src/services/importApi.ts
  frontend/svetu/src/store/slices/importSlice.ts
  frontend/svetu/src/types/import.ts
Due: frontend-format, frontend-lint

feat(storefronts): Фаза 0 - скрипт анализа Digital Vision прайса
  backend/analyze_digital_vision.py
  backend/test_analysis_result.json
  backend/test_digital_vision_sample.xml
Due: frontend-format

docs: актуализировать основной план импорта (версия 2.0)
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: frontend-format

feat(storefronts): Фаза 2 Variant Import Engine - Variant Detector готов (60%)
  backend/internal/proj/storefronts/handler/import_analysis_handler.go
  backend/internal/proj/storefronts/handler/import_handler.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/storefronts/service/ai_category_analyzer.go
  backend/internal/proj/storefronts/service/ai_category_mapper.go
  backend/internal/proj/storefronts/service/import_service.go
  backend/internal/proj/storefronts/service/variant_detector.go
  backend/internal/proj/storefronts/service/variant_detector_test.go
  backend/migrations/000030_create_category_proposals.down.sql
  backend/migrations/000030_create_category_proposals.up.sql
  backend/migrations/000031_remove_unused_postgis_schemas.down.sql
  backend/migrations/000031_remove_unused_postgis_schemas.up.sql
  backend/test_variant_detector_digital_vision.go
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
  frontend/svetu/src/components/import/AttributeMappingStep.tsx
  frontend/svetu/src/components/import/CategoryMappingStep.tsx
  frontend/svetu/src/components/import/ImportAnalysisWizard.tsx
  frontend/svetu/src/components/import/ImportWizard.tsx
  frontend/svetu/src/components/import/VariantDetectionStep.tsx
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
  frontend/svetu/src/services/importApi.ts
  frontend/svetu/src/store/slices/importSlice.ts
  frontend/svetu/src/types/import.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat(storefronts): добавить repository методы для вариантов товаров + исправить модель
  backend/cmd/reindex-products/main.go
  backend/internal/domain/models/storefront_product.go
  backend/internal/proj/orders/service/create_order_with_tx.go
  backend/internal/proj/orders/service/order_service.go
  backend/internal/proj/orders/service/order_service_tx.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/storefronts/service/import_service.go
  backend/internal/proj/storefronts/service/product_service.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  backend/internal/storage/postgres/cart_repository.go
  backend/internal/storage/postgres/storefront_product.go
  backend/internal/storage/postgres/storefront_product_variants.go
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

feat(storefronts): Фаза 2 ЗАВЕРШЕНА - importVariantGroup полностью реализован
  backend/internal/proj/storefronts/service/import_service.go
  backend/internal/proj/storefronts/service/import_variant_group_test.go
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

feat(storefronts): Фаза 3 - AttributeMapper сервис для маппинга внешних атрибутов
  backend/internal/proj/storefronts/service/attribute_mapper.go
  backend/internal/proj/storefronts/service/attribute_mapper_test.go
Due: go-format, go-format-check, go-lint

docs: обновить план реализации - Фаза 3 Задача 3.1 завершена
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: frontend-format

feat(storefronts): Фаза 4.4 ЗАВЕРШЕНА - загрузка внешних изображений + документирование проблемы TLS
  backend/internal/proj/storefronts/parsers/xml_parser.go
  backend/internal/proj/storefronts/service/import_service.go
  backend/migrations/000032_make_order_items_product_id_nullable.down.sql
  backend/migrations/000032_make_order_items_product_id_nullable.up.sql
  docs/PHASE_4_1_TESTING_REPORT.md
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

docs: обновить план - Задача 4.5 завершена + новые задачи 4.6-4.8
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: frontend-format

feat(storefronts): Задача 4.6 - интеграция Variant Detection в import flow
  backend/internal/domain/models/storefront.go
  backend/internal/proj/storefronts/service/import_worker.go
Due: go-format, go-format-check, go-lint

docs: обновить план - Задача 4.6 завершена (Variant Detection)
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: frontend-format

fix(storefronts): Задача 4.7 - исправлена индексация marketplace_listings (Проблема #2)
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/storefronts/service/import_service.go
  backend/internal/proj/storefronts/service/import_worker.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/storage.go
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

docs: обновить план - Проблема #2 решена, Фаза 4: 90%
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: frontend-format

feat(storefronts): добавлено детальное логирование загрузки изображений при импорте
  backend/internal/proj/storefronts/service/import_service.go
Due: go-format, go-format-check, go-lint

docs: обновить план - Проблема #1 проанализирована (Фаза 4: 90%)
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: frontend-format

feat(storefronts): добавить детальное логирование для диагностики batch CREATE flow
  backend/internal/proj/storefronts/service/import_service.go
Due: go-format, go-format-check, go-lint

fix(storefronts): добавлен SKU в RETURNING clause batch CREATE для исправления image import
  backend/internal/proj/storefronts/service/import_service.go
  backend/internal/storage/postgres/storefront_product.go
Due: go-format, go-format-check, go-lint

docs: обновить план - Фаза 4 ЗАВЕРШЕНА (100%), Проблема #2 решена
  docs/STOREFRONT_IMPORT_IMPLEMENTATION_PLAN.md
Due: frontend-format

fix(frontend): исправить эндпоинт статуса импорт-джоба - включить storefrontId
  frontend/svetu/src/components/import/ImportJobsList.tsx
  frontend/svetu/src/services/importApi.ts
  frontend/svetu/src/store/slices/importSlice.ts
Due: frontend-format, frontend-lint

feat(i18n): добавить переводы для модуля импорта
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
Due: frontend-format

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
