Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

fix: добавлена загрузка информации о владельце витрины в unified search
  backend/internal/proj/global/handler/unified_search.go
Due: go-format, go-format-check, go-lint

test: добавлено комплексное тестирование системы отслеживания остатков товаров
  INVENTORY_TRACKING_TEST_REPORT.md
  backend/internal/proj/orders/service/inventory_test.go
  test-inventory-tracking.sh
  test-order-creation.sh
  test-stock-simulation.sh
  test-variant-simulation.sh
Due: go-format, go-format-check, go-lint, frontend-format

docs: детальный анализ дублирования кода и план рефакторинга
  CODE_DUPLICATIONS_AND_RUDIMENTS_REPORT.md
  REFACTORING_PLAN.md
  backend/internal/proj/marketplace/service/marketplace.go
  frontend/svetu/src/components/SafeImage.tsx
  frontend/svetu/src/components/marketplace/listing/SimilarListings.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

docs: план расширения админки для управления вариативными атрибутами
  backend/docs/VARIANT_ATTRIBUTES_DIFF_ANALYSIS.md
  backend/docs/VARIANT_ATTRIBUTES_ISSUES.md
  backend/docs/VARIANT_ATTRIBUTES_SYSTEM.md
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/domain/models/product_variant_attribute.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/handler/variant_attributes.go
  backend/internal/proj/marketplace/service/interface.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/service/variant_attributes.go
  backend/internal/proj/orders/service/inventory_test.go
  docs/ADMIN_VARIANT_ATTRIBUTES_EXTENSION_PLAN.md
  frontend/svetu/src/components/SafeImage.tsx
  frontend/svetu/src/components/marketplace/listing/SimilarListings.tsx
  frontend/svetu/src/components/products/EnhancedVariantGenerator.tsx
  frontend/svetu/src/components/products/SimplifiedVariantGenerator.tsx
  frontend/svetu/src/components/products/steps/VariantsStep.tsx
  frontend/svetu/src/lib/variant-attributes-config.ts
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/types/generated/api.ts
  memory-bank/docs/dexpress-integration-analysis.md
  memory-bank/docs/variant-attributes-system-final.md
  memory-bank/docs/variant-attributes-system.md
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправление ошибки создания товаров с вариантами и улучшение качества кода
  backend/internal/proj/orders/service/inventory_test.go
  backend/internal/proj/storefront/repository/variant_repository.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/storefronts/service/product_service.go
  backend/internal/proj/storefronts/service/variant_service.go
Due: go-format, go-format-check, go-lint

refactor: реализация транзакционного создания товаров с вариантами
  backend/internal/proj/storefront/repository/variant_repository.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/storefronts/service/product_service.go
  backend/internal/proj/storefronts/service/variant_service.go
  backend/internal/storage/postgres/storefront_product.go
  docs/PRODUCT_VARIANTS_SPECIFICATION.md
  docs/TRANSACTION_REFACTORING_COMPLETED.md
  docs/TRANSACTION_REFACTORING_STATUS.md
  test_transaction_variants.sh
Due: go-format, go-format-check, go-lint, frontend-format

feat: улучшение UX страницы админ-панели категорий - замена боковой панели на модальные окна
  frontend/svetu/src/app/[locale]/admin/categories/page.tsx
Due: frontend-format, frontend-lint

перед рефакторингом
  CLAUDE.md
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/domain/models/category_attributes.go
  backend/internal/proj/marketplace/handler/admin_variant_attributes.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/service/attribute_admin.go
  backend/internal/proj/storefronts/service/product_service.go
  docs/ADMIN_VARIANT_ATTRIBUTES_IMPLEMENTATION_STATUS.md
  docs/TRANSACTION_REFACTORING_PLAN.md
  frontend/svetu/src/app/[locale]/admin/attribute-groups/page.tsx
  frontend/svetu/src/app/[locale]/admin/attributes/components/AttributeForm.tsx
  frontend/svetu/src/app/[locale]/admin/attributes/page.tsx
  frontend/svetu/src/app/[locale]/admin/layout.tsx
  frontend/svetu/src/app/[locale]/admin/variant-attributes/components/VariantAttributeForm.tsx
  frontend/svetu/src/app/[locale]/admin/variant-attributes/components/VariantAttributeList.tsx
  frontend/svetu/src/app/[locale]/admin/variant-attributes/page.tsx
  frontend/svetu/src/components/products/SimplifiedVariantGenerator.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
  frontend/svetu/src/services/admin.ts
  frontend/svetu/src/types/generated/api.ts
  memory-bank/docs/.~lock.sve-tu-platform-business-model-and-plan-ru.docx#
  memory-bank/docs/sve-tu-platform-business-model-and-plan-ru.docx
  memory-bank/docs/sve-tu-platform-business-model-and-plan-ru.md
  memory-bank/docs/sve-tu-platform-business-model-and-plan.md
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

перед рефакторингом
  docs/COMPATIBILITY_ANALYSIS_VARIANT_ATTRIBUTES_PLAN.md
Due: frontend-format

refactor: улучшение качества кода и форматирование frontend
  frontend/svetu/src/app/[locale]/admin/attribute-groups/page.tsx
  frontend/svetu/src/app/[locale]/admin/attributes/components/AttributeForm.tsx
  frontend/svetu/src/app/[locale]/admin/attributes/page.tsx
  frontend/svetu/src/app/[locale]/admin/layout.tsx
  frontend/svetu/src/app/[locale]/admin/variant-attributes/components/VariantAttributeForm.tsx
  frontend/svetu/src/app/[locale]/admin/variant-attributes/components/VariantAttributeList.tsx
  frontend/svetu/src/app/[locale]/admin/variant-attributes/page.tsx
  frontend/svetu/src/components/SafeImage.tsx
  frontend/svetu/src/components/marketplace/listing/SimilarListings.tsx
  frontend/svetu/src/components/products/EnhancedVariantGenerator.tsx
  frontend/svetu/src/components/products/SimplifiedVariantGenerator.tsx
  frontend/svetu/src/services/admin.ts
Due: frontend-format, frontend-lint

fix: добавить отсутствующие переводы для статусов склада товаров
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
Due: frontend-format

fix: добавить недостающий перевод navigation.close для sr.json
  frontend/svetu/src/messages/sr.json
Due: frontend-format

fix: исправить структуру переводов stock в storefronts.products
  frontend/svetu/src/messages/ru.json
Due: frontend-format

docs: создать полный план улучшения системы автомобильных объявлений
  docs/AUTOMOTIVE_MARKETPLACE_COMPLETE_PLAN.md
Due: frontend-format

docs: добавить актуальный статус автомобильного раздела
  CLAUDE.md
  docs/AUTOMOTIVE_SECTION_STATUS_AND_PLAN.md
Due: frontend-format

feat: интеграция с CarAPI и импорт данных автомобилей
  backend/cmd/carapi-sync/main.go
  backend/cmd/import-carapi-data/main.go
  backend/data/CARAPI_IMPORT_COMPLETE.md
  backend/data/CARAPI_SYNC_REPORT.md
  backend/migrations/000205_add_carapi_integration_tables.down.sql
  backend/migrations/000205_add_carapi_integration_tables.up.sql
  backend/scripts/add-serbian-car-models.sql
  backend/scripts/backup-carapi-raw-data.sh
  backend/scripts/carapi-final-sync.sh
  backend/scripts/carapi-sync-models.sh
  backend/scripts/carapi-test.sh
  backend/scripts/carapi-v2-sync.sh
  backend/scripts/quick-carapi-sync.sh
  backend/scripts/sync-carapi-data.sh
  docs/AUTOMOTIVE_SECTION_STATUS_AND_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

feat: complete variant attributes system implementation with full code quality checks
  backend/Makefile
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/domain/models/category_variant_attributes.go
  backend/internal/proj/marketplace/handler/admin_categories.go
  backend/internal/proj/marketplace/handler/handler.go
  backups/svetubd_full_dump_20250803_225155.sql.gz
  docs/VARIANT_ATTRIBUTES_IMPLEMENTATION_STATUS.md
  frontend/svetu/src/app/[locale]/admin/categories/components/CategoryTree.tsx
  frontend/svetu/src/app/[locale]/admin/categories/components/CategoryVariantAttributesModal.tsx
  frontend/svetu/src/app/[locale]/admin/categories/page.tsx
  frontend/svetu/src/app/[locale]/admin/variant-attributes/components/AttributeMappingEditor.tsx
  frontend/svetu/src/app/[locale]/admin/variant-attributes/components/DragDropMappingEditor.tsx
  frontend/svetu/src/app/[locale]/admin/variant-attributes/page.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
  frontend/svetu/src/services/admin.ts
  frontend/svetu/src/types/generated/api.ts
  memory-bank/current-task.md
  memory-bank/tasks/008-automotive-integration-complete.md
  memory-bank/tasks/009-variant-attributes-system-complete.md
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: полная реализация мультиязычности системы
  backend/internal/middleware/localization.go
  backend/internal/proj/marketplace/service/cached_translation_service.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/marketplace/storage/opensearch/types.go
  backend/opensearch/marketplace_mapping_v2.json
  backend/scripts/reindex_with_translations.go
  backend/test_db_translations.go
  docs/INDEPENDENT_MULTILINGUAL_AUDIT_2025.md
  docs/INDEPENDENT_MULTILINGUAL_AUDIT_REPORT_2025.md
  docs/MULTILINGUAL_AUDIT_PLAN.md
  docs/MULTILINGUAL_AUDIT_REPORT.md
  docs/MULTILINGUAL_IMPLEMENTATION_PLAN.md
  frontend/svetu/i18n.ts
  frontend/svetu/src/app/[locale]/cart/page.tsx
  frontend/svetu/src/app/[locale]/examples/storefront-dashboard/page.tsx
  frontend/svetu/src/app/[locale]/profile/listings/page.tsx
  frontend/svetu/src/components/marketplace/MarketplaceFilters.tsx
  frontend/svetu/src/components/marketplace/PriceHistoryModal.tsx
  frontend/svetu/src/components/orders/OrderCard.tsx
  frontend/svetu/src/components/ui/DistanceIndicator.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: реализация модульной системы переводов с lazy loading
  docs/MODULAR_TRANSLATIONS_GUIDE.md
  frontend/svetu/i18n-modular.ts
  frontend/svetu/scripts/split-translations-v2.js
  frontend/svetu/scripts/split-translations.js
  frontend/svetu/src/lib/i18n/loadMessages.ts
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/en/auth.json
  frontend/svetu/src/messages/en/cars.json
  frontend/svetu/src/messages/en/cart.json
  frontend/svetu/src/messages/en/common.json
  frontend/svetu/src/messages/en/index.ts
  frontend/svetu/src/messages/en/marketplace.json
  frontend/svetu/src/messages/en/misc.json
  frontend/svetu/src/messages/en/storefront.json
  frontend/svetu/src/messages/modular-example/common.json
  frontend/svetu/src/messages/modular-example/marketplace.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/ru/auth.json
  frontend/svetu/src/messages/ru/cars.json
  frontend/svetu/src/messages/ru/cart.json
  frontend/svetu/src/messages/ru/common.json
  frontend/svetu/src/messages/ru/index.ts
  frontend/svetu/src/messages/ru/marketplace.json
  frontend/svetu/src/messages/ru/misc.json
  frontend/svetu/src/messages/ru/storefront.json
  frontend/svetu/src/messages/sr/admin.json
  frontend/svetu/src/messages/sr/auth.json
  frontend/svetu/src/messages/sr/cars.json
  frontend/svetu/src/messages/sr/cart.json
  frontend/svetu/src/messages/sr/common.json
  frontend/svetu/src/messages/sr/index.ts
  frontend/svetu/src/messages/sr/marketplace.json
  frontend/svetu/src/messages/sr/misc.json
  frontend/svetu/src/messages/sr/storefront.json
Due: frontend-format, frontend-lint

feat: завершение реализации модульной системы переводов
  docs/MODULAR_TRANSLATIONS_INTEGRATION.md
  frontend/svetu/i18n-new.ts
  frontend/svetu/scripts/analyze-translations.js
  frontend/svetu/scripts/migrate-translations.js
  frontend/svetu/src/components/examples/ModularTranslationExample.tsx
  frontend/svetu/src/lib/i18n/__tests__/loadMessages.test.ts
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/en/common.json
  frontend/svetu/src/messages/en/index.ts
  frontend/svetu/src/messages/en/marketplace.json
  frontend/svetu/src/messages/en/misc.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/ru/common.json
  frontend/svetu/src/messages/ru/index.ts
  frontend/svetu/src/messages/ru/marketplace.json
  frontend/svetu/src/messages/ru/misc.json
  frontend/svetu/src/messages/sr/admin.json
  frontend/svetu/src/messages/sr/common.json
  frontend/svetu/src/messages/sr/index.ts
  frontend/svetu/src/messages/sr/marketplace.json
  frontend/svetu/src/messages/sr/misc.json
  frontend/svetu/src/providers/ModularIntlProvider.tsx
Due: frontend-format, frontend-lint

feat: полная реализация модульной системы переводов
  docs/MODULAR_TRANSLATIONS_USAGE.md
  frontend/svetu/.env.local.example
  frontend/svetu/i18n.ts
  frontend/svetu/i18n.ts.backup
  frontend/svetu/next.config.ts
  frontend/svetu/public/sw-translations.js
  frontend/svetu/scripts/complete-migration.js
  frontend/svetu/src/app/[locale]/admin/AdminPageClient.tsx
  frontend/svetu/src/app/[locale]/admin/AdminPageWrapper.tsx
  frontend/svetu/src/app/[locale]/admin/page.tsx
  frontend/svetu/src/app/[locale]/layout.tsx
  frontend/svetu/src/app/[locale]/page.tsx
  frontend/svetu/src/components/ServiceWorkerManager.tsx
  frontend/svetu/src/messages/en/chat.json
  frontend/svetu/src/messages/en/index.ts
  frontend/svetu/src/messages/en/realEstate.json
  frontend/svetu/src/messages/en/services.json
  frontend/svetu/src/messages/ru/chat.json
  frontend/svetu/src/messages/ru/index.ts
  frontend/svetu/src/messages/ru/realEstate.json
  frontend/svetu/src/messages/ru/services.json
  frontend/svetu/src/messages/sr/chat.json
  frontend/svetu/src/messages/sr/index.ts
  frontend/svetu/src/messages/sr/realEstate.json
  frontend/svetu/src/messages/sr/services.json
Due: frontend-format, frontend-lint

fix: исправление синтаксиса wildcard в next.config.ts
  frontend/svetu/next.config.ts
Due: frontend-format, frontend-lint

fix: добавление отсутствующих ключей переводов
  frontend/svetu/scripts/add-missing-keys.js
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/en/auth.json
  frontend/svetu/src/messages/en/cars.json
  frontend/svetu/src/messages/en/cart.json
  frontend/svetu/src/messages/en/common.json
  frontend/svetu/src/messages/en/map.json
  frontend/svetu/src/messages/en/marketplace.json
  frontend/svetu/src/messages/en/storefront.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/ru/auth.json
  frontend/svetu/src/messages/ru/cars.json
  frontend/svetu/src/messages/ru/cart.json
  frontend/svetu/src/messages/ru/common.json
  frontend/svetu/src/messages/ru/map.json
  frontend/svetu/src/messages/ru/marketplace.json
  frontend/svetu/src/messages/ru/storefront.json
  frontend/svetu/src/messages/sr/admin.json
  frontend/svetu/src/messages/sr/auth.json
  frontend/svetu/src/messages/sr/cars.json
  frontend/svetu/src/messages/sr/cart.json
  frontend/svetu/src/messages/sr/common.json
  frontend/svetu/src/messages/sr/map.json
  frontend/svetu/src/messages/sr/marketplace.json
  frontend/svetu/src/messages/sr/storefront.json
Due: frontend-format, frontend-lint

fix: исправление оставшихся переводов и форматирование ключей
  frontend/svetu/src/messages/en/auth.json
  frontend/svetu/src/messages/en/storefront.json
  frontend/svetu/src/messages/ru/storefront.json
  frontend/svetu/src/messages/sr/storefront.json
Due: frontend-format

fix: окончательное исправление системы переводов
  frontend/svetu/REAL_TRANSLATION_ISSUES.md
  frontend/svetu/scripts/deep-audit-report.json
  frontend/svetu/scripts/deep-audit-translations.js
  frontend/svetu/src/components/Storefront/ProductVariants/AttributeSetup.tsx
  frontend/svetu/src/components/Storefront/ProductVariants/VariantGenerator.tsx
  frontend/svetu/src/i18n/request.ts
  frontend/svetu/src/lib/i18n/loadMessages.ts
  frontend/svetu/src/messages/en/index.ts
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/index.ts
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/index.ts
  frontend/svetu/src/messages/sr/storefronts.json
Due: frontend-format, frontend-lint

fix: исправление двойного namespace в переводах
  frontend/svetu/scripts/fix-double-namespace.js
  frontend/svetu/src/app/[locale]/admin/categories/components/CategoryAttributes.tsx
  frontend/svetu/src/app/[locale]/admin/categories/components/CategoryAttributesOptimized.tsx
  frontend/svetu/src/app/[locale]/profile/orders/sales/page.tsx
  frontend/svetu/src/app/[locale]/search/SearchPage.tsx
  frontend/svetu/src/app/[locale]/storefronts/[slug]/dashboard/page.tsx
  frontend/svetu/src/app/[locale]/storefronts/[slug]/edit/page.tsx
  frontend/svetu/src/app/[locale]/storefronts/[slug]/products/page-old.tsx
  frontend/svetu/src/components/GIS/AdvancedGeoFilters.tsx
  frontend/svetu/src/components/SearchBar/SearchBar.tsx
  frontend/svetu/src/components/common/GridColumnsToggle.tsx
  frontend/svetu/src/components/listing/CategoryAttributes.tsx
  frontend/svetu/src/components/payment/EscrowStatus.tsx
  frontend/svetu/src/components/storefronts/create/steps/PreviewPublishStep.tsx
  frontend/svetu/src/components/storefronts/create/steps/StaffSetupStep.tsx
  frontend/svetu/src/components/storefronts/public/StorefrontActions.tsx
  frontend/svetu/src/components/storefronts/public/StorefrontHeader.tsx
  frontend/svetu/src/components/storefronts/public/StorefrontProducts.tsx
Due: frontend-format, frontend-lint

feat: перевод всех [SR] заглушек в common.json на сербский язык
  frontend/svetu/src/messages/sr/common.json
Due: frontend-format

feat: перевод всех заглушек [SR] на сербский язык в marketplace.json
  frontend/svetu/src/messages/sr/marketplace.json
Due: frontend-format

feat: добавлены недостающие переводы в английские файлы
  frontend/svetu/src/messages/en/auth.json
  frontend/svetu/src/messages/en/cart.json
  frontend/svetu/src/messages/en/common.json
  frontend/svetu/src/messages/en/marketplace.json
  frontend/svetu/src/messages/en/search.json
Due: frontend-format

feat: полная локализация системы на 3 языка (100% готовность)
  frontend/svetu/src/messages/en/common.json
  frontend/svetu/src/messages/en/misc.json
  frontend/svetu/src/messages/en/search.json
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/ru/auth.json
  frontend/svetu/src/messages/ru/cars.json
  frontend/svetu/src/messages/ru/common.json
  frontend/svetu/src/messages/ru/map.json
  frontend/svetu/src/messages/ru/marketplace.json
  frontend/svetu/src/messages/sr/admin.json
  frontend/svetu/src/messages/sr/auth.json
  frontend/svetu/src/messages/sr/cars.json
  frontend/svetu/src/messages/sr/cart.json
  frontend/svetu/src/messages/sr/common.json
  frontend/svetu/src/messages/sr/map.json
  frontend/svetu/src/messages/sr/marketplace.json
  frontend/svetu/src/messages/sr/misc.json
  frontend/svetu/src/messages/sr/search.json
  frontend/svetu/src/messages/sr/storefronts.json
Due: frontend-format

fix: исправление критических ошибок линтера и улучшение качества кода
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/domain/models/models.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/orders/module.go
  backend/internal/proj/orders/service/create_order_with_tx.go
  backend/internal/proj/orders/service/order_service.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  backend/internal/server/server.go
  backend/internal/storage/opensearch/client.go
  backend/reindex-products.sh
  backend/scripts/create_test_jwt.go
  docs/STOREFRONT_PRODUCTS_AUDIT_REPORT.md
  docs/STOREFRONT_STOCK_UPDATE_IMPLEMENTATION.md
  frontend/svetu/src/components/common/UnifiedProductCard.tsx
  frontend/svetu/src/components/ui/BentoGridListings.tsx
  frontend/svetu/src/services/cart.ts
  frontend/svetu/src/services/unifiedSearch.ts
  frontend/svetu/src/types/generated/api.ts
  frontend/svetu/src/types/marketplace.ts
  frontend/svetu/src/utils/product-adapters.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправление hydration ошибок и недостающих переводов в корзине
  backend/scripts/create_test_jwt.go
  docs/SVETU_COMPLETE_BUSINESS_PLAN_2025.md
  docs/WAREHOUSE_IT_ARCHITECTURE_PLAN.md
  docs/WMS_DEVELOPMENT_PLAN.md
  frontend/svetu/src/app/[locale]/admin/test-categories/page.tsx
  frontend/svetu/src/app/[locale]/cart/page.tsx
  frontend/svetu/src/app/[locale]/orders/[id]/page.tsx
  frontend/svetu/src/app/[locale]/profile/orders/page.tsx
  frontend/svetu/src/components/cart/MiniCart.tsx
  frontend/svetu/src/components/orders/MarketplaceOrderCard.tsx
  frontend/svetu/src/components/orders/OrderFilters.tsx
  frontend/svetu/src/components/orders/OrderStatistics.tsx
  frontend/svetu/src/messages/en/cart.json
  frontend/svetu/src/messages/en/orders.json
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/cart.json
  frontend/svetu/src/messages/ru/orders.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/cart.json
  frontend/svetu/src/messages/sr/orders.json
  frontend/svetu/src/messages/sr/storefronts.json
  frontend/svetu/src/services/cart.ts
  frontend/svetu/src/store/slices/cartSlice.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
