Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go formatting and linting
  - repo: local
    hooks:
      - id: go-format
        name: Go Format (gofumpt + goimports)
        entry: bash -c 'cd backend && make format'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-format-check
        name: Go Format Check
        entry: bash -c 'cd backend && make format-check'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-lint
        name: Go Lint
        entry: bash -c 'cd backend && make lint'
        language: system
        files: \.go$
        pass_filenames: false

  # Frontend formatting
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend/svetu && yarn format'
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false
        
      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend/svetu && yarn lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Trailing whitespace and line endings
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

fix: исправление авторизации и загрузки переводов для автозаполнения автомобилей
  backend/internal/proj/ai/handler/handler.go
  backend/internal/proj/marketplace/services/category_detector.go
  backend/migrations/000044_fix_automotive_category_mappings.down.sql
  backend/migrations/000044_fix_automotive_category_mappings.up.sql
  backend/migrations/000045_add_category_keywords.down.sql
  backend/migrations/000045_add_category_keywords.up.sql
  backend/migrations/000046_add_missing_car_brand_keywords.down.sql
  backend/migrations/000046_add_missing_car_brand_keywords.up.sql
  backend/migrations/000047_add_car_category_attributes.down.sql
  backend/migrations/000047_add_car_category_attributes.up.sql
  backend/migrations/000048_fix_ai_cached_car_categories.down.sql
  backend/migrations/000048_fix_ai_cached_car_categories.up.sql
  backend/migrations/000049_fix_car_keywords_weights.down.sql
  backend/migrations/000049_fix_car_keywords_weights.up.sql
  backend/test_category.go
  backend/test_category_comprehensive.go
  backend/test_mercedes.go
  frontend/svetu/src/app/[locale]/cars/CarsPageClient.tsx
  frontend/svetu/src/app/[locale]/create-listing-ai/layout.tsx
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/app/[locale]/search/SearchPage.tsx
  frontend/svetu/src/components/cars/CarSelectorCompact.tsx
  frontend/svetu/src/components/marketplace/CarFilters.tsx
  frontend/svetu/src/components/search/SearchContextFilters.tsx
  frontend/svetu/src/components/search/SearchContextHeader.tsx
  frontend/svetu/src/messages/en/cars.json
  frontend/svetu/src/messages/en/search.json
  frontend/svetu/src/messages/ru/cars.json
  frontend/svetu/src/messages/ru/search.json
  frontend/svetu/src/messages/sr/cars.json
  frontend/svetu/src/messages/sr/search.json
  frontend/svetu/src/types/searchContext.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: добавлено автоматическое сжатие изображений для Claude API
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
Due: frontend-format, frontend-lint

fix: окончательное исправление автозаполнения автомобилей
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
Due: frontend-format, frontend-lint

refactor: очистка кода и оптимизация после автомобильной интеграции
  backend/docs/CONNECTION_POOL_TUNING.md
  backend/docs/VARIANT_ATTRIBUTES_DIFF_ANALYSIS.md
  backend/docs/VARIANT_ATTRIBUTES_ISSUES.md
  backend/docs/VARIANT_ATTRIBUTES_SYSTEM.md
  backend/docs/docs.go
  backend/docs/geo-location-storage-guide.md
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/reindex-storefront-products.md
  backend/docs/search-analysis-and-plan.md
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/ai/handler/handler.go
  backend/internal/proj/balance/handler/balance.go
  backend/internal/proj/gis/handler/advanced_filters.go
  backend/internal/proj/gis/handler/district_handler.go
  backend/internal/proj/global/handler/handler.go
  backend/internal/proj/marketplace/handler/cars.go
  backend/internal/proj/marketplace/handler/cars_test.go
  backend/internal/proj/marketplace/handler/categories.go
  backend/internal/proj/marketplace/handler/neighborhood_stats.go
  backend/internal/proj/marketplace/handler/variant_attributes.go
  backend/internal/proj/marketplace/services/category_detector.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/payments/handler/order_payment_handler.go
  backend/internal/proj/payments/handler/payment_handler.go
  backend/internal/proj/search_admin/handler/index_handler.go
  backend/internal/proj/storefront/handler/public_variant_handler.go
  backend/internal/proj/users/handler/admin_balance.go
  backend/test_category.go
  backend/test_category_comprehensive.go
  backend/test_mercedes.go
  frontend/svetu/src/components/Header.tsx
  frontend/svetu/src/components/marketplace/__tests__/CarListingCard.test.tsx
  frontend/svetu/src/components/mobile/MobileCategoryTree.tsx
  frontend/svetu/src/utils/categoryIcons.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: восстановить случайно удаленную презентацию
  docs/ru/examples/presentation_multilang_vertical.html
Due: none

feat: реализация системы сравнения автомобилей
  backend/internal/proj/marketplace/handler/cars.go
  backend/internal/proj/marketplace/service/cars.go
  backend/internal/proj/marketplace/service/interface.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/storage/postgres/cars.go
  backend/internal/storage/storage.go
  docs/AUTOMOTIVE_DEVELOPMENT_PHASE2.md
  docs/CARS_SECTION_IMPROVEMENT_PLAN.md
  frontend/svetu/src/app/[locale]/cars/CarsPageClient.tsx
  frontend/svetu/src/app/[locale]/cars/compare/page.tsx
  frontend/svetu/src/components/cars/AutocompleteSearch.tsx
  frontend/svetu/src/components/cars/Breadcrumbs.tsx
  frontend/svetu/src/components/cars/CarBadges.tsx
  frontend/svetu/src/components/cars/CarFiltersDrawer.tsx
  frontend/svetu/src/components/cars/CarListingCardEnhanced.tsx
  frontend/svetu/src/components/cars/CarQuickInfo.tsx
  frontend/svetu/src/components/cars/CarQuickViewModal.tsx
  frontend/svetu/src/components/cars/CarSelectorCompact.tsx
  frontend/svetu/src/components/cars/ComparisonBar.tsx
  frontend/svetu/src/components/cars/ComparisonTable.tsx
  frontend/svetu/src/messages/en/cars.json
  frontend/svetu/src/messages/en/search.json
  frontend/svetu/src/messages/ru/cars.json
  frontend/svetu/src/messages/sr/cars.json
  frontend/svetu/src/messages/sr/search.json
  frontend/svetu/src/store/index.ts
  frontend/svetu/src/store/slices/compareSlice.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправить передачу пропса onFiltersChange в CarFiltersDrawer
  frontend/svetu/src/components/cars/CarFiltersDrawer.tsx
Due: frontend-format, frontend-lint

fix: исправить SQL сканирование NULL значений в getStorefrontProductAsListing
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
Due: go-format, go-format-check, go-lint

docs: обновить план развития с исправлением SQL NULL сканирования
  docs/MASTER_DEVELOPMENT_PLAN.md
Due: frontend-format

backup: резервная копия перед полной проверкой и исправлением кода
  .playwright-mcp/product-334-with-image.png
  .playwright-mcp/product_334_current_state.png
  .playwright-mcp/product_334_with_image.png
  .playwright-mcp/storefront_product_334_fixed.png
  .playwright-mcp/storefront_product_334_images.png
  .playwright-mcp/storefront_product_334_new_placeholder.png
  COMPLETE_CHECK_REPORT_2025_09_28_PHASE2.md
  backend/fix-logistics-swagger.sh
  backend/fix-swagger-annotations.sh
  backend/internal/proj/admin/logistics/handler/analytics.go
  backend/internal/proj/admin/logistics/handler/dashboard.go
  backend/internal/proj/marketplace/handler/admin_attribute_groups.go
  backend/internal/proj/marketplace/handler/admin_attributes.go
  backend/internal/proj/marketplace/handler/admin_categories.go
  backend/internal/proj/marketplace/handler/admin_variant_attributes.go
  backend/internal/proj/marketplace/handler/categories.go
  backend/internal/proj/marketplace/handler/chat.go
  backend/internal/proj/marketplace/handler/custom_components.go
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/handler/neighborhood_stats.go
  backend/internal/proj/marketplace/handler/order_handler.go
  backend/internal/proj/marketplace/handler/translation.go
  backend/internal/proj/marketplace/handler/unified_attributes.go
  backend/internal/proj/marketplace/handler/variant_attributes.go
  backend/internal/proj/marketplace/handler/variant_mappings.go
  backend/internal/proj/storefront/handler/public_variant_handler.go
  backend/internal/proj/storefront/repository/variant_repository.go
  frontend/svetu/public/placeholder-listing-old.jpg
  frontend/svetu/public/placeholder-listing.jpg
  frontend/svetu/src/app/[locale]/profile/listings/[id]/edit/components/ImagesSection.tsx
  frontend/svetu/src/app/[locale]/profile/listings/[id]/edit/page.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: добавить s3.svetu.rs в список разрешенных доменов для изображений
  frontend/svetu/src/utils/imageUtils.ts
Due: frontend-format, frontend-lint

fix: добавить ui-avatars.com в список разрешенных доменов
  frontend/svetu/src/utils/imageUtils.ts
Due: frontend-format, frontend-lint

fix: добавить ui-avatars.com в конфигурацию Next.js images
  frontend/svetu/next.config.ts
Due: frontend-format, frontend-lint

Deploy to dev server
  backend/internal/proj/storefronts/service/product_service.go
  backend/internal/proj/storefronts/service/storefront_service.go
  backend/internal/services/image_service.go
  backend/internal/storage/postgres/storefront.go
  frontend/svetu/src/components/products/steps/PreviewStep.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

migrations 2025-09-29
  backend/migrations/000019_user_favorites_and_saved_searches.down.sql
  backend/migrations/000019_user_favorites_and_saved_searches.up.sql
  backend/migrations/000020_universal_view_history.down.sql
  backend/migrations/000020_universal_view_history.up.sql
  backend/migrations/000021_recommendation_indexes.down.sql
  backend/migrations/000021_recommendation_indexes.up.sql
  backend/migrations/000022_vin_decoder_history.down.sql
  backend/migrations/000022_vin_decoder_history.up.sql
Due: none

Deploy to dev server
  backend/go.mod
  backend/go.sum
  backend/internal/proj/global/service/interface.go
  backend/internal/proj/global/service/service.go
  backend/internal/proj/marketplace/service/chat_attachment.go
  backend/internal/proj/search_admin/service/index_service.go
  backend/internal/proj/storefronts/common/context_keys.go
  backend/internal/proj/storefronts/handler/image_handler.go
  backend/internal/proj/storefronts/handler/product_handler.go
  backend/internal/proj/storefronts/handler/storefront_handler.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/storefronts/service/product_service.go
  backend/internal/proj/storefronts/service/storefront_service.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  backend/internal/services/image_service.go
  backend/internal/storage/filestorage/factory.go
  backend/internal/storage/filestorage/interface.go
  backend/internal/storage/minio/client.go
  backend/internal/storage/opensearch/client.go
  backend/internal/storage/postgres/storefront.go
  backend/internal/storage/postgres/storefront_debug.go
  backend/internal/storage/postgres/storefront_fixed.go
  docs/.~lock.FINANCIAL_REQUIREMENTS_FOR_OPERATORS.docx#
  docs/ASSECO_PAYTEN_CONTACTS_SERBIA.md
  docs/FINANCIAL_REQUIREMENTS_FOR_OPERATORS.docx
  docs/FINANCIAL_REQUIREMENTS_FOR_OPERATORS.md
  docs/FINANCIAL_REQUIREMENTS_FOR_OPERATORS_SR.docx
  docs/FINANCIAL_REQUIREMENTS_FOR_OPERATORS_SR.md
  docs/MASTER_DEVELOPMENT_PLAN.md
  docs/PAYMENT_OPERATORS_COMPARISON_2025.md
  docs/PAYSPOT_CONTACTS_ANALYSIS.md
  frontend/svetu/src/app/[locale]/admin/storefronts/AdminStorefrontsTable.tsx
  frontend/svetu/src/app/[locale]/marketplace/[id]/page.tsx
  frontend/svetu/src/components/create-listing/steps/UnifiedAttributesStep.tsx
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/en/create_listing.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/ru/create_listing.json
  frontend/svetu/src/messages/sr/admin.json
  признаки_делимости_5класс.md
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

backup: pre-full-check checkpoint - saving current state before comprehensive code quality check
  backend/internal/proj/marketplace/handler/saved_searches.go
  backend/internal/proj/marketplace/handler/search.go
  backend/internal/proj/marketplace/service/saved_searches.go
  backend/internal/proj/recommendations/handler.go
  backend/internal/proj/recommendations/service.go
  backend/internal/proj/storefronts/handler/constants.go
  backend/internal/proj/storefronts/handler/storefront_handler.go
  backend/internal/proj/vin/models/vin.go
  backend/internal/proj/vin/service/vin_decoder.go
  backend/internal/proj/vin/service/vin_service.go
  backend/internal/proj/vin/storage/postgres/vin_storage.go
  backend/internal/storage/opensearch/client.go
  backend/internal/storage/postgres/storefront.go
  frontend/svetu/src/components/storefronts/ai/AIProductWizard.tsx
  frontend/svetu/src/components/storefronts/ai/EnhanceView.tsx
  frontend/svetu/src/components/storefronts/ai/ProcessView.tsx
  frontend/svetu/src/components/storefronts/ai/PublishView.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

refactor: comprehensive code quality improvements
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  frontend/svetu/next.config.ts
  frontend/svetu/src/components/abtest/ABTestProvider.tsx
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: implement AI storefront variants with category-based attribute filtering
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/service/variant_attributes.go
  docs/AI_STOREFRONT_PRODUCTS_IMPLEMENTATION_PLAN.md
  docs/AI_STOREFRONT_VARIANTS_IMPLEMENTATION_PLAN.md
  frontend/svetu/src/app/[locale]/admin/variant-attributes/VariantAttributesClient.tsx
  frontend/svetu/src/components/products/SimplifiedVariantGenerator.tsx
  frontend/svetu/src/components/storefronts/ai/AIProductWizard.tsx
  frontend/svetu/src/components/storefronts/ai/AIVariantsView.tsx
  frontend/svetu/src/components/storefronts/ai/EnhanceView.tsx
  frontend/svetu/src/components/storefronts/ai/PublishView.tsx
  frontend/svetu/src/contexts/CreateAIProductContext.tsx
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: migrate to auth-service - remove users table dependencies
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
Due: go-format, go-format-check, go-lint

Auth works
  CLAUDE.md
  frontend/svetu/next.config.ts
Due: frontend-format, frontend-lint

feat: migrate to auth-service v1.7.0 with separate AuthService and UserService
  backend/fixtures/000045_users.up.sql
  backend/fixtures/000060_user_roles.up.sql
  backend/fixtures/000084_enable_triggers.up.sql
  backend/go.mod
  backend/go.sum
  backend/internal/proj/global/service/service.go
  backend/internal/proj/users/handler/auth.go
  backend/internal/proj/users/service/converter.go
  backend/internal/proj/users/service/service.go
  backend/internal/proj/users/service/user.go
  backend/internal/proj/users/storage/interface.go
  backend/internal/proj/users/storage/postgres/admin.go
  backend/internal/proj/users/storage/postgres/admin_users.go
  backend/internal/proj/users/storage/postgres/storage.go
  backend/internal/proj/users/storage/postgres/user.go
  backend/internal/proj/users/storage/postgres/user_profile.go
  backend/internal/server/server.go
  backend/internal/storage/postgres/admin_methods.go
  backend/internal/storage/postgres/db.go
  backend/migrations/000020_remove_users.down.sql
  backend/migrations/000020_remove_users.up.sql
  docs/AUTH_SERVICE_V1.7.0_MIGRATION.md
Due: go-format, go-format-check, go-lint, frontend-format

fix: integrate auth-service for chat user information
  backend/internal/proj/marketplace/handler/chat.go
  backend/internal/proj/marketplace/storage/postgres/chat.go
Due: go-format, go-format-check, go-lint

fix: remove users table dependencies from reviews module
  backend/internal/proj/reviews/service/review.go
  backend/internal/proj/reviews/storage/postgres/reviews.go
Due: go-format, go-format-check, go-lint

fix: migrate to auth-service - remove users table dependencies
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/proj/reviews/handler/reviews.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/order_repository.go
  backend/internal/storage/postgres/storefront.go
Due: go-format, go-format-check, go-lint

chore: fix linter errors
  backend/cmd/reindex/main.go
  backend/internal/storage/postgres/admin_methods.go
Due: go-format, go-format-check, go-lint

fix: correct swagger type paths in auth handlers
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/users/handler/auth.go
  backend/internal/proj/users/handler/auth_oauth.go
  frontend/svetu/src/app/[locale]/auth/callback/CallbackClient.tsx
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: complete migration to auth-service - remove all users table dependencies
  backend/cmd/reindex/main.go
  backend/internal/proj/marketplace/handler/favorites.go
  backend/internal/proj/marketplace/storage/postgres/contacts.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/proj/users/service/converter.go
  backend/internal/proj/users/service/service.go
  backend/internal/proj/users/service/user.go
  backend/internal/server/server.go
  backend/internal/storage/postgres/admin_methods.go
  backend/internal/storage/postgres/db.go
Due: go-format, go-format-check, go-lint
