Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go formatting and linting
  - repo: local
    hooks:
      - id: go-format
        name: Go Format (gofumpt + goimports)
        entry: bash -c 'cd backend && make format'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-format-check
        name: Go Format Check
        entry: bash -c 'cd backend && make format-check'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-lint
        name: Go Lint
        entry: bash -c 'cd backend && make lint'
        language: system
        files: \.go$
        pass_filenames: false

  # Frontend formatting
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend/svetu && yarn format'
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false
        
      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend/svetu && yarn lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Trailing whitespace and line endings
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

fix(frontend): add localized address display on product cards
  frontend/svetu/src/components/common/UnifiedProductCard.tsx
  frontend/svetu/src/types/unified-product.ts
Due: frontend-format, frontend-lint

chore: backup before full code quality check and fixes
  docs/STOREFRONT_AI_PRODUCT_LOCATION_FEATURE.md
  frontend/svetu/src/app/[locale]/marketplace/[id]/page.tsx
  frontend/svetu/src/app/api/v2/[...path]/route.ts
  frontend/svetu/src/components/products/SimplifiedVariantGenerator.tsx
  frontend/svetu/src/components/storefronts/ai/ProcessView.tsx
  frontend/svetu/src/contexts/CreateAIProductContext.tsx
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
Due: frontend-format, frontend-lint

fix: comprehensive code quality fixes
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/marketplace/handler/unified_attributes_test.go
  backend/internal/proj/payments/service/allsecure_service.go
  backend/internal/proj/payments/service/allsecure_service_test.go
  frontend/svetu/src/app/[locale]/marketplace/[id]/page.tsx
  frontend/svetu/src/components/products/SimplifiedVariantGenerator.tsx
  frontend/svetu/src/components/storefronts/ai/EnhanceView.tsx
  frontend/svetu/src/components/storefronts/ai/ProcessView.tsx
  frontend/svetu/src/types/generated/api.ts
  frontend/svetu/src/types/unified-product.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat(storefronts): complete multilingual address support for storefront products
  backend/cmd/reindex-products/main.go
  backend/internal/domain/models/storefront_product.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  backend/internal/storage/opensearch/mappings.go
  backend/internal/storage/postgres/storefront_product.go
  docs/STOREFRONT_AI_LOCATION_SUMMARY.md
  frontend/svetu/src/components/storefronts/ai/EnhanceView.tsx
  frontend/svetu/src/components/storefronts/ai/ProcessView.tsx
  frontend/svetu/src/components/storefronts/ai/PublishView.tsx
  frontend/svetu/src/components/storefronts/public/ProductCard.tsx
  frontend/svetu/src/utils/addressUtils.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix(search): correct unified search to return both marketplace and storefront items
  backend/internal/proj/marketplace/storage/opensearch/repository.go
Due: go-format, go-format-check, go-lint

fix(frontend): display multilingual addresses from unified search
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
Due: frontend-format, frontend-lint

fix(opensearch): исправлена автоматическая индексация marketplace listings
  backend/internal/proj/marketplace/storage/opensearch/repository.go
Due: go-format, go-format-check, go-lint

fix(opensearch): исправлено удаление storefront products из индекса
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  frontend/svetu/src/app/api/v2/[...path]/route.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat(chat): add comprehensive chat system documentation and logout cleanup
  docs/CHAT_SYSTEM_SPECIFICATION.md
  docs/CHAT_TRANSLATION_IMPLEMENTATION_PLAN.md
  frontend/svetu/src/contexts/AuthContext.tsx
  frontend/svetu/src/store/slices/chatSlice.ts
Due: frontend-format, frontend-lint

docs: update CLAUDE.md with voice status updates instruction
  CLAUDE.md
Due: frontend-format

feat(chat): implement chat message translation system
  backend/internal/domain/models/marketplace_chat.go
  backend/internal/proj/global/service/interface.go
  backend/internal/proj/global/service/service.go
  backend/internal/proj/marketplace/handler/chat.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/service/chat_translation.go
  backend/internal/proj/marketplace/service/service.go
  backend/internal/server/server.go
  backend/migrations/000024_add_chat_translations.down.sql
  backend/migrations/000024_add_chat_translations.up.sql
  docs/CHAT_TRANSLATION_IMPLEMENTATION_PLAN.md
  frontend/svetu/src/messages/en/chat.json
  frontend/svetu/src/messages/ru/chat.json
  frontend/svetu/src/messages/sr/chat.json
  frontend/svetu/src/services/chat.ts
  frontend/svetu/src/types/chat.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat(chat): add translation button to MessageItem component
  frontend/svetu/src/components/Chat/MessageItem.tsx
Due: frontend-format, frontend-lint

docs: update CHAT_TRANSLATION_IMPLEMENTATION_PLAN with completed status
  docs/CHAT_TRANSLATION_IMPLEMENTATION_PLAN.md
Due: frontend-format

feat(chat): add ChatSettings component and fix translate button visibility
  frontend/svetu/src/components/Chat/ChatSettings.tsx
  frontend/svetu/src/components/Chat/MessageItem.tsx
Due: frontend-format, frontend-lint

feat(chat): integrate ChatSettings component into ChatWindow
  frontend/svetu/src/components/Chat/ChatWindow.tsx
Due: frontend-format, frontend-lint

feat(chat): implement auto-translate functionality
  backend/internal/proj/marketplace/service/chat_translation.go
  frontend/svetu/src/components/Chat/MessageItem.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

chore: backup before full code quality check and fixes
  backend/internal/proj/marketplace/handler/chat.go
  backend/internal/proj/marketplace/service/chat_translation.go
  backend/internal/proj/marketplace/service/claude_translation.go
  backend/internal/proj/marketplace/service/deepl_translation.go
  backend/internal/proj/marketplace/service/google_translation.go
  backend/internal/proj/marketplace/service/service.go
  backend/internal/proj/marketplace/service/translation.go
  backend/internal/proj/marketplace/service/translation_factory.go
  backend/internal/proj/marketplace/service/translation_factory_v2.go
  backend/internal/proj/marketplace/service/translation_interface.go
  docs/CHAT_TRANSLATION_IMPLEMENTATION_PLAN.md
  frontend/svetu/src/components/Chat/ChatSettings.tsx
  frontend/svetu/src/components/Chat/ChatWindow.tsx
  frontend/svetu/src/components/Chat/MessageItem.tsx
  frontend/svetu/src/messages/en/chat.json
  frontend/svetu/src/messages/ru/chat.json
  frontend/svetu/src/messages/sr/chat.json
  frontend/svetu/src/services/chat.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

chore: code quality improvements - lint, format, and type fixes
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/domain/models/marketplace_chat.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/handler/chat.go
  backend/internal/proj/marketplace/service/address_translation_test.go
  backend/internal/proj/marketplace/service/category_test.go
  backend/internal/proj/marketplace/service/chat_translation.go
  backend/internal/proj/marketplace/service/claude_translation.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  frontend/svetu/src/components/Chat/MessageItem.tsx
  frontend/svetu/src/components/storefronts/ai/EnhanceView.tsx
  frontend/svetu/src/components/storefronts/ai/ProcessView.tsx
  frontend/svetu/src/contexts/AuthContext.tsx
  frontend/svetu/src/services/chat.ts
  frontend/svetu/src/types/generated/api.ts
  frontend/svetu/src/utils/addressUtils.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix(chat): исправлены проблемы с автопереводом чатов
  backend/internal/proj/marketplace/handler/chat.go
  backend/internal/proj/marketplace/service/claude_translation.go
  docs/CHAT_TRANSLATION_FIXES.md
Due: go-format, go-format-check, go-lint, frontend-format

fix(chat): полное исправление автоперевода и смягчения
  backend/internal/proj/marketplace/service/chat_translation.go
  backend/internal/proj/marketplace/service/claude_translation.go
  docs/CHAT_TRANSLATION_FIXES.md
  docs/CHAT_TRANSLATION_IMPLEMENTATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

feat(chat): complete implementation of real-time auto-translate and moderation
  backend/internal/proj/marketplace/service/claude_translation.go
Due: go-format, go-format-check, go-lint

fix(chat): add nil checks for redisClient in ChatTranslationService
  backend/internal/proj/marketplace/service/chat_translation.go
Due: go-format, go-format-check, go-lint

fix(notifications): add nil check for Telegram bot
  backend/internal/proj/notifications/service/notification.go
Due: go-format, go-format-check, go-lint

fix(chat): исправлено WebSocket подключение на production - теперь использует NEXT_PUBLIC_WEBSOCKET_URL/API_URL вместо window.location.host
  frontend/svetu/src/services/chat.ts
Due: frontend-format, frontend-lint

fix(deploy): улучшена надёжность скрипта деплоя
  deploy-to-dev.sh
  frontend/svetu/Makefile
Due: none

fix(deploy): удалена очистка кеша модулей Go для ускорения деплоя
  deploy-to-dev.sh
Due: none

debug: добавлены checkpoints для отладки деплоя
  deploy-to-dev.sh
Due: none

fix(deploy): убран флаг -i из docker exec для избежания конфликта с heredoc
  deploy-to-dev.sh
Due: none

chore: убраны debug логи из скрипта деплоя
  deploy-to-dev.sh
Due: none

fix(chat): удалён дублирующий layout который перезаписывал переводы
  frontend/svetu/src/app/[locale]/chat/layout.tsx.backup
Due: none

debug: добавлен лог для проверки наличия chat переводов
  frontend/svetu/src/providers/ModularIntlProvider.tsx
Due: frontend-format, frontend-lint

fix(chat): исправлены пропавшие переводы - удалён дублирующий NextIntlClientProvider из chat/layout.tsx
  frontend/svetu/src/app/[locale]/chat/layout.tsx.backup
  frontend/svetu/src/providers/ModularIntlProvider.tsx
Due: frontend-format, frontend-lint

backup: pre-quality-check snapshot
  backend/internal/domain/models/marketplace_chat.go
  backend/internal/domain/models/user_contact.go
  backend/internal/proj/global/service/service.go
  backend/internal/proj/marketplace/handler/chat.go
  backend/internal/proj/marketplace/service/chat.go
  backend/internal/proj/marketplace/service/chat_interface.go
  backend/internal/proj/marketplace/service/chat_translation.go
  backend/internal/proj/marketplace/service/claude_translation.go
  backend/internal/proj/marketplace/service/deepl_translation.go
  backend/internal/proj/marketplace/storage/postgres/contacts.go
  backend/internal/proj/users/handler/routes.go
  backend/internal/proj/users/handler/users.go
  backend/internal/proj/users/service/interface.go
  backend/internal/proj/users/service/service.go
  backend/internal/proj/users/service/user.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/storage.go
  backend/migrations/000025_add_settings_to_user_privacy_settings.down.sql
  backend/migrations/000025_add_settings_to_user_privacy_settings.up.sql
  docs/CHAT_TRANSLATION_COMPLETED.md
  docs/CHAT_TRANSLATION_IMPLEMENTATION_PLAN.md
  docs/CHAT_TRANSLATION_IMPLEMENTATION_SUMMARY.md
  docs/CHAT_TRANSLATION_ROADMAP.md
  docs/CHAT_TRANSLATION_TESTING_RESULTS.md
  docs/DATABASE_CHAT_SETTINGS_IMPLEMENTATION.md
  docs/WEBSOCKET_TRANSLATION_IMPLEMENTATION_GUIDE.md
  frontend/svetu/src/app/[locale]/layout.tsx
  frontend/svetu/src/components/Chat/ChatWindow.tsx
  frontend/svetu/src/components/Chat/MessageItem.tsx
  frontend/svetu/src/components/LocaleSync.tsx
  frontend/svetu/src/services/chat.ts
  frontend/svetu/src/store/slices/chatSlice.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: add missing UpdateChatSettings method to test mocks
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/marketplace/service/category_test.go
  backend/internal/proj/marketplace/service/chat.go
  backend/internal/proj/marketplace/service/integration_test.go
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix(deploy): prevent using old .next build on dev server
  deploy-to-dev.sh
  frontend/svetu/Makefile
Due: none

chore: bump version to 0.2.4 and fix dev server deployment
  backend/internal/version/version.go
  frontend/svetu/next.config.ts
  frontend/svetu/package.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix(deploy): исправлен синтаксис запуска frontend и удалена устаревшая опция api из next.config
  deploy-to-dev.sh
  frontend/svetu/next.config.ts
Due: frontend-format, frontend-lint

fix(chat): persist message translations to database and fix Redis URL parsing
  backend/internal/cache/redis.go
  backend/internal/proj/global/service/service.go
  backend/internal/proj/marketplace/service/chat_translation.go
  backend/internal/proj/marketplace/storage/postgres/chat.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/storage.go
Due: go-format, go-format-check, go-lint

fix: исправлены ошибки линтинга и тестов
  backend/internal/proj/marketplace/service/category_test.go
  backend/internal/proj/marketplace/service/chat_translation.go
  backend/internal/proj/marketplace/service/integration_test.go
  backend/internal/proj/marketplace/services/ai_category_detector_test.go
Due: go-format, go-format-check, go-lint

fix(reindex): добавлена переиндексация товаров витрин
  backend/cmd/reindex/main.go
  backend/internal/storage/postgres/db.go
Due: go-format, go-format-check, go-lint
