Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go formatting and linting
  - repo: local
    hooks:
      - id: go-format
        name: Go Format (gofumpt + goimports)
        entry: bash -c 'cd backend && make format'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-format-check
        name: Go Format Check
        entry: bash -c 'cd backend && make format-check'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-lint
        name: Go Lint
        entry: bash -c 'cd backend && make lint'
        language: system
        files: \.go$
        pass_filenames: false

  # Frontend formatting
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend/svetu && yarn format'
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false
        
      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend/svetu && yarn lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Trailing whitespace and line endings
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

fix: улучшена работа CompactSliderControl на мобильных устройствах
  frontend/svetu/src/components/GIS/Map/CompactSliderControl.tsx
Due: frontend-format, frontend-lint

fix: улучшен внешний вид FloatingSliderControl
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/Map/FloatingSliderControl.tsx
Due: frontend-format, frontend-lint

fix: дополнительные улучшения для CompactSliderControl на мобильных
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/Map/CompactSliderControl.tsx
Due: frontend-format, frontend-lint

fix: восстановлена работа двойного клика мышью на десктопе
  frontend/svetu/src/components/GIS/Map/CompactSliderControl.tsx
Due: frontend-format, frontend-lint

feat: заменена статическая подсказка радиуса на интерактивные контролы
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/Map/CompactSliderControl.tsx
  frontend/svetu/src/components/GIS/Map/FloatingSliderControl.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Map/NativeSliderControl.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
Due: frontend-format, frontend-lint

feat: добавлены интерактивные popup для маркеров на карте
  docs/gis/GIS_PHASE2_ADDRESS_INPUT_TASK.md
  docs/gis/GIS_PHASED_IMPLEMENTATION_V2.md
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Map/MarkerClickPopup.tsx
  frontend/svetu/src/components/GIS/Map/MarkerHoverPopup.tsx
  frontend/svetu/src/styles/map-popup.css
Due: frontend-format, frontend-lint

fix: использование переменной окружения для MapBox токена вместо хардкода
  backend/go.mod
  backend/go.sum
  backend/internal/proj/gis/handler/geocoding.go
  backend/internal/proj/gis/handler/routes.go
  backend/internal/proj/gis/handler/spatial_search.go
  backend/internal/proj/gis/repository/geocoding_cache_repository.go
  backend/internal/proj/gis/service/geocoding_service.go
  backend/internal/proj/gis/service/spatial_service.go
  backend/internal/proj/gis/types/errors.go
  backend/internal/proj/gis/types/geo_types.go
  backend/migrations/101_add_address_components_to_listings_geo.down.sql
  backend/migrations/101_add_address_components_to_listings_geo.up.sql
  backend/migrations/102_create_address_change_log.down.sql
  backend/migrations/102_create_address_change_log.up.sql
  backend/migrations/103_create_geocoding_cache.down.sql
  backend/migrations/103_create_geocoding_cache.up.sql
  docs/gis/GIS_PHASE2_IMPLEMENTATION_PLAN.md
  frontend/svetu/src/app/[locale]/test-smart-address/page.tsx
  frontend/svetu/src/components/GIS/AddressConfirmationMap.tsx
  frontend/svetu/src/components/GIS/LocationPrivacySettings.tsx
  frontend/svetu/src/components/GIS/SmartAddressInput.tsx
  frontend/svetu/src/components/GIS/utils/mapboxIsochrone.ts
  frontend/svetu/src/hooks/useAddressGeocoding.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: добавлен новый API endpoint для радиусного поиска объявлений
  backend/internal/middleware/auth_jwt.go
  backend/internal/proj/gis/handler/geocoding.go
  backend/internal/proj/gis/handler/handler.go
  backend/internal/proj/gis/handler/routes.go
  backend/internal/proj/gis/handler/spatial_search.go
  backend/internal/proj/gis/repository/geocoding_cache_repository.go
  backend/internal/proj/gis/service/geocoding_service.go
  backend/internal/proj/gis/service/spatial_service.go
  backend/internal/proj/gis/types/geo_types.go
Due: go-format, go-format-check, go-lint

feat: добавлены компоненты радиусного поиска для маркетплейса
  frontend/svetu/src/app/[locale]/page.tsx
  frontend/svetu/src/app/[locale]/test-smart-address/page.tsx
  frontend/svetu/src/components/GIS/AddressConfirmationMap.tsx
  frontend/svetu/src/components/GIS/LocationPrivacySettings.tsx
  frontend/svetu/src/components/GIS/README-RadiusSearch.md
  frontend/svetu/src/components/GIS/RadiusSearchControl.tsx
  frontend/svetu/src/components/GIS/SmartAddressInput.tsx
  frontend/svetu/src/components/GIS/hooks/useRadiusSearch.ts
  frontend/svetu/src/components/GIS/index.ts
  frontend/svetu/src/components/GIS/types/gis.ts
  frontend/svetu/src/components/create-listing/steps/LocationStep.tsx
  frontend/svetu/src/components/marketplace/HomePage.tsx
  frontend/svetu/src/components/marketplace/MarketplaceMapWithRadiusSearch.tsx
  frontend/svetu/src/hooks/useAddressGeocoding.ts
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  memory-bank/analysis-geosearch-current-state.md
  memory-bank/current-task.md
  memory-bank/tasks/003-phase3-geosearch-plan.md
Due: frontend-format, frontend-lint

fix: исправление ошибок компиляции в Phase 3
  backend/go.mod
  backend/go.sum
  backend/internal/proj/gis/handler/advanced_filters.go
  backend/internal/proj/marketplace/handler/search.go
  backend/migrations/105_add_advanced_geo_filters.down.sql
  backend/migrations/105_add_advanced_geo_filters.up.sql
Due: go-format, go-format-check, go-lint

fix: исправление ESLint ошибок и завершение pre-check
  frontend/svetu/src/app/[locale]/map/districts/page.tsx
  frontend/svetu/src/components/GIS/AddressConfirmationMap.tsx
  frontend/svetu/src/components/GIS/LocationPrivacySettings.tsx
  frontend/svetu/src/components/GIS/RadiusSearchControl.tsx
  frontend/svetu/src/components/GIS/hooks/useRadiusSearch.ts
  frontend/svetu/src/components/marketplace/HomePageWithFilters.tsx
  frontend/svetu/src/components/marketplace/MarketplaceMapWithRadiusSearch.tsx
  frontend/svetu/src/components/search/DistrictMapSearch.tsx
  frontend/svetu/src/components/search/DistrictMapSelector.tsx
  frontend/svetu/src/components/search/DistrictSelector.tsx
  frontend/svetu/src/hooks/useAdvancedGeoFilters.ts
Due: frontend-format, frontend-lint

Fix search input on map
  frontend/svetu/package.json
  frontend/svetu/src/components/GIS/Map/MapControls.tsx
Due: frontend-format, frontend-lint

refactor: интеграция полезных возможностей новой карты в старую
  backend/internal/proj/gis/handler/district_handler.go
  backend/internal/proj/gis/repository/district_repository.go
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/DistrictFilter.tsx
  frontend/svetu/src/components/GIS/Map/MapControls.tsx
  frontend/svetu/src/components/GIS/README-RadiusSearch.md
  frontend/svetu/src/components/GIS/RadiusSearchControl.tsx
  frontend/svetu/src/components/GIS/index.ts
  frontend/svetu/src/components/marketplace/HomePage.tsx
  frontend/svetu/src/components/marketplace/HomePageWithFilters.tsx
  frontend/svetu/src/components/marketplace/MarketplaceMapWithRadiusSearch.tsx
  frontend/svetu/src/messages/ru.json
  homepage-screenshot.png
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправление метода запроса для радиусного поиска
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/hooks/useRadiusSearch.ts
Due: frontend-format, frontend-lint

fix: исправлена проблема с бесконечным циклом геокодирования и добавлен поиск по районам
  frontend/svetu/memory-bank/currentTask.md
  frontend/svetu/src/app/[locale]/admin/layout.tsx
  frontend/svetu/src/app/[locale]/auth/callback/page.tsx
  frontend/svetu/src/app/[locale]/balance/deposit/success/page.tsx
  frontend/svetu/src/app/[locale]/chat/page.tsx
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Map/MapControls.tsx
  frontend/svetu/src/components/GIS/hooks/useGeoSearch.ts
  frontend/svetu/src/components/GIS/types/gis.ts
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
Due: frontend-format, frontend-lint

fix: добавлены недостающие переводы для сербского языка
  frontend/svetu/src/messages/sr.json
Due: frontend-format

fix: добавлены переводы для поиска по районам на сербском языке
  frontend/svetu/src/messages/sr.json
Due: frontend-format

docs: добавлена документация о критической проблеме рендеринга
  memory-bank/current-task.md
Due: frontend-format

fix: исправлены типы и ESLint ошибки для прохождения сборки
  backend/internal/proj/gis/handler/district_handler.go
  backend/internal/proj/gis/handler/spatial_search.go
  frontend/svetu/district-click-test.png
  frontend/svetu/district-test.png
  frontend/svetu/package-lock.json
  frontend/svetu/package.json
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/Map/CompactSliderControl.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Mobile/MobileFiltersDrawer.tsx
  frontend/svetu/src/components/GIS/hooks/useRadiusSearch.ts
  frontend/svetu/src/components/GIS/hooks/useVisibleCities.ts
  frontend/svetu/src/components/search/DistrictMapSearch.tsx
  frontend/svetu/src/components/search/DistrictMapSelector.tsx
  frontend/svetu/src/components/search/index.ts
  frontend/svetu/src/contexts/SearchModeContext.tsx
  frontend/svetu/src/services/api-client.ts
  frontend/svetu/test-district-map.html
  frontend/svetu/test-district-selection.js
  frontend/svetu/test-map-playwright.js
  frontend/svetu/test-map-search.spec.js
  frontend/svetu/test-map-with-playwright.js
  frontend/svetu/test-results/.last-run.json
  frontend/svetu/test-results/test-map-search-Тестирование-поиска-по-карте/error-context.md
  frontend/svetu/test-search.js
  frontend/svetu/yarn.lock
  memory-bank/current-task.md
  memory-bank/tasks/002-performance-fixes.md
  test-district-search.js
  test-map-playwright.js
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: добавлены районы и координаты для крупных городов Сербии
  CLAUDE.md
  backend/check_pages.py
  backend/cmd/tools/query_db.go
  backend/debug-page.png
  backend/debug_map.py
  backend/final-state.png
  backend/fixtures/009_serbian_cities.sql
  backend/fixtures/010_belgrade_districts.sql
  backend/fixtures/011_novi_sad_districts.sql
  backend/fixtures/012_nis_districts.sql
  backend/initial-map.png
  backend/migrations/107_add_city_districts.down.sql
  backend/migrations/107_add_city_districts.up.sql
  backend/migrations/108_add_district_coordinates.down.sql
  backend/migrations/108_add_district_coordinates.up.sql
  backend/test_districts_map.py
  backend/test_map.py
  backend/test_map_final.py
  backend/zoomed-map.png
Due: go-format, go-format-check, go-lint, frontend-format

промежуточный коммит
  .gitignore
  REAL_DISTRICT_BOUNDARIES_TASK.md
  backend/internal/proj/gis/repository/district_repository.go
  backend/package.json
  frontend/svetu/src/app/[locale]/layout.tsx
  frontend/svetu/src/components/GIS/DistrictFilter.tsx
  frontend/svetu/src/components/GIS/contexts/VisibleCitiesContext.tsx
  frontend/svetu/src/components/GIS/hooks/useVisibleCities.ts
  frontend/svetu/src/components/search/DistrictSelector.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/sr.json
  update_zemun_proper.sql
  update_zemun_simple_test.sql
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

chore: временно отключен функционал поиска по районам
  backend/internal/proj/gis/handler/handler.go
  backend/migrations/109_update_leskovac_districts.up.sql
  backend/migrations/111_disable_district_triggers.down.sql
  backend/migrations/111_disable_district_triggers.up.sql
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/DistrictFilter.tsx
  frontend/svetu/src/components/GIS/Mobile/MobileFiltersDrawer.tsx
  frontend/svetu/src/components/GIS/contexts/VisibleCitiesContext.tsx
  frontend/svetu/src/components/GIS/hooks/useVisibleCities.ts
  frontend/svetu/src/components/search/DistrictMapSearch.tsx
  frontend/svetu/src/components/search/DistrictMapSelector.tsx
  frontend/svetu/src/components/search/DistrictSelector.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

перемещаемый центр
  CLAUDE.md
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/DistrictFilter.tsx
  frontend/svetu/src/components/GIS/Map/DraggableLocationIcon.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Mobile/MobileFiltersDrawer.tsx
  frontend/svetu/src/components/GIS/contexts/VisibleCitiesContext.tsx
  frontend/svetu/src/components/GIS/hooks/useVisibleCities.ts
  frontend/svetu/src/components/search/DistrictMapSearch.tsx
  frontend/svetu/src/components/search/DistrictMapSelector.tsx
  frontend/svetu/src/components/search/DistrictSelector.tsx
Due: frontend-format, frontend-lint

feat: добавлена фильтрация по динамическим атрибутам на карте
  BEST_FILTERS_SPEC.md
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/domain/models/category_attributes.go
  backend/internal/proj/gis/handler/advanced_filters.go
  backend/internal/proj/gis/types/advanced_filters.go
  backend/internal/proj/marketplace/handler/categories.go
  backend/internal/proj/marketplace/handler/map.go
  backend/internal/proj/marketplace/service/attribute_admin.go
  backend/internal/proj/marketplace/service/interface.go
  backend/internal/proj/marketplace/service/map.go
  backend/internal/proj/users/handler/admin_balance.go
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/Mobile/MobileFiltersDrawer.tsx
  frontend/svetu/src/components/marketplace/SmartFilters.tsx
  frontend/svetu/src/hooks/useCategoryFilters.ts
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправлены переводы в компонентах фильтров - используются корректные ключи из map.filters
  frontend/svetu/src/components/marketplace/QuickFilters.tsx
  frontend/svetu/src/components/marketplace/SmartFilters.tsx
Due: frontend-format, frontend-lint

feat: исправлена проблема с переводами в фильтрах карты
  backend/cmd/tools/query_db.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/service/map.go
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/Mobile/MobileFiltersDrawer.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: улучшены маркеры карты с информативными ценами
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Map/MapboxClusterLayer.tsx
  frontend/svetu/src/components/GIS/Map/PriceCluster.tsx
  frontend/svetu/src/components/GIS/Map/PriceMarker.tsx
  frontend/svetu/src/components/GIS/Map/index.ts
  frontend/svetu/src/components/GIS/utils/geoJsonHelpers.ts
Due: frontend-format, frontend-lint

fix: изменена валюта с евро на сербские динары (RSD) на карте
  frontend/svetu/src/components/GIS/Map/MapMarker.tsx
  frontend/svetu/src/components/GIS/Map/MapboxClusterLayer.tsx
  frontend/svetu/src/components/GIS/Map/PriceCluster.tsx
  frontend/svetu/src/components/GIS/Map/PriceMarker.tsx
Due: frontend-format, frontend-lint

fix: исправлено отображение цен на карте в динарах
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/components/GIS/utils/geoJsonHelpers.ts
Due: frontend-format, frontend-lint

feat: добавлен hover popup для кластеров с топ объявлениями
  frontend/svetu/src/components/GIS/Map/ClusterHoverPopup.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Map/MapboxClusterLayer.tsx
  frontend/svetu/src/components/GIS/Map/index.ts
Due: frontend-format, frontend-lint

fix: исправлены ошибки линтера в компонентах карты
  frontend/svetu/src/components/GIS/Map/ClusterHoverPopup.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Map/MapboxClusterLayer.tsx
Due: frontend-format, frontend-lint

feat: добавлена поддержка hover на popup'ы маркеров и кластеров
  frontend/svetu/src/components/GIS/Map/ClusterHoverPopup.tsx
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Map/MarkerHoverPopup.tsx
Due: frontend-format, frontend-lint

клик на объявления в попапе для деталей
  frontend/svetu/src/components/GIS/Map/InteractiveMap.tsx
  frontend/svetu/src/components/GIS/Map/MarkerClickPopup.tsx
  frontend/svetu/src/components/GIS/Map/MarkerHoverPopup.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
Due: frontend-format, frontend-lint

варианты продуктов
  backend/migrations/112_create_product_variants.down.sql
  backend/migrations/112_create_product_variants.up.sql
Due: none

fix: исправлены ошибки переводов, типов и обновлена swagger документация
  backend/check-map-full.js
  backend/check-map-markers.js
  backend/check-map-simple.js
  backend/check_map_markers.py
  backend/check_map_puppeteer.js
  backend/check_map_simple.js
  backend/detailed_map_check.js
  backend/docs/docs.go
  backend/docs/geo-location-storage-guide.md
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/go.mod
  backend/go.sum
  backend/internal/proj/gis/repository/district_repository.go
  backend/internal/proj/gis/repository/unified_geo_repo.go
  backend/internal/proj/marketplace/service/map.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/proj/storefront/handler/variant_handler.go
  backend/internal/proj/storefront/repository/variant_repository.go
  backend/internal/proj/users/storage/postgres/user.go
  backend/internal/storage/postgres/db.go
  backend/map-analysis.js
  backend/map-check-2.png
  backend/map-check-detailed.png
  backend/map-check-direct.js
  backend/migrations/000060_create_all_storefront_tables.up.sql
  backend/migrations/125_create_map_items_cache.down.sql
  backend/migrations/125_create_map_items_cache.up.sql
  backend/package.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint
