Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go formatting and linting
  - repo: local
    hooks:
      - id: go-format
        name: Go Format (gofumpt + goimports)
        entry: bash -c 'cd backend && make format'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-format-check
        name: Go Format Check
        entry: bash -c 'cd backend && make format-check'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-lint
        name: Go Lint
        entry: bash -c 'cd backend && make lint'
        language: system
        files: \.go$
        pass_filenames: false

  # Frontend formatting
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend/svetu && yarn format'
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false
        
      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend/svetu && yarn lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Trailing whitespace and line endings
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

перед остатками на складах
  backend/internal/proj/storefronts/handler/storefront_handler.go
  backend/internal/proj/storefronts/module.go
  frontend/svetu/src/app/[locale]/marketplace/[id]/page.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: реализация системы AI-переводов с интеграцией Claude и DeepL
  frontend/svetu/scripts/fix-placeholder-translations.js
  frontend/svetu/src/app/[locale]/admin/AdminPageClient.tsx
  frontend/svetu/src/app/[locale]/admin/attributes/components/AttributeForm.tsx
  frontend/svetu/src/app/[locale]/admin/auth/page.tsx
  frontend/svetu/src/app/[locale]/admin/translations/layout.tsx
  frontend/svetu/src/app/[locale]/admin/translations/page.tsx
  frontend/svetu/src/app/[locale]/auth/login/page.tsx
  frontend/svetu/src/app/[locale]/demo-translations/page.tsx
  frontend/svetu/src/components/admin/translations/AITranslations.tsx
  frontend/svetu/src/components/admin/translations/AITranslationsDemo.tsx
  frontend/svetu/src/components/admin/translations/ConflictResolver.tsx
  frontend/svetu/src/components/admin/translations/ModuleExplorer.tsx
  frontend/svetu/src/components/admin/translations/StatisticsPanel.tsx
  frontend/svetu/src/components/admin/translations/SyncManager.tsx
  frontend/svetu/src/components/admin/translations/TranslationEditor.tsx
  frontend/svetu/src/components/admin/translations/TranslationsDashboard.tsx
  frontend/svetu/src/components/admin/translations/TranslationsDashboardDemo.tsx
  frontend/svetu/src/components/balance/BalanceWidget.tsx
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/en/orders.json
  frontend/svetu/src/messages/en/orders.json.backup
  frontend/svetu/src/messages/en/reviews.json
  frontend/svetu/src/messages/en/reviews.json.backup
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/ru/orders.json
  frontend/svetu/src/messages/ru/orders.json.backup
  frontend/svetu/src/messages/ru/reviews.json
  frontend/svetu/src/messages/ru/reviews.json.backup
  frontend/svetu/src/messages/sr/admin.json
  frontend/svetu/src/messages/sr/orders.json
  frontend/svetu/src/messages/sr/orders.json.backup
  frontend/svetu/src/messages/sr/reviews.json
  frontend/svetu/src/messages/sr/reviews.json.backup
Due: frontend-format, frontend-lint

feat: backend система AI-переводов и документация
  backend/go.mod
  backend/go.sum
  backend/internal/domain/models/ai_translation.go
  backend/internal/domain/models/translation.go
  backend/internal/domain/models/translation_admin.go
  backend/internal/domain/models/translation_ai.go
  backend/internal/domain/models/translation_conflicts.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/translation_admin/ai_handler.go
  backend/internal/proj/translation_admin/handler.go
  backend/internal/proj/translation_admin/module.go
  backend/internal/proj/translation_admin/repository.go
  backend/internal/proj/translation_admin/service.go
  backend/internal/proj/translation_admin/service/ai_providers.go
  backend/internal/proj/translation_admin/service/deepl_provider.go
  backend/internal/server/server.go
  backend/pkg/utils/response.go
  backend/scripts/create_admin_jwt.go
  backend/scripts/create_test_jwt.go.bak
  docs/ADMIN_VARIANT_ATTRIBUTES_EXTENSION_PLAN.md
  docs/TRANSLATION_ADMIN_IMPLEMENTATION_STATUS.md
  docs/TRANSLATION_ADMIN_PANEL_REQUIREMENTS.md
  docs/TRANSLATION_ADMIN_STATUS.md
  docs/TRANSLATION_AI_IMPLEMENTATION.md
  docs/TRANSLATION_AI_PROVIDERS_STATUS.md
  docs/TRANSLATION_CONFLICTS_IMPLEMENTATION.md
  docs/TRANSLATION_SYNC_IMPLEMENTATION.md
  docs/TRANSLATION_SYSTEM_PROGRESS_REPORT.md
  memory-bank/current-task.md
Due: go-format, go-format-check, go-lint, frontend-format

feat: комплексная система управления переводами с версионированием и аудитом
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/domain/models/translation_admin.go
  backend/internal/proj/translation_admin/handler.go
  backend/internal/proj/translation_admin/repository.go
  backend/internal/proj/translation_admin/service.go
  frontend/svetu/src/app/[locale]/admin/translations/page.tsx
  frontend/svetu/src/components/admin/translations/AuditLogViewer.tsx
  frontend/svetu/src/components/admin/translations/BulkTranslationManager.tsx
  frontend/svetu/src/components/admin/translations/EnhancedTranslationsDashboard.tsx
  frontend/svetu/src/components/admin/translations/ExportImportManager.tsx
  frontend/svetu/src/components/admin/translations/VersionHistoryViewer.tsx
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/services/admin.ts
  frontend/svetu/src/services/translationAdminApi.ts
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: реализация критических улучшений системы переводов (Фаза 1)
  TRANSLATION_SYSTEM_AUDIT_REPORT.md
  TRANSLATION_SYSTEM_FULL_AUDIT.md
  TRANSLATION_SYSTEM_IMPLEMENTATION_REPORT.md
  backend/internal/proj/translation_admin/ai_handler.go
  backend/internal/proj/translation_admin/cache/redis_cache.go
  backend/internal/proj/translation_admin/module.go
  backend/internal/proj/translation_admin/ratelimit/ratelimiter.go
  backend/internal/proj/translation_admin/service.go
  backend/internal/proj/translation_admin/service_cache.go
  backend/internal/server/server.go
  frontend/svetu/scripts/find-placeholders.js
  frontend/svetu/scripts/placeholders-report.csv
  frontend/svetu/scripts/placeholders-report.json
  frontend/svetu/scripts/sync-translation-keys.js
  frontend/svetu/scripts/translation-sync-report.json
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/en/chat.json
  frontend/svetu/src/messages/en/common.json
  frontend/svetu/src/messages/en/orders.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/ru/chat.json
  frontend/svetu/src/messages/ru/common.json
  frontend/svetu/src/messages/ru/marketplace.json
  frontend/svetu/src/messages/ru/misc.json
  frontend/svetu/src/messages/sr/admin.json
  frontend/svetu/src/messages/sr/chat.json
  frontend/svetu/src/messages/sr/common.json
  frontend/svetu/src/messages/sr/misc.json
  frontend/svetu/src/messages/sr/orders.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

docs: обновление отчёта о реализации системы переводов
  TRANSLATION_SYSTEM_IMPLEMENTATION_REPORT.md
Due: frontend-format

feat: добавлен полный мониторинг расходов AI провайдеров
  TRANSLATION_SYSTEM_IMPLEMENTATION_REPORT.md
  backend/internal/proj/translation_admin/ai_handler.go
  backend/internal/proj/translation_admin/ai_handler_costs.go
  backend/internal/proj/translation_admin/batch_loader.go
  backend/internal/proj/translation_admin/cost_tracker.go
  backend/internal/proj/translation_admin/module.go
  backend/internal/proj/translation_admin/providers.go
  backend/internal/proj/translation_admin/service.go
  backend/internal/proj/translation_admin/service_batch.go
  backend/internal/proj/translation_admin/service_cache.go
  frontend/svetu/src/components/admin/translations/AICostsMonitor.tsx
  frontend/svetu/src/components/admin/translations/EnhancedTranslationsDashboard.tsx
  frontend/svetu/src/lib/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправление работы мониторинга расходов AI
  backend/scripts/create_test_jwt.go
  frontend/svetu/src/components/admin/translations/AICostsMonitor.tsx
  frontend/svetu/src/lib/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: демо режим для мониторинга расходов AI
  frontend/svetu/src/components/admin/translations/AICostsMonitor.tsx
Due: frontend-format, frontend-lint

feat: добавлен мониторинг расходов AI провайдеров для переводов
  backend/internal/proj/translation_admin/cost_tracker.go
  backend/internal/proj/translation_admin/service.go
  backend/internal/proj/translation_admin/service_batch.go
  frontend/svetu/src/app/api/admin/translations/costs/route.ts
  frontend/svetu/src/components/admin/translations/AICostsMonitor.tsx
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: добавлен мониторинг расходов AI провайдеров
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/translation_admin/ai_handler.go
  backend/internal/proj/translation_admin/ai_handler_costs.go
  backend/internal/proj/translation_admin/batch_loader.go
  backend/internal/proj/translation_admin/cache/redis_cache.go
  backend/internal/proj/translation_admin/cost_tracker.go
  backend/internal/proj/translation_admin/handler.go
  backend/internal/proj/translation_admin/module.go
  backend/internal/proj/translation_admin/providers.go
  backend/internal/proj/translation_admin/ratelimit/ratelimiter.go
  backend/internal/proj/translation_admin/service.go
  backend/internal/proj/translation_admin/service_batch.go
  backend/internal/proj/translation_admin/service_cache.go
  backend/internal/server/server.go
  backend/scripts/create_admin_jwt.go
  backend/scripts/create_test_jwt.go
  frontend/svetu/scripts/find-placeholders.js
  frontend/svetu/scripts/placeholders-report.json
  frontend/svetu/scripts/sync-translation-keys.js
  frontend/svetu/scripts/translation-sync-report.json
  frontend/svetu/src/app/api/admin/translations/costs/route.ts
  frontend/svetu/src/components/admin/translations/AICostsMonitor.tsx
  frontend/svetu/src/lib/api.ts
  frontend/svetu/src/messages/sr/chat.json
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: добавлены интерактивные графики в мониторинг расходов AI
  frontend/svetu/package.json
  frontend/svetu/src/components/admin/translations/AICostsMonitor.tsx
  frontend/svetu/yarn.lock
Due: frontend-format, frontend-lint

fix: исправлено отображение малых сумм и fetch URL в мониторинге расходов
  frontend/svetu/src/components/admin/translations/AICostsMonitor.tsx
Due: frontend-format, frontend-lint

fix: исправлены критические ошибки тестов backend и frontend
  backend/internal/cache/cache_integration_test.go
  backend/internal/proj/marketplace/service/similarity_scoring.go
  backend/internal/proj/payments/service/allsecure_service.go
  backend/internal/proj/payments/service/allsecure_service_test.go
  backend/internal/proj/translation_admin/ai_handler.go
  backend/internal/proj/translation_admin/batch_loader.go
  backend/internal/proj/translation_admin/cache/redis_cache.go
  backend/internal/proj/translation_admin/cost_tracker.go
  backend/internal/proj/translation_admin/module.go
  backend/internal/proj/translation_admin/providers.go
  backend/internal/proj/translation_admin/ratelimit/ratelimiter.go
  backend/internal/proj/translation_admin/service.go
  backend/internal/proj/translation_admin/service_cache.go
  frontend/svetu/src/components/admin/translations/AICostsMonitor.tsx
  frontend/svetu/src/components/admin/translations/AITranslations.tsx
  frontend/svetu/src/components/admin/translations/AuditLogViewer.tsx
  frontend/svetu/src/components/admin/translations/BulkTranslationManager.tsx
  frontend/svetu/src/components/admin/translations/EnhancedTranslationsDashboard.tsx
  frontend/svetu/src/components/admin/translations/ExportImportManager.tsx
  frontend/svetu/src/components/admin/translations/SyncManager.tsx
  frontend/svetu/src/components/admin/translations/TranslationEditor.tsx
  frontend/svetu/src/components/admin/translations/VersionHistoryViewer.tsx
  frontend/svetu/src/services/translationAdminApi.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправлены конфликты после rebase и TypeScript ошибки
  backend/internal/config/config.go
  backend/internal/domain/models/translation.go
  backend/internal/domain/models/translation_admin.go
  backend/internal/proj/marketplace/handler/admin_translations.go
  backend/internal/proj/marketplace/handler/translation.go
  backend/internal/proj/marketplace/service/claude_translation.go
  backend/internal/proj/marketplace/service/deepl_translation.go
  backend/internal/proj/marketplace/service/google_translation.go
  backend/internal/proj/marketplace/service/interface.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/service/translation_factory.go
  backend/internal/proj/marketplace/service/translation_factory_v2.go
  backend/internal/proj/translation_admin/handler.go
  backend/internal/proj/translation_admin/module.go
  backend/internal/proj/translation_admin/repository.go
  backend/internal/proj/translation_admin/service.go
  backend/internal/server/server.go
  frontend/svetu/src/app/[locale]/demo/versions/page.tsx
  frontend/svetu/src/components/admin/translations/AICostsMonitor.tsx
  frontend/svetu/src/components/admin/translations/EnhancedTranslationsDashboard.tsx
  frontend/svetu/src/components/admin/translations/ExportImportManager.tsx
  frontend/svetu/src/components/admin/translations/SyncManager.tsx
  frontend/svetu/src/components/admin/translations/VersionHistoryViewer.tsx
  frontend/svetu/src/services/admin.ts
  frontend/svetu/src/services/translationAdminApi.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: улучшение системы мониторинга AI расходов и версионирования переводов
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/config/config.go
  backend/internal/domain/models/translation.go
  backend/internal/proj/marketplace/service/claude_translation.go
  backend/internal/proj/marketplace/service/deepl_translation.go
  backend/internal/proj/marketplace/service/translation_factory_v2.go
  backend/internal/proj/translation_admin/handler.go
  backend/internal/proj/translation_admin/repository.go
  backend/internal/proj/translation_admin/service.go
  frontend/svetu/src/app/[locale]/demo/versions/page.tsx
  frontend/svetu/src/components/admin/translations/EnhancedTranslationsDashboard.tsx
  frontend/svetu/src/components/admin/translations/VersionHistoryViewer.tsx
  frontend/svetu/src/services/translationAdminApi.ts
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: добавлены примеры идеального маркетплейса и детальной карточки товара
  docs/BEX_EXPRESS_INTEGRATION_ANALYSIS.md
  docs/TRANSLATION_SYSTEM_COMPLETION_SPEC.md
  docs/TRANSLATION_SYSTEM_IMPLEMENTATION_REPORT.md
  forweb/home.xml
  frontend/svetu/src/app/[locale]/admin/translations/components/InlineTranslationEditor.tsx
  frontend/svetu/src/app/[locale]/admin/translations/components/TranslationEditorDemo.tsx
  frontend/svetu/src/app/[locale]/admin/translations/components/TranslationSearch.tsx
  frontend/svetu/src/app/[locale]/examples/delivery/components/BulkShipmentManager.tsx
  frontend/svetu/src/app/[locale]/examples/delivery/components/DeliveryCalculator.tsx
  frontend/svetu/src/app/[locale]/examples/delivery/components/DeliveryMethodSelector.tsx
  frontend/svetu/src/app/[locale]/examples/delivery/components/ParcelShopMap.tsx
  frontend/svetu/src/app/[locale]/examples/delivery/components/SellerShipmentInterface.tsx
  frontend/svetu/src/app/[locale]/examples/delivery/components/TrackingWidget.tsx
  frontend/svetu/src/app/[locale]/examples/delivery/page.tsx
  frontend/svetu/src/app/[locale]/examples/ideal-marketplace/components/MapSection.tsx
  frontend/svetu/src/app/[locale]/examples/ideal-marketplace/page.tsx
  frontend/svetu/src/app/[locale]/examples/page.tsx
  frontend/svetu/src/app/[locale]/examples/product-detail/page.tsx
  frontend/svetu/src/components/AdminGuard.tsx
  frontend/svetu/src/components/AuthModal.tsx
  frontend/svetu/src/components/admin/translations/BulkTranslationManager.tsx
  frontend/svetu/src/components/admin/translations/EnhancedTranslationsDashboard.tsx
  frontend/svetu/src/components/admin/translations/ExportImportManager.tsx
  frontend/svetu/src/components/admin/translations/SyncManager.tsx
  frontend/svetu/src/components/admin/translations/VersionHistoryViewer.tsx
  frontend/svetu/src/contexts/AuthContext.tsx
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/ru/auth.json
  frontend/svetu/src/services/auth.ts
  frontend/svetu/src/services/translationAdminApi.ts
  frontend/svetu/src/types/translation.ts
Due: frontend-format, frontend-lint

fix: исправление ESLint ошибок и улучшение качества кода
  docs/MARKETPLACE_C2C_ATTRACTION_IDEAS.md
  frontend/svetu/package.json
  frontend/svetu/src/app/[locale]/HomePageClient.backup.tsx
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/admin/translations/components/InlineTranslationEditor.tsx
  frontend/svetu/src/app/[locale]/admin/translations/components/TranslationEditorDemo.tsx
  frontend/svetu/src/app/[locale]/admin/translations/components/TranslationSearch.tsx
  frontend/svetu/src/app/[locale]/components/MapSection.tsx
  frontend/svetu/src/app/[locale]/examples/delivery/components/BulkShipmentManager.tsx
  frontend/svetu/src/app/[locale]/examples/delivery/components/DeliveryMethodSelector.tsx
  frontend/svetu/src/app/[locale]/examples/delivery/components/SellerShipmentInterface.tsx
  frontend/svetu/src/app/[locale]/examples/delivery/components/TrackingWidget.tsx
  frontend/svetu/src/app/[locale]/examples/delivery/page.tsx
  frontend/svetu/src/app/[locale]/examples/healthy-food/page.tsx
  frontend/svetu/src/app/[locale]/examples/ideal-marketplace/components/MapSection.tsx
  frontend/svetu/src/app/[locale]/examples/ideal-marketplace/page.tsx
  frontend/svetu/src/app/[locale]/examples/page.tsx
  frontend/svetu/src/app/[locale]/examples/product-detail/page.tsx
  frontend/svetu/src/app/[locale]/examples/serbian-delivery/components/BexApiIntegration.tsx
  frontend/svetu/src/app/[locale]/examples/serbian-delivery/components/BexCustomsManager.tsx
  frontend/svetu/src/app/[locale]/examples/serbian-delivery/components/BexLabelGenerator.tsx
  frontend/svetu/src/app/[locale]/examples/serbian-delivery/components/BexShipmentCreator.tsx
  frontend/svetu/src/app/[locale]/examples/serbian-delivery/components/SerbianBulkShipmentManager.tsx
  frontend/svetu/src/app/[locale]/examples/serbian-delivery/components/SerbianDeliveryCalculator.tsx
  frontend/svetu/src/app/[locale]/examples/serbian-delivery/components/SerbianDeliveryMethodSelector.tsx
  frontend/svetu/src/app/[locale]/examples/serbian-delivery/components/SerbianParcelShopMap.tsx
  frontend/svetu/src/app/[locale]/examples/serbian-delivery/components/SerbianSellerShipmentInterface.tsx
  frontend/svetu/src/app/[locale]/examples/serbian-delivery/components/SerbianTrackingWidget.tsx
  frontend/svetu/src/app/[locale]/examples/serbian-delivery/page.tsx
  frontend/svetu/src/app/layout.tsx
  frontend/svetu/src/components/AuthModal.tsx
  frontend/svetu/src/components/admin/translations/AuditLogViewer.tsx
  frontend/svetu/src/components/admin/translations/BulkTranslationManager.tsx
  frontend/svetu/src/contexts/AuthContext.tsx
  frontend/svetu/src/services/api.ts
  frontend/svetu/src/services/auth.ts
  frontend/svetu/src/services/translationAdminApi.ts
  frontend/svetu/src/types/translation.ts
  frontend/svetu/yarn.lock
Due: frontend-format, frontend-lint

feat: улучшенная карта на главной странице с полным функционалом
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/components/EnhancedMapSection.tsx
Due: frontend-format, frontend-lint

fix: исправлены критические ошибки карты и гидрации
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/components/EnhancedMapSection.tsx
Due: frontend-format, frontend-lint

style: исправление форматирования Go кода
  backend/internal/proj/marketplace/service/category_test.go
Due: go-format, go-format-check, go-lint

fix: исправление всех ошибок линтера
  backend/internal/proj/marketplace/service/attribute_admin.go
  backend/internal/proj/marketplace/service/chat.go
  backend/internal/proj/marketplace/service/claude_translation.go
  backend/internal/proj/marketplace/service/deepl_translation.go
  backend/internal/proj/marketplace/service/google_translation.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/service/service.go
  backend/internal/proj/marketplace/service/translation.go
  backend/internal/proj/marketplace/service/translation_factory.go
  backend/internal/proj/translation_admin/repository.go
  backend/internal/proj/translation_admin/service.go
Due: go-format, go-format-check, go-lint

fix: исправление синтаксической ошибки в chat.go
  backend/internal/proj/marketplace/service/chat.go
Due: go-format, go-format-check, go-lint

.github/workflows/integration-tests.yml
  .github/workflows/integration-tests.yml
Due: none

go 1.24.6
  backend/go.mod
  backend/go.sum
Due: none

lint
  .github/workflows/integration-tests.yml
  backend/internal/proj/notifications/handler/handler.go
  backend/internal/proj/search_optimization/service/security.go
  backend/internal/proj/search_optimization/service/service.go
Due: go-format, go-format-check, go-lint

fix .gitignore
  .gitignore
Due: none

feat: добавить интеграционные Playwright тесты
  .github/workflows/integration-tests.yml
  package.json
  playwright/.env.test
  playwright/.gitignore
  playwright/PLAYWRIGHT_INTEGRATION_TESTS_PLAN.md
  playwright/PLAYWRIGHT_TESTING_SESSION_CONTEXT.md
  playwright/QUICK_START.md
  playwright/README.md
  playwright/package.json
  playwright/playwright.config.ts
  playwright/tests/example.spec.ts
  playwright/yarn.lock
Due: frontend-format, frontend-lint

feat: настроить ночные тесты по расписанию
  .github/workflows/README.md
  .github/workflows/integration-tests.yml
Due: frontend-format

feat: добавлена интеграция мигратора в API с поддержкой режимов запуска
  backend/.env.example
  backend/cmd/api/main.go
  backend/cmd/migrator/migrator.go
  backend/internal/app/migrator/migrator.go
  backend/internal/config/config.go
Due: go-format, go-format-check, go-lint

Docker for arm
  docker-compose.yml
  docker/postgres-postgis/Dockerfile
  docker/postgres-postgis/init-postgis.sh
Due: none

fix: исправление ошибок линтера и форматирования в модуле Post Express
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/config/config.go
  backend/internal/proj/postexpress/handler/handler.go
  backend/internal/proj/postexpress/models/models.go
  backend/internal/proj/postexpress/service/client.go
  backend/internal/proj/postexpress/service/service.go
  backend/internal/proj/postexpress/storage/interface.go
  backend/internal/proj/postexpress/storage/postgres/repository.go
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: улучшения поиска, переводов и Post Express интеграции
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/examples/postexpress-demo/page.tsx
  frontend/svetu/src/app/[locale]/search/SearchPage.tsx
  frontend/svetu/src/components/cart/DeliverySelector.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressAddressForm.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressDeliveryFlow.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressDeliverySelector.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressOfficeSelector.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressPickupCode.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressRateCalculator.tsx
  frontend/svetu/src/components/delivery/postexpress/PostExpressTracker.tsx
  frontend/svetu/src/messages/en/search.json
  frontend/svetu/src/messages/ru/search.json
  frontend/svetu/src/messages/sr/search.json
  frontend/svetu/src/types/generated/api.ts
Due: frontend-format, frontend-lint

feat: добавлено автодополнение поиска и вложенные категории на главной странице
  .playwright-mcp/old-homepage-version.png
  .playwright-mcp/old-version-functional.png
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/domain/search/types.go
  backend/internal/proj/global/handler/handler.go
  backend/internal/proj/marketplace/handler/categories.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/handler/search.go
  backend/internal/proj/marketplace/service/category_test.go
  backend/internal/proj/marketplace/service/integration_test.go
  backend/internal/proj/marketplace/service/interface.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/service/search_suggestions.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/storefront.go
  backend/internal/storage/storage.go
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/components/search/NestedCategorySelector.tsx
  frontend/svetu/src/components/search/SearchAutocomplete.tsx
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: заменены статичные данные категорий на главной странице на реальные из БД
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
Due: frontend-format, frontend-lint
