Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

go-format:
  name: Go Format (gofumpt + goimports)
  entry: bash -c 'cd backend && make format'
  language: system
  pass_filenames: false

go-format-check:
  name: Go Format Check
  entry: bash -c 'cd backend && make format-check'
  language: system
  pass_filenames: false

go-lint:
  name: Go Lint
  entry: bash -c 'cd backend && make lint'
  language: system
  pass_filenames: false

frontend-format:
  name: Frontend Format (Prettier)
  entry: bash -c 'cd frontend/svetu && yarn format'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd frontend/svetu && yarn lint'
  language: system
  pass_filenames: false

docs: детальный план улучшения покрытия тестами Frontend
  docs/FRONTEND_TEST_COVERAGE_IMPROVEMENT_PLAN.md
Due: frontend-format

feat: integrate 5 new unit tests into Admin Quality Tests UI
  docs/FRONTEND_TEST_COVERAGE_COMPLETED.md
  docs/FRONTEND_TEST_COVERAGE_IMPROVEMENT_PLAN.md
  docs/FRONTEND_UNIT_TESTS_INTEGRATION_REPORT.md
  frontend/svetu/playwright-report/index.html
  frontend/svetu/src/app/[locale]/admin/quality-tests/QualityTestsClient.tsx
  frontend/svetu/src/app/api/admin/tests/route.ts
  frontend/svetu/src/components/shared/__tests__/AutocompleteAttributeField.test.tsx
  frontend/svetu/src/hooks/__tests__/useAttributeAutocomplete.test.ts
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/sr/admin.json
  frontend/svetu/src/services/__tests__/cars.test.ts
  frontend/svetu/src/utils/__tests__/env.test.ts
  frontend/svetu/src/utils/__tests__/iconMapper.test.tsx
  frontend/svetu/test-results/results.json
Due: frontend-format, frontend-lint

Deploy to dev server
  backend/Makefile
  backend/coverage.html
  backend/scripts/postexpress/test_service_integration.go
  backend/scripts/test_opensearch.go
  backend/scripts/test_postexpress.go
  backend/scripts/test_postgres.go
  backend/scripts/test_redis.go
  docs/BACKEND_TEST_COVERAGE_STATUS.md
  frontend/svetu/e2e/axe/a11y-keyboard-navigation.spec.ts
  frontend/svetu/e2e/search.spec.ts
  frontend/svetu/e2e/user-journey-create-listing.spec.ts
  frontend/svetu/playwright-report/index.html
  frontend/svetu/src/app/[locale]/admin/quality-tests/QualityTestsClient.tsx
  frontend/svetu/src/app/[locale]/create-listing-smart/page.tsx
  frontend/svetu/src/app/api/admin/tests/route.ts
  frontend/svetu/src/components/SearchBar/SearchBar.tsx
  frontend/svetu/src/components/search/__tests__/CategoryFilter.test.tsx
  frontend/svetu/src/components/search/__tests__/LocationFilter.test.tsx
  frontend/svetu/src/components/search/__tests__/SearchAutocomplete.test.tsx
  frontend/svetu/src/components/shared/__tests__/AutocompleteAttributeField.test.tsx
  frontend/svetu/src/hooks/__tests__/useAttributeAutocomplete.test.ts
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/en/create_listing.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/ru/create_listing.json
  frontend/svetu/src/messages/sr/admin.json
  frontend/svetu/src/messages/sr/create_listing.json
  frontend/svetu/src/services/__tests__/cars.test.ts
  frontend/svetu/src/utils/__tests__/env.test.ts
  frontend/svetu/src/utils/__tests__/iconMapper.test.tsx
  frontend/svetu/src/utils/env.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: update Swagger annotations to use ErrorResponseSwag and SuccessResponseSwag
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/admin/testing/handler/handler.go
  frontend/svetu/e2e/user-journey-create-listing.spec.ts
  frontend/svetu/playwright-report/index.html
  frontend/svetu/src/app/api/admin/tests/route.ts
  frontend/svetu/src/types/generated/api.ts
  frontend/svetu/test-results/.last-run.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: mark local-only tests with visual indicators
  frontend/svetu/src/app/[locale]/admin/quality-tests/QualityTestsClient.tsx
Due: frontend-format, frontend-lint

Deploy to dev server
  frontend/svetu/src/app/[locale]/admin/quality-tests/QualityTestsClient.tsx
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/sr/admin.json
Due: frontend-format, frontend-lint

chore: apply code formatting (Prettier)
  frontend/svetu/src/app/[locale]/admin/quality-tests/QualityTestsClient.tsx
Due: frontend-format, frontend-lint

Deploy to dev server
  backend/internal/proj/admin/testing/domain/models.go
  backend/internal/proj/admin/testing/handler/handler.go
  backend/internal/proj/admin/testing/service/test_runner.go
  backend/internal/proj/admin/testing/storage/postgres/postgres.go
  backend/internal/proj/admin/testing/storage/storage.go
  frontend/svetu/src/app/[locale]/admin/quality-tests/QualityTestsClient.tsx
  frontend/svetu/src/app/[locale]/admin/test-data-cleanup/TestDataCleanupClient.tsx
  frontend/svetu/src/app/[locale]/admin/test-data-cleanup/page.tsx
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/en/common.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/ru/common.json
  frontend/svetu/src/messages/sr/admin.json
  frontend/svetu/src/messages/sr/common.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

Deploy to dev server
  frontend/svetu/src/app/[locale]/admin/test-data-cleanup/TestDataCleanupClient.tsx
Due: frontend-format, frontend-lint

fix: улучшен deploy-to-dev.sh для предотвращения проблем
  deploy-to-dev.sh
Due: none

fix: исправлен редирект при обновлении страницы create-listing-ai
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/messages/en/create_listing.json
  frontend/svetu/src/messages/ru/create_listing.json
  frontend/svetu/src/messages/sr/create_listing.json
Due: frontend-format, frontend-lint

refactor: убран кастомный navbar на странице create-listing-ai
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
Due: frontend-format, frontend-lint

fix: уменьшен избыточный отступ между header и контентом
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/app/[locale]/layout.tsx
Due: frontend-format, frontend-lint

docs: добавить полную документацию миграции delivery микросервиса
  docs/delivery-migration/01-OVERVIEW.md
  docs/delivery-migration/02-ARCHITECTURE.md
  docs/delivery-migration/03-TECHNICAL-SPEC.md
  docs/delivery-migration/04-DATABASE.md
  docs/delivery-migration/05-PHASE-0-INFRASTRUCTURE.md
  docs/delivery-migration/06-PHASE-1-DEVELOPMENT.md
  docs/delivery-migration/07-PHASE-2-TESTING.md
  docs/delivery-migration/08-PHASE-3-DEPLOYMENT.md
  docs/delivery-migration/09-INFRASTRUCTURE-SVETU-RS.md
  docs/delivery-migration/10-DEPLOYMENT-GUIDE.md
  docs/delivery-migration/11-MONITORING-ROLLBACK.md
  docs/delivery-migration/12-CHECKLISTS.md
  docs/delivery-migration/13-TROUBLESHOOTING.md
  docs/delivery-migration/COMPLETE_SUMMARY.md
  docs/delivery-migration/DEPLOYMENT_STATUS.md
  docs/delivery-migration/FINAL_REPORT.md
  docs/delivery-migration/MIGRATION_STATUS.md
  docs/delivery-migration/PROGRESS_SUMMARY.md
  docs/delivery-migration/README.md
Due: frontend-format

Deploy to dev server
  docs/CHAT_PAGE_AUDIT_2025-10-22.md
  docs/DELIVERY_MICROSERVICE_MIGRATION_CLEAN_CUT.md
  docs/DELIVERY_MICROSERVICE_MIGRATION_PLAN.md
  docs/delivery-migration/FINAL_TESTING_REPORT.md
  docs/delivery-migration/MIGRATION_COMPLETE.md
  docs/delivery-migration/create-all-docs.sh
  frontend/svetu/src/components/Chat/ChatList.tsx
  frontend/svetu/src/components/Chat/ChatWindow.tsx
Due: frontend-format, frontend-lint

feat(delivery): add gRPC client infrastructure for microservice integration
  backend/Makefile
  backend/delivery/v1/delivery.pb.go
  backend/delivery/v1/delivery_grpc.pb.go
  backend/internal/config/config.go
  backend/internal/proj/delivery/grpcclient/adapter.go
  backend/internal/proj/delivery/grpcclient/client.go
  backend/internal/proj/delivery/grpcclient/mapper.go
  backend/internal/proj/delivery/module.go
  backend/internal/proj/delivery/service/service.go
  backend/pkg/grpc/delivery/v1/delivery.pb.go
  backend/pkg/grpc/delivery/v1/delivery_grpc.pb.go
  backend/proto/delivery/v1/delivery.proto
  docs/delivery-migration/DELIVERY_MICROSERVICE_FINAL_TEST_REPORT.md
  docs/delivery-migration/DELIVERY_MICROSERVICE_MIGRATION_CLEAN_CUT.md
  docs/delivery-migration/DELIVERY_MICROSERVICE_MIGRATION_COMPLETE.md
  docs/delivery-migration/DELIVERY_MICROSERVICE_MIGRATION_FROM_MONOLITH.md
  docs/delivery-migration/DELIVERY_MICROSERVICE_MIGRATION_PLAN.md
  docs/delivery-migration/DELIVERY_MICROSERVICE_SPECIFICATION.md
  docs/delivery-migration/DELIVERY_MICROSERVICE_TESTING_PLAN.md
  docs/delivery-migration/DELIVERY_MICROSERVICE_USAGE_GUIDE.md
  docs/delivery-migration/README.md
Due: go-format, go-format-check, go-lint, frontend-format

refactor(delivery): complete migration to gRPC microservice
  backend/go.mod
  backend/internal/config/config.go
  backend/internal/proj/delivery/calculator/mock_calculator.go
  backend/internal/proj/delivery/calculator/service.go
  backend/internal/proj/delivery/calculator/types.go
  backend/internal/proj/delivery/factory/factory.go
  backend/internal/proj/delivery/factory/mock_provider.go
  backend/internal/proj/delivery/factory/postexpress_adapter.go
  backend/internal/proj/delivery/handler/handler.go
  backend/internal/proj/delivery/interfaces/provider.go
  backend/internal/proj/delivery/module.go
  backend/internal/proj/delivery/service/service.go
  backend/pkg/grpc/delivery/v1/delivery.pb.go
  backend/pkg/grpc/delivery/v1/delivery_grpc.pb.go
  backend/proto/delivery/v1/delivery.pb.go
  backend/proto/delivery/v1/delivery.proto
  backend/proto/delivery/v1/delivery_grpc.pb.go
Due: go-format, go-format-check, go-lint

docs(delivery): add comprehensive migration documentation
  backend/internal/proj/delivery/README.md
  docs/DELIVERY_MICROSERVICE_MIGRATION_COMPLETE.md
  docs/DELIVERY_QUICK_START.md
Due: frontend-format

fix(delivery): move test endpoints to /api/public for auth bypass
  backend/internal/proj/delivery/handler/handler.go
  backend/internal/proj/delivery/handler/test_handler.go
  backend/internal/proj/delivery/module.go
  backend/internal/proj/delivery/service/service.go
  docs/POSTEXPRESS_MIGRATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

feat(postexpress): mark old test endpoints as DEPRECATED
  backend/internal/proj/postexpress/handler/test_handler.go
  backend/pkg/logger/logger.go
Due: go-format, go-format-check, go-lint

Deploy to dev server
  backend/internal/proj/delivery/grpcclient/client.go
  backend/internal/proj/delivery/grpcclient/mapper.go
  docs/POSTEXPRESS_TO_DELIVERY_MIGRATION_COMPLETE.md
Due: go-format, go-format-check, go-lint, frontend-format

fix(delivery): add missing test endpoints (providers, config, history)
  backend/internal/proj/delivery/handler/handler.go
  backend/internal/proj/delivery/handler/test_handler.go
  docs/POSTEXPRESS_TO_DELIVERY_MIGRATION_COMPLETE.md
Due: go-format, go-format-check, go-lint, frontend-format

fix(postexpress): add Sunset header to all 13 DEPRECATED test endpoints
  backend/internal/proj/postexpress/handler/test_handler.go
Due: go-format, go-format-check, go-lint

feat(delivery): complete Phase 4 - add gRPC methods and cleanup PostExpress
  backend/internal/proj/delivery/grpcclient/client.go
  backend/internal/proj/delivery/handler/test_handler.go
  backend/internal/proj/delivery/service/service.go
  backend/internal/proj/postexpress/handler/handler.go
  backend/internal/proj/postexpress/handler/test_handler.go
  backend/pkg/grpc/delivery/v1/delivery.pb.go
  backend/pkg/grpc/delivery/v1/delivery_grpc.pb.go
  backend/proto/delivery/v1/delivery.pb.go
  backend/proto/delivery/v1/delivery.proto
  backend/proto/delivery/v1/delivery_grpc.pb.go
  docs/POSTEXPRESS_TO_DELIVERY_MIGRATION_COMPLETE.md
Due: go-format, go-format-check, go-lint, frontend-format

fix(delivery): исправление маршрута /streets для GetTestStreets
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/delivery/handler/handler.go
  docs/delivery-migration/POSTEXPRESS_MIGRATION_PLAN.md
  docs/delivery-migration/POSTEXPRESS_TO_DELIVERY_MIGRATION_COMPLETE.md
Due: go-format, go-format-check, go-lint, frontend-format

Deploy to dev server
  backend/delivery/v1/delivery.pb.go
  backend/delivery/v1/delivery_grpc.pb.go
  backend/internal/proj/delivery/grpcclient/mapper.go
  backend/internal/proj/delivery/handler/handler.go
  backend/internal/proj/delivery/service/service.go
  backend/internal/proj/postexpress/service/service.go
  backend/internal/proj/postexpress/types.go
  backend/pkg/grpc/delivery/v1/delivery.pb.go
  backend/pkg/grpc/delivery/v1/delivery_grpc.pb.go
  backend/proto/delivery/v1/delivery.pb.go
  backend/proto/delivery/v1/delivery.proto
  backend/proto/delivery/v1/delivery_grpc.pb.go
  docs/DELIVERY_MICROSERVICE_IMPLEMENTATION_GUIDE.md
  docs/DELIVERY_MICROSERVICE_QUICK_START.md
Due: go-format, go-format-check, go-lint, frontend-format

fix(delivery): устранение технического долга и TODO
  backend/internal/proj/delivery/service/service.go
  backend/internal/proj/delivery/storage/storage.go
  backend/internal/proj/postexpress/service/client.go
  docs/DELIVERY_MICROSERVICE_REVIEW.md
Due: go-format, go-format-check, go-lint, frontend-format

feat(postexpress): implement WSPClient singleton pattern
  backend/internal/proj/postexpress/service/client.go
Due: go-format, go-format-check, go-lint

Soft backup before comprehensive code quality check and fixes
  backend/cmd/api/main.go
  backend/internal/config/config.go
  backend/internal/proj/delivery/README.md
  backend/internal/proj/delivery/TESTING.md
  backend/internal/proj/delivery/TEST_SUITE_SUMMARY.md
  backend/internal/proj/delivery/attributes/service.go
  backend/internal/proj/delivery/attributes/service_test.go
  backend/internal/proj/delivery/grpcclient/client_test.go
  backend/internal/proj/delivery/grpcclient/mapper_test.go
  backend/internal/proj/delivery/module.go
  backend/internal/proj/delivery/notifications/service.go
  backend/internal/proj/delivery/service/service.go
  backend/internal/proj/delivery/storage/admin_storage_test.go
  backend/internal/proj/delivery/storage/attributes.go
  backend/internal/proj/delivery/storage/notifications.go
  backend/internal/proj/delivery/storage/storage_test.go
  package-lock.json
Due: go-format, go-format-check, go-lint, frontend-format

fix: comprehensive code quality improvements and test fixes
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/delivery/attributes/service_test.go
  backend/internal/proj/delivery/grpcclient/client_test.go
  backend/internal/proj/delivery/grpcclient/mapper_test.go
  backend/internal/proj/delivery/handler/handler.go
  backend/internal/proj/delivery/storage/admin_storage_test.go
  backend/internal/proj/delivery/storage/storage_test.go
Due: go-format, go-format-check, go-lint, frontend-format

chore: bump version to 0.3.0
  backend/internal/version/version.go
  frontend/svetu/package.json
Due: go-format, go-format-check, go-lint, frontend-format

feat(db): add shipment tracking fields to c2c_orders
  backend/migrations/000193_add_shipment_tracking.down.sql
  backend/migrations/000193_add_shipment_tracking.up.sql
Due: none

feat(models): add shipment fields to order models
  backend/internal/domain/models/marketplace_order.go
  backend/internal/domain/models/storefront_order.go
Due: go-format, go-format-check, go-lint

feat(orders): add delivery client to order service DI
  backend/internal/proj/delivery/module.go
  backend/internal/proj/orders/module.go
  backend/internal/proj/orders/service/order_service.go
  backend/internal/server/server.go
Due: go-format, go-format-check, go-lint

feat(orders): integrate delivery service CalculateRate in shipping cost calculation
  .gitignore
  backend/go.mod
  backend/go.sum
  backend/internal/proj/orders/service/order_service.go
  backend/reindex_unified.py
Due: go-format, go-format-check, go-lint

feat(orders): automatically create shipment after order confirmation
  backend/internal/domain/models/storefront_order.go
  backend/internal/proj/orders/service/order_service.go
Due: go-format, go-format-check, go-lint

feat(orders): remove manual tracking number input
  backend/internal/domain/models/storefront_order.go
  backend/internal/proj/c2c/handler/order_handler.go
  backend/internal/proj/c2c/repository/order_interface.go
  backend/internal/proj/c2c/repository/postgres_adapter.go
  backend/internal/proj/c2c/service/interface.go
  backend/internal/proj/c2c/service/order_service.go
  backend/internal/proj/orders/handler/order_handler.go
  backend/internal/proj/orders/service/order_service.go
  backend/internal/storage/postgres/marketplace_order_repository.go
  frontend/svetu/src/app/[locale]/profile/orders/sales/page.tsx
  frontend/svetu/src/services/c2cOrders.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat(orders): implement TrackShipment enrichment in GetOrder
  backend/internal/domain/models/storefront_order.go
  backend/internal/proj/orders/service/order_service.go
  frontend/svetu/src/components/orders/OrderDetails.tsx
  frontend/svetu/src/messages/en/orders.json
  frontend/svetu/src/messages/ru/orders.json
  frontend/svetu/src/messages/sr/orders.json
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

Path conditions:
  go-format: any of: \.go$
  go-format-check: any of: \.go$
  go-lint: any of: \.go$
  frontend-format: any of: \.(js|jsx|ts|tsx|json|css|md)$
  frontend-lint: any of: \.(js|jsx|ts|tsx)$
