Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go formatting and linting
  - repo: local
    hooks:
      - id: go-format
        name: Go Format (gofumpt + goimports)
        entry: bash -c 'cd backend && make format'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-format-check
        name: Go Format Check
        entry: bash -c 'cd backend && make format-check'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-lint
        name: Go Lint
        entry: bash -c 'cd backend && make lint'
        language: system
        files: \.go$
        pass_filenames: false

  # Frontend formatting
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend/svetu && yarn format'
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false
        
      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend/svetu && yarn lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Trailing whitespace and line endings
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

fix: исправлены первые ошибки exhaustive - добавлены недостающие cases в switch statements
  backend/internal/proj/gis/service/isochrone_service.go
  backend/internal/proj/marketplace/repository/order_repository.go
Due: go-format, go-format-check, go-lint

fix: исправлены ошибки gocritic - заменены if-else цепочки на switch statements для лучшей читаемости кода
  backend/cmd/test-cache-api/main.go
  backend/cmd/test-cache-simple/main.go
  backend/cmd/test-cache/main.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/service/search_query_expansion.go
  backend/internal/proj/marketplace/service/similarity_scoring.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/proj/search_optimization/service/security.go
  backend/internal/proj/storefronts/handler/staff_handler.go
  backend/internal/proj/storefronts/handler/storefront_handler.go
Due: go-format, go-format-check, go-lint

fix: исправлены основные ошибки gocritic - заменены log.Fatal на log.Printf+return после defer и if-else цепочки на switch
  backend/cmd/cache-monitor/main.go
  backend/cmd/redis-keys/main.go
  backend/cmd/test-cache-api/main.go
  backend/cmd/test-cache-performance/main.go
  backend/cmd/tools/query_db.go
  backend/cmd/utils/check_admin_users/main.go
  backend/cmd/utils/create_cat_yaml/create_cat_yaml.go
  backend/cmd/utils/generate_admin_jwt/main.go
  backend/cmd/utils/generate_correct_admin_jwt/main.go
  backend/cmd/utils/generate_dmitry_jwt/main.go
  backend/cmd/utils/generate_jwt_for_info/main.go
  backend/internal/proj/behavior_tracking/storage/postgres/repository.go
  backend/internal/proj/gis/handler/spatial_search.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/orders/service/order_service.go
  backend/internal/proj/reviews/service/review.go
  backend/internal/proj/storefronts/parsers/csv_parser.go
  backend/internal/storage/postgres/db.go
  backend/pkg/transliteration/comprehensive_test.go
  backend/pkg/utils/file_validation.go
Due: go-format, go-format-check, go-lint

fix .golang.yml
  backend/.golangci.yml
Due: none

fix: исправлены ошибки nilnil - заменены возвраты nil,nil на sentinel error ErrNotImplemented в тестовых моках
  backend/internal/proj/marketplace/service/category_test.go
  backend/internal/proj/marketplace/service/integration_test.go
Due: go-format, go-format-check, go-lint

fix: исправлены ошибки contextcheck - обновлены сигнатуры OpenSearch методов для передачи контекста и добавлены nolint для обоснованных случаев
  backend/internal/proj/marketplace/service/chat.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  backend/internal/proj/storefronts/storage/opensearch/repository.go
  backend/internal/server/server.go
  backend/internal/storage/opensearch/client.go
  backend/internal/storage/postgres/db.go
Due: go-format, go-format-check, go-lint

fix: исправлены все ошибки errorlint - заменены прямые сравнения ошибок на errors.Is() и исправлены switch на ошибках
  backend/cmd/test-cache-api/main.go
  backend/internal/proj/gis/handler/spatial_search.go
  backend/internal/proj/marketplace/storage/postgres/chat.go
  backend/internal/proj/marketplace/storage/postgres/contacts.go
  backend/internal/proj/orders/repository/inventory_repository.go
  backend/internal/proj/orders/repository/order_repository.go
  backend/internal/proj/reviews/storage/postgres/reviews.go
  backend/internal/proj/search_admin/handler/handler.go
  backend/internal/proj/storefronts/handler/storefront_handler.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/users/handler/auth.go
  backend/internal/storage/postgres/attribute_groups.go
  backend/internal/storage/postgres/cart_repository.go
  backend/internal/storage/postgres/custom_components.go
  backend/internal/storage/postgres/db.go
  backend/internal/storage/postgres/inventory_repository.go
  backend/internal/storage/postgres/marketplace_order_repository.go
  backend/internal/storage/postgres/order_repository.go
  backend/internal/storage/postgres/search_config_repository.go
  backend/internal/storage/postgres/storefront.go
  backend/internal/storage/postgres/storefront_product.go
Due: go-format, go-format-check, go-lint

fix: исправлена ошибка ineffassign - используем переменную enhancementType в JobID
  backend/internal/proj/marketplace/handler/images.go
Due: go-format, go-format-check, go-lint

refactor: автоформатирование кода с помощью gofumpt и goimports
  backend/cmd/cli/test_behavior_events.go
  backend/cmd/create-translations/main.go
  backend/cmd/reindex/main.go
  backend/cmd/test-cache-api/main.go
  backend/cmd/test-cache-simple/main.go
  backend/cmd/test-cache/main.go
  backend/cmd/utils/create_cat_yaml/create_cat_yaml.go
  backend/internal/cache/adapter.go
  backend/internal/proj/docserver/handler/handler.go
  backend/internal/proj/marketplace/service/cloudinary.go
  backend/internal/proj/marketplace/service/integration_test.go
  backend/internal/proj/marketplace/service/map.go
  backend/internal/proj/marketplace/service/marketplace.go
  backend/internal/proj/marketplace/service/vision_detector.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/storefronts/service/geocoding_service.go
  backend/internal/proj/storefronts/storage/opensearch/repository.go
  backend/internal/storage/postgres/storefront.go
Due: go-format, go-format-check, go-lint

disable some linters
  backend/.golangci.yml
  backend/Makefile
  backend/internal/proj/geocode/handler/geocode.go
  backend/internal/proj/gis/service/density_service.go
  backend/internal/proj/marketplace/service/integration_test.go
  backend/internal/proj/notifications/storage/postgres/notifications.go
  backend/internal/proj/payments/handler/order_webhook_handler.go
  backend/internal/storage/postgres/marketplace_order_repository.go
Due: go-format, go-format-check, go-lint

shadow errors
  backend/internal/proj/reviews/storage/postgres/reviews.go
  backend/internal/proj/storefront/repository/variant_repository.go
  backend/internal/proj/storefronts/handler/storefront_handler.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  backend/internal/proj/users/handler/auth.go
  backend/internal/proj/users/service/auth.go
  backend/internal/proj/users/storage/postgres/admin.go
  backend/internal/storage/opensearch/client.go
  backend/internal/storage/postgres/storefront_methods.go
  backend/internal/storage/postgres/storefront_product.go
Due: go-format, go-format-check, go-lint

fix: частично исправлены ошибки contextcheck - использование контекста вместо context.Background() и добавлены nolint комментарии для фоновых горутин
  backend/internal/proj/behavior_tracking/service/service.go
  backend/internal/proj/storefronts/service/product_service.go
  backend/internal/server/server.go
  backend/internal/storage/postgres/db.go
Due: go-format, go-format-check, go-lint

fix lint
  backend/internal/proj/gis/service/geocoding_service.go
  backend/internal/proj/marketplace/service/marketplace.go
Due: go-format, go-format-check, go-lint

feat: implement real data for storefront dashboard and analytics
  CLAUDE.md
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/storefronts/handler/dashboard_handler.go
  backend/internal/proj/storefronts/handler/storefront_handler.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/storefronts/service/storefront_service.go
  backend/internal/storage/postgres/storefront.go
  frontend/svetu/src/app/[locale]/storefronts/[slug]/dashboard/page.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/store/slices/storefrontSlice.ts
  frontend/svetu/src/types/generated/api.ts
  memory-bank/current-task.md
  memory-bank/tasks/004-storefront-dashboard-improvements.md
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

feat: implement three UX examples for listing creation flow
  docs/listing-creation-ux-improvement-plan.md
  docs/project-ux-documentation/01-listing-creation-current-state.md
  docs/project-ux-documentation/02-listing-creation-target-state.md
  docs/project-ux-documentation/03-storefront-product-creation-current-state.md
  docs/project-ux-documentation/04-storefront-product-creation-target-state.md
  docs/project-ux-documentation/05-homepage-current-state.md
  docs/project-ux-documentation/06-homepage-target-state.md
  docs/project-ux-documentation/07-map-page-current-state.md
  docs/project-ux-documentation/08-search-page-current-state.md
  frontend/svetu/src/app/[locale]/examples/listing-creation-ux/ai-powered/page.tsx
  frontend/svetu/src/app/[locale]/examples/listing-creation-ux/basic/page.tsx
  frontend/svetu/src/app/[locale]/examples/listing-creation-ux/no-backend/page.tsx
  frontend/svetu/src/app/[locale]/examples/listing-creation-ux/page.tsx
  frontend/svetu/src/components/marketplace/EnhancedListingCard.tsx
  frontend/svetu/src/types/marketplace.ts
Due: frontend-format, frontend-lint

feat: add listing creation UX examples to main examples page
  frontend/svetu/src/app/[locale]/examples/page.tsx
Due: frontend-format, frontend-lint

fix: add dynamic attributes to no-backend listing creation example
  frontend/svetu/src/app/[locale]/examples/listing-creation-ux/ai-powered/page.tsx
  frontend/svetu/src/app/[locale]/examples/listing-creation-ux/basic/page.tsx
  frontend/svetu/src/app/[locale]/examples/listing-creation-ux/no-backend/page.tsx
  frontend/svetu/src/app/[locale]/examples/listing-creation-ux/page.tsx
  frontend/svetu/src/components/marketplace/EnhancedListingCard.tsx
Due: frontend-format, frontend-lint

feat: implement enhanced listing creation UX v2.0 with advanced features
  frontend/svetu/src/app/[locale]/examples/listing-creation-ux-v2/ai-powered-enhanced/page.tsx
  frontend/svetu/src/app/[locale]/examples/listing-creation-ux-v2/basic-enhanced/page.tsx
  frontend/svetu/src/app/[locale]/examples/listing-creation-ux-v2/no-backend-enhanced/page.tsx
  frontend/svetu/src/app/[locale]/examples/listing-creation-ux-v2/page.tsx
  frontend/svetu/src/app/[locale]/examples/page.tsx
Due: frontend-format, frontend-lint

feat: implement AI-powered and smart listing creation flows with Claude API integration
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/app/[locale]/create-listing-choice/page.tsx
  frontend/svetu/src/app/[locale]/create-listing-smart/page.tsx
  frontend/svetu/src/app/[locale]/examples/listing-creation-ux-v2/ai-powered-enhanced/page.tsx
  frontend/svetu/src/app/[locale]/examples/listing-creation-ux-v2/basic-enhanced/page.tsx
  frontend/svetu/src/app/[locale]/examples/listing-creation-ux-v2/page.tsx
  frontend/svetu/src/app/api/ai/ab-test/route.ts
  frontend/svetu/src/app/api/ai/analyze/route.ts
  frontend/svetu/src/app/api/ai/description/route.ts
  frontend/svetu/src/components/Header.tsx
  frontend/svetu/src/components/navigation/EnhancedMobileBottomNav.tsx
  frontend/svetu/src/components/navigation/MobileBottomNav.tsx
  frontend/svetu/src/config/index.ts
  frontend/svetu/src/config/types.ts
  frontend/svetu/src/services/ai/claude.service.ts
Due: frontend-format, frontend-lint

fix: resolve AI-powered listing creation issues and improve multilingual support
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  frontend/svetu/package.json
  frontend/svetu/src/app/[locale]/actions.ts
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/app/[locale]/create-listing-smart/page.tsx
  frontend/svetu/src/app/[locale]/marketplace/[id]/page.tsx
  frontend/svetu/src/app/api/ai/ab-test/route.ts
  frontend/svetu/src/app/api/ai/analyze/route.ts
  frontend/svetu/src/app/api/ai/description/route.ts
  frontend/svetu/src/app/api/ai/translate/route.ts
  frontend/svetu/src/contexts/CreateListingContext.tsx
  frontend/svetu/src/services/ai/claude.service.ts
  frontend/svetu/src/services/listings.ts
  frontend/svetu/src/utils/addressUtils.ts
  frontend/svetu/src/utils/exifUtils.ts
  frontend/svetu/yarn.lock
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: resolve all React hooks warnings in frontend components
  frontend/svetu/src/app/[locale]/map/page-original-v2.tsx
  frontend/svetu/src/app/[locale]/map/page-original.tsx
  frontend/svetu/src/app/[locale]/map/page.tsx
  frontend/svetu/src/app/[locale]/profile/listings/[id]/edit/components/SEOSection.tsx
  frontend/svetu/src/app/[locale]/profile/listings/[id]/edit/page.tsx
  frontend/svetu/src/components/LoginModal.tsx
  frontend/svetu/src/components/logos/SveTuLogoMorphing.tsx
  frontend/svetu/src/components/marketplace/SmartFilters.tsx
  frontend/svetu/src/components/navigation/EnhancedMobileBottomNav.tsx
  frontend/svetu/src/components/products/steps/BasicInfoStep.tsx
  frontend/svetu/src/components/products/steps/EditCategoryStep.tsx
  frontend/svetu/src/components/ui/BentoGridListings.tsx
  frontend/svetu/src/components/ui/BentoGridMapEnhanced.tsx
  frontend/svetu/src/utils/addressUtils.ts
Due: frontend-format, frontend-lint

fix: resolve React infinite loops and undefined errors in AI-powered listing creation
  frontend/svetu/src/app/[locale]/create-listing-ai/__tests__/category-display.test.tsx
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/app/api/ai/analyze/prompts.ts
  frontend/svetu/src/app/api/ai/analyze/route.ts
  frontend/svetu/src/components/ui/BentoGridListings.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
Due: frontend-format, frontend-lint

docs: создание технических заданий для команды запуска платформы
  TZ_Frontend_Developer.md
  TZ_Marketing_Manager.md
  TZ_UX_UI_Designer.md
Due: frontend-format

feat: добавлены примеры UI/UX компонентов согласно ТЗ
  frontend/svetu/src/app/[locale]/examples/adaptive-design/page.tsx
  frontend/svetu/src/app/[locale]/examples/ai-listing-creator/page.tsx
  frontend/svetu/src/app/[locale]/examples/animated-chat/page.tsx
  frontend/svetu/src/app/[locale]/examples/escrow-payment/page.tsx
  frontend/svetu/src/app/[locale]/examples/ideal-homepage/page.tsx
  frontend/svetu/src/app/[locale]/examples/map-privacy/page.tsx
  frontend/svetu/src/app/[locale]/examples/page.tsx
  frontend/svetu/src/app/[locale]/examples/smart-search/page.tsx
  frontend/svetu/src/app/[locale]/examples/storefront-dashboard/page.tsx
  frontend/svetu/src/components/ui/AnimatedSection.tsx
Due: frontend-format, frontend-lint

refactor: оптимизация пространства на примере идеальной главной страницы
  .gitignore
  frontend/svetu/src/app/[locale]/examples/adaptive-design/page.tsx
  frontend/svetu/src/app/[locale]/examples/ai-listing-creator/page.tsx
  frontend/svetu/src/app/[locale]/examples/animated-chat/page.tsx
  frontend/svetu/src/app/[locale]/examples/escrow-payment/page.tsx
  frontend/svetu/src/app/[locale]/examples/ideal-homepage/page.tsx
  frontend/svetu/src/app/[locale]/examples/map-privacy/page.tsx
  frontend/svetu/src/app/[locale]/examples/page.tsx
  frontend/svetu/src/app/[locale]/examples/smart-search/page.tsx
  frontend/svetu/src/app/[locale]/examples/storefront-dashboard/page.tsx
  frontend/svetu/src/components/ui/AnimatedSection.tsx
Due: frontend-format, frontend-lint

feat: создан новый пример главной страницы v2 с лучшими практиками лидеров
  frontend/svetu/src/app/[locale]/examples/ideal-homepage-v2/page.tsx
  frontend/svetu/src/app/[locale]/examples/ideal-homepage/page.tsx
  frontend/svetu/src/app/[locale]/examples/page.tsx
Due: frontend-format, frontend-lint

feat: добавление блока картографического сервиса на ideal-homepage-v2
  frontend/svetu/src/app/[locale]/examples/ideal-homepage-v2/page.tsx
Due: frontend-format, frontend-lint

feat: добавление реальной карты OpenStreetMap в ideal-homepage-v2
  frontend/svetu/src/app/[locale]/examples/ideal-homepage-v2/page.tsx
Due: frontend-format, frontend-lint

feat: улучшение определения категорий и приватности локации
  .~lock.TZ_UX_UI_Designer_SveTu.docx#
  backend/cmd/utils/create_cat_yaml/create_cat_yaml.go
  backend/internal/domain/models/models.go
  backend/internal/proj/gis/repository/postgis_repo.go
  backend/internal/proj/gis/service/spatial_service.go
  backend/internal/proj/marketplace/handler/admin_categories.go
  backend/internal/proj/marketplace/handler/category_detector_handler.go
  backend/internal/proj/marketplace/service/search_suggestions.go
  backend/internal/proj/marketplace/services/category_detector.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/storage/postgres/storefront_product.go
  backend/pkg/utils/address_privacy.go
  backend/pkg/utils/geo_privacy.go
  frontend/svetu/src/app/[locale]/admin/categories/components/CategoryKeywordsModal.tsx
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/app/[locale]/test-exif/page.tsx
  frontend/svetu/src/components/GIS/LocationPrivacySettingsWithAddress.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
  frontend/svetu/src/services/listings.ts
  frontend/svetu/src/utils/addressPrivacy.ts
  frontend/svetu/src/utils/exifUtils.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix: исправление ошибок линтинга и добавление недостающих переводов
  backend/cmd/utils/create_cat_yaml/create_cat_yaml.go
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/gis/service/spatial_service.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/handler/admin_categories.go
  backend/internal/proj/marketplace/handler/category_detector_handler.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/services/category_detector.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/storage/postgres/category_detection_stats.go
  backend/pkg/utils/address_privacy.go
  backend/pkg/utils/geo_privacy.go
  frontend/svetu/src/app/[locale]/admin/categories/components/CategoryKeywordsModal.tsx
  frontend/svetu/src/app/[locale]/create-listing-ai/page.tsx
  frontend/svetu/src/app/[locale]/create-listing-choice/page.tsx
  frontend/svetu/src/app/[locale]/examples/animated-chat/page.tsx
  frontend/svetu/src/app/[locale]/examples/escrow-payment/page.tsx
  frontend/svetu/src/app/[locale]/examples/smart-search/page.tsx
  frontend/svetu/src/app/[locale]/test-exif/page.tsx
  frontend/svetu/src/components/GIS/LocationPrivacySettingsWithAddress.tsx
  frontend/svetu/src/contexts/CreateListingContext.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
  frontend/svetu/src/services/listings.ts
  frontend/svetu/src/types/generated/api.ts
  frontend/svetu/src/utils/addressPrivacy.ts
  frontend/svetu/src/utils/exifUtils.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

docs: добавлен полный отчет по техническому долгу и TODO
  TODO_FULL_REPORT.md
Due: frontend-format

docs: обновлен отчет по техническому долгу с учетом внешних зависимостей
  TODO_FULL_REPORT.md
Due: frontend-format

fix: реализована транзакционная безопасность при создании заказов
  backend/internal/proj/orders/TRANSACTION_SAFETY.md
  backend/internal/proj/orders/handler/handler.go
  backend/internal/proj/orders/handler/order_handler.go
  backend/internal/proj/orders/module.go
  backend/internal/proj/orders/repository/interfaces.go
  backend/internal/proj/orders/service/create_order_with_tx.go
  backend/internal/proj/orders/service/order_service.go
  backend/internal/proj/orders/service/order_service_tx.go
  backend/internal/proj/orders/service/order_service_tx_test.go
Due: go-format, go-format-check, go-lint, frontend-format

migration: добавлена таблица inventory_reservations
  backend/migrations/000177_create_inventory_reservations.down.sql
  backend/migrations/000177_create_inventory_reservations.up.sql
Due: none

feat: реализована система вариантов товаров с корзиной и оформлением заказов
  C2C_B2C_PAYMENT_STRATEGY.md
  ECOMMERCE_IMPLEMENTATION_STATUS_2024.md
  MODERN_ECOMMERCE_IMPLEMENTATION_PLAN.md
  PRODUCT_VARIANTS_DETAILED_TECHNICAL_SPEC.md
  PRODUCT_VARIANTS_IMPLEMENTATION_PLAN.md
  TEST_TRANSACTION_SAFETY.md
  UI_COMPONENTS_C2C_B2C.md
  backend/internal/proj/storefront/handler/variant_handler.go
  backend/internal/proj/storefront/repository/variant_repository.go
  backend/internal/proj/storefront/types/variant_types.go
  backend/internal/proj/storefronts/storage/opensearch/product_interface.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  frontend/svetu/src/app/[locale]/cart/page.tsx
  frontend/svetu/src/app/[locale]/checkout/page.tsx
  frontend/svetu/src/app/[locale]/checkout/success/page.tsx
  frontend/svetu/src/app/[locale]/marketplace/[id]/page.tsx
  frontend/svetu/src/app/[locale]/orders/page.tsx
  frontend/svetu/src/app/[locale]/storefronts/[slug]/products/[id]/page.tsx
  frontend/svetu/src/components/Header.tsx
  frontend/svetu/src/components/Storefront/ProductVariants/VariantManager.tsx
  frontend/svetu/src/components/Storefront/ProductVariants/VariantSelector.tsx
  frontend/svetu/src/components/Storefront/ProductVariants/VariantStockTable.tsx
  frontend/svetu/src/components/cart/AddToCartButton.tsx
  frontend/svetu/src/components/cart/CartIcon.tsx
  frontend/svetu/src/components/cart/MiniCart.tsx
  frontend/svetu/src/components/marketplace/EnhancedListingCard.tsx
  frontend/svetu/src/components/products/ProductWizard.tsx
  frontend/svetu/src/components/products/steps/VariantsStep.tsx
  frontend/svetu/src/components/ui/QuickView.tsx
  frontend/svetu/src/messages/en.json
  frontend/svetu/src/messages/ru.json
  frontend/svetu/src/messages/sr.json
  frontend/svetu/src/store/index.ts
  frontend/svetu/src/store/slices/localCartSlice.ts
  frontend/svetu/src/types/marketplace.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

docs: актуализированы все файлы документации по системе вариантов товаров
  PRODUCT_VARIANTS_DETAILED_TECHNICAL_SPEC.md
  PRODUCT_VARIANTS_IMPLEMENTATION_PLAN.md
  STOREFRONT_PRODUCT_VARIANTS_IMPLEMENTATION_PLAN.md
Due: frontend-format

fix: исправлено отображение владельца для товаров витрин
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/orders/repository/interfaces.go
  backend/internal/proj/orders/service/create_order_with_tx.go
  backend/internal/proj/orders/service/order_service_tx.go
  backend/internal/proj/storefront/repository/variant_repository.go
  backend/internal/proj/storefronts/service/product_service.go
  backend/internal/proj/storefronts/service/variant_service.go
  frontend/svetu/src/app/[locale]/marketplace/[id]/page.tsx
  frontend/svetu/src/components/Storefront/ProductVariants/VariantSelector.tsx
  frontend/svetu/src/components/cart/VariantSelectionModal.tsx
  frontend/svetu/src/types/generated/api.ts
  frontend/svetu/src/utils/product-adapters.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint
