Repository sveturs/listings: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-format, go-format-check, go-lint, frontend-format, frontend-lint

.pre-commit-config.yaml:

repos:
  # Go formatting and linting
  - repo: local
    hooks:
      - id: go-format
        name: Go Format (gofumpt + goimports)
        entry: bash -c 'cd backend && make format'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-format-check
        name: Go Format Check
        entry: bash -c 'cd backend && make format-check'
        language: system
        files: \.go$
        pass_filenames: false
        
      - id: go-lint
        name: Go Lint
        entry: bash -c 'cd backend && make lint'
        language: system
        files: \.go$
        pass_filenames: false

  # Frontend formatting
  - repo: local
    hooks:
      - id: frontend-format
        name: Frontend Format (Prettier)
        entry: bash -c 'cd frontend/svetu && yarn format'
        language: system
        files: \.(js|jsx|ts|tsx|json|css|md)$
        pass_filenames: false
        
      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd frontend/svetu && yarn lint'
        language: system
        files: \.(js|jsx|ts|tsx)$
        pass_filenames: false

  # Trailing whitespace and line endings
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict

docs: update migration plan with Phase 1 completion status
  docs/AUTH_MIGRATION_PLAN.md
Due: frontend-format

refactor(admin/logistics): migrate to authmw helpers (20 places)
  backend/internal/proj/admin/logistics/handler/analytics.go
  backend/internal/proj/admin/logistics/handler/dashboard.go
  backend/internal/proj/admin/logistics/handler/problems.go
  backend/internal/proj/admin/logistics/handler/shipments.go
Due: go-format, go-format-check, go-lint

docs: update AUTH_MIGRATION_PLAN.md with Phase 2.1 progress
  docs/AUTH_MIGRATION_PLAN.md
Due: frontend-format

refactor(auth): migrate payments & orders to authmw helpers (Phase 2.2-2.3)
  backend/internal/proj/orders/handler/cart_handler.go
  backend/internal/proj/payments/handler/order_payment_handler.go
  backend/internal/proj/payments/handler/payment_handler.go
  backend/internal/proj/recommendations/handler.go
Due: go-format, go-format-check, go-lint

refactor: migrate all c.Locals direct access to authmw helpers (Phase 2.4)
  backend/internal/proj/behavior_tracking/handler/handler.go
  backend/internal/proj/marketplace/handler/custom_components.go
  backend/internal/proj/marketplace/handler/favorites.go
  backend/internal/proj/marketplace/handler/images.go
  backend/internal/proj/marketplace/handler/indexing.go
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/handler/saved_searches.go
  backend/internal/proj/marketplace/handler/search.go
  backend/internal/proj/marketplace/handler/translation.go
  backend/internal/proj/notifications/handler/handler.go
  backend/internal/proj/subscriptions/handler/subscription_handler.go
  docs/AUTH_MIGRATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

refactor(auth): стандартизация импортов и удаление дублирующих функций (Phase 3)
  backend/internal/middleware/feature_flags.go
  backend/internal/proj/admin/logistics/handler/analytics.go
  backend/internal/proj/admin/logistics/handler/dashboard.go
  backend/internal/proj/admin/logistics/handler/problems.go
  backend/internal/proj/admin/logistics/handler/shipments.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/handler/admin_translations.go
  backend/internal/proj/marketplace/handler/category_detector_handler.go
  backend/internal/proj/marketplace/handler/unified_attributes.go
  backend/internal/proj/recommendations/handler.go
  backend/internal/proj/subscriptions/handler/routes.go
  backend/pkg/utils/utils.go
  docs/AUTH_MIGRATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

docs(auth): обновить план миграции - Phase 3 завершена, миграция полностью готова
  docs/AUTH_MIGRATION_PLAN.md
Due: frontend-format

docs(auth): добавить секцию технического долга в план миграции
  docs/AUTH_MIGRATION_PLAN.md
Due: frontend-format

chore(auth): завершена миграция на auth library v1.8.0 - Phase 4 (FINAL)
  backend/internal/proj/admin/logistics/handler/shipments.go
  docs/.~lock.FINANCIAL_REQUIREMENTS_FOR_OPERATORS.docx#
  docs/AUTH_MIGRATION_PLAN.md
Due: go-format, go-format-check, go-lint, frontend-format

docs(auth): обновить план миграции - Phase 4 завершена, миграция полностью готова
  docs/AUTH_MIGRATION_PLAN.md
Due: frontend-format

refactor: fix swagger annotations and add i18n navigation translations
  backend/docs/docs.go
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/marketplace/handler/admin_translations.go
  frontend/svetu/src/messages/en/cars.json
  frontend/svetu/src/messages/en/nav.json
  frontend/svetu/src/messages/ru/cars.json
  frontend/svetu/src/messages/ru/nav.json
  frontend/svetu/src/messages/sr/nav.json
  frontend/svetu/src/types/generated/api.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

Deploy to dev server
  deploy-to-dev.sh
Due: none

Deploy to dev server
  CLAUDE.md
  deploy-to-dev.sh
Due: frontend-format

fix(marketplace): complete auth service migration - remove JOIN users tables
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/handler/listings.go
  backend/internal/proj/marketplace/storage/postgres/chat.go
  backend/internal/proj/marketplace/storage/postgres/contacts.go
  docs/AUTH_MIGRATION_PLAN_UPDATED.md
Due: go-format, go-format-check, go-lint, frontend-format

docs: update AUTH_MIGRATION_PLAN_UPDATED.md with completion status
  docs/AUTH_MIGRATION_PLAN_UPDATED.md
Due: frontend-format

feat: complete Auth Service integration and improve WebSocket/file upload
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/global/service/interface.go
  backend/internal/proj/global/service/service.go
  backend/internal/proj/marketplace/handler/handler.go
  backend/internal/proj/marketplace/storage/postgres/chat.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  backend/internal/server/server.go
  backend/internal/storage/postgres/db.go
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/api/v2/[...path]/route.ts
  frontend/svetu/src/app/api/v2/ws-token/route.ts
  frontend/svetu/src/components/SafeImage.tsx
  frontend/svetu/src/services/chat.ts
  frontend/svetu/src/store/middleware/websocketMiddleware.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

improve(deploy): enhance deploy-to-dev.sh reliability
  deploy-to-dev.sh
Due: none

refactor: replace empty interface{} with concrete *authservice.UserService type
  backend/internal/proj/global/service/interface.go
  backend/internal/proj/global/service/service.go
  backend/internal/proj/marketplace/storage/postgres/chat.go
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
  backend/internal/storage/postgres/db.go
Due: go-format, go-format-check, go-lint

fix(auth): Phase 5 - migrate AuthRequiredJWT to auth library middleware
  backend/internal/proj/behavior_tracking/module.go
  backend/internal/proj/payments/handler/handler.go
  backend/internal/proj/payments/handler/routes.go
  backend/internal/proj/translation_admin/module.go
  backend/internal/server/server.go
Due: go-format, go-format-check, go-lint

docs: update AUTH_MIGRATION_PLAN_UPDATED.md with Phase 5 completion status
  docs/AUTH_MIGRATION_PLAN_UPDATED.md
Due: frontend-format

chore: bump version to 0.2.1
  backend/internal/version/version.go
  frontend/svetu/package.json
Due: go-format, go-format-check, go-lint, frontend-format

docs: add bump-version.sh script and update version management section
  CLAUDE.md
Due: frontend-format

fix(reviews): migrate to auth library middleware and fix routing
  backend/internal/proj/reviews/handler/handler.go
  backend/internal/proj/reviews/handler/reviews.go
  docs/README_PROBLEM_ROUTE.md
  frontend/svetu/src/app/api/v2/[...path]/route.ts
  frontend/svetu/src/components/products/BulkActions.tsx
  frontend/svetu/src/components/reviews/ReviewsSection.tsx
  frontend/svetu/src/hooks/useReviews.ts
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/services/reviewApi.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

chore: bump version to 0.2.2
  backend/internal/version/version.go
  frontend/svetu/package.json
Due: go-format, go-format-check, go-lint, frontend-format

refactor(logger): filter noisy translation status endpoints from logs
  backend/internal/middleware/logger.go
Due: go-format, go-format-check, go-lint

refactor(logs): reduce noise from category translation debug logs
  backend/internal/proj/marketplace/storage/postgres/marketplace.go
Due: go-format, go-format-check, go-lint

chore: backup before full code quality check
  backend/internal/proj/marketplace/handler/admin_categories.go
  backend/internal/proj/marketplace/service/attribute_admin.go
  backend/internal/proj/marketplace/service/category_admin.go
  backend/internal/proj/orders/handler/cart_handler.go
  backend/internal/proj/search_admin/service/index_service.go
  backend/internal/proj/search_optimization/module.go
  backend/internal/proj/search_optimization/storage/postgres.go
  backend/internal/proj/users/handler/routes.go
  backend/internal/storage/postgres/cart_repository.go
  frontend/svetu/src/app/[locale]/admin/categories/components/CategoryAttributesOptimized.tsx
  frontend/svetu/src/app/[locale]/admin/categories/page.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/SearchIndexManager.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/SynonymManager.tsx
  frontend/svetu/src/app/api/admin/search/analytics/export/route.ts
  frontend/svetu/src/app/api/admin/search/analytics/route.ts
  frontend/svetu/src/app/api/admin/search/config/synonyms/route.ts
  frontend/svetu/src/app/api/admin/search/config/weights/route.ts
  frontend/svetu/src/app/api/admin/search/synonyms/[id]/route.ts
  frontend/svetu/src/app/api/admin/search/synonyms/route.ts
  frontend/svetu/src/app/api/admin/search/weights/route.ts
  frontend/svetu/src/app/api/v1/admin/search/synonyms/[id]/route.ts
  frontend/svetu/src/app/api/v1/admin/search/synonyms/route.ts
  frontend/svetu/src/app/api/v2/[...path]/route.ts
  frontend/svetu/src/components/AdminGuard.tsx
  frontend/svetu/src/components/AuthButton.tsx
  frontend/svetu/src/components/GIS/contexts/VisibleCitiesContext.tsx
  frontend/svetu/src/hooks/useAttributesPagination.ts
  frontend/svetu/src/hooks/usePaginatedData.ts
  frontend/svetu/src/lib/api-client.ts
  frontend/svetu/src/messages/en/admin.json
  frontend/svetu/src/messages/ru/admin.json
  frontend/svetu/src/messages/sr/admin.json
  frontend/svetu/src/services/admin.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

chore: full code quality check and fixes
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/internal/proj/marketplace/service/attribute_admin.go
  backend/internal/proj/search_admin/service/index_service.go
  backend/pkg/transliteration/comprehensive_test.go
  backend/pkg/transliteration/integration_test.go
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/admin/categories/components/CategoryAttributesOptimized.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/SearchIndexManager.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/SearchWeights.tsx
  frontend/svetu/src/app/[locale]/admin/search/components/WeightOptimization.tsx
  frontend/svetu/src/app/[locale]/admin/storefronts/AdminStorefrontsTable.tsx
  frontend/svetu/src/app/[locale]/admin/users/UsersPageClient.tsx
  frontend/svetu/src/app/[locale]/admin/variant-attributes/VariantAttributesClient.tsx
  frontend/svetu/src/app/[locale]/user-contacts/page.tsx
  frontend/svetu/src/app/api/v2/[...path]/route.ts
  frontend/svetu/src/components/admin/translations/AITranslations.tsx
  frontend/svetu/src/components/admin/translations/ConflictResolver.tsx
  frontend/svetu/src/components/admin/translations/ModuleExplorer.tsx
  frontend/svetu/src/components/admin/translations/TranslationsDashboard.tsx
  frontend/svetu/src/components/storefronts/ai/AIProductWizard.tsx
  frontend/svetu/src/lib/api-client.ts
  frontend/svetu/src/services/category.ts
  frontend/svetu/src/services/chat.ts
  frontend/svetu/src/services/contacts.ts
  frontend/svetu/src/services/translationAdminApi.ts
  frontend/svetu/src/services/unifiedSearch.ts
  frontend/svetu/src/store/middleware/websocketMiddleware.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

chore: full code quality check and fixes
  backend/docs/openapi3.json
  backend/docs/openapi3.yaml
  frontend/svetu/src/types/generated/api.ts
Due: frontend-format, frontend-lint

chore: bump version to 0.2.3
  backend/internal/version/version.go
  frontend/svetu/package.json
Due: go-format, go-format-check, go-lint, frontend-format

feat(deploy): add production build for frontend on dev server
  deploy-to-dev.sh
  frontend/svetu/Makefile
Due: none

fix(storefronts): migrate AI service to BFF proxy architecture
  deploy-to-dev.sh.backup
  frontend/svetu/src/app/[locale]/admin/storefront-products/AdminStorefrontProductsTable.tsx
  frontend/svetu/src/app/api/v2/[...path]/route.ts
  frontend/svetu/src/services/ai/storefronts.service.ts
  frontend/svetu/src/services/api-client.ts
Due: frontend-format, frontend-lint

fix(storefronts): implement translations for AI-generated products and fix image upload
  CLAUDE.md
  backend/internal/domain/models/storefront_product.go
  backend/internal/proj/global/handler/unified_search.go
  backend/internal/proj/marketplace/storage/opensearch/repository.go
  backend/internal/proj/storefront/repository/variant_repository.go
  backend/internal/proj/storefronts/module.go
  backend/internal/proj/storefronts/service/product_service.go
  backend/internal/proj/storefronts/storage/opensearch/product_interface.go
  backend/internal/proj/storefronts/storage/opensearch/product_repository.go
  backend/internal/storage/postgres/storefront_product.go
  backend/migrations/000022_placeholder.down.sql
  backend/migrations/000022_placeholder.up.sql
  backend/migrations/000023_add_variant_attributes_for_photo_video_category.down.sql
  backend/migrations/000023_add_variant_attributes_for_photo_video_category.up.sql
  frontend/svetu/src/app/[locale]/HomePageClient.tsx
  frontend/svetu/src/app/[locale]/actions.ts
  frontend/svetu/src/components/common/UnifiedProductCard.tsx
  frontend/svetu/src/components/products/SimplifiedVariantGenerator.tsx
  frontend/svetu/src/components/products/VariantStockManager.tsx
  frontend/svetu/src/components/storefronts/ai/AIVariantsView.tsx
  frontend/svetu/src/components/storefronts/ai/PublishView.tsx
  frontend/svetu/src/messages/en/storefronts.json
  frontend/svetu/src/messages/ru/storefronts.json
  frontend/svetu/src/messages/sr/storefronts.json
  frontend/svetu/src/services/ai/storefronts.service.ts
  frontend/svetu/src/services/marketplace.ts
  frontend/svetu/src/types/marketplace.ts
Due: go-format, go-format-check, go-lint, frontend-format, frontend-lint

fix(storefronts): load translations for GetProductByID endpoint
  backend/internal/storage/postgres/storefront_product.go
Due: go-format, go-format-check, go-lint

fix(frontend): correct translation field mapping on product detail page
  frontend/svetu/src/app/[locale]/marketplace/[id]/page.tsx
Due: frontend-format, frontend-lint

fix(frontend): improve translation detection logic
  frontend/svetu/src/app/[locale]/marketplace/[id]/page.tsx
Due: frontend-format, frontend-lint

fix(frontend): handle both name and title fields for translations
  frontend/svetu/src/app/[locale]/marketplace/[id]/page.tsx
Due: frontend-format, frontend-lint

fix(frontend): fetch storefront products through correct API for translations
  frontend/svetu/src/app/[locale]/marketplace/[id]/page.tsx
Due: frontend-format, frontend-lint

fix(frontend): add localized EXIF address display in EnhanceView
  docs/STOREFRONT_AI_LOCATION_SUMMARY.md
  frontend/svetu/src/components/storefronts/ai/EnhanceView.tsx
Due: frontend-format, frontend-lint
